.jchartfx {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 8pt;
}

.jchartfxToolTip {
    padding: 3px;
    font-size: 8pt;
    font-family: Arial, sans-serif;
    font-weight: bold;
    -moz-border-radius: 3px;
    border-radius: 3px;
    pointer-events: none;
    border-style: solid;
    border-width: 1px;
}

.jchartfxToolTipVisible {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.jchartfxToolTipHidden {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.jchartfxToolTip2 {
    pointer-events: none;
}

.jchartfxToolTip2Visible {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.jchartfxToolTip2Hidden {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.jchartfx .Attribute {
    stroke-width: 1;
}

.jchartfx .AttributeLine {
    stroke-width: 3;
}

.jchartfx .MarkerHollow {
    stroke-width: 2;
}

.jchartfx .Marker {
    stroke-width: 2;
}

.jchartfx .Border {
    stroke-width: 1;
}

.jchartfx .PlotArea {
    stroke-width: 1;
}

.jchartfx .PlotArea3D {
    stroke-width: 1;
}

.jchartfx .AxisY_Line {
    stroke-width: 2;
}

.jchartfx .AxisX_Line {
    stroke-width: 2;
}

.jchartfx .Title {
    font-size: 10.5pt;
    font-weight: bold;
}

.jchartfx .LegendBox {
    stroke-width: 1;
}

.jchartfx .ScrollBar {
    stroke-width: 1;
}

.jchartfx .EqualizerTop0 {
    stroke-width: 1;
}

.jchartfx .EqualizerTop1 {
    stroke-width: 1;
}

.jchartfx_gauge .Border {
    stroke-width: 1;
}

.jchartfx_gauge .Text {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 8pt;
}

.jchartfx_gauge .Title {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 10.5pt;
}

.jchartfx_gauge .Separator {
    stroke-width: 1;
}

.jchartfx .MapContext {
    stroke-width: 1;
}

.jchartfx .MapWater {
    stroke-width: 1;
}

.jchartfx .MapAttribute {
    stroke-width: 1;
}

.jchartfx .MapRoad {
    stroke-width: 1;
}

.jchartfx .MapRoadBack {
    stroke-width: 3;
}

.jchartfx .MapRoad0 {
    stroke-width: 1;
}

.jchartfx .MapRoad0Back {
    stroke-width: 3;
}

.jchartfx .MapRoad1 {
    stroke-width: 1;
}

.jchartfx .MapRoad1Back {
    stroke-width: 0;
}

.jchartfx .MapTranslationArea {
    stroke-width: 1;
}

.jchartfx_gauge .TitleLarge {
    font-family: Arial, sans-serif;
    font-size: 40pt;
}

.jchartfx .DashboardTitle {
    font-size: 10.5pt;
    font-family: Arial, sans-serif;
}

.jchartfx_gauge .DashboardTitle {
    font-size: 10.5pt;
    font-family: Arial, sans-serif;
}

.jchartfx_container, .jchartfx_container *
{  
    font-family: Arial, sans-serif; 
}

.jchartfx_container table
{ 
    border:1px solid; 
    font-size:8pt; 
    margin:45px 5%;  
    width:90%; 
    border-spacing: 0px;
}

.jchartfx_container table thead tr th
{
    border:1px solid;  
    border-bottom:1px solid; 
    text-align: left; 
    padding:5px; 
    font-weight: normal;
}

.jchartfx_container table tbody tr td
{
    padding:5px; 
    border:1px solid;
}

.jchartfx_container .labelIndicator 
{
    text-align:center;
    margin-top: 50px;
    font-size:18.125pt; 
    line-height:1em;
}

.jchartfx_container .label {
    text-align: center;
    vertical-align:middle;
    font-size: 14pt;
    line-height:1em;
}

.jchartfx_container .smallLabel {
    font-size: 8pt;
    text-align: center;
    vertical-align:middle;
    line-height:1em;
}

.jchartfx_gauge .BorderMedium {
    stroke-width: 4;
}

.jchartfx_gauge .BorderThick {
    stroke-width: 8;
}

.jchartfx .BorderMedium {
    stroke-width: 4;
}

.jchartfx .BorderThick {
    stroke-width: 8;
}

.jchartfx .Border0 {
    stroke-width: 1;
}

.jchartfx .Border1 {
    stroke-width: 1;
}

.jchartfx .Border2 {
    stroke-width: 1;
}

.jchartfx .Border3 {
    stroke-width: 1;
}

.jchartfx .Border4 {
    stroke-width: 1;
}

.jchartfx .Border5 {
    stroke-width: 1;
}

.jchartfx .Border6 {
    stroke-width: 1;
}

.jchartfx .Border7 {
    stroke-width: 1;
}

.jchartfx_gauge .Border0 {
    stroke-width: 1;
}

.jchartfx_gauge .Border1 {
    stroke-width: 1;
}

.jchartfx_gauge .Border2 {
    stroke-width: 1;
}

.jchartfx_gauge .Border3 {
    stroke-width: 1;
}

.jchartfx_gauge .Border4 {
    stroke-width: 1;
}

.jchartfx_gauge .Border5 {
    stroke-width: 1;
}

.jchartfx_gauge .Border6 {
    stroke-width: 1;
}

.jchartfx_gauge .Border7 {
    stroke-width: 1;
}