@import url(http://fonts.googleapis.com/css?family=Fira+Sans:400,500,700);

.jchartfx {
    font-family: 'Fira Sans', sans-serif;
    font-size: 9pt;
}

.jchartfxToolTip {
    padding: 3px;
    font-size: 9pt;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    -moz-border-radius: 3px;
    border-radius: 3px;
    pointer-events: none;
    border-style: solid;
    border-width: 1px;
}

.jchartfxToolTipVisible {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.jchartfxToolTipHidden {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.jchartfxToolTip2 {
    pointer-events: none;
}

.jchartfxToolTip2Visible {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.jchartfxToolTip2Hidden {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.jchartfx .Attribute {
    stroke-width: 1;
}

.jchartfx .AttributeLine {
    stroke-width: 2;
}

.jchartfx .MarkerHollow {
    stroke-width: 2;
}

.jchartfx .Marker {
    stroke-width: 2;
}

.jchartfx .Border {
    stroke-width: 1;
}

.jchartfx .PlotArea {
    stroke-width: 1;
}

.jchartfx .PlotArea3D {
    stroke-width: 1;
}

.jchartfx .AxisY_Line {
    stroke-width: 2;
}

.jchartfx .AxisX_Line {
    stroke-width: 2;
}

.jchartfx .Title {
    font-size: 11pt;
}

.jchartfx .LegendBox {
    stroke-width: 1;
}

.jchartfx .ScrollBar {
    stroke-width: 1;
}

.jchartfx .EqualizerTop0 {
    stroke-width: 1;
}

.jchartfx .EqualizerTop1 {
    stroke-width: 1;
}

.jchartfx_gauge .Border {
    stroke-width: 1;
}

.jchartfx_gauge .Text {
    font-family: 'Fira Sans', sans-serif;
    font-size: 9pt;
}

.jchartfx_gauge .Title {
    font-family: 'Fira Sans', sans-serif;
    font-size: 10pt;
}

.jchartfx_gauge .TitleLarge {
    font-family: 'Fira Sans', sans-serif;
    font-size: 40pt;
}

.jchartfx_gauge .Separator {
    stroke-width: 1;
}

.jchartfx .MapContext {
    stroke-width: 1;
}

.jchartfx .MapWater {
    stroke-width: 1;
}

.jchartfx .MapAttribute {
    stroke-width: 1;
}

.jchartfx .MapRoad {
    stroke-width: 1;
}

.jchartfx .MapRoadBack {
    stroke-width: 3;
}

.jchartfx .MapRoad0 {
    stroke-width: 1;
}

.jchartfx .MapRoad0Back {
    stroke-width: 3;
}

.jchartfx .MapRoad1 {
    stroke-width: 1;
}

.jchartfx .MapRoad1Back {
    stroke-width: 0;
}

.jchartfx .DashboardTitle {
    font-size: 11pt;
    font-family: 'Fira Sans', sans-serif;
}

.jchartfx_gauge .DashboardTitle {
    font-size: 11pt;
    font-family: 'Fira Sans', sans-serif;
}

.jchartfx_container, .jchartfx_container *
{  
    font-family: 'Fira Sans', sans-serif;
}

.jchartfx_container table
{ 
    border:0px solid; 
    font-size:14px; 
    margin:55px 5%;  
    width:90%; 
    border-spacing: 0px;
    box-shadow: none !important;
}

.jchartfx_container table thead tr th
{
    border-right:1px solid;  
    text-align: left; 
    padding:5px; 
    font-weight: normal;
    font-size:11px; 
}

.jchartfx_container table thead tr th:last-child 
{
    border-right:0px solid;
}

.jchartfx_container table tbody tr td
{
    padding:5px; 
    border-right:1px solid;
    border-bottom:1px dotted;
}

.jchartfx_container table tbody tr td:last-child
{
    border-right:0px solid;
}

.jchartfx_container .labelIndicator 
{
    text-align:center;
    margin-top: 53px;
    font-size:25pt; 
    line-height:1em;
}

.jchartfx_container .label {
    text-align: center;
    vertical-align:middle;
    font-size: 16pt;
    line-height:1em;
}

.jchartfx_container .smallLabel {
    font-size: 14px;
    text-align: center;
    vertical-align:middle;
    line-height:1em;
}

.jchartfx_gauge .BorderMedium {
    stroke-width: 4;
}

.jchartfx_gauge .BorderThick {
    stroke-width: 8;
}

.jchartfx .BorderMedium {
    stroke-width: 4;
}

.jchartfx .BorderThick {
    stroke-width: 8;
}

.jchartfx .Border0 {
    stroke-width: 1;
}

.jchartfx .Border1 {
    stroke-width: 1;
}

.jchartfx .Border2 {
    stroke-width: 1;
}

.jchartfx .Border3 {
    stroke-width: 1;
}

.jchartfx .Border4 {
    stroke-width: 1;
}

.jchartfx .Border5 {
    stroke-width: 1;
}

.jchartfx .Border6 {
    stroke-width: 1;
}

.jchartfx .Border7 {
    stroke-width: 1;
}

.jchartfx_gauge .Border0 {
    stroke-width: 1;
}

.jchartfx_gauge .Border1 {
    stroke-width: 1;
}

.jchartfx_gauge .Border2 {
    stroke-width: 1;
}

.jchartfx_gauge .Border3 {
    stroke-width: 1;
}

.jchartfx_gauge .Border4 {
    stroke-width: 1;
}

.jchartfx_gauge .Border5 {
    stroke-width: 1;
}

.jchartfx_gauge .Border6 {
    stroke-width: 1;
}

.jchartfx_gauge .Border7 {
    stroke-width: 1;
}

.jchartfx-menu-callout {
  border: 1px solid;
  border-radius: 0px;
  font-size: 16px;
}

.jchartfx-menu {
  border: 1px solid;
  border-radius: 0px;
   -webkit-box-shadow: 0 0px 0px 0;
  box-shadow: 0 0px 0px 0;
 }
 
 .jchartfx-menu .cfxcombo {
    font-family: 'Fira Sans', sans-serif;
    font-size: 9pt;
}