.jchartfx {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 8pt;
    line-height: normal;
}

.jchartfxToolTip {
    padding: 3px;
    font-size: 8pt;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    -moz-border-radius: 3px;
    border-radius: 3px;
    pointer-events: none;
    border-style: solid;
    border-width: 1px;
}

.jchartfxToolTipVisible {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.jchartfxToolTipHidden {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.jchartfxToolTip2 {
    pointer-events: none;
}

.jchartfxToolTip2Visible {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.jchartfxToolTip2Hidden {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.jchartfx .Attribute {
    stroke-width: 1;
}

.jchartfx .AttributeLine {
    stroke-width: 2;
}

.jchartfx .MarkerHollow {
    stroke-width: 2;
}

.jchartfx .Marker {
    stroke-width: 2;
}

.jchartfx .Border {
    stroke-width: 1;
}

.jchartfx .PlotArea {
    stroke-width: 1;
}

.jchartfx .PlotArea3D {
    stroke-width: 1;
}

.jchartfx .AxisY_Line {
    stroke-width: 2;
}

.jchartfx .AxisMajor {
    stroke-width: 1;
    stroke-dasharray: 2,2;
}

.jchartfx .AxisX_Line {
    stroke-width: 2;
}

.jchartfx .Title {
    font-size: 11pt;
}

.jchartfx .LegendBox {
    stroke-width: 1;
}

.jchartfx .ScrollBar {
    stroke-width: 1;
}

.jchartfx .EqualizerTop0 {
    stroke-width: 1;
}

.jchartfx .EqualizerTop1 {
    stroke-width: 1;
}

.jchartfx .GaugeTitle {
    font-size: 10pt;
}

.jchartfx .GaugeTitleLarge {
    font-size: 24pt;
}

.jchartfx .Separator {
    stroke-width: 1;
}

.jchartfx .MapContext {
    stroke-width: 1;
}

.jchartfx .MapWater {
    stroke-width: 1;
}

.jchartfx .MapAttribute {
    stroke-width: 1;
}

.jchartfx .MapRoad {
    stroke-width: 1;
}

.jchartfx .MapRoadBack {
    stroke-width: 3;
}

.jchartfx .MapRoad0 {
    stroke-width: 1;
}

.jchartfx .MapRoad0Back {
    stroke-width: 3;
}

.jchartfx .MapRoad1 {
    stroke-width: 1;
}

.jchartfx .MapRoad1Back {
    stroke-width: 0;
}

.jchartfx .DashboardTitle {
    font-size: 9pt;
}

.jchartfx_container, .jchartfx_container *
{  
    font-family: Helvetica, Arial, sans-serif; 
}

.jchartfx_container table
{ 
    border:0px solid; 
    font-size:9pt; 
    margin:40px 3%;  
    width:94%; 
    border-spacing: 0px;
    box-shadow: none !important;
}

.jchartfx_container table thead tr th
{
    border:0px solid;  
    border-top:1px solid;
    border-bottom:2px solid; 
    text-align: left; 
    padding:6px; 
    font-weight: normal;
}

.jchartfx_container table tbody tr td
{
    padding:6px; 
    border-bottom:1px dotted;
}

.jchartfx_container .labelIndicator 
{
    text-align:center;
    margin-top: 48px;
    font-size:30pt; 
    line-height:1em;
}

.jchartfx_container .label {
    text-align: center;
    vertical-align:middle;
    font-size: 18pt;
    line-height:1em;
}

.jchartfx_container .smallLabel {
    font-size: 9pt;
    text-align: center;
    vertical-align:middle;
    line-height:1em;
}

.jchartfx .BorderMedium {
    stroke-width: 4;
}

.jchartfx .BorderThick {
    stroke-width: 8;
}

.jchartfx .Border0 {
    stroke-width: 1;
}

.jchartfx .Border1 {
    stroke-width: 1;
}

.jchartfx .Border2 {
    stroke-width: 1;
}

.jchartfx .Border3 {
    stroke-width: 1;
}

.jchartfx .Border4 {
    stroke-width: 1;
}

.jchartfx .Border5 {
    stroke-width: 1;
}

.jchartfx .Border6 {
    stroke-width: 1;
}

.jchartfx .Border7 {
    stroke-width: 1;
}

.jchartfx-menu-callout {
  border: 1px solid;
  border-radius: 0px;
  font-size: 13px !important;
}

.jchartfx-menu {
  border: 1px solid;
  border-radius: 0px;
   -webkit-box-shadow: 0 0px 0px 0;
  box-shadow: 0 0px 0px 0;
 }
 
 .jchartfx-menu .cfxcombo {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 8pt;
}

.jchartfx .StackedLabel {
    font-size: 9pt;
	font-weight: bold;
}

.jchartfx-icon-menu:before {
    content: "\e654";
}