.jchartfx {
    font-family: 'Helvetica Neue', Arial;
    font-size: 8pt;
    line-height: normal;
}

.jchartfxToolTip {
    padding: 3px;
    font-size: 10pt;
    font-family: 'Helvetica Neue', Arial;
    font-weight: bold;
    -moz-border-radius: 3px;
    border-radius: 3px;
    pointer-events: none;
    border-style: solid;
    border-width: 1px;
}

.jchartfxToolTipVisible {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.jchartfxToolTipHidden {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.jchartfxToolTip2 {
    pointer-events: none;
}

.jchartfxToolTip2Visible {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.jchartfxToolTip2Hidden {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.jchartfx .Attribute {
    stroke-width: 1;
}

.jchartfx .AttributeLine {
    stroke-width: 2;
}

.jchartfx .MarkerHollow {
    stroke-width: 4;
}

.jchartfx .Marker {
    stroke-width: 1;
}

.jchartfx .Border {
    stroke-width: 1;
}

.jchartfx .PlotArea {
    stroke-width: 1;
}

.jchartfx .PlotArea3D {
    stroke-width: 1;
}

.jchartfx .AxisY_Line {
    stroke-width: 1;
}

.jchartfx .AxisX_Line {
    stroke-width: 1;
}

.jchartfx .Title {
    font-size: 10pt;
}

.jchartfx .LegendBox {
    stroke-width: 1;
}

.jchartfx .ScrollBar {
    stroke-width: 1;
}

.jchartfx .EqualizerTop0 {
    stroke-width: 1;
}

.jchartfx .EqualizerTop1 {
    stroke-width: 1;
}

.jchartfx .GaugeTitle {
    font-size: 10pt;
}

.jchartfx .GaugeTitleLarge {
    font-size: 40pt;
}

.jchartfx .Separator {
    stroke-width: 1;
}

.jchartfx .MapContext {
    stroke-width: 1;
}

.jchartfx .MapWater {
    stroke-width: 1;
}

.jchartfx .MapAttribute {
    stroke-width: 1;
}

.jchartfx .MapRoad {
    stroke-width: 1;
}

.jchartfx .MapRoadBack {
    stroke-width: 3;
}

.jchartfx .MapRoad0 {
    stroke-width: 1;
}

.jchartfx .MapRoad0Back {
    stroke-width: 3;
}

.jchartfx .MapRoad1 {
    stroke-width: 1;
}

.jchartfx .MapRoad1Back {
    stroke-width: 0;
}

.jchartfx .DashboardTitle {
    font-size: 11pt;
}

.jchartfx_container, .jchartfx_container *
{
    font-family: 'Helvetica Neue', Arial; 
}

.jchartfx_container table
{ 
    border:0px solid; 
    font-size:10pt; 
    margin:68px 6% !important;
    width:88% !important;
    border-spacing:0px;
    box-shadow: none !important;
}

.jchartfx-menu .positioning * {
  margin: 0 !important;
}

.jchartfx-menu .positioningCtr {
  width: auto !important;
}

.jchartfx_container table thead tr th
{
    border-top:1px solid;  
    border-bottom:1px solid;  
    text-align: left; 
    padding:5px; 
    font-weight: bold; 
}

.jchartfx_container table tbody tr td
{
    padding:5px; 
    border-bottom:1px solid;  
}

.jchartfx_container .labelIndicator 
{
    text-align:center;
    margin-top: 55px;
    font-size:24pt; 
    line-height:1em;
}

.jchartfx_container .label {
    text-align: center;
    vertical-align:middle;
    font-size: 14pt;
    line-height:1em;
}

.jchartfx_container .smallLabel {
    font-size: 8pt;
    text-align: center;
    vertical-align:middle;
    line-height:1em;
}

.jchartfx .BorderMedium {
    stroke-width: 4;
}

.jchartfx .BorderThick {
    stroke-width: 8;
}

.jchartfx .Border0 {
    stroke-width: 1;
}

.jchartfx .Border1 {
    stroke-width: 1;
}

.jchartfx .Border2 {
    stroke-width: 1;
}

.jchartfx .Border3 {
    stroke-width: 1;
}

.jchartfx .Border4 {
    stroke-width: 1;
}

.jchartfx .Border5 {
    stroke-width: 1;
}

.jchartfx .Border6 {
    stroke-width: 1;
}

.jchartfx .Border7 {
    stroke-width: 1;
}

.jchartfx-menu-callout {
  font-size: 16px;
  border-radius: 0px;
}

.jchartfx-menu {
  border: 1px solid;
  border-radius: 0px;
   -webkit-box-shadow: 0 0px 0px 0;
  box-shadow: 0 0px 0px 0;
 }
 
 .jchartfx-icon-block {
  border-radius: 0px;
}

.jchartfx-menu .cfxcombo {
    font-family: 'Helvetica Neue', Arial;
    font-size: 8pt;
}

.jchartfx .StackedLabel {
	font-weight: bold;
}

.jchartfx-icon-menu:before {
content: "\e656";
}