.jchartfx_body {
    background-color: #FFFFFF;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #F9F9F9;
    stroke: #333333;
}

.jchartfx .PointLabel {
    fill: #333333;
}

.jchartfx .Attribute0 {
    fill: #999999;
    stroke: #737373;
}

.jchartfx .Attribute0Line {
    stroke: #737373;
}

.jchartfx .Attribute0Alt {
    fill: #737373;
}

.jchartfx .Attribute1 {
    fill: #3383BB;
    stroke: #27638D;
}

.jchartfx .Attribute1Line {
    stroke: #27638D;
}

.jchartfx .Attribute1Alt {
    fill: #3FA3E9;
}

.jchartfx .Attribute2 {
    fill: #C0402A;
    stroke: #903020;
}

.jchartfx .Attribute2Line {
    stroke: #903020;
}

.jchartfx .Attribute2Alt {
    fill: #F05034;
}

.jchartfx .Attribute3 {
    fill: #BBBBBB;
    stroke: #8D8D8D;
}

.jchartfx .Attribute3Line {
    stroke: #8D8D8D;
}

.jchartfx .Attribute3Alt {
    fill: #8D8D8D;
}

.jchartfx .Attribute4 {
    fill: #333333;
    stroke: #272727;
}

.jchartfx .Attribute4Line {
    stroke: #272727;
}

.jchartfx .Attribute4Alt {
    fill: #3F3F3F;
}

.jchartfx .Attribute5 {
    fill: #70B2E1;
    stroke: #5486A9;
}

.jchartfx .Attribute5Line {
    stroke: #5486A9;
}

.jchartfx .Attribute5Alt {
    fill: #5486A9;
}

.jchartfx .Attribute6 {
    fill: #FBC856;
    stroke: #BD9641;
}

.jchartfx .Attribute6Line {
    stroke: #BD9641;
}

.jchartfx .Attribute6Alt {
    fill: #BD9641;
}

.jchartfx .Attribute7 {
    fill: #97E7FF;
    stroke: #72AEC0;
}

.jchartfx .Attribute7Line {
    stroke: #72AEC0;
}

.jchartfx .Attribute7Alt {
    fill: #72AEC0;
}

.jchartfx .Attribute8 {
    fill: #FFA48E;
    stroke: #C07B6B;
}

.jchartfx .Attribute8Line {
    stroke: #C07B6B;
}

.jchartfx .Attribute8Alt {
    fill: #C07B6B;
}

.jchartfx .Attribute9 {
    fill: #001F57;
    stroke: #001842;
}

.jchartfx .Attribute9Line {
    stroke: #001842;
}

.jchartfx .Attribute9Alt {
    fill: #00266C;
}

.jchartfx .Attribute10 {
    fill: #5C0000;
    stroke: #450000;
}

.jchartfx .Attribute10Line {
    stroke: #450000;
}

.jchartfx .Attribute10Alt {
    fill: #730000;
}

.jchartfx .Attribute11 {
    fill: #575757;
    stroke: #424242;
}

.jchartfx .Attribute11Line {
    stroke: #424242;
}

.jchartfx .Attribute11Alt {
    fill: #6C6C6C;
}

.jchartfx .Attribute12 {
    fill: #0C4E7D;
    stroke: #093B5E;
}

.jchartfx .Attribute12Line {
    stroke: #093B5E;
}

.jchartfx .Attribute12Alt {
    fill: #0F619C;
}

.jchartfx .Attribute13 {
    fill: #976400;
    stroke: #724B00;
}

.jchartfx .Attribute13Line {
    stroke: #724B00;
}

.jchartfx .Attribute13Alt {
    fill: #BC7D00;
}

.jchartfx .Attribute14 {
    fill: #E86852;
    stroke: #AE4E3E;
}

.jchartfx .Attribute14Line {
    stroke: #AE4E3E;
}

.jchartfx .Attribute14Alt {
    fill: #AE4E3E;
}

.jchartfx .Attribute15 {
    fill: #FFF07E;
    stroke: #C0B45F;
}

.jchartfx .Attribute15Line {
    stroke: #C0B45F;
}

.jchartfx .Attribute15Alt {
    fill: #C0B45F;
}

.jchartfx .MarkerHollow {
    fill: #FFFFFF;
}

.jchartfx .Border {
    fill: #C9C9C9;
    stroke: #AAAAAA;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #CCCCCC;
}

.jchartfx .PlotArea3D {
    fill: #EEEEEE;
    stroke: #CCCCCC;
}

.jchartfx .CustomGridLine {
    stroke: #3383BB;
}

.jchartfx .CustomGridLineLabel {
    fill: #333333;
}

.jchartfx .AxisY_Section {
    fill: #DDDDDD;
    stroke: #DDDDDD;
}

.jchartfx .AxisX_Section {
    fill: #DDDDDD;
    stroke: #DDDDDD;
}

.jchartfx .AxisY_Text {
    fill: #333333;
}

.jchartfx .AxisY_Major {
    stroke: #CCCCCC;
}

.jchartfx .AxisY_Minor {
    stroke: #CCCCCC;
}

.jchartfx .AxisY_Interlaced {
    fill: #C9C9C9;
}

.jchartfx .AxisY_Line {
    stroke: #CCCCCC;
}

.jchartfx .AxisX_Text {
    fill: #333333;
}

.jchartfx .AxisX_Major {
    stroke: #CCCCCC;
}

.jchartfx .AxisX_Minor {
    stroke: #CCCCCC;
}

.jchartfx .AxisX_Interlaced {
    fill: #C9C9C9;
}

.jchartfx .AxisX_Line {
    stroke: #CCCCCC;
}

.jchartfx .PointLabelBorder {
    fill: #3F3F3F;
    stroke: #333333;
}

.jchartfx .Title {
    fill: #333333;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #AAAAAA;
}

.jchartfx .LegendItem {
    fill: #444444;
}

.jchartfx .ScrollBar {
    fill: #EEEEEE;
    stroke: #CCCCCC;
}

.jchartfx .ScrollThumb {
    fill: #CCCCCC;
}

.jchartfx .ScrollArrow {
    fill: #CCCCCC;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #DDDDDD;
}

.jchartfx .DataGrid_Back {
    fill: #C9C9C9;
}

.jchartfx .DataGrid_GridLine {
    fill: #AAAAAA;
}

.jchartfx .DataGridText {
    fill: #333333;
}

.jchartfx .DataGridTextAlternate {
    fill: #333333;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #EEEEEE;
}

.jchartfx .DataGrid_RowHeader {
    fill: #333333;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #444444;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #333333;
}

.jchartfx .AnnotationText {
    fill: #333333;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #333333;
}

.jchartfx .AnnotationBalloonText {
    fill: #333333;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #333333;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #333333;
}

.jchartfx .AnnotationArrow {
    fill: #333333;
    stroke: #333333;
}

.jchartfx .AnnotationArc {
    fill: #333333;
    stroke: #333333;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #333333;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #333333;
}

.jchartfx .HeatMap0 {
    fill: #999999;
}

.jchartfx .HeatMap1 {
    fill: #3383BB;
}

.jchartfx .EqualizerTop0 {
    stroke: #27638D;
    fill: #3383BB;
}

.jchartfx .EqualizerTop1 {
    stroke: #903020;
    fill: #C0402A;
}

.jchartfx .Indicator {
    fill: #999999;
    stroke: #737373;
}

.jchartfx .Cap {
    fill: #333333;
}

.jchartfx .Bar {
    stroke: #AAAAAA;
    fill: #EEEEEE;
}

.jchartfx .TickMajor {
    stroke: #CCCCCC;
    fill: #CCCCCC;
}

.jchartfx .TickMedium {
    stroke: #CCCCCC;
    fill: #CCCCCC;
}

.jchartfx .GaugeText {
    fill: #333333;
}

.jchartfx .GaugeTitle {
    fill: #333333;
}

.jchartfx .GaugeSection2 {
    fill: #3383BB;
    stroke: #27638D;
}

.jchartfx .GaugeSection0 {
    fill: #C0402A;
    stroke: #903020;
}

.jchartfx .GaugeSection1 {
    fill: #FBC856;
    stroke: #BD9641;
}

.jchartfx .Separator {
    stroke: #CCCCCC;
}

.jchartfx .MapContext {
    fill: #c9c9c9;
    stroke: #939393;
}

.jchartfx .MapWater {
    fill: #9ee1ff;
    stroke: #63aae5;
}

.jchartfx .MapOcean0 {
    fill: #63aae5;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #549dd7;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #4490c9;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #3383bb;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #1e76ad;
    stroke: none;
}

.jchartfx .MapOcean4 {
    fill: #618da2 !important;
    stroke: none;
}

.jchartfx .MapAttribute0 {
    fill: #999999;
    stroke: #666666;
}

.jchartfx .MapAttribute1 {
    fill: #c0402a;
    stroke: #830000;
}

.jchartfx .MapAttribute2 {
    fill: #bbbbbb;
    stroke: #868686;
}

.jchartfx .MapAttribute3 {
    fill: #4d4d4d;
    stroke: #212121;
}

.jchartfx .MapAttribute4 {
    fill: #8d4a3f;
    stroke: #571b14;
}

.jchartfx .MapAttribute5 {
    fill: #898989;
    stroke: #575757;
}

.jchartfx .MapAttribute6 {
    fill: #cccccc;
    stroke: #969696;
}

.jchartfx .MapAttribute7 {
    fill: #5a403c;
    stroke: #2b1512;
}

.jchartfx .MapRoad {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: .3;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .1;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #E2C195;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #C9C9C9;
    stroke: #AAAAAA;
}

.jchartfx .MapPlot {
    fill: #1e76ad;
    fill-opacity: 0;
}

.jchartfx .GaugeTitleLarge {
    fill: #333333;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #333333;
}

.jchartfx .DashboardCaption {
    fill: #999999;
    stroke: #FFFFFF;
}

.jchartfx .EqualizerOff {
        fill: #CCCCCC;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #444444;
}

.jchartfx .MapShadow {
    fill: #444444;
    fill-opacity: 0.3;
}

.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #EEEEEE;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #C9C9C9;
    border-color: #AAAAAA;
    box-shadow: 0px 0px 5px 3px rgba(68, 68,  68, .30);
}

.jchartfx_container table thead tr th {
    background-color: #DDDDDD;
    border-color: #AAAAAA;
    border-bottom-color: #CCCCCC;
    color: #444444;
}

.jchartfx_container table tbody tr td {
    color: #333333;
    border-color: #AAAAAA;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #C9C9C9;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #EEEEEE;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #333333;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #333333;
}

.jchartfx_container .labelIndicator {
    color: #333333;
}

.jchartfx_container .label {
    color: #333333;
}

.jchartfx_container .smallLabel {
    color: #333333;
}

.jchartfx .MapDefaultAttribute {
    fill: #c9c9c9;
    stroke: #939393;
}

.jchartfx .Filler {
    fill: #999999;
    stroke: #737373;
}

.jchartfx .GaugeMarker {
    fill: #999999;
    stroke: #737373;
}

.jchartfx .Needle {
    fill: #999999;
    stroke: #737373;
}

.jchartfx .BorderMedium {
    fill: #C9C9C9;
    stroke: #AAAAAA;
}

.jchartfx .BorderThick {
    fill: #C9C9C9;
    stroke: #AAAAAA;
}

.jchartfx .Border0 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border1 {
    stroke: #55DAFF;
    fill: #55DAFF;
}

.jchartfx .Border2 {
    stroke: #FF6A46;
    fill: #FF6A46;
}

.jchartfx .Border3 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border4 {
    stroke: #555555;
    fill: #555555;
}

.jchartfx .Border5 {
    stroke: #BAFFFF;
    fill: #BAFFFF;
}

.jchartfx .Border6 {
    stroke: #FFFF8F;
    fill: #FFFF8F;
}

.jchartfx .Border7 {
    stroke: #FBFFFF;
    fill: #FBFFFF;
}

.jchartfx-menu .toggle.active {
  background-color: #C0402A;
}

.jchartfx-menu td.btnposition.active a {
  background-color: #C0402A;
}

.jchartfx .GreaterThan {
    fill: #3383BB;
    stroke: #3383BB;
}

.jchartfx .LessThan {
    fill: #C0402A;
    stroke: #C0402A;
}

.jchartfx .EqualsTo {
    fill: #FBC856;
    stroke: #FBC856;
}

.jchartfx .InsideLabel0 {
    fill: #393939;
}

.jchartfx .InsideLabel1 {
    fill: #55DAFF;
}

.jchartfx .InsideLabel2 {
    fill: #FF6A46;
}

.jchartfx .InsideLabel3 {
    fill: #464646;
}

.jchartfx .InsideLabel4 {
    fill: #888888;
}

.jchartfx .InsideLabel5 {
    fill: #2A4354;
}

.jchartfx .InsideLabel6 {
    fill: #5E4B20;
}

.jchartfx .InsideLabel7 {
    fill: #395760;
}

.jchartfx .InsideLabel8 {
    fill: #603D35;
}

.jchartfx .InsideLabel9 {
    fill: #5B87D3;
}

.jchartfx .InsideLabel10 {
    fill: #AA0000;
}

.jchartfx .InsideLabel11 {
    fill: #919191;
}

.jchartfx .InsideLabel12 {
    fill: #1482D0;
}

.jchartfx .InsideLabel13 {
    fill: #FBA600;
}

.jchartfx .InsideLabel14 {
    fill: #57271F;
}

.jchartfx .InsideLabel15 {
    fill: #605A2F;
}

.jchartfx .EmptyMarker {
    fill: #FFFFFF;
    stroke: #888888;
}


.jchartfx .Repeater {
    fill: #999999;
    stroke: #737373;
}

.jchartfx .RepeaterOff {
    fill: #0D0D0D;
    stroke: #0D0D0D;
}

.jchartfx-menu {
    border-color: #AAAAAA;
}