.jchartfx_body {
    background-color: #FFFFFF;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #FCFCFC;
    stroke: #000000;
}

.jchartfx .Attribute0 {
    fill: #FFEF8F;
    stroke: #C0B46C;
}

.jchartfx .Attribute0Line {
    stroke: #C0B46C;
}

.jchartfx .Attribute0Alt {
    fill: #C0B46C;
}

.jchartfx .Attribute1 {
    fill: #809FCF;
    stroke: #60789C;
}

.jchartfx .Attribute1Line {
    stroke: #60789C;
}

.jchartfx .Attribute1Alt {
    fill: #60789C;
}

.jchartfx .Attribute2 {
    fill: #A0D8BF;
    stroke: #78A290;
}

.jchartfx .Attribute2Line {
    stroke: #78A290;
}

.jchartfx .Attribute2Alt {
    fill: #78A290;
}

.jchartfx .Attribute3 {
    fill: #F7B4FB;
    stroke: #BA87BD;
}

.jchartfx .Attribute3Line {
    stroke: #BA87BD;
}

.jchartfx .Attribute3Alt {
    fill: #BA87BD;
}

.jchartfx .Attribute4 {
    fill: #FFE8A0;
    stroke: #C0AE78;
}

.jchartfx .Attribute4Line {
    stroke: #C0AE78;
}

.jchartfx .Attribute4Alt {
    fill: #C0AE78;
}

.jchartfx .Attribute5 {
    fill: #A8AFFF;
    stroke: #7E84C0;
}

.jchartfx .Attribute5Line {
    stroke: #7E84C0;
}

.jchartfx .Attribute5Alt {
    fill: #7E84C0;
}

.jchartfx .Attribute6 {
    fill: #80FF80;
    stroke: #60C060;
}

.jchartfx .Attribute6Line {
    stroke: #60C060;
}

.jchartfx .Attribute6Alt {
    fill: #60C060;
}

.jchartfx .Attribute7 {
    fill: #DFB0FF;
    stroke: #A884C0;
}

.jchartfx .Attribute7Line {
    stroke: #A884C0;
}

.jchartfx .Attribute7Alt {
    fill: #A884C0;
}

.jchartfx .Attribute8 {
    fill: #F5CA95;
    stroke: #B89870;
}

.jchartfx .Attribute8Line {
    stroke: #B89870;
}

.jchartfx .Attribute8Alt {
    fill: #B89870;
}

.jchartfx .Attribute9 {
    fill: #95ADC5;
    stroke: #708294;
}

.jchartfx .Attribute9Line {
    stroke: #708294;
}

.jchartfx .Attribute9Alt {
    fill: #708294;
}

.jchartfx .Attribute10 {
    fill: #BFE0C0;
    stroke: #90A890;
}

.jchartfx .Attribute10Line {
    stroke: #90A890;
}

.jchartfx .Attribute10Alt {
    fill: #90A890;
}

.jchartfx .Attribute11 {
    fill: #CF87FF;
    stroke: #9C66C0;
}

.jchartfx .Attribute11Line {
    stroke: #9C66C0;
}

.jchartfx .Attribute11Alt {
    fill: #9C66C0;
}

.jchartfx .Attribute12 {
    fill: #FFFFAF;
    stroke: #C0C084;
}

.jchartfx .Attribute12Line {
    stroke: #C0C084;
}

.jchartfx .Attribute12Alt {
    fill: #C0C084;
}

.jchartfx .Attribute13 {
    fill: #B5CDD4;
    stroke: #889A9F;
}

.jchartfx .Attribute13Line {
    stroke: #889A9F;
}

.jchartfx .Attribute13Alt {
    fill: #889A9F;
}

.jchartfx .Attribute14 {
    fill: #8FC7A0;
    stroke: #6C9678;
}

.jchartfx .Attribute14Line {
    stroke: #6C9678;
}

.jchartfx .Attribute14Alt {
    fill: #6C9678;
}

.jchartfx .Attribute15 {
    fill: #FFBCD8;
    stroke: #C08DA2;
}

.jchartfx .Attribute15Line {
    stroke: #C08DA2;
}

.jchartfx .Attribute15Alt {
    fill: #C08DA2;
}

.jchartfx .MarkerHollow {
    fill: #FFFFFF;
}

.jchartfx .Border {
    fill: #FFFFFF;
    stroke: #888888;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #888888;
}

.jchartfx .PlotArea3D {
    fill: #FFFFFF;
    stroke: #888888;
}

.jchartfx .CustomGridLine {
    stroke: #BFE0C0;
}

.jchartfx .CustomGridLineLabel {
    fill: #666666;
}

.jchartfx .AxisY_Section {
    fill: #A3B9DC;
    stroke: #8293AD;
}

.jchartfx .AxisX_Section {
    fill: #A3B9DC;
    stroke: #8293AD;
}

.jchartfx .AxisY_Text {
    fill: #000000;
}

.jchartfx .AxisY_Major {
    stroke: #888888;
}

.jchartfx .AxisY_Minor {
    stroke: #888888;
}

.jchartfx .AxisY_Interlaced {
    fill: #DDDDDD;
}

.jchartfx .AxisY_Line {
    stroke: #888888;
}

.jchartfx .AxisX_Text {
    fill: #000000;
}

.jchartfx .AxisX_Major {
    stroke: #888888;
}

.jchartfx .AxisX_Minor {
    stroke: #888888;
}

.jchartfx .AxisX_Interlaced {
    fill: #DDDDDD;
}

.jchartfx .AxisX_Line {
    stroke: #888888;
}

.jchartfx .PointLabel {
    fill: #666666;
}

.jchartfx .PointLabelBorder {
    fill: #838383;
    stroke: #666666;
}

.jchartfx .Title {
    fill: #000000;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #888888;
}

.jchartfx .LegendItem {
    fill: #000000;
}

.jchartfx .ScrollBar {
    fill: #FFFFFF;
    stroke: #888888;
}

.jchartfx .ScrollThumb {
    fill: #888888;
}

.jchartfx .ScrollArrow {
    fill: #888888;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #666666;
}

.jchartfx .DataGrid_Back {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_GridLine {
    fill: #888888;
}

.jchartfx .DataGridText {
    fill: #666666;
}

.jchartfx .DataGridTextAlternate {
    fill: #666666;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #DDDDDD;
}

.jchartfx .DataGrid_RowHeader {
    fill: #000000;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #666666;
}

.jchartfx .AnnotationText {
    fill: #000000;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #666666;
}

.jchartfx .AnnotationBalloonText {
    fill: #000000;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #666666;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #666666;
}

.jchartfx .AnnotationArrow {
    fill: #666666;
    stroke: #666666;
}

.jchartfx .AnnotationArc {
    fill: #666666;
    stroke: #666666;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #666666;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #666666;
}

.jchartfx .HeatMap0 {
    fill: #FFEF8F;
}

.jchartfx .HeatMap1 {
    fill: #809FCF;
}

.jchartfx .EqualizerTop0 {
    stroke: #60789C;
    fill: #809FCF;
}

.jchartfx .EqualizerTop1 {
    stroke: #78A290;
    fill: #A0D8BF;
}

.jchartfx_gauge .Border {
    fill: #FFFFFF;
    stroke: #888888;
}

.jchartfx_gauge .Indicator {
    fill: #FFEF8F;
    stroke: #C0B46C;
}

.jchartfx_gauge .Cap {
    fill: #000000;
}

.jchartfx_gauge .Bar {
    stroke: #C2C2C2;
    fill: #DDDDDD;
}

.jchartfx_gauge .TickMajor {
    stroke: #888888;
    fill: #888888;
}

.jchartfx_gauge .TickMedium {
    stroke: #888888;
    fill: #888888;
}

.jchartfx_gauge .Text {
    fill: #000000;
}

.jchartfx_gauge .Title {
    fill: #000000;
}

.jchartfx_gauge .Section2 {
    fill: #A0D8BF;
    stroke: #78A290;
}

.jchartfx_gauge .Section1 {
    fill: #FFE8A0;
    stroke: #C0AE78;
}

.jchartfx_gauge .Section0 {
    fill: #F7B4FB;
    stroke: #BA87BD;
}

.jchartfx_gauge .GreaterThan {
    fill: #A0D8BF;
}

.jchartfx_gauge .LessThan {
    fill: #F7B4FB;
}

.jchartfx_gauge .EqualsTo {
    fill: #FFE8A0;
}

.jchartfx_gauge .Separator {
    stroke: #888888;
}

.jchartfx .MapContext {
    fill: #ffffff;
    stroke: #c6c6c6;
}

.jchartfx .MapWater {
    fill: #b7d6ff;
    stroke: #809fcf;
}

.jchartfx .MapOcean0 {
    fill: #809fcf;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #7392c1;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #6685b3;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #5978a5;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #4c6c98;
    stroke: none;
}

.jchartfx .MapOcean4 {
    fill: #618da2 !important;
    stroke: none;
}

.jchartfx .MapAttribute0 {
    fill: #ffef8f;
    stroke: #c4b75a;
}

.jchartfx .MapAttribute1 {
    fill: #a0d8bf;
    stroke: #6ba18a;
}

.jchartfx .MapAttribute2 {
    fill: #f7b4fb;
    stroke: #be7ec2;
}

.jchartfx .MapAttribute3 {
    fill: #b7a225;
    stroke: #7e6f00;
}

.jchartfx .MapAttribute4 {
    fill: #1f9d65;
    stroke: #006836;
}

.jchartfx .MapAttribute5 {
    fill: #ac24b4;
    stroke: #73007e;
}

.jchartfx .MapAttribute6 {
    fill: #6f6b58;
    stroke: #3f3c2b;
}

.jchartfx .MapAttribute7 {
    fill: #4e6259;
    stroke: #21342c;
}

.jchartfx .MapRoad {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: .3;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .1;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #E2C195;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #FFFFFF;
    stroke: #888888;
}

.jchartfx .MapPlot {
    fill: #4c6c98;
    fill-opacity: 0;
}

.jchartfx_gauge .TitleLarge {
    fill: #000000;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #000000;
}

.jchartfx_gauge .DashboardTitle {
    fill: #000000;
}

.jchartfx .DashboardCaption {
    fill: #FFEF8F;
    stroke: #666666;
}

.jchartfx_gauge .DashboardCaption {
    fill: #FFEF8F;
    stroke: #666666;
}

.jchartfx .EqualizerOff {
        fill: #AAAAAA;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #444444;
}

.jchartfx_gauge .Glow {
    fill: #444444;
}

.jchartfx .MapShadow {
    fill: #444444;
    fill-opacity: 0.3;
}







.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #DDDDDD;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #FFFFFF;
    border-color: #888888;
    box-shadow: 0px 0px 5px 3px rgba(68, 68,  68, .30);
}

.jchartfx_container table thead tr th {
    background-color: #666666;
    border-color: #888888;
    border-bottom-color: #888888;
    color: #FFFFFF;
}

.jchartfx_container table tbody tr td {
    color: #666666;
    border-color: #888888;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #FFFFFF;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #DDDDDD;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #000000;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #000000;
}

.jchartfx_container .labelIndicator {
    color: #000000;
}

.jchartfx_container .label {
    color: #000000;
}

.jchartfx_container .smallLabel {
    color: #000000;
}

.jchartfx_gauge .BorderMedium {
    fill: #FFFFFF;
    stroke: #888888;
}

.jchartfx_gauge .BorderThick {
    fill: #FFFFFF;
    stroke: #888888;
}

.jchartfx .MapDefaultAttribute {
    fill: #ffffff;
    stroke: #c6c6c6;
}

.jchartfx_gauge .Filler {
    fill: #FFEF8F;
    stroke: #C0B46C;
}

.jchartfx_gauge .Marker {
    fill: #FFEF8F;
    stroke: #C0B46C;
}

.jchartfx_gauge .Needle {
    fill: #809FCF;
    stroke: #60789C;
}

.jchartfx .BorderMedium {
    fill: #FFFFFF;
    stroke: #888888;
}

.jchartfx .BorderThick {
    fill: #FFFFFF;
    stroke: #888888;
}

.jchartfx .Border0 {
    stroke: #FFFFEE;
    fill: #FFFFEE;
}

.jchartfx .Border1 {
    stroke: #D5FFFF;
    fill: #D5FFFF;
}

.jchartfx .Border2 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border3 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border4 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border5 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border6 {
    stroke: #D5FFD5;
    fill: #D5FFD5;
}

.jchartfx .Border7 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx_gauge .Border0  {
    stroke: #FFFFEE;
    fill: #FFFFEE;
}

.jchartfx_gauge .Border1  {
    stroke: #D5FFFF;
    fill: #D5FFFF;
}

.jchartfx_gauge .Border2  {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx_gauge .Border3  {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx_gauge .Border4  {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx_gauge .Border5  {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx_gauge .Border6  {
    stroke: #D5FFD5;
    fill: #D5FFD5;
}

.jchartfx_gauge .Border7  {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .GreaterThan {
    stroke: #A0D8BF;
}

.jchartfx .LessThan {
    stroke: #F7B4FB;
}

.jchartfx .EqualsTo {
    stroke: #FFE8A0;
}