.jchartfx_body {
    background-color: #FFFFFF;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #FDFDFD;
    stroke: #2C4359;
}

.jchartfx .PointLabel {
    fill: #2C4359;
}

.jchartfx .Attribute0 {
    fill: #CCD232;
    stroke: #999E26;
}

.jchartfx .Attribute0Line {
    stroke: #999E26;
}

.jchartfx .Attribute0Alt {
    fill: #999E26;
}

.jchartfx .Attribute1 {
    fill: #DB4865;
    stroke: #A5364C;
}

.jchartfx .Attribute1Line {
    stroke: #A5364C;
}

.jchartfx .Attribute1Alt {
    fill: #A5364C;
}

.jchartfx .Attribute2 {
    fill: #333333;
    stroke: #272727;
}

.jchartfx .Attribute2Line {
    stroke: #272727;
}

.jchartfx .Attribute2Alt {
    fill: #3F3F3F;
}

.jchartfx .Attribute3 {
    fill: #FFFFFF;
    stroke: #C0C0C0;
}

.jchartfx .Attribute3Line {
    stroke: #C0C0C0;
}

.jchartfx .Attribute3Alt {
    fill: #C0C0C0;
}

.jchartfx .Attribute4 {
    fill: #FFFF38;
    stroke: #C0C02A;
}

.jchartfx .Attribute4Line {
    stroke: #C0C02A;
}

.jchartfx .Attribute4Alt {
    fill: #C0C02A;
}

.jchartfx .Attribute5 {
    fill: #FF3853;
    stroke: #C02A3F;
}

.jchartfx .Attribute5Line {
    stroke: #C02A3F;
}

.jchartfx .Attribute5Alt {
    fill: #C02A3F;
}

.jchartfx .Attribute6 {
    fill: #E1E463;
    stroke: #A9AB4B;
}

.jchartfx .Attribute6Line {
    stroke: #A9AB4B;
}

.jchartfx .Attribute6Alt {
    fill: #A9AB4B;
}

.jchartfx .Attribute7 {
    fill: #C02669;
    stroke: #901D4F;
}

.jchartfx .Attribute7Line {
    stroke: #901D4F;
}

.jchartfx .Attribute7Alt {
    fill: #F02F83;
}

.jchartfx .Attribute8 {
    fill: #2C4359;
    stroke: #213343;
}

.jchartfx .Attribute8Line {
    stroke: #213343;
}

.jchartfx .Attribute8Alt {
    fill: #37536F;
}

.jchartfx .Attribute9 {
    fill: #999999;
    stroke: #737373;
}

.jchartfx .Attribute9Line {
    stroke: #737373;
}

.jchartfx .Attribute9Alt {
    fill: #737373;
}

.jchartfx .Attribute10 {
    fill: #88A206;
    stroke: #667A05;
}

.jchartfx .Attribute10Line {
    stroke: #667A05;
}

.jchartfx .Attribute10Alt {
    fill: #AACA07;
}

.jchartfx .Attribute11 {
    fill: #FF6B7F;
    stroke: #C05160;
}

.jchartfx .Attribute11Line {
    stroke: #C05160;
}

.jchartfx .Attribute11Alt {
    fill: #C05160;
}

.jchartfx .Attribute12 {
    fill: #B4D100;
    stroke: #879D00;
}

.jchartfx .Attribute12Line {
    stroke: #879D00;
}

.jchartfx .Attribute12Alt {
    fill: #E1FF00;
}

.jchartfx .Attribute13 {
    fill: #FFFF96;
    stroke: #C0C071;
}

.jchartfx .Attribute13Line {
    stroke: #C0C071;
}

.jchartfx .Attribute13Alt {
    fill: #C0C071;
}

.jchartfx .Attribute14 {
    fill: #FFACC9;
    stroke: #C08197;
}

.jchartfx .Attribute14Line {
    stroke: #C08197;
}

.jchartfx .Attribute14Alt {
    fill: #C08197;
}

.jchartfx .Attribute15 {
    fill: #FFFFC7;
    stroke: #C0C096;
}

.jchartfx .Attribute15Line {
    stroke: #C0C096;
}

.jchartfx .Attribute15Alt {
    fill: #C0C096;
}

.jchartfx .MarkerHollow {
    fill: #FFFFFF;
}

.jchartfx .Border {
    fill: #FFFFFF;
    stroke: #AAAAAA;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #93C3CD;
}

.jchartfx .PlotArea3D {
    fill: #93C3CD;
    stroke: #93C3CD;
}

.jchartfx .CustomGridLine {
    stroke: #333333;
}

.jchartfx .CustomGridLineLabel {
    fill: #2C4359;
}

.jchartfx .AxisY_Section {
    fill: #35414F;
    stroke: #35414F;
}

.jchartfx .AxisX_Section {
    fill: #35414F;
    stroke: #35414F;
}

.jchartfx .AxisY_Text {
    fill: #2C4359;
}

.jchartfx .AxisY_Major {
    stroke: #93C3CD;
}

.jchartfx .AxisY_Minor {
    stroke: #93C3CD;
}

.jchartfx .AxisY_Interlaced {
    fill: #FFFFFF;
}

.jchartfx .AxisY_Line {
    stroke: #93C3CD;
}

.jchartfx .AxisX_Text {
    fill: #2C4359;
}

.jchartfx .AxisX_Major {
    stroke: #93C3CD;
}

.jchartfx .AxisX_Minor {
    stroke: #93C3CD;
}

.jchartfx .AxisX_Interlaced {
    fill: #FFFFFF;
}

.jchartfx .AxisX_Line {
    stroke: #93C3CD;
}

.jchartfx .PointLabelBorder {
    fill: #37536F;
    stroke: #2C4359;
}

.jchartfx .Title {
    fill: #2C4359;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #AAAAAA;
}

.jchartfx .LegendItem {
    fill: #2C4359;
}

.jchartfx .ScrollBar {
    fill: #FFFFFF;
    stroke: #93C3CD;
}

.jchartfx .ScrollThumb {
    fill: #93C3CD;
}

.jchartfx .ScrollArrow {
    fill: #93C3CD;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #35414F;
}

.jchartfx .DataGrid_Back {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_GridLine {
    fill: #C8E0E5;
}

.jchartfx .DataGridText {
    fill: #2C4359;
}

.jchartfx .DataGridTextAlternate {
    fill: #2C4359;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #93C3CD;
}

.jchartfx .DataGrid_RowHeader {
    fill: #2C4359;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #E1E463;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #2C4359;
}

.jchartfx .AnnotationText {
    fill: #2C4359;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #2C4359;
}

.jchartfx .AnnotationBalloonText {
    fill: #2C4359;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #2C4359;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #2C4359;
}

.jchartfx .AnnotationArrow {
    fill: #2C4359;
    stroke: #2C4359;
}

.jchartfx .AnnotationArc {
    fill: #2C4359;
    stroke: #2C4359;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #2C4359;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #2C4359;
}

.jchartfx .HeatMap0 {
    fill: #CCD232;
}

.jchartfx .HeatMap1 {
    fill: #DB4865;
}

.jchartfx .EqualizerTop0 {
    stroke: #A5364C;
    fill: #DB4865;
}

.jchartfx .EqualizerTop1 {
    stroke: #272727;
    fill: #333333;
}

.jchartfx .Indicator {
    fill: #CCD232;
    stroke: #999E26;
}

.jchartfx .Cap {
    fill: #2C4359;
}

.jchartfx .Bar {
    fill: #FFFFC7;
    stroke: #C0C096;
}

.jchartfx .TickMajor {
    stroke: #93C3CD;
    fill: #93C3CD;
}

.jchartfx .TickMedium {
    stroke: #93C3CD;
    fill: #93C3CD;
}

.jchartfx .GaugeText {
    fill: #2C4359;
}

.jchartfx .GaugeTitle {
    fill: #2C4359;
}

.jchartfx .GaugeSection0 {
    fill: #DB4865;
    stroke: #A5364C;
}

.jchartfx .GaugeSection1 {
    fill: #FFFF38;
    stroke: #C0C02A;
}

.jchartfx .GaugeSection2 {
    fill: #E1E463;
    stroke: #A9AB4B;
}

.jchartfx .Separator {
    stroke: #93C3CD;
}

.jchartfx .MapContext {
    fill: #ffffff;
    stroke: #c6c6c6;
}

.jchartfx .MapWater {
    fill: #dcffff;
    stroke: #a4d0e7;
}

.jchartfx .MapOcean0 {
    fill: #a4d0e7;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #96c2d9;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #88b4cb;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #7ba7bd;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #6e9aaf;
    stroke: none;
}

.jchartfx .MapOcean4 {
    fill: #618da2 !important;
    stroke: none;
}

.jchartfx .MapAttribute0 {
    fill: #ccd232;
    stroke: #929c00;
}

.jchartfx .MapAttribute1 {
    fill: #db4865;
    stroke: #9e0037;
}

.jchartfx .MapAttribute2 {
    fill: #333333;
    stroke: #050505;
}

.jchartfx .MapAttribute3 {
    fill: #969946;
    stroke: #616613;
}

.jchartfx .MapAttribute4 {
    fill: #9f2039;
    stroke: #64000f;
}

.jchartfx .MapAttribute5 {
    fill: #6a6a6a;
    stroke: #3b3b3b;
}

.jchartfx .MapAttribute6 {
    fill: #5e6041;
    stroke: #2f3216;
}

.jchartfx .MapAttribute7 {
    fill: #634f53;
    stroke: #342326;
}

.jchartfx .MapRoad {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: .3;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .1;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #E2C195;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #FFFFFF;
    stroke: #AAAAAA;
}

.jchartfx .MapPlot {
    fill: #6e9aaf;
    fill-opacity: 0;
}

.jchartfx .GaugeTitleLarge {
    fill: #2C4359;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #2C4359;
}

.jchartfx .DashboardCaption {
    fill: #CCD232;
    stroke: #FFFFFF;
}

.jchartfx .EqualizerOff {
        fill: #93C3CD;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #444444;
}

.jchartfx .MapShadow {
    fill: #444444;
    fill-opacity: 0.3;
}

.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #FFFFC7;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #FFFFFF;
    border-color: #C8E0E5;
    box-shadow: 0px 0px 5px 3px rgba(68, 68,  68, .30);
}

.jchartfx_container table thead tr th {
    background-color: #35414F;
    border-color: #C8E0E5;
    border-bottom-color: #93C3CD;
    color: #E1E463;
}

.jchartfx_container table tbody tr td {
    color: #2C4359;
    border-color: #C8E0E5;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #FFFFFF;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #93C3CD;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #2C4359;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #2C4359;
}

.jchartfx_container .labelIndicator {
    color: #2C4359;
}

.jchartfx_container .label {
    color: #2C4359;
}

.jchartfx_container .smallLabel {
    color: #2C4359;
}

.jchartfx .MapDefaultAttribute {
    fill: #ffffff;
    stroke: #c6c6c6;
}

.jchartfx .Filler {
    fill: #CCD232;
    stroke: #999E26;
}

.jchartfx .GaugeMarker {
    fill: #CCD232;
    stroke: #999E26;
}

.jchartfx .Needle {
    fill: #CCD232;
    stroke: #999E26;
}

.jchartfx .BorderMedium {
    fill: #FFFFFF;
    stroke: #AAAAAA;
}

.jchartfx .BorderThick {
    fill: #FFFFFF;
    stroke: #AAAAAA;
}

.jchartfx .Border0 {
    stroke: #FFFF53;
    fill: #FFFF53;
}

.jchartfx .Border1 {
    stroke: #FF78A8;
    fill: #FF78A8;
}

.jchartfx .Border2 {
    stroke: #555555;
    fill: #555555;
}

.jchartfx .Border3 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border4 {
    stroke: #FFFF5D;
    fill: #FFFF5D;
}

.jchartfx .Border5 {
    stroke: #FF5D8A;
    fill: #FF5D8A;
}

.jchartfx .Border6 {
    stroke: #FFFFA5;
    fill: #FFFFA5;
}

.jchartfx .Border7 {
    stroke: #FF3FAF;
    fill: #FF3FAF;
}

.jchartfx-menu .toggle.active {
  background-color: #DB4865;
}

.jchartfx-menu td.btnposition.active a {
  background-color: #DB4865;
}

.jchartfx-menu .selectable li.active {
    border: 1px solid;
    border-color: #DB4865;
    box-shadow: inset 0 0 0px 0px #DB4865;
    background: rgba(219,72,101,0.2);
}

.jchartfx .GreaterThan {
    fill: #E1E463;
    stroke: #E1E463;
}

.jchartfx .LessThan {
    fill: #DB4865;
    stroke: #DB4865;
}

.jchartfx .EqualsTo {
    fill: #FFFF38;
    stroke: #FFFF38;
}

.jchartfx .InsideLabel0 {
    fill: #4C4F13;
}

.jchartfx .InsideLabel1 {
    fill: #521B26;
}

.jchartfx .InsideLabel2 {
    fill: #888888;
}

.jchartfx .InsideLabel3 {
    fill: #606060;
}

.jchartfx .InsideLabel4 {
    fill: #606015;
}

.jchartfx .InsideLabel5 {
    fill: #60151F;
}

.jchartfx .InsideLabel6 {
    fill: #545525;
}

.jchartfx .InsideLabel7 {
    fill: #FF3FAF;
}

.jchartfx .InsideLabel8 {
    fill: #496F94;
}

.jchartfx .InsideLabel9 {
    fill: #393939;
}

.jchartfx .InsideLabel10 {
    fill: #E2FF0A;
}

.jchartfx .InsideLabel11 {
    fill: #602830;
}

.jchartfx .InsideLabel12 {
    fill: #FFFF00;
}

.jchartfx .InsideLabel13 {
    fill: #606038;
}

.jchartfx .InsideLabel14 {
    fill: #60404B;
}

.jchartfx .InsideLabel15 {
    fill: #60604B;
}

.jchartfx .EmptyMarker {
    fill: #99ACAF;
    stroke: #7F8F91;
}

.jchartfx .Repeater {
    fill: #CCD232;
    stroke: #999E26;
}

.jchartfx .RepeaterOff {
    fill: #404600;
    stroke: #404600;
}

.jchartfx-menu {
    border-color: #AAAAAA;
}