.jchartfx_body {
    background-color: #FFFFFF;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #FFFDF9;
    stroke: #000000;
}

.jchartfx .Attribute0 {
    fill: #000099;
    stroke: #000073;
}

.jchartfx .Attribute0Line {
    stroke: #000073;
}

.jchartfx .Attribute0Alt {
    fill: #0000BF;
}

.jchartfx .Attribute1 {
    fill: #000000;
    stroke: #000000;
}

.jchartfx .Attribute1Line {
    stroke: #000000;
}

.jchartfx .Attribute1Alt {
    fill: #000000;
}

.jchartfx .Attribute2 {
    fill: #738A9C;
    stroke: #576875;
}

.jchartfx .Attribute2Line {
    stroke: #576875;
}

.jchartfx .Attribute2Alt {
    fill: #576875;
}

.jchartfx .Attribute3 {
    fill: #00AEFF;
    stroke: #0083C0;
}

.jchartfx .Attribute3Line {
    stroke: #0083C0;
}

.jchartfx .Attribute3Alt {
    fill: #0083C0;
}

.jchartfx .Attribute4 {
    fill: #EA98EB;
    stroke: #B072B1;
}

.jchartfx .Attribute4Line {
    stroke: #B072B1;
}

.jchartfx .Attribute4Alt {
    fill: #B072B1;
}

.jchartfx .Attribute5 {
    fill: #00AD0E;
    stroke: #00820B;
}

.jchartfx .Attribute5Line {
    stroke: #00820B;
}

.jchartfx .Attribute5Alt {
    fill: #00D811;
}

.jchartfx .Attribute6 {
    fill: #990000;
    stroke: #730000;
}

.jchartfx .Attribute6Line {
    stroke: #730000;
}

.jchartfx .Attribute6Alt {
    fill: #BF0000;
}

.jchartfx .Attribute7 {
    fill: #4A3C8C;
    stroke: #382D69;
}

.jchartfx .Attribute7Line {
    stroke: #382D69;
}

.jchartfx .Attribute7Alt {
    fill: #5C4BAF;
}

.jchartfx .Attribute8 {
    fill: #FE0000;
    stroke: #BF0000;
}

.jchartfx .Attribute8Line {
    stroke: #BF0000;
}

.jchartfx .Attribute8Alt {
    fill: #FF0000;
}

.jchartfx .Attribute9 {
    fill: #CE5D5A;
    stroke: #9B4644;
}

.jchartfx .Attribute9Line {
    stroke: #9B4644;
}

.jchartfx .Attribute9Alt {
    fill: #9B4644;
}

.jchartfx .Attribute10 {
    fill: #4FFF5D;
    stroke: #3CC046;
}

.jchartfx .Attribute10Line {
    stroke: #3CC046;
}

.jchartfx .Attribute10Alt {
    fill: #3CC046;
}

.jchartfx .Attribute11 {
    fill: #FFE316;
    stroke: #C0AB11;
}

.jchartfx .Attribute11Line {
    stroke: #C0AB11;
}

.jchartfx .Attribute11Alt {
    fill: #C0AB11;
}

.jchartfx .Attribute12 {
    fill: #E99D00;
    stroke: #AF7600;
}

.jchartfx .Attribute12Line {
    stroke: #AF7600;
}

.jchartfx .Attribute12Alt {
    fill: #FFC400;
}

.jchartfx .Attribute13 {
    fill: #7B5300;
    stroke: #5D3F00;
}

.jchartfx .Attribute13Line {
    stroke: #5D3F00;
}

.jchartfx .Attribute13Alt {
    fill: #996700;
}

.jchartfx .Attribute14 {
    fill: #BBFFC0;
    stroke: #8DC090;
}

.jchartfx .Attribute14Line {
    stroke: #8DC090;
}

.jchartfx .Attribute14Alt {
    fill: #8DC090;
}

.jchartfx .Attribute15 {
    fill: #D2B48C;
    stroke: #9E8769;
}

.jchartfx .Attribute15Line {
    stroke: #9E8769;
}

.jchartfx .Attribute15Alt {
    fill: #9E8769;
}

.jchartfx .MarkerHollow {
    fill: #FFFFFF;
}

.jchartfx .Border {
    fill: #DCDCDC;
    stroke: #738A9C;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #C3C0B5;
}

.jchartfx .PlotArea3D {
    fill: #FFFFFF;
    stroke: #C3C0B5;
}

.jchartfx .CustomGridLine {
    stroke: #006699;
}

.jchartfx .CustomGridLineLabel {
    fill: #000000;
}

.jchartfx .AxisY_Section {
    fill: #CCCCFF;
    stroke: #CCCCFF;
}

.jchartfx .AxisX_Section {
    fill: #CCCCFF;
    stroke: #CCCCFF;
}

.jchartfx .AxisY_Text {
    fill: #000000;
}

.jchartfx .AxisY_Major {
    stroke: #C3C0B5;
}

.jchartfx .AxisY_Minor {
    stroke: #C3C0B5;
}

.jchartfx .AxisY_Interlaced {
    fill: #C9C9C9;
}

.jchartfx .AxisY_Line {
    stroke: #C3C0B5;
}

.jchartfx .AxisX_Text {
    fill: #000000;
}

.jchartfx .AxisX_Major {
    stroke: #C3C0B5;
}

.jchartfx .AxisX_Minor {
    stroke: #C3C0B5;
}

.jchartfx .AxisX_Interlaced {
    fill: #DCDCDC;
}

.jchartfx .AxisX_Line {
    stroke: #C3C0B5;
}

.jchartfx .PointLabel {
    fill: #000000;
}

.jchartfx .PointLabelBorder {
    fill: #000000;
    stroke: #000000;
}

.jchartfx .Title {
    fill: #000000;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #738A9C;
}

.jchartfx .LegendItem {
    fill: #000000;
}

.jchartfx .ScrollBar {
    fill: #FFFFFF;
    stroke: #C3C0B5;
}

.jchartfx .ScrollThumb {
    fill: #C3C0B5;
}

.jchartfx .ScrollArrow {
    fill: #C3C0B5;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #000000;
}

.jchartfx .DataGrid_Back {
    fill: #DCDCDC;
}

.jchartfx .DataGrid_GridLine {
    fill: #C3C0B5;
}

.jchartfx .DataGridText {
    fill: #000000;
}

.jchartfx .DataGridTextAlternate {
    fill: #000000;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_RowHeader {
    fill: #000000;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #000000;
}

.jchartfx .AnnotationText {
    fill: #000000;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #000000;
}

.jchartfx .AnnotationBalloonText {
    fill: #000000;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #000000;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #000000;
}

.jchartfx .AnnotationArrow {
    fill: #000000;
    stroke: #000000;
}

.jchartfx .AnnotationArc {
    fill: #000000;
    stroke: #000000;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #000000;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #000000;
}

.jchartfx .HeatMap0 {
    fill: #000099;
}

.jchartfx .HeatMap1 {
    fill: #000000;
}

.jchartfx .EqualizerTop0 {
    stroke: #000000;
    fill: #000000;
}

.jchartfx .EqualizerTop1 {
    stroke: #576875;
    fill: #738A9C;
}

.jchartfx .MapContext {
    fill: #dcdcdc;
    stroke: #a5a5a5;
}

.jchartfx .MapOcean0 {
    fill: #9ab2c5;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #8da5b7;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #8098a9;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #738b9c;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #667e8f;
    stroke: none;
}

.jchartfx .MapWater {
    fill: #d1eafe;
    stroke: #9ab2c5;
}

.jchartfx .MapAttribute0 {
    fill: #000099;
    stroke: #000064;
}

.jchartfx .MapAttribute1 {
    fill: #000000;
    stroke: #000000;
}

.jchartfx .MapAttribute2 {
    fill: #00aeff;
    stroke: #007ac6;
}

.jchartfx .MapAttribute3 {
    fill: #17174d;
    stroke: #000022;
}

.jchartfx .MapAttribute4 {
    fill: #484848;
    stroke: #1d1d1d;
}

.jchartfx .MapAttribute5 {
    fill: #378eb7;
    stroke: #005c82;
}

.jchartfx .MapAttribute6 {
    fill: #7b7bcc;
    stroke: #454a95;
}

.jchartfx .MapAttribute7 {
    fill: #919191;
    stroke: #5f5f5f;
}

.jchartfx .MapRoad {
    stroke: #0083C0;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .4;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #0083C0;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #0083C0;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #DCDCDC;
    stroke: #738A9C;
}

.jchartfx_gauge .Border {
    fill: #DCDCDC;
    stroke: #738A9C;
}

.jchartfx_gauge .Indicator {
    fill: #000099;
    stroke: #000073;
}

.jchartfx_gauge .Cap {
    fill: #000000;
}

.jchartfx_gauge .Bar {
    stroke: #C3C0B5;
    fill: #FFFFFF;
}

.jchartfx_gauge .TickMajor {
    stroke: #C3C0B5;
    fill: #C3C0B5;
}

.jchartfx_gauge .TickMedium {
    stroke: #C3C0B5;
    fill: #C3C0B5;
}

.jchartfx_gauge .Text {
    fill: #000000;
}

.jchartfx_gauge .Title {
    fill: #000000;
}

.jchartfx_gauge .Section0 {
    fill: #000000;
    stroke: #000000;
}

.jchartfx_gauge .Section1 {
    fill: #738A9C;
    stroke: #576875;
}

.jchartfx_gauge .Section2 {
    fill: #00AEFF;
    stroke: #0083C0;
}

.jchartfx_gauge .GreaterThan {
    fill: #00AD0E;
}

.jchartfx_gauge .LessThan {
    fill: #990000;
}

.jchartfx_gauge .EqualsTo {
    fill: #738A9C;
}

.jchartfx_gauge .Separator {
    stroke: #C3C0B5;
}

.jchartfx .MapPlot {
    fill: #667e8f;
    fill-opacity: 0;
}

.jchartfx_gauge .TitleLarge {
    fill: #000000;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #000000;
}

.jchartfx_gauge .DashboardTitle {
    fill: #000000;
}

.jchartfx .DashboardCaption {
    fill: #000099;
    stroke: #FFFFFF;
}

.jchartfx_gauge .DashboardCaption {
    fill: #000099;
    stroke: #FFFFFF;
}

.jchartfx .EqualizerOff {
        fill: #C3C0B5;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #444444;
}

.jchartfx_gauge .Glow {
    fill: #444444;
}

.jchartfx .MapShadow {
    fill: #444444;
    fill-opacity: 0.3;
}







.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #FFFFFF;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #DCDCDC;
    border-color: #C3C0B5;
    box-shadow: 0px 0px 5px 3px rgba(68, 68,  68, .30);
}

.jchartfx_container table thead tr th {
    background-color: #000000;
    border-color: #C3C0B5;
    border-bottom-color: #C3C0B5;
    color: #FFFFFF;
}

.jchartfx_container table tbody tr td {
    color: #000000;
    border-color: #C3C0B5;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #DCDCDC;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #FFFFFF;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #000000;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #000000;
}

.jchartfx_container .labelIndicator {
    color: #000000;
}

.jchartfx_container .label {
    color: #000000;
}

.jchartfx_container .smallLabel {
    color: #000000;
}

.jchartfx_gauge .BorderMedium {
    fill: #DCDCDC;
    stroke: #738A9C;
}

.jchartfx_gauge .BorderThick {
    fill: #DCDCDC;
    stroke: #738A9C;
}

.jchartfx .MapDefaultAttribute {
    fill: #dcdcdc;
    stroke: #a5a5a5;
}

.jchartfx_gauge .Filler {
    fill: #000099;
    stroke: #000073;
}

.jchartfx_gauge .Marker {
    fill: #000099;
    stroke: #000073;
}

.jchartfx_gauge .Needle {
    fill: #000099;
    stroke: #000073;
}

.jchartfx .BorderMedium {
    fill: #DCDCDC;
    stroke: #738A9C;
}

.jchartfx .BorderThick {
    fill: #DCDCDC;
    stroke: #738A9C;
}

.jchartfx .Border0 {
    stroke: #0000FF;
    fill: #0000FF;
}

.jchartfx .Border1 {
    stroke: #000000;
    fill: #000000;
}

.jchartfx .Border2 {
    stroke: #BFE6FF;
    fill: #BFE6FF;
}

.jchartfx .Border3 {
    stroke: #00FFFF;
    fill: #00FFFF;
}

.jchartfx .Border4 {
    stroke: #FFFDFF;
    fill: #FFFDFF;
}

.jchartfx .Border5 {
    stroke: #00FF17;
    fill: #00FF17;
}

.jchartfx .Border6 {
    stroke: #FF0000;
    fill: #FF0000;
}

.jchartfx .Border7 {
    stroke: #7B64E9;
    fill: #7B64E9;
}

.jchartfx_gauge .Border0  {
    stroke: #0000FF;
    fill: #0000FF;
}

.jchartfx_gauge .Border1  {
    stroke: #000000;
    fill: #000000;
}

.jchartfx_gauge .Border2  {
    stroke: #BFE6FF;
    fill: #BFE6FF;
}

.jchartfx_gauge .Border3  {
    stroke: #00FFFF;
    fill: #00FFFF;
}

.jchartfx_gauge .Border4  {
    stroke: #FFFDFF;
    fill: #FFFDFF;
}

.jchartfx_gauge .Border5  {
    stroke: #00FF17;
    fill: #00FF17;
}

.jchartfx_gauge .Border6  {
    stroke: #FF0000;
    fill: #FF0000;
}

.jchartfx_gauge .Border7  {
    stroke: #7B64E9;
    fill: #7B64E9;
}

.jchartfx-menu .toggle.active {
  background-color: #00AEFF;
}

.jchartfx-menu td.btnposition.active a {
  background-color: #00AEFF;
}

.jchartfx-menu .selectable li.active {
    border: 1px solid;
    border-color: #00AEFF;
    box-shadow: inset 0 0 0px 0px #00AEFF;
    background: rgba(0,174,255, 0.2);
}

.jchartfx .GreaterThan {
    stroke: #00AD0E;
}

.jchartfx .LessThan {
    stroke: #990000;
}

.jchartfx .EqualsTo {
    stroke: #738A9C;
}