.jchartfx_body {
    background-color: #000000;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #000000;
    stroke: #EEEEEE;
}

.jchartfx .PointLabel {
    fill: #EEEEEE;
}

.jchartfx .Attribute0 {
    fill: #DDDDDD;
    stroke: #A6A6A6;
}

.jchartfx .Attribute0Line {
    stroke: #A6A6A6;
}

.jchartfx .Attribute0Alt {
    fill: #A6A6A6;
}

.jchartfx .Attribute1 {
    fill: #333333;
    stroke: #272727;
}

.jchartfx .Attribute1Line {
    stroke: #272727;
}

.jchartfx .Attribute1Alt {
    fill: #3F3F3F;
}

.jchartfx .Attribute2 {
    fill: #FFFFFF;
    stroke: #C0C0C0;
}

.jchartfx .Attribute2Line {
    stroke: #C0C0C0;
}

.jchartfx .Attribute2Alt {
    fill: #C0C0C0;
}

.jchartfx .Attribute3 {
    fill: #555555;
    stroke: #404040;
}

.jchartfx .Attribute3Line {
    stroke: #404040;
}

.jchartfx .Attribute3Alt {
    fill: #6A6A6A;
}

.jchartfx .Attribute4 {
    fill: #888888;
    stroke: #666666;
}

.jchartfx .Attribute4Line {
    stroke: #666666;
}

.jchartfx .Attribute4Alt {
    fill: #666666;
}

.jchartfx .Attribute5 {
    fill: #C98000;
    stroke: #976000;
}

.jchartfx .Attribute5Line {
    stroke: #976000;
}

.jchartfx .Attribute5Alt {
    fill: #FBA000;
}

.jchartfx .Attribute6 {
    fill: #F29A00;
    stroke: #B67400;
}

.jchartfx .Attribute6Line {
    stroke: #B67400;
}

.jchartfx .Attribute6Alt {
    fill: #FFC000;
}

.jchartfx .Attribute7 {
    fill: #CD0A0A;
    stroke: #9A0808;
}

.jchartfx .Attribute7Line {
    stroke: #9A0808;
}

.jchartfx .Attribute7Alt {
    fill: #FF0C0C;
}

.jchartfx .Attribute8 {
    fill: #FFE464;
    stroke: #C0AB4B;
}

.jchartfx .Attribute8Line {
    stroke: #C0AB4B;
}

.jchartfx .Attribute8Alt {
    fill: #C0AB4B;
}

.jchartfx .Attribute9 {
    fill: #FF6E6E;
    stroke: #C05353;
}

.jchartfx .Attribute9Line {
    stroke: #C05353;
}

.jchartfx .Attribute9Alt {
    fill: #C05353;
}

.jchartfx .Attribute10 {
    fill: #FFFFC8;
    stroke: #C0C096;
}

.jchartfx .Attribute10Line {
    stroke: #C0C096;
}

.jchartfx .Attribute10Alt {
    fill: #C0C096;
}

.jchartfx .Attribute11 {
    fill: #651C00;
    stroke: #4C1500;
}

.jchartfx .Attribute11Line {
    stroke: #4C1500;
}

.jchartfx .Attribute11Alt {
    fill: #7E2300;
}

.jchartfx .Attribute12 {
    fill: #8E3600;
    stroke: #6B2900;
}

.jchartfx .Attribute12Line {
    stroke: #6B2900;
}

.jchartfx .Attribute12Alt {
    fill: #B14300;
}

.jchartfx .Attribute13 {
    fill: #9B8000;
    stroke: #756000;
}

.jchartfx .Attribute13Line {
    stroke: #756000;
}

.jchartfx .Attribute13Alt {
    fill: #C1A000;
}

.jchartfx .Attribute14 {
    fill: #9B0A0A;
    stroke: #750808;
}

.jchartfx .Attribute14Line {
    stroke: #750808;
}

.jchartfx .Attribute14Alt {
    fill: #C10C0C;
}

.jchartfx .Attribute15 {
    fill: #9B9B64;
    stroke: #75754B;
}

.jchartfx .Attribute15Line {
    stroke: #75754B;
}

.jchartfx .Attribute15Alt {
    fill: #75754B;
}

.jchartfx .MarkerHollow {
    fill: #000000;
}

.jchartfx .Border {
    fill: #121212;
    stroke: #404040;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #CCCCCC;
}

.jchartfx .PlotArea3D {
    fill: #ADADAD;
    stroke: #CCCCCC;
}

.jchartfx .CustomGridLine {
    stroke: #333333;
}

.jchartfx .CustomGridLineLabel {
    fill: #EEEEEE;
}

.jchartfx .AxisY_Section {
    fill: #888888;
    stroke: #888888;
}

.jchartfx .AxisX_Section {
    fill: #888888;
    stroke: #888888;
}

.jchartfx .AxisY_Text {
    fill: #EEEEEE;
}

.jchartfx .AxisY_Major {
    stroke: #CCCCCC;
}

.jchartfx .AxisY_Minor {
    stroke: #CCCCCC;
}

.jchartfx .AxisY_Interlaced {
    fill: #121212;
}

.jchartfx .AxisY_Line {
    stroke: #CCCCCC;
}

.jchartfx .AxisX_Text {
    fill: #EEEEEE;
}

.jchartfx .AxisX_Major {
    stroke: #CCCCCC;
}

.jchartfx .AxisX_Minor {
    stroke: #CCCCCC;
}

.jchartfx .AxisX_Interlaced {
    fill: #121212;
}

.jchartfx .AxisX_Line {
    stroke: #CCCCCC;
}

.jchartfx .PointLabelBorder {
    fill: #B3B3B3;
    stroke: #EEEEEE;
}

.jchartfx .Title {
    fill: #EEEEEE;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #404040;
}

.jchartfx .LegendItem {
    fill: #FFFFFF;
}

.jchartfx .ScrollBar {
    fill: #121212;
    stroke: #CCCCCC;
}

.jchartfx .ScrollThumb {
    fill: #CCCCCC;
}

.jchartfx .ScrollArrow {
    fill: #CCCCCC;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #888888;
}

.jchartfx .DataGrid_Back {
    fill: #121212;
}

.jchartfx .DataGrid_GridLine {
    fill: #6E6E6E;
}

.jchartfx .DataGridText {
    fill: #EEEEEE;
}

.jchartfx .DataGridTextAlternate {
    fill: #EEEEEE;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #ADADAD;
}

.jchartfx .DataGrid_RowHeader {
    fill: #EEEEEE;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #EEEEEE;
}

.jchartfx .AnnotationText {
    fill: #EEEEEE;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #EEEEEE;
}

.jchartfx .AnnotationBalloonText {
    fill: #EEEEEE;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #EEEEEE;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #EEEEEE;
}

.jchartfx .AnnotationArrow {
    fill: #EEEEEE;
    stroke: #EEEEEE;
}

.jchartfx .AnnotationArc {
    fill: #EEEEEE;
    stroke: #EEEEEE;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #EEEEEE;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #EEEEEE;
}

.jchartfx .HeatMap0 {
    fill: #DDDDDD;
}

.jchartfx .HeatMap1 {
    fill: #333333;
}

.jchartfx .EqualizerTop0 {
    stroke: #272727;
    fill: #333333;
}

.jchartfx .EqualizerTop1 {
    stroke: #C0C0C0;
    fill: #FFFFFF;
}

.jchartfx .Indicator {
    fill: #DDDDDD;
    stroke: #A6A6A6;
}

.jchartfx .Cap {
    fill: #EEEEEE;
}

.jchartfx .Bar {
    stroke: #CCCCCC;
    fill: #FFFFFF;
}

.jchartfx .TickMajor {
    stroke: #CCCCCC;
    fill: #CCCCCC;
}

.jchartfx .TickMedium {
    stroke: #CCCCCC;
    fill: #CCCCCC;
}

.jchartfx .GaugeText {
    fill: #EEEEEE;
}

.jchartfx .GaugeTitle {
    fill: #EEEEEE;
}

.jchartfx .GaugeSection0 {
    fill: #CD0A0A;
    stroke: #9A0808;
}

.jchartfx .GaugeSection1 {
    fill: #FFE464;
    stroke: #C0AB4B;
}

.jchartfx .GaugeSection2 {
    fill: #888888;
    stroke: #666666;
}

.jchartfx .Separator {
    stroke: #CCCCCC;
}

.jchartfx .MapContext {
    fill: #121212;
    stroke: #4C4C4C;
}

.jchartfx .MapWater {
    fill: rgb(184, 197, 204);
    stroke: #7A8287;
}

.jchartfx .MapOcean0 {
    fill: rgb(184, 197, 204);
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #aab7be;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #9da9b0;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #909ca3;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #838f96;
    stroke: none;
}

.jchartfx .MapAttribute0 {
    fill: #dddddd;
    stroke: #a6a6a6;
}

.jchartfx .MapAttribute1 {
    fill: #333333;
    stroke: #050505;
}

.jchartfx .MapAttribute2 {
    fill: #ffffff;
    stroke: #c6c6c6;
}

.jchartfx .MapAttribute3 {
    fill: #a0a0a0;
    stroke: #6d6d6d;
}

.jchartfx .MapAttribute4 {
    fill: #6a6a6a;
    stroke: #3b3b3b;
}

.jchartfx .MapAttribute5 {
    fill: #b7b7b7;
    stroke: #828282;
}

.jchartfx .MapAttribute6 {
    fill: #636363;
    stroke: #353535;
}

.jchartfx .MapAttribute7 {
    fill: #a2a2a2;
    stroke: #6e6e6e;
}

.jchartfx .MapRoad {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: .3;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .1;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #E2C195;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #121212;
    stroke: #404040;
}

.jchartfx .MapPlot {
    fill: #6e9aaf;
    fill-opacity: 0;
}

.jchartfx .GaugeTitleLarge {
    fill: #EEEEEE;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #EEEEEE;
}

.jchartfx .DashboardCaption {
    fill: #DDDDDD;
    stroke: #333333;
}

.jchartfx .EqualizerOff {
        fill: #CCCCCC;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #FFFFFF;
}

.jchartfx .MapShadow {
    fill: #FFFFFF;
    fill-opacity: 0.3;
}

.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #FFFFFF;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #121212;
    border-color: #6E6E6E;
    box-shadow: 0px 0px 5px 3px rgba(255, 255,  255, .30);
}

.jchartfx_container table thead tr th {
    background-color: #888888;
    border-color: #6E6E6E;
    border-bottom-color: #CCCCCC;
    color: #FFFFFF;
}

.jchartfx_container table tbody tr td {
    color: #EEEEEE;
    border-color: #6E6E6E;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #121212;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #ADADAD;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #EEEEEE;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #EEEEEE;
}

.jchartfx_container .labelIndicator {
    color: #EEEEEE;
}

.jchartfx_container .label {
    color: #EEEEEE;
}

.jchartfx_container .smallLabel {
    color: #EEEEEE;
}

.jchartfx .MapDefaultAttribute {
    fill: #121212;
    stroke: #4C4C4C;
}

.jchartfx .Filler {
    fill: #DDDDDD;
    stroke: #A6A6A6;
}

.jchartfx .GaugeMarker {
    fill: #333333;
    stroke: #272727;
}

.jchartfx .Needle {
    fill: #DDDDDD;
    stroke: #A6A6A6;
}

.jchartfx .BorderMedium {
    fill: #121212;
    stroke: #404040;
}

.jchartfx .BorderThick {
    fill: #121212;
    stroke: #404040;
}

.jchartfx .Border0 {
    stroke: #535353;
    fill: #535353;
}

.jchartfx .Border1 {
    stroke: #131313;
    fill: #131313;
}

.jchartfx .Border2 {
    stroke: #606060;
    fill: #606060;
}

.jchartfx .Border3 {
    stroke: #202020;
    fill: #202020;
}

.jchartfx .Border4 {
    stroke: #333333;
    fill: #333333;
}

.jchartfx .Border5 {
    stroke: #4B3000;
    fill: #4B3000;
}

.jchartfx .Border6 {
    stroke: #5B3A00;
    fill: #5B3A00;
}

.jchartfx .Border7 {
    stroke: #4D0404;
    fill: #4D0404;
}

.jchartfx-menu {
  border-color: rgba(139, 139, 139, 0.8);
  background-color: rgba(0, 0, 0, 0.9);
   -webkit-box-shadow: rgba(0, 0, 0, 0.25);
  box-shadow: rgba(0, 0, 0, 0.25);
 }
 
 .jchartfx-menu .options li {
  border-color: rgba(102, 102, 102, 0.5);
}

.jchartfx-menu-callout:hover {
  color: #333;
}

.jchartfx-menu a {
  color: #FFFFFF;
}

.jchartfx-menu a.next {
  color: rgba(102, 102, 102, 0.5);
}

.jchartfx-menu a.prev {
  color: rgba(102, 102, 102, 0.5);
}

.jchartfx-menu a.next:hover,
.jchartfx-menu .contextmenu a.prev:hover {
  color: rgba(102, 102, 102, 0.7);
}

.jchartfx-menu a.next.disabled {
  color: rgba(102, 102, 102, 0.2);
}

.jchartfx-menu a.next.disabled:hover {
  color: rgba(102, 102, 102, 0.2);
}

.jchartfx-menu .toggle {
  border-color: rgba(102, 102, 102, 1);
  background-color: rgba(0, 0, 0, 0.05);
}

.jchartfx-menu .toggle.active {
  background-color: #C98000;
}

.jchartfx-menu td.btnposition.active a {
  background-color: #C98000;
}

.jchartfx-menu .selectable li.active {
    border: 1px solid;
    border-color: #C98000;
    box-shadow: inset 0 0 0px 0px #C98000;
    background: rgba(201,128,0, 0.2);
}

.jchartfx .GreaterThan {
    fill: #888888;
    stroke: #888888;
}

.jchartfx .LessThan {
    fill: #CD0A0A;
    stroke: #CD0A0A;
}

.jchartfx .EqualsTo {
    fill: #FFE464;
    stroke: #FFE464;
}

.jchartfx .InsideLabel0 {
    fill: #535353;
}

.jchartfx .InsideLabel1 {
    fill: #AAAAAA;
}

.jchartfx .InsideLabel2 {
    fill: #606060;
}

.jchartfx .InsideLabel3 {
    fill: #8D8D8D;
}

.jchartfx .InsideLabel4 {
    fill: #333333;
}

.jchartfx .InsideLabel5 {
    fill: #FFD500;
}

.jchartfx .InsideLabel6 {
    fill: #FFFF00;
}

.jchartfx .InsideLabel7 {
    fill: #FF1010;
}

.jchartfx .InsideLabel8 {
    fill: #605525;
}

.jchartfx .InsideLabel9 {
    fill: #602929;
}

.jchartfx .InsideLabel10 {
    fill: #60604B;
}

.jchartfx .InsideLabel11 {
    fill: #A82E00;
}

.jchartfx .InsideLabel12 {
    fill: #EC5A00;
}

.jchartfx .InsideLabel13 {
    fill: #FFD500;
}

.jchartfx .InsideLabel14 {
    fill: #FF1010;
}

.jchartfx .InsideLabel15 {
    fill: #3A3A25;
}

.jchartfx .EmptyMarker {
    fill: #7C7C7C;
    stroke: #565656;
}

.jchartfx .Repeater {
    fill: #333333;
    stroke: #272727;
}

.jchartfx .RepeaterOff {
    fill: #999999;
    stroke: #999999;
}