.jchartfx_body {
    background-color: #FFFFFF;
}

.jchartfxToolTip {
    background-color: #ffffff;
    color: #999999;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #FFFFFF;
    stroke: #999999;
}

.jchartfx .PointLabel {
    fill: #8A8B8F;
}

.jchartfx .Attribute0 {
    fill: #A8D350;
    stroke: #7E9F3C;
}

.jchartfx .Attribute0Line {
    stroke: #7E9F3C;
}

.jchartfx .Attribute0Alt {
    fill: #7E9F3C;
}

.jchartfx .Attribute1 {
    fill: #FDD25F;
    stroke: #BE9E48;
}

.jchartfx .Attribute1Line {
    stroke: #BE9E48;
}

.jchartfx .Attribute1Alt {
    fill: #BE9E48;
}

.jchartfx .Attribute2 {
    fill: #F47528;
    stroke: #B7581E;
}

.jchartfx .Attribute2Line {
    stroke: #B7581E;
}

.jchartfx .Attribute2Alt {
    fill: #B7581E;
}

.jchartfx .Attribute3 {
    fill: #ED3B6B;
    stroke: #B22D51;
}

.jchartfx .Attribute3Line {
    stroke: #B22D51;
}

.jchartfx .Attribute3Alt {
    fill: #B22D51;
}

.jchartfx .Attribute4 {
    fill: #4EC2C2;
    stroke: #3B9292;
}

.jchartfx .Attribute4Line {
    stroke: #3B9292;
}

.jchartfx .Attribute4Alt {
    fill: #3B9292;
}

.jchartfx .Attribute5 {
    fill: #3399FE;
    stroke: #2773BF;
}

.jchartfx .Attribute5Line {
    stroke: #2773BF;
}

.jchartfx .Attribute5Alt {
    fill: #2773BF;
}

.jchartfx .Attribute6 {
    fill: #909090;
    stroke: #6C6C6C;
}

.jchartfx .Attribute6Line {
    stroke: #6C6C6C;
}

.jchartfx .Attribute6Alt {
    fill: #6C6C6C;
}

.jchartfx .Attribute7 {
    fill: #FF4488;
    stroke: #C03366;
}

.jchartfx .Attribute7Line {
    stroke: #C03366;
}

.jchartfx .Attribute7Alt {
    fill: #C03366;
}

.jchartfx .Attribute8 {
    fill: #FFBD21;
    stroke: #C08E19;
}

.jchartfx .Attribute8Line {
    stroke: #C08E19;
}

.jchartfx .Attribute8Alt {
    fill: #C08E19;
}

.jchartfx .Attribute9 {
    fill: #A9DFDF;
    stroke: #7FA8A8;
}

.jchartfx .Attribute9Line {
    stroke: #7FA8A8;
}

.jchartfx .Attribute9Alt {
    fill: #7FA8A8;
}

.jchartfx .Attribute10 {
    fill: #FFA4C7;
    stroke: #C07B96;
}

.jchartfx .Attribute10Line {
    stroke: #C07B96;
}

.jchartfx .Attribute10Alt {
    fill: #C07B96;
}

.jchartfx .Attribute11 {
    fill: #54C1C6;
    stroke: #3F9195;
}

.jchartfx .Attribute11Line {
    stroke: #3F9195;
}

.jchartfx .Attribute11Alt {
    fill: #3F9195;
}

.jchartfx .Attribute12 {
    fill: #D04500;
    stroke: #9C3400;
}

.jchartfx .Attribute12Line {
    stroke: #9C3400;
}

.jchartfx .Attribute12Alt {
    fill: #FF5600;
}

.jchartfx .Attribute13 {
    fill: #F99803;
    stroke: #BB7203;
}

.jchartfx .Attribute13Line {
    stroke: #BB7203;
}

.jchartfx .Attribute13Alt {
    fill: #FFBE03;
}

.jchartfx .Attribute14 {
    fill: #78C817;
    stroke: #5A9612;
}

.jchartfx .Attribute14Line {
    stroke: #5A9612;
}

.jchartfx .Attribute14Alt {
    fill: #96FA1C;
}

.jchartfx .Attribute15 {
    fill: #1365D7;
    stroke: #0F4CA2;
}

.jchartfx .Attribute15Line {
    stroke: #0F4CA2;
}

.jchartfx .Attribute15Alt {
    fill: #177EFF;
}

.jchartfx .MarkerHollow {
    fill: #FFFFFF;
}

.jchartfx .Border {
    fill: #FFFFFF;
    stroke: #CCCCCC;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #BBBBBB;
}

.jchartfx .PlotArea3D {
    fill: #F3F3F3;
    stroke: #BBBBBB;
}

.jchartfx .CustomGridLine {
    stroke: #54C1C6;
}

.jchartfx .CustomGridLineLabel {
    fill: #8A8B8F;
}

.jchartfx .AxisY_Section {
    fill: #C5E8E8;
    stroke: #C5E8E8;
}

.jchartfx .AxisX_Section {
    fill: #C5E8E8;
    stroke: #C5E8E8;
}

.jchartfx .AxisY_Text {
    fill: #8A8B8F;
}

.jchartfx .AxisY_Major {
    stroke: #BBBBBB;
}

.jchartfx .AxisY_Minor {
    stroke: #BBBBBB;
}

.jchartfx .AxisY_Interlaced {
    fill: #F3F3F3;
}

.jchartfx .AxisY_Line {
    stroke: #BBBBBB;
}

.jchartfx .AxisX_Text {
    fill: #8A8B8F;
}

.jchartfx .AxisX_Major {
    stroke: #BBBBBB;
}

.jchartfx .AxisX_Minor {
    stroke: #BBBBBB;
}

.jchartfx .AxisX_Interlaced {
    fill: #F3F3F3;
}

.jchartfx .AxisX_Line {
    stroke: #BBBBBB;
}

.jchartfx .PointLabelBorder {
    fill: #68696C;
    stroke: #8A8B8F;
}

.jchartfx .Title {
    fill: #48494D;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #CCCCCC;
}

.jchartfx .LegendItem {
    fill: #A8A8A8;
}

.jchartfx .ScrollBar {
    fill: transparent;
    stroke: #BBBBBB;
}

.jchartfx .ScrollThumb {
    fill: #BBBBBB;
}

.jchartfx .ScrollArrow {
    fill: #BBBBBB;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #E7E7E7;
}

.jchartfx .DataGrid_Back {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_GridLine {
    fill: #E7E7E7;
}

.jchartfx .DataGridText {
    fill: #8A8B8F;
}

.jchartfx .DataGridTextAlternate {
    fill: #8A8B8F;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #F3F3F3;
}

.jchartfx .DataGrid_RowHeader {
    fill: #8A8B8F;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #8A8B8F;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #8A8B8F;
}

.jchartfx .AnnotationText {
    fill: #8A8B8F;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #8A8B8F;
}

.jchartfx .AnnotationBalloonText {
    fill: #8A8B8F;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #8A8B8F;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #8A8B8F;
}

.jchartfx .AnnotationArrow {
    fill: #8A8B8F;
    stroke: #8A8B8F;
}

.jchartfx .AnnotationArc {
    fill: #8A8B8F;
    stroke: #8A8B8F;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #8A8B8F;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #8A8B8F;
}

.jchartfx .HeatMap0 {
    fill: #A8D350;
}

.jchartfx .HeatMap1 {
    fill: #FDD25F;
}

.jchartfx .EqualizerTop0 {
    fill: #FDD25F;
    stroke: #BE9E48;
}

.jchartfx .EqualizerTop1 {
    fill: #F47528;
    stroke: #B7581E;
}

.jchartfx .Indicator {
    fill: #F47528;
    stroke: #B7581E;
}

.jchartfx .Cap {
    fill: #E9E9E9;
}

.jchartfx .Bar {
    stroke: #E9E9E9;
    fill: #E9E9E9;
}

.jchartfx .TickMajor {
    stroke: #BBBBBB;
    fill: #BBBBBB;
}

.jchartfx .TickMedium {
    stroke: #BBBBBB;
    fill: #BBBBBB;
}

.jchartfx .GaugeText {
    fill: #8A8B8F;
}

.jchartfx .GaugeTitle {
    fill: #48494D;
}

.jchartfx .GaugeTitleLarge {
    fill: #48494D;
}

.jchartfx .GaugeSection2 {
    fill: #ED3B6B;
    stroke: #B22D51;
}

.jchartfx .GaugeSection1 {
    fill: #FDD25F;
    stroke: #BE9E48;
}

.jchartfx .GaugeSection0 {
    fill: #A8D350;
    stroke: #7E9F3C;
}

.jchartfx .Separator {
    stroke: #BBBBBB;
}

.jchartfx .MapContext {
    fill: #ffffff;
    stroke: #c6c6c6;
}

.jchartfx .MapWater {
    fill: #dcffff;
    stroke: #a4d0e7;
}

.jchartfx .MapOcean0 {
    fill: #a4d0e7;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #96c2d9;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #88b4cb;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #7ba7bd;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #6e9aaf;
    stroke: none;
}

.jchartfx .MapAttribute0 {
    fill: #a8d350;
    stroke: #709c14;
}

.jchartfx .MapAttribute1 {
    fill: #fdd25f;
    stroke: #c19c28;
}

.jchartfx .MapAttribute2 {
    fill: #f47528;
    stroke: #b44100;
}

.jchartfx .MapAttribute3 {
    fill: #71991f;
    stroke: #3b6600;
}

.jchartfx .MapAttribute4 {
    fill: #b58e25;
    stroke: #7c5c00;
}

.jchartfx .MapAttribute5 {
    fill: #af6f48;
    stroke: #773f1a;
}

.jchartfx .MapAttribute6 {
    fill: #5a604d;
    stroke: #2c3221;
}

.jchartfx .MapAttribute7 {
    fill: #6e6858;
    stroke: #3e392b;
}

.jchartfx .MapRoad {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: .3;
}

.jchartfx .MapRoadBack {
    stroke:#FFFFFF;
    stroke-opacity: .1;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #E2C195;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #FFFFFF;
    stroke: #CCCCCC;
}

.jchartfx .MapPlot {
    fill: #6e9aaf;
    fill-opacity: 0;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #48494D;
}

.jchartfx .DashboardTitle {
    fill: #48494D;
}

.jchartfx .DashboardCaption {
    fill: #F47528;
    stroke: #FFFFFF;
}

.jchartfx .EqualizerOff {
    fill: #BBBBBB;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #444444;
}

.jchartfx .MapShadow {
    fill: #E9E9E9;
}

.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #E9E9E9;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #FFFFFF;
    border-color: #E7E7E7;
    box-shadow: 0px 0px 5px 3px rgba(68, 68,  68, .30);
}

.jchartfx_container table thead tr th {
    background-color: #E7E7E7;
    border-color: #D8D8D8;
    border-bottom-color: #BBBBBB;
    color: #8A8B8F;
}

.jchartfx_container table tbody tr td {
    color: #8A8B8F;
    border-color: #D8D8D8;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #FFFFFF;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #F3F3F3;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #48494D;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #8A8B8F;
}

.jchartfx_container .labelIndicator {
    color: #8A8B8F;
}

.jchartfx_container .label {
    color: #8A8B8F;
}

.jchartfx_container .smallLabel {
    color: #8A8B8F;
}

.jchartfx .MapDefaultAttribute {
    fill: #ffffff;
    stroke: #c6c6c6;
}

.jchartfx .Filler {
    fill: #F47528;
    stroke: #B7581E;
}

.jchartfx .GaugeMarker {
    fill: #F47528;
    stroke: #B7581E;
}

.jchartfx .Needle {
    fill: #999999;
    stroke: #939393;
}

.jchartfx .BorderMedium {
    fill: #FFFFFF;
    stroke: #CCCCCC;
}

.jchartfx .BorderThick {
    fill: #FFFFFF;
    stroke: #CCCCCC;
}

.jchartfx .Border0 {
    stroke: #FFFF85;
    fill: #FFFF85;
}

.jchartfx .Border1 {
    stroke: #FFFF9E;
    fill: #FFFF9E;
}

.jchartfx .Border2 {
    stroke: #FFC342;
    fill: #FFC342;
}

.jchartfx .Border3 {
    stroke: #FF62B2;
    fill: #FF62B2;
}

.jchartfx .Border4 {
    stroke: #82FFFF;
    fill: #82FFFF;
}

.jchartfx .Border5 {
    stroke: #55FFFF;
    fill: #55FFFF;
}

.jchartfx .Border6 {
    stroke: #F0F0F0;
    fill: #F0F0F0;
}

.jchartfx .Border7 {
    stroke: #FF71E2;
    fill: #FF71E2;
}

.jchartfx-menu-callout {
  border-color: rgba(255,255,255,0);
  background-color: rgba(255, 255, 255, 0);
  color: #A8A8A8;
}

.jchartfx-menu-callout:hover {
  border-color: rgba(204,204,204,1);
  background-color: rgba(204, 204, 204, 0.5);
}

.jchartfx-menu {
  border-color: rgba(204,204,204,1);
 }

.jchartfx .GreaterThan {
    fill: #F47528;
    stroke: #F47528;
}

.jchartfx .LessThan {
    fill: #ED3B6B;
    stroke: #ED3B6B;
}

.jchartfx .EqualsTo {
    fill: #FDD25F;
    stroke: #FDD25F;
}

.jchartfx .InsideLabel0 {
    fill: #3F4F1E;
}

.jchartfx .InsideLabel1 {
    fill: #5F4F24;
}

.jchartfx .InsideLabel2 {
    fill: #5B2C0F;
}

.jchartfx .InsideLabel3 {
    fill: #591628;
}

.jchartfx .InsideLabel4 {
    fill: #1D4949;
}

.jchartfx .InsideLabel5 {
    fill: #13395F;
}

.jchartfx .InsideLabel6 {
    fill: #363636;
}

.jchartfx .InsideLabel7 {
    fill: #601933;
}

.jchartfx .InsideLabel8 {
    fill: #60470C;
}

.jchartfx .InsideLabel9 {
    fill: #3F5454;
}

.jchartfx .InsideLabel10 {
    fill: #603D4B;
}

.jchartfx .InsideLabel11 {
    fill: #1F484A;
}

.jchartfx .InsideLabel12 {
    fill: #FF7300;
}

.jchartfx .InsideLabel13 {
    fill: #FFFD05;
}

.jchartfx .InsideLabel14 {
    fill: #C8FF26;
}

.jchartfx .InsideLabel15 {
    fill: #1FA8FF;
}

.jchartfx .EmptyMarker {
    stroke: #999999;
    fill: #BBBBBB;
}

.jchartfx .Repeater {
    fill: #F47528;
    stroke: #B7581E;
}

.jchartfx .RepeaterOff {
    fill: #444444;
    stroke: #444444;
}