.jchartfx_body {
    background-color: #FFFFFF;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #F7F9F9;
    stroke: #000000;
}

.jchartfx .Attribute0 {
    fill: #1C5E55;
    stroke: #154740;
}

.jchartfx .Attribute0Line {
    stroke: #154740;
}

.jchartfx .Attribute0Alt {
    fill: #23756A;
}

.jchartfx .Attribute1 {
    fill: #00A0C4;
    stroke: #007893;
}

.jchartfx .Attribute1Line {
    stroke: #007893;
}

.jchartfx .Attribute1Alt {
    fill: #00C8F5;
}

.jchartfx .Attribute2 {
    fill: #A5E57A;
    stroke: #7CAC5C;
}

.jchartfx .Attribute2Line {
    stroke: #7CAC5C;
}

.jchartfx .Attribute2Alt {
    fill: #7CAC5C;
}

.jchartfx .Attribute3 {
    fill: #C5AEFA;
    stroke: #9483BC;
}

.jchartfx .Attribute3Line {
    stroke: #9483BC;
}

.jchartfx .Attribute3Alt {
    fill: #9483BC;
}

.jchartfx .Attribute4 {
    fill: #E50091;
    stroke: #AC006D;
}

.jchartfx .Attribute4Line {
    stroke: #AC006D;
}

.jchartfx .Attribute4Alt {
    fill: #FF00B5;
}

.jchartfx .Attribute5 {
    fill: #FFC800;
    stroke: #C09600;
}

.jchartfx .Attribute5Line {
    stroke: #C09600;
}

.jchartfx .Attribute5Alt {
    fill: #C09600;
}

.jchartfx .Attribute6 {
    fill: #0A32C4;
    stroke: #082693;
}

.jchartfx .Attribute6Line {
    stroke: #082693;
}

.jchartfx .Attribute6Alt {
    fill: #0C3EF5;
}

.jchartfx .Attribute7 {
    fill: #39A030;
    stroke: #2B7824;
}

.jchartfx .Attribute7Line {
    stroke: #2B7824;
}

.jchartfx .Attribute7Alt {
    fill: #47C83C;
}

.jchartfx .Attribute8 {
    fill: #5D7B9D;
    stroke: #465D76;
}

.jchartfx .Attribute8Line {
    stroke: #465D76;
}

.jchartfx .Attribute8Alt {
    fill: #7499C4;
}

.jchartfx .Attribute9 {
    fill: #990000;
    stroke: #730000;
}

.jchartfx .Attribute9Line {
    stroke: #730000;
}

.jchartfx .Attribute9Alt {
    fill: #BF0000;
}

.jchartfx .Attribute10 {
    fill: #ADD6FF;
    stroke: #82A1C0;
}

.jchartfx .Attribute10Line {
    stroke: #82A1C0;
}

.jchartfx .Attribute10Alt {
    fill: #82A1C0;
}

.jchartfx .Attribute11 {
    fill: #6500A8;
    stroke: #4C007E;
}

.jchartfx .Attribute11Line {
    stroke: #4C007E;
}

.jchartfx .Attribute11Alt {
    fill: #7E00D2;
}

.jchartfx .Attribute12 {
    fill: #FFA38E;
    stroke: #C07B6B;
}

.jchartfx .Attribute12Line {
    stroke: #C07B6B;
}

.jchartfx .Attribute12Alt {
    fill: #C07B6B;
}

.jchartfx .Attribute13 {
    fill: #FF0000;
    stroke: #C00000;
}

.jchartfx .Attribute13Line {
    stroke: #C00000;
}

.jchartfx .Attribute13Alt {
    fill: #C00000;
}

.jchartfx .Attribute14 {
    fill: #0B2585;
    stroke: #091C64;
}

.jchartfx .Attribute14Line {
    stroke: #091C64;
}

.jchartfx .Attribute14Alt {
    fill: #0D2EA6;
}

.jchartfx .Attribute15 {
    fill: #507CD1;
    stroke: #3C5D9D;
}

.jchartfx .Attribute15Line {
    stroke: #3C5D9D;
}

.jchartfx .Attribute15Alt {
    fill: #3C5D9D;
}

.jchartfx .MarkerHollow {
    fill: #FFFFFF;
}

.jchartfx .Border {
    fill: #E3EAEB;
    stroke: #1C5E55;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #C5BBAF;
}

.jchartfx .PlotArea3D {
    fill: #E3EAEB;
    stroke: #C5BBAF;
}

.jchartfx .CustomGridLine {
    stroke: #FFA38E;
}

.jchartfx .CustomGridLineLabel {
    fill: #000000;
}

.jchartfx .AxisY_Section {
    fill: #FFC7BA;
    stroke: #FFC7BA;
}

.jchartfx .AxisX_Section {
    fill: #FFC7BA;
    stroke: #FFC7BA;
}

.jchartfx .AxisY_Text {
    fill: #000000;
}

.jchartfx .AxisY_Major {
    stroke: #C5BBAF;
}

.jchartfx .AxisY_Minor {
    stroke: #C5BBAF;
}

.jchartfx .AxisY_Interlaced {
    fill: #FFFFFF;
}

.jchartfx .AxisY_Line {
    stroke: #C5BBAF;
}

.jchartfx .AxisX_Text {
    fill: #000000;
}

.jchartfx .AxisX_Major {
    stroke: #C5BBAF;
}

.jchartfx .AxisX_Minor {
    stroke: #C5BBAF;
}

.jchartfx .AxisX_Interlaced {
    fill: #FFFFFF;
}

.jchartfx .AxisX_Line {
    stroke: #C5BBAF;
}

.jchartfx .PointLabel {
    fill: #000000;
}

.jchartfx .PointLabelBorder {
    fill: #000000;
    stroke: #000000;
}

.jchartfx .Title {
    fill: #000000;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #1C5E55;
}

.jchartfx .LegendItem {
    fill: #000000;
}

.jchartfx .ScrollBar {
    fill: #E3EAEB;
    stroke: #C5BBAF;
}

.jchartfx .ScrollThumb {
    fill: #C5BBAF;
}

.jchartfx .ScrollArrow {
    fill: #C5BBAF;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #1C5E55;
}

.jchartfx .DataGrid_Back {
    fill: #EFF3FB;
}

.jchartfx .DataGrid_GridLine {
    fill: #C5BBAF;
}

.jchartfx .DataGridText {
    fill: #000000;
}

.jchartfx .DataGridTextAlternate {
    fill: #000000;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #E3EAEB;
}

.jchartfx .DataGrid_RowHeader {
    fill: #000000;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #000000;
}

.jchartfx .AnnotationText {
    fill: #000000;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #000000;
}

.jchartfx .AnnotationBalloonText {
    fill: #000000;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #000000;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #000000;
}

.jchartfx .AnnotationArrow {
    fill: #000000;
    stroke: #000000;
}

.jchartfx .AnnotationArc {
    fill: #000000;
    stroke: #000000;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #000000;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #000000;
}

.jchartfx .HeatMap0 {
    fill: #1C5E55;
}

.jchartfx .HeatMap1 {
    fill: #00A0C4;
}

.jchartfx .EqualizerTop0 {
    stroke: #007893;
    fill: #00A0C4;
}

.jchartfx .EqualizerTop1 {
    stroke: #7CAC5C;
    fill: #A5E57A;
}

.jchartfx_gauge .Border {
    fill: #E3EAEB;
    stroke: #1C5E55;
}

.jchartfx_gauge .Indicator {
    fill: #1C5E55;
    stroke: #154740;
}

.jchartfx_gauge .Cap {
    fill: #000000;
}

.jchartfx_gauge .Bar {
    stroke: #C5BBAF;
    fill: #EFF3FB;
}

.jchartfx_gauge .TickMajor {
    stroke: #C5BBAF;
    fill: #C5BBAF;
}

.jchartfx_gauge .TickMedium {
    stroke: #C5BBAF;
    fill: #C5BBAF;
}

.jchartfx_gauge .Text {
    fill: #000000;
}

.jchartfx_gauge .Title {
    fill: #000000;
}

.jchartfx_gauge .Section0 {
    fill: #990000;
    stroke: #730000;
}

.jchartfx_gauge .Section1 {
    fill: #FFC800;
    stroke: #C09600;
}

.jchartfx_gauge .Section2 {
    fill: #A5E57A;
    stroke: #7CAC5C;
}

.jchartfx_gauge .GreaterThan {
    fill: #A5E57A;
}

.jchartfx_gauge .LessThan {
    fill: #990000;
}

.jchartfx_gauge .EqualsTo {
    fill: #FFC800;
}

.jchartfx_gauge .Separator {
    stroke: #C5BBAF;
}

.jchartfx .MapContext {
    fill: #e3eaeb;
    stroke: #acb2b3;
}

.jchartfx .MapWater {
    fill: #92ffff;
    stroke: #52c9ee;
}

.jchartfx .MapOcean0 {
    fill: #52c9ee;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #40bbe0;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #2aadd2;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #02a0c4;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #0093b6;
    stroke: none;
}

.jchartfx .MapOcean4 {
    fill: #618da2 !important;
    stroke: none;
}

.jchartfx .MapAttribute0 {
    fill: #1c5e55;
    stroke: #002f28;
}

.jchartfx .MapAttribute1 {
    fill: #a5e57a;
    stroke: #6ead46;
}

.jchartfx .MapAttribute2 {
    fill: #c5aefa;
    stroke: #8e79c1;
}

.jchartfx .MapAttribute3 {
    fill: #0f4d44;
    stroke: #002119;
}

.jchartfx .MapAttribute4 {
    fill: #56a521;
    stroke: #157000;
}

.jchartfx .MapAttribute5 {
    fill: #4f24b3;
    stroke: #00007d;
}

.jchartfx .MapAttribute6 {
    fill: #a3ccc6;
    stroke: #6e9690;
}

.jchartfx .MapAttribute7 {
    fill: #5a6651;
    stroke: #2c3724;
}

.jchartfx .MapRoad {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: .3;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .1;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #E2C195;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #E3EAEB;
    stroke: #1C5E55;
}

.jchartfx .MapPlot {
    fill: #0093b6;
    fill-opacity: 0;
}

.jchartfx_gauge .TitleLarge {
    fill: #000000;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #000000;
}

.jchartfx_gauge .DashboardTitle {
    fill: #000000;
}

.jchartfx .DashboardCaption {
    fill: #1C5E55;
    stroke: #FFFFFF;
}

.jchartfx_gauge .DashboardCaption {
    fill: #1C5E55;
    stroke: #FFFFFF;
}

.jchartfx .EqualizerOff {
        fill: #C5BBAF;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #444444;
}

.jchartfx_gauge .Glow {
    fill: #444444;
}

.jchartfx .MapShadow {
    fill: #444444;
    fill-opacity: 0.3;
}







.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #EFF3FB;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #EFF3FB;
    border-color: #C5BBAF;
    box-shadow: 0px 0px 5px 3px rgba(68, 68,  68, .30);
}

.jchartfx_container table thead tr th {
    background-color: #1C5E55;
    border-color: #C5BBAF;
    border-bottom-color: #C5BBAF;
    color: #FFFFFF;
}

.jchartfx_container table tbody tr td {
    color: #000000;
    border-color: #C5BBAF;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #EFF3FB;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #E3EAEB;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #000000;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #000000;
}

.jchartfx_container .labelIndicator {
    color: #000000;
}

.jchartfx_container .label {
    color: #000000;
}

.jchartfx_container .smallLabel {
    color: #000000;
}

.jchartfx_gauge .BorderMedium {
    fill: #E3EAEB;
    stroke: #1C5E55;
}

.jchartfx_gauge .BorderThick {
    fill: #E3EAEB;
    stroke: #1C5E55;
}

.jchartfx .MapDefaultAttribute {
    fill: #e3eaeb;
    stroke: #acb2b3;
}

.jchartfx_gauge .Filler {
    fill: #1C5E55;
    stroke: #154740;
}

.jchartfx_gauge .Marker {
    fill: #1C5E55;
    stroke: #154740;
}

.jchartfx_gauge .Needle {
    fill: #00A0C4;
    stroke: #007893;
}

.jchartfx .BorderMedium {
    fill: #E3EAEB;
    stroke: #1C5E55;
}

.jchartfx .BorderThick {
    fill: #E3EAEB;
    stroke: #1C5E55;
}

.jchartfx .Border0 {
    stroke: #2E9C8D;
    fill: #2E9C8D;
}

.jchartfx .Border1 {
    stroke: #00FFFF;
    fill: #00FFFF;
}

.jchartfx .Border2 {
    stroke: #FFFFCB;
    fill: #FFFFCB;
}

.jchartfx .Border3 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border4 {
    stroke: #FF00F1;
    fill: #FF00F1;
}

.jchartfx .Border5 {
    stroke: #FFFF00;
    fill: #FFFF00;
}

.jchartfx .Border6 {
    stroke: #1053FF;
    fill: #1053FF;
}

.jchartfx .Border7 {
    stroke: #5FFF50;
    fill: #5FFF50;
}

.jchartfx_gauge .Border0  {
    stroke: #2E9C8D;
    fill: #2E9C8D;
}

.jchartfx_gauge .Border1  {
    stroke: #00FFFF;
    fill: #00FFFF;
}

.jchartfx_gauge .Border2  {
    stroke: #FFFFCB;
    fill: #FFFFCB;
}

.jchartfx_gauge .Border3  {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx_gauge .Border4  {
    stroke: #FF00F1;
    fill: #FF00F1;
}

.jchartfx_gauge .Border5  {
    stroke: #FFFF00;
    fill: #FFFF00;
}

.jchartfx_gauge .Border6  {
    stroke: #1053FF;
    fill: #1053FF;
}

.jchartfx_gauge .Border7  {
    stroke: #5FFF50;
    fill: #5FFF50;
}

.jchartfx .GreaterThan {
    stroke: #A5E57A;
}

.jchartfx .LessThan {
    stroke: #990000;
}

.jchartfx .EqualsTo {
    stroke: #FFC800;
}