.jchartfx_body {
    background-color: #FFFFFF;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #FFFDF9;
    stroke: #877152;
}

.jchartfx .Attribute0 {
    fill: #990000;
    stroke: #730000;
}

.jchartfx .Attribute0Line {
    stroke: #730000;
}

.jchartfx .Attribute0Alt {
    fill: #BF0000;
}

.jchartfx .Attribute1 {
    fill: #330099;
    stroke: #270073;
}

.jchartfx .Attribute1Line {
    stroke: #270073;
}

.jchartfx .Attribute1Alt {
    fill: #3F00BF;
}

.jchartfx .Attribute2 {
    fill: #E99D00;
    stroke: #AF7600;
}

.jchartfx .Attribute2Line {
    stroke: #AF7600;
}

.jchartfx .Attribute2Alt {
    fill: #FFC400;
}

.jchartfx .Attribute3 {
    fill: #BCB500;
    stroke: #8D8800;
}

.jchartfx .Attribute3Line {
    stroke: #8D8800;
}

.jchartfx .Attribute3Alt {
    fill: #EBE200;
}

.jchartfx .Attribute4 {
    fill: #006909;
    stroke: #004F07;
}

.jchartfx .Attribute4Line {
    stroke: #004F07;
}

.jchartfx .Attribute4Alt {
    fill: #00830B;
}

.jchartfx .Attribute5 {
    fill: #BBFFC0;
    stroke: #8DC090;
}

.jchartfx .Attribute5Line {
    stroke: #8DC090;
}

.jchartfx .Attribute5Alt {
    fill: #8DC090;
}

.jchartfx .Attribute6 {
    fill: #FFE316;
    stroke: #C0AB11;
}

.jchartfx .Attribute6Line {
    stroke: #C0AB11;
}

.jchartfx .Attribute6Alt {
    fill: #C0AB11;
}

.jchartfx .Attribute7 {
    fill: #009999;
    stroke: #007373;
}

.jchartfx .Attribute7Line {
    stroke: #007373;
}

.jchartfx .Attribute7Alt {
    fill: #00BFBF;
}

.jchartfx .Attribute8 {
    fill: #CB00CD;
    stroke: #99009A;
}

.jchartfx .Attribute8Line {
    stroke: #99009A;
}

.jchartfx .Attribute8Alt {
    fill: #FD00FF;
}

.jchartfx .Attribute9 {
    fill: #F4CBF5;
    stroke: #B799B8;
}

.jchartfx .Attribute9Line {
    stroke: #B799B8;
}

.jchartfx .Attribute9Alt {
    fill: #B799B8;
}

.jchartfx .Attribute10 {
    fill: #DEBA84;
    stroke: #A78C63;
}

.jchartfx .Attribute10Line {
    stroke: #A78C63;
}

.jchartfx .Attribute10Alt {
    fill: #A78C63;
}

.jchartfx .Attribute11 {
    fill: #3A0000;
    stroke: #2C0000;
}

.jchartfx .Attribute11Line {
    stroke: #2C0000;
}

.jchartfx .Attribute11Alt {
    fill: #480000;
}

.jchartfx .Attribute12 {
    fill: #738A9C;
    stroke: #576875;
}

.jchartfx .Attribute12Line {
    stroke: #576875;
}

.jchartfx .Attribute12Alt {
    fill: #576875;
}

.jchartfx .Attribute13 {
    fill: #70D2FF;
    stroke: #549EC0;
}

.jchartfx .Attribute13Line {
    stroke: #549EC0;
}

.jchartfx .Attribute13Alt {
    fill: #549EC0;
}

.jchartfx .Attribute14 {
    fill: #4FFF5D;
    stroke: #3CC046;
}

.jchartfx .Attribute14Line {
    stroke: #3CC046;
}

.jchartfx .Attribute14Alt {
    fill: #3CC046;
}

.jchartfx .Attribute15 {
    fill: #FE6666;
    stroke: #BF4D4D;
}

.jchartfx .Attribute15Line {
    stroke: #BF4D4D;
}

.jchartfx .Attribute15Alt {
    fill: #BF4D4D;
}

.jchartfx .MarkerHollow {
    fill: #FFFFFF;
}

.jchartfx .Border {
    fill: #FFF7E7;
    stroke: #ECE9D8;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #DEBA84;
}

.jchartfx .PlotArea3D {
    fill: #FFFFCC;
    stroke: #DEBA84;
}

.jchartfx .CustomGridLine {
    stroke: #00AD0E;
}

.jchartfx .CustomGridLineLabel {
    fill: #330099;
}

.jchartfx .AxisY_Section {
    fill: #FFFFFF;
    stroke: #FFF7E7;
}

.jchartfx .AxisX_Section {
    fill: #FFFFFF;
    stroke: #FFF7E7;
}

.jchartfx .AxisY_Text {
    fill: #330099;
}

.jchartfx .AxisY_Major {
    stroke: #DEBA84;
}

.jchartfx .AxisY_Minor {
    stroke: #DEBA84;
}

.jchartfx .AxisY_Interlaced {
    fill: #FFFFFF;
}

.jchartfx .AxisY_Line {
    stroke: #DEBA84;
}

.jchartfx .AxisX_Text {
    fill: #330099;
}

.jchartfx .AxisX_Major {
    stroke: #DEBA84;
}

.jchartfx .AxisX_Minor {
    stroke: #DEBA84;
}

.jchartfx .AxisX_Interlaced {
    fill: #FFFFFF;
}

.jchartfx .AxisX_Line {
    stroke: #DEBA84;
}

.jchartfx .PointLabel {
    fill: #330099;
}

.jchartfx .PointLabelBorder {
    fill: #3F00BF;
    stroke: #330099;
}

.jchartfx .Title {
    fill: #990000;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #ECE9D8;
}

.jchartfx .LegendItem {
    fill: #330099;
}

.jchartfx .ScrollBar {
    fill: #FFFFCC;
    stroke: #DEBA84;
}

.jchartfx .ScrollThumb {
    fill: #DEBA84;
}

.jchartfx .ScrollArrow {
    fill: #DEBA84;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #990000;
}

.jchartfx .DataGrid_Back {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_GridLine {
    fill: #DEBA84;
}

.jchartfx .DataGridText {
    fill: #330099;
}

.jchartfx .DataGridTextAlternate {
    fill: #330099;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #FFF7E7;
}

.jchartfx .DataGrid_RowHeader {
    fill: #330099;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #FFFFCC;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #330099;
}

.jchartfx .AnnotationText {
    fill: #330099;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #330099;
}

.jchartfx .AnnotationBalloonText {
    fill: #330099;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #330099;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #330099;
}

.jchartfx .AnnotationArrow {
    fill: #330099;
    stroke: #330099;
}

.jchartfx .AnnotationArc {
    fill: #330099;
    stroke: #330099;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #330099;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #330099;
}

.jchartfx .HeatMap0 {
    fill: #990000;
}

.jchartfx .HeatMap1 {
    fill: #330099;
}

.jchartfx .EqualizerTop0 {
    stroke: #270073;
    fill: #330099;
}

.jchartfx .EqualizerTop1 {
    stroke: #AF7600;
    fill: #E99D00;
}

.jchartfx .MapContext {
    fill: #fff7e7;
    stroke: #c6bfaf;
}

.jchartfx .MapOcean0 {
    fill: #a4d0e7;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #96c2d9;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #88b4cb;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #7ba7bd;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #6e9aaf;
    stroke: none;
}

.jchartfx .MapWater {
    fill: #dcffff;
    stroke: #a4d0e7;
}

.jchartfx .MapAttribute0 {
    fill: #990000;
    stroke: #5f0000;
}

.jchartfx .MapAttribute1 {
    fill: #330099;
    stroke: #000064;
}

.jchartfx .MapAttribute2 {
    fill: #e99d00;
    stroke: #ab6a00;
}

.jchartfx .MapAttribute3 {
    fill: #4d1717;
    stroke: #280000;
}

.jchartfx .MapAttribute4 {
    fill: #29174d;
    stroke: #010022;
}

.jchartfx .MapAttribute5 {
    fill: #a88232;
    stroke: #705100;
}

.jchartfx .MapAttribute6 {
    fill: #cc7b7b;
    stroke: #93494a;
}

.jchartfx .MapAttribute7 {
    fill: #967bcc;
    stroke: #614a95;
}

.jchartfx .MapRoad {
    stroke: #8D8800;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .4;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #8D8800;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #8D8800;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #FFF7E7;
    stroke: #ECE9D8;
}

.jchartfx_gauge .Border {
    fill: #FFF7E7;
    stroke: #ECE9D8;
}

.jchartfx_gauge .Indicator {
    fill: #330099;
    stroke: #270073;
}

.jchartfx_gauge .Cap {
    fill: #DEBA84;
}

.jchartfx_gauge .Bar {
    fill: #FFFFFF;
    stroke: #DBDBD9;
}

.jchartfx_gauge .TickMajor {
    fill: #DEBA84;
    stroke: #DEBA84;
}

.jchartfx_gauge .TickMedium {
    fill: #DEBA84;
    stroke: #DEBA84;
}

.jchartfx_gauge .Text {
    fill: #330099;
}

.jchartfx_gauge .Title {
    fill: #990000;
}

.jchartfx_gauge .Section0 {
    fill: #990000;
    stroke: #730000;
}

.jchartfx_gauge .Section1 {
    fill: #E99D00;
    stroke: #AF7600;
}

.jchartfx_gauge .Section2 {
    fill: #006909;
    stroke: #004F07;
}

.jchartfx_gauge .GreaterThan {
    fill: #006909;
}

.jchartfx_gauge .LessThan {
    fill: #990000;
}

.jchartfx_gauge .EqualsTo {
    fill: #E99D00;
}

.jchartfx_gauge .Separator {
    stroke: #DEBA84;
}

.jchartfx .MapPlot {
    fill: #6e9aaf;
    fill-opacity: 0;
}

.jchartfx_gauge .TitleLarge {
    fill: #990000;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #990000;
}

.jchartfx_gauge .DashboardTitle {
    fill: #990000;
}

.jchartfx .DashboardCaption {
    fill: #330099;
    stroke: #FFFFFF;
}

.jchartfx_gauge .DashboardCaption {
    fill: #330099;
    stroke: #FFFFFF;
}

.jchartfx .EqualizerOff {
        fill: #DEBA84;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #444444;
}

.jchartfx_gauge .Glow {
    fill: #444444;
}

.jchartfx .MapShadow {
    fill: #444444;
    fill-opacity: 0.3;
}

.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #FFFFFF;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #FFFFFF;
    border-color: #DEBA84;
    box-shadow: 0px 0px 5px 3px rgba(68, 68,  68, .30);
}

.jchartfx_container table thead tr th {
    background-color: #990000;
    border-color: #DEBA84;
    border-bottom-color: #DEBA84;
    color: #FFFFCC;
}

.jchartfx_container table tbody tr td {
    color: #330099;
    border-color: #DEBA84;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #FFFFFF;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #FFF7E7;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #990000;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #330099;
}

.jchartfx_container .labelIndicator {
    color: #330099;
}

.jchartfx_container .label {
    color: #330099;
}

.jchartfx_container .smallLabel {
    color: #330099;
}

.jchartfx_gauge .BorderMedium {
    fill: #FFF7E7;
    stroke: #ECE9D8;
}

.jchartfx_gauge .BorderThick {
    fill: #FFF7E7;
    stroke: #ECE9D8;
}

.jchartfx .MapDefaultAttribute {
    fill: #fff7e7;
    stroke: #c6bfaf;
}

.jchartfx_gauge .Filler {
    fill: #330099;
    stroke: #270073;
}

.jchartfx_gauge .Marker {
    fill: #330099;
    stroke: #270073;
}

.jchartfx_gauge .Needle {
    fill: #330099;
    stroke: #270073;
}

.jchartfx .BorderMedium {
    fill: #FFF7E7;
    stroke: #ECE9D8;
}

.jchartfx .BorderThick {
    fill: #FFF7E7;
    stroke: #ECE9D8;
}

.jchartfx .Border0 {
    stroke: #FF0000;
    fill: #FF0000;
}

.jchartfx .Border1 {
    stroke: #5500FF;
    fill: #5500FF;
}

.jchartfx .Border2 {
    stroke: #FFFF00;
    fill: #FFFF00;
}

.jchartfx .Border3 {
    stroke: #FFFF00;
    fill: #FFFF00;
}

.jchartfx .Border4 {
    stroke: #00AF0F;
    fill: #00AF0F;
}

.jchartfx .Border5 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border6 {
    stroke: #FFFF24;
    fill: #FFFF24;
}

.jchartfx .Border7 {
    stroke: #00FFFF;
    fill: #00FFFF;
}

.jchartfx_gauge .Border0  {
    stroke: #FF0000;
    fill: #FF0000;
}

.jchartfx_gauge .Border1  {
    stroke: #5500FF;
    fill: #5500FF;
}

.jchartfx_gauge .Border2  {
    stroke: #FFFF00;
    fill: #FFFF00;
}

.jchartfx_gauge .Border3  {
    stroke: #FFFF00;
    fill: #FFFF00;
}

.jchartfx_gauge .Border4  {
    stroke: #00AF0F;
    fill: #00AF0F;
}

.jchartfx_gauge .Border5  {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx_gauge .Border6  {
    stroke: #FFFF24;
    fill: #FFFF24;
}

.jchartfx_gauge .Border7  {
    stroke: #00FFFF;
    fill: #00FFFF;
}

.jchartfx-menu .selectable li.active {
    border: 1px solid;
    border-color: #330099;
    box-shadow: inset 0 0 0px 0px #330099;
    background: rgba(51,0,153, 0.2);
}

.jchartfx .GreaterThan {
    stroke: #006909;
}

.jchartfx .LessThan {
    stroke: #990000;
}

.jchartfx .EqualsTo {
    stroke: #E99D00;
}