.jchartfx_body {
    background-color: #FFFFFF;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #F9F9F9;
    stroke: #404040;
}

.jchartfx .Attribute0 {
    fill: #0066FF;
    stroke: #004DC0;
}

.jchartfx .Attribute0Line {
    stroke: #004DC0;
}

.jchartfx .Attribute0Alt {
    fill: #004DC0;
}

.jchartfx .Attribute1 {
    fill: #33CC33;
    stroke: #279927;
}

.jchartfx .Attribute1Line {
    stroke: #279927;
}

.jchartfx .Attribute1Alt {
    fill: #279927;
}

.jchartfx .Attribute2 {
    fill: #FF3300;
    stroke: #C02700;
}

.jchartfx .Attribute2Line {
    stroke: #C02700;
}

.jchartfx .Attribute2Alt {
    fill: #C02700;
}

.jchartfx .Attribute3 {
    fill: #FFCC00;
    stroke: #C09900;
}

.jchartfx .Attribute3Line {
    stroke: #C09900;
}

.jchartfx .Attribute3Alt {
    fill: #C09900;
}

.jchartfx .Attribute4 {
    fill: #0099FF;
    stroke: #0073C0;
}

.jchartfx .Attribute4Line {
    stroke: #0073C0;
}

.jchartfx .Attribute4Alt {
    fill: #0073C0;
}

.jchartfx .Attribute5 {
    fill: #FF9900;
    stroke: #C07300;
}

.jchartfx .Attribute5Line {
    stroke: #C07300;
}

.jchartfx .Attribute5Alt {
    fill: #C07300;
}

.jchartfx .Attribute6 {
    fill: #339999;
    stroke: #277373;
}

.jchartfx .Attribute6Line {
    stroke: #277373;
}

.jchartfx .Attribute6Alt {
    fill: #3FBFBF;
}

.jchartfx .Attribute7 {
    fill: #CCCCFF;
    stroke: #9999C0;
}

.jchartfx .Attribute7Line {
    stroke: #9999C0;
}

.jchartfx .Attribute7Alt {
    fill: #9999C0;
}

.jchartfx .Attribute8 {
    fill: #FFFF33;
    stroke: #C0C027;
}

.jchartfx .Attribute8Line {
    stroke: #C0C027;
}

.jchartfx .Attribute8Alt {
    fill: #C0C027;
}

.jchartfx .Attribute9 {
    fill: #66FFFF;
    stroke: #4DC0C0;
}

.jchartfx .Attribute9Line {
    stroke: #4DC0C0;
}

.jchartfx .Attribute9Alt {
    fill: #4DC0C0;
}

.jchartfx .Attribute10 {
    fill: #000099;
    stroke: #000073;
}

.jchartfx .Attribute10Line {
    stroke: #000073;
}

.jchartfx .Attribute10Alt {
    fill: #0000BF;
}

.jchartfx .Attribute11 {
    fill: #00FF00;
    stroke: #00C000;
}

.jchartfx .Attribute11Line {
    stroke: #00C000;
}

.jchartfx .Attribute11Alt {
    fill: #00C000;
}

.jchartfx .Attribute12 {
    fill: #990000;
    stroke: #730000;
}

.jchartfx .Attribute12Line {
    stroke: #730000;
}

.jchartfx .Attribute12Alt {
    fill: #BF0000;
}

.jchartfx .Attribute13 {
    fill: #006633;
    stroke: #004D27;
}

.jchartfx .Attribute13Line {
    stroke: #004D27;
}

.jchartfx .Attribute13Alt {
    fill: #007F3F;
}

.jchartfx .Attribute14 {
    fill: #FF00FF;
    stroke: #C000C0;
}

.jchartfx .Attribute14Line {
    stroke: #C000C0;
}

.jchartfx .Attribute14Alt {
    fill: #C000C0;
}

.jchartfx .Attribute15 {
    fill: #FF6600;
    stroke: #C04D00;
}

.jchartfx .Attribute15Line {
    stroke: #C04D00;
}

.jchartfx .Attribute15Alt {
    fill: #C04D00;
}

.jchartfx .MarkerHollow {
    fill: #FFFFFF;
}

.jchartfx .Border {
    fill: #DDDDDD;
    stroke: #666666;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #404040;
}

.jchartfx .PlotArea3D {
    fill: #FFFFFF;
    stroke: #404040;
}

.jchartfx .CustomGridLine {
    stroke: window;
}

.jchartfx .CustomGridLineLabel {
    fill: #404040;
}

.jchartfx .AxisY_Section {
    fill: window;
    stroke: window;
}

.jchartfx .AxisX_Section {
    fill: window;
    stroke: window;
}

.jchartfx .AxisY_Text {
    fill: #404040;
}

.jchartfx .AxisY_Major {
    stroke: #404040;
}

.jchartfx .AxisY_Minor {
    stroke: #404040;
}

.jchartfx .AxisY_Interlaced {
    fill: #DDDDDD;
}

.jchartfx .AxisY_Line {
    stroke: #404040;
}

.jchartfx .AxisX_Text {
    fill: #404040;
}

.jchartfx .AxisX_Major {
    stroke: #404040;
}

.jchartfx .AxisX_Minor {
    stroke: #404040;
}

.jchartfx .AxisX_Interlaced {
    fill: #DDDDDD;
}

.jchartfx .AxisX_Line {
    stroke: #404040;
}

.jchartfx .PointLabel {
    fill: #404040;
}

.jchartfx .PointLabelBorder {
    fill: #505050;
    stroke: #404040;
}

.jchartfx .Title {
    fill: #000000;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #666666;
}

.jchartfx .LegendItem {
    fill: #404040;
}

.jchartfx .ScrollBar {
    fill: #FFFFFF;
    stroke: #404040;
}

.jchartfx .ScrollThumb {
    fill: #404040;
}

.jchartfx .ScrollArrow {
    fill: #404040;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #666666;
}

.jchartfx .DataGrid_Back {
    fill: #DDDDDD;
}

.jchartfx .DataGrid_GridLine {
    fill: #7F7F7F;
}

.jchartfx .DataGridText {
    fill: #404040;
}

.jchartfx .DataGridTextAlternate {
    fill: #404040;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: window;
}

.jchartfx .DataGrid_RowHeader {
    fill: #404040;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: window;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #404040;
}

.jchartfx .AnnotationText {
    fill: #404040;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #404040;
}

.jchartfx .AnnotationBalloonText {
    fill: #404040;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #404040;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #404040;
}

.jchartfx .AnnotationArrow {
    fill: #404040;
    stroke: #404040;
}

.jchartfx .AnnotationArc {
    fill: #404040;
    stroke: #404040;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #404040;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #404040;
}

.jchartfx .HeatMap0 {
    fill: #0066FF;
}

.jchartfx .HeatMap1 {
    fill: #33CC33;
}

.jchartfx .EqualizerTop0 {
    stroke: #279927;
    fill: #33CC33;
}

.jchartfx .EqualizerTop1 {
    stroke: #C02700;
    fill: #FF3300;
}

.jchartfx_gauge .Border {
    fill: #DDDDDD;
    stroke: #666666;
}

.jchartfx_gauge .Indicator {
    fill: #0066FF;
    stroke: #004DC0;
}

.jchartfx_gauge .Cap {
    fill: #404040;
}

.jchartfx_gauge .Bar {
    stroke: #404040;
    fill: #FFFFFF;
}

.jchartfx_gauge .TickMajor {
    stroke: #404040;
    fill: #404040;
}

.jchartfx_gauge .TickMedium {
    stroke: #404040;
    fill: #404040;
}

.jchartfx_gauge .Text {
    fill: #404040;
}

.jchartfx_gauge .Title {
    fill: #000000;
}

.jchartfx_gauge .Section2 {
    fill: #33CC33;
    stroke: #279927;
}

.jchartfx_gauge .Section0 {
    fill: #FF3300;
    stroke: #C02700;
}

.jchartfx_gauge .Section1 {
    fill: #FFCC00;
    stroke: #C09900;
}

.jchartfx_gauge .GreaterThan {
    fill: #33CC33;
}

.jchartfx_gauge .LessThan {
    fill: #FF3300;
}

.jchartfx_gauge .EqualsTo {
    fill: #FFCC00;
}

.jchartfx_gauge .Separator {
    stroke: #404040;
}

.jchartfx .MapContext {
    fill: #dddddd;
    stroke: #a6a6a6;
}

.jchartfx .MapWater {
    fill: #9ec0ff;
    stroke: #5f8bff;
}

.jchartfx .MapOcean0 {
    fill: #5f8bff;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #4e7ef0;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #3b72e2;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #2466d4;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #005ac6;
    stroke: none;
}

.jchartfx .MapOcean4 {
    fill: #618da2 !important;
    stroke: none;
}

.jchartfx .MapAttribute0 {
    fill: #33cc33;
    stroke: #009400;
}

.jchartfx .MapAttribute1 {
    fill: #ff3300;
    stroke: #bc0000;
}

.jchartfx .MapAttribute2 {
    fill: #ffcc00;
    stroke: #c19600;
}

.jchartfx .MapAttribute3 {
    fill: #1e951e;
    stroke: #006100;
}

.jchartfx .MapAttribute4 {
    fill: #b75137;
    stroke: #7c1d0a;
}

.jchartfx .MapAttribute5 {
    fill: #b79d37;
    stroke: #7e6a00;
}

.jchartfx .MapAttribute6 {
    fill: #4b5e4b;
    stroke: #1e301f;
}

.jchartfx .MapAttribute7 {
    fill: #6f4b42;
    stroke: #3d1f17;
}

.jchartfx .MapRoad {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: .3;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .1;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #E2C195;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #DDDDDD;
    stroke: #666666;
}

.jchartfx .MapPlot {
    fill: #005ac6;
    fill-opacity: 0;
}

.jchartfx_gauge .TitleLarge {
    fill: #000000;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #000000;
}

.jchartfx_gauge .DashboardTitle {
    fill: #000000;
}

.jchartfx .DashboardCaption {
    fill: #0066FF;
    stroke: #FFFFFF;
}

.jchartfx_gauge .DashboardCaption {
    fill: #0066FF;
    stroke: #FFFFFF;
}

.jchartfx .EqualizerOff {
        fill: #404040;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #444444;
}

.jchartfx_gauge .Glow {
    fill: #444444;
}

.jchartfx .MapShadow {
    fill: #444444;
    fill-opacity: 0.3;
}







.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #FFFFFF;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #DDDDDD;
    border-color: #7F7F7F;
    box-shadow: 0px 0px 5px 3px rgba(68, 68,  68, .30);
}

.jchartfx_container table thead tr th {
    background-color: #666666;
    border-color: #7F7F7F;
    border-bottom-color: #404040;
    color: window;
}

.jchartfx_container table tbody tr td {
    color: #404040;
    border-color: #7F7F7F;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #DDDDDD;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: window;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #000000;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #404040;
}

.jchartfx_container .labelIndicator {
    color: #404040;
}

.jchartfx_container .label {
    color: #404040;
}

.jchartfx_container .smallLabel {
    color: #404040;
}

.jchartfx_gauge .BorderMedium {
    fill: #DDDDDD;
    stroke: #666666;
}

.jchartfx_gauge .BorderThick {
    fill: #DDDDDD;
    stroke: #666666;
}

.jchartfx .MapDefaultAttribute {
    fill: #dddddd;
    stroke: #a6a6a6;
}

.jchartfx_gauge .Filler {
    fill: #0066FF;
    stroke: #004DC0;
}

.jchartfx_gauge .Marker {
    fill: #0066FF;
    stroke: #004DC0;
}

.jchartfx_gauge .Needle {
    fill: #0066FF;
    stroke: #004DC0;
}

.jchartfx .BorderMedium {
    fill: #DDDDDD;
    stroke: #666666;
}

.jchartfx .BorderThick {
    fill: #DDDDDD;
    stroke: #666666;
}

.jchartfx .Border0 {
    stroke: #00AAFF;
    fill: #00AAFF;
}

.jchartfx .Border1 {
    stroke: #55FF55;
    fill: #55FF55;
}

.jchartfx .Border2 {
    stroke: #FF5500;
    fill: #FF5500;
}

.jchartfx .Border3 {
    stroke: #FFFF00;
    fill: #FFFF00;
}

.jchartfx .Border4 {
    stroke: #00FFFF;
    fill: #00FFFF;
}

.jchartfx .Border5 {
    stroke: #FFFF00;
    fill: #FFFF00;
}

.jchartfx .Border6 {
    stroke: #55FFFF;
    fill: #55FFFF;
}

.jchartfx .Border7 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx_gauge .Border0  {
    stroke: #00AAFF;
    fill: #00AAFF;
}

.jchartfx_gauge .Border1  {
    stroke: #55FF55;
    fill: #55FF55;
}

.jchartfx_gauge .Border2  {
    stroke: #FF5500;
    fill: #FF5500;
}

.jchartfx_gauge .Border3  {
    stroke: #FFFF00;
    fill: #FFFF00;
}

.jchartfx_gauge .Border4  {
    stroke: #00FFFF;
    fill: #00FFFF;
}

.jchartfx_gauge .Border5  {
    stroke: #FFFF00;
    fill: #FFFF00;
}

.jchartfx_gauge .Border6  {
    stroke: #55FFFF;
    fill: #55FFFF;
}

.jchartfx_gauge .Border7  {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .GreaterThan {
    stroke: #33CC33;
}

.jchartfx .LessThan {
    stroke: #FF3300;
}

.jchartfx .EqualsTo {
    stroke: #FFCC00;
}