.jchartfx_body {
    background-color: #FFFFFF;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #FCFCFC;
    stroke: #444444;
}

.jchartfx .PointLabel {
    fill: #444444;
}

.jchartfx .Attribute0 {
    fill: #0073EA;
    stroke: #0057B0;
}

.jchartfx .Attribute0Line {
    stroke: #0057B0;
}

.jchartfx .Attribute0Alt {
    fill: #008FFF;
}

.jchartfx .Attribute1 {
    fill: #FF0084;
    stroke: #C00063;
}

.jchartfx .Attribute1Line {
    stroke: #C00063;
}

.jchartfx .Attribute1Alt {
    fill: #C00063;
}

.jchartfx .Attribute2 {
    fill: #444444;
    stroke: #333333;
}

.jchartfx .Attribute2Line {
    stroke: #333333;
}

.jchartfx .Attribute2Alt {
    fill: #555555;
}

.jchartfx .Attribute3 {
    fill: #666666;
    stroke: #4D4D4D;
}

.jchartfx .Attribute3Line {
    stroke: #4D4D4D;
}

.jchartfx .Attribute3Alt {
    fill: #7F7F7F;
}

.jchartfx .Attribute4 {
    fill: #CCCCCC;
    stroke: #999999;
}

.jchartfx .Attribute4Line {
    stroke: #999999;
}

.jchartfx .Attribute4Alt {
    fill: #999999;
}

.jchartfx .Attribute5 {
    fill: #64D7FF;
    stroke: #4BA2C0;
}

.jchartfx .Attribute5Line {
    stroke: #4BA2C0;
}

.jchartfx .Attribute5Alt {
    fill: #4BA2C0;
}

.jchartfx .Attribute6 {
    fill: #FF64E8;
    stroke: #C04BAE;
}

.jchartfx .Attribute6Line {
    stroke: #C04BAE;
}

.jchartfx .Attribute6Alt {
    fill: #C04BAE;
}

.jchartfx .Attribute7 {
    fill: #A8A8A8;
    stroke: #7E7E7E;
}

.jchartfx .Attribute7Line {
    stroke: #7E7E7E;
}

.jchartfx .Attribute7Alt {
    fill: #7E7E7E;
}

.jchartfx .Attribute8 {
    fill: #000F86;
    stroke: #000C65;
}

.jchartfx .Attribute8Line {
    stroke: #000C65;
}

.jchartfx .Attribute8Alt {
    fill: #0012A7;
}

.jchartfx .Attribute9 {
    fill: #9B0020;
    stroke: #750018;
}

.jchartfx .Attribute9Line {
    stroke: #750018;
}

.jchartfx .Attribute9Alt {
    fill: #C10028;
}

.jchartfx .Attribute10 {
    fill: #00739B;
    stroke: #005775;
}

.jchartfx .Attribute10Line {
    stroke: #005775;
}

.jchartfx .Attribute10Alt {
    fill: #008FC1;
}

.jchartfx .Attribute11 {
    fill: #9B0084;
    stroke: #750063;
}

.jchartfx .Attribute11Line {
    stroke: #750063;
}

.jchartfx .Attribute11Alt {
    fill: #C100A5;
}

.jchartfx .Attribute12 {
    fill: #370020;
    stroke: #2A0018;
}

.jchartfx .Attribute12Line {
    stroke: #2A0018;
}

.jchartfx .Attribute12Alt {
    fill: #440028;
}

.jchartfx .Attribute13 {
    fill: #289BFF;
    stroke: #1E75C0;
}

.jchartfx .Attribute13Line {
    stroke: #1E75C0;
}

.jchartfx .Attribute13Alt {
    fill: #1E75C0;
}

.jchartfx .Attribute14 {
    fill: #FF28AC;
    stroke: #C01E81;
}

.jchartfx .Attribute14Line {
    stroke: #C01E81;
}

.jchartfx .Attribute14Alt {
    fill: #C01E81;
}

.jchartfx .Attribute15 {
    fill: #8E8E8E;
    stroke: #6B6B6B;
}

.jchartfx .Attribute15Line {
    stroke: #6B6B6B;
}

.jchartfx .Attribute15Alt {
    fill: #6B6B6B;
}

.jchartfx .MarkerHollow {
    fill: #FFFFFF;
}

.jchartfx .Border {
    fill: #FFFFFF;
    stroke: #DDDDDD;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #DDDDDD;
}

.jchartfx .PlotArea3D {
    fill: #F6F6F6;
    stroke: #DDDDDD;
}

.jchartfx .CustomGridLine {
    stroke: #0073EA;
}

.jchartfx .CustomGridLineLabel {
    fill: #444444;
}

.jchartfx .AxisY_Section {
    fill: #DDDDDD;
    stroke: #DDDDDD;
}

.jchartfx .AxisX_Section {
    fill: #DDDDDD;
    stroke: #DDDDDD;
}

.jchartfx .AxisY_Text {
    fill: #444444;
}

.jchartfx .AxisY_Major {
    stroke: #DDDDDD;
}

.jchartfx .AxisY_Minor {
    stroke: #DDDDDD;
}

.jchartfx .AxisY_Interlaced {
    fill: #FFFFFF;
}

.jchartfx .AxisY_Line {
    stroke: #DDDDDD;
}

.jchartfx .AxisX_Text {
    fill: #444444;
}

.jchartfx .AxisX_Major {
    stroke: #DDDDDD;
}

.jchartfx .AxisX_Minor {
    stroke: #DDDDDD;
}

.jchartfx .AxisX_Interlaced {
    fill: #FFFFFF;
}

.jchartfx .AxisX_Line {
    stroke: #DDDDDD;
}

.jchartfx .PointLabelBorder {
    fill: #555555;
    stroke: #444444;
}

.jchartfx .Title {
    fill: #444444;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #DDDDDD;
}

.jchartfx .LegendItem {
    fill: #444444;
}

.jchartfx .ScrollBar {
    fill: #FFFFFF;
    stroke: #DDDDDD;
}

.jchartfx .ScrollThumb {
    fill: #DDDDDD;
}

.jchartfx .ScrollArrow {
    fill: #DDDDDD;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #DDDDDD;
}

.jchartfx .DataGrid_Back {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_GridLine {
    fill: #EDEDED;
}

.jchartfx .DataGridText {
    fill: #444444;
}

.jchartfx .DataGridTextAlternate {
    fill: #444444;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #F6F6F6;
}

.jchartfx .DataGrid_RowHeader {
    fill: #444444;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #444444;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #444444;
}

.jchartfx .AnnotationText {
    fill: #444444;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #444444;
}

.jchartfx .AnnotationBalloonText {
    fill: #444444;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #444444;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #444444;
}

.jchartfx .AnnotationArrow {
    fill: #444444;
    stroke: #444444;
}

.jchartfx .AnnotationArc {
    fill: #444444;
    stroke: #444444;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #444444;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #444444;
}

.jchartfx .HeatMap0 {
    fill: #0073EA;
}

.jchartfx .HeatMap1 {
    fill: #FF0084;
}

.jchartfx .EqualizerTop0 {
    stroke: #C00063;
    fill: #FF0084;
}

.jchartfx .EqualizerTop1 {
    stroke: #333333;
    fill: #444444;
}

.jchartfx .Indicator {
    fill: #0073EA;
    stroke: #0057B0;
}

.jchartfx .Cap {
    fill: #444444;
}

.jchartfx .Bar {
    fill: #CCCCCC;
    stroke: #999999;
}

.jchartfx .TickMajor {
    stroke: #DDDDDD;
    fill: #DDDDDD;
}

.jchartfx .TickMedium {
    stroke: #DDDDDD;
    fill: #DDDDDD;
}

.jchartfx .GaugeText {
    fill: #444444;
}

.jchartfx .GaugeTitle {
    fill: #444444;
}

.jchartfx .GaugeSection0 {
    fill: #FF0084;
    stroke: #C00063;
}

.jchartfx .GaugeSection1 {
    fill: #444444;
    stroke: #333333;
}

.jchartfx .GaugeSection2 {
    fill: #64D7FF;
    stroke: #4BA2C0;
}

.jchartfx .Separator {
    stroke: #DDDDDD;
}

.jchartfx .MapContext {
    fill: #ffffff;
    stroke: #c6c6c6;
}

.jchartfx .MapWater {
    fill: #99cfff;
    stroke: #5999ff;
}

.jchartfx .MapOcean0 {
    fill: #5999ff;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #478cf0;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #337fe2;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #1773d4;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #0067c6;
    stroke: none;
}

.jchartfx .MapOcean4 {
    fill: #618da2 !important;
    stroke: none;
}

.jchartfx .MapAttribute0 {
    fill: #ff0084;
    stroke: #bf0053;
}

.jchartfx .MapAttribute1 {
    fill: #444444;
    stroke: #191919;
}

.jchartfx .MapAttribute2 {
    fill: #666666;
    stroke: #373737;
}

.jchartfx .MapAttribute3 {
    fill: #b73779;
    stroke: #7e0049;
}

.jchartfx .MapAttribute4 {
    fill: #4d4d4d;
    stroke: #212121;
}

.jchartfx .MapAttribute5 {
    fill: #4d4d4d;
    stroke: #212121;
}

.jchartfx .MapAttribute6 {
    fill: #6f4259;
    stroke: #3e152c;
}

.jchartfx .MapAttribute7 {
    fill: #cccccc;
    stroke: #969696;
}

.jchartfx .MapRoad {
    stroke: #FF64E8;
    fill: none;
    stroke-opacity: .3;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .1;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #FF64E8;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #FF64E8;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #FFFFFF;
    stroke: #DDDDDD;
}

.jchartfx .MapPlot {
    fill: #0067c6;
    fill-opacity: 0;
}

.jchartfx .GaugeTitleLarge {
    fill: #444444;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #444444;
}

.jchartfx .DashboardCaption {
    fill: #0073EA;
    stroke: #FFFFFF;
}

.jchartfx .EqualizerOff {
        fill: #DDDDDD;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #444444;
}

.jchartfx .MapShadow {
    fill: #444444;
    fill-opacity: 0.3;
}

.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #CCCCCC;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #FFFFFF;
    border-color: #EDEDED;
    box-shadow: 0px 0px 5px 3px rgba(68, 68,  68, .30);
}

.jchartfx_container table thead tr th {
    background-color: #DDDDDD;
    border-color: #EDEDED;
    border-bottom-color: #DDDDDD;
    color: #444444;
}

.jchartfx_container table tbody tr td {
    color: #444444;
    border-color: #EDEDED;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #FFFFFF;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #F6F6F6;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #444444;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #444444;
}

.jchartfx_container .labelIndicator {
    color: #444444;
}

.jchartfx_container .label {
    color: #444444;
}

.jchartfx_container .smallLabel {
    color: #444444;
}

.jchartfx .MapDefaultAttribute {
    fill: #ffffff;
    stroke: #c6c6c6;
}

.jchartfx .Filler {
    fill: #0073EA;
    stroke: #0057B0;
}

.jchartfx .GaugeMarker {
    fill: #0073EA;
    stroke: #0057B0;
}

.jchartfx .Needle {
    fill: #FF0084;
    stroke: #C00063;
}

.jchartfx .BorderMedium {
    fill: #FFFFFF;
    stroke: #DDDDDD;
}

.jchartfx .BorderThick {
    fill: #FFFFFF;
    stroke: #DDDDDD;
}

.jchartfx .Border0 {
    stroke: #00BFFF;
    fill: #00BFFF;
}

.jchartfx .Border1 {
    stroke: #FF00DC;
    fill: #FF00DC;
}

.jchartfx .Border2 {
    stroke: #717171;
    fill: #717171;
}

.jchartfx .Border3 {
    stroke: #AAAAAA;
    fill: #AAAAAA;
}

.jchartfx .Border4 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border5 {
    stroke: #A6FFFF;
    fill: #A6FFFF;
}

.jchartfx .Border6 {
    stroke: #FFA6FF;
    fill: #FFA6FF;
}

.jchartfx .Border7 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx-menu .toggle.active {
  background-color: #FF0084;
}

.jchartfx-menu td.btnposition.active a {
  background-color: #FF0084;
}

.jchartfx .GreaterThan {
    fill: #64D7FF;
    stroke: #64D7FF;
}

.jchartfx .LessThan {
    fill: #FF0084;
    stroke: #FF0084;
}

.jchartfx .EqualsTo {
    fill: #444444;
    stroke: #444444;
}

.jchartfx .InsideLabel0 {
    fill: #00BFFF;
}

.jchartfx .InsideLabel1 {
    fill: #600031;
}

.jchartfx .InsideLabel2 {
    fill: #919191;
}

.jchartfx .InsideLabel3 {
    fill: #AAAAAA;
}

.jchartfx .InsideLabel4 {
    fill: #4C4C4C;
}

.jchartfx .InsideLabel5 {
    fill: #255160;
}

.jchartfx .InsideLabel6 {
    fill: #602557;
}

.jchartfx .InsideLabel7 {
    fill: #3F3F3F;
}

.jchartfx .InsideLabel8 {
    fill: #6571CE;
}

.jchartfx .InsideLabel9 {
    fill: #FF0035;
}

.jchartfx .InsideLabel10 {
    fill: #00BFFF;
}

.jchartfx .InsideLabel11 {
    fill: #FF00DC;
}

.jchartfx .InsideLabel12 {
    fill: #C90075;
}

.jchartfx .InsideLabel13 {
    fill: #0F3A60;
}

.jchartfx .InsideLabel14 {
    fill: #600F40;
}

.jchartfx .InsideLabel15 {
    fill: #353535;
}

.jchartfx .EmptyMarker {
    fill: #BFBFBF;
    stroke: #9B9B9B;
}

.jchartfx .Repeater {
    fill: #0073EA;
    stroke: #0057B0;
}

.jchartfx .RepeaterOff {
    fill: #66D9FF;
    stroke: #66D9FF;
}

.jchartfx-menu {
    border-color: #DDDDDD;
}