.jchartfx_body {
    background-color: #848484;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #000000;
    stroke: #FFFFFF;
}

.jchartfx .PointLabel {
    fill: #FFFFFF;
}

.jchartfx .Attribute0 {
    fill: #4C4C4C;
    stroke: #393939;
}

.jchartfx .Attribute0Line {
    stroke: #393939;
}

.jchartfx .Attribute0Alt {
    fill: #5F5F5F;
}

.jchartfx .Attribute1 {
    fill: #B8EC79;
    stroke: #8AB15B;
}

.jchartfx .Attribute1Line {
    stroke: #8AB15B;
}

.jchartfx .Attribute1Alt {
    fill: #8AB15B;
}

.jchartfx .Attribute2 {
    fill: #FFFFFF;
    stroke: #C0C0C0;
}

.jchartfx .Attribute2Line {
    stroke: #C0C0C0;
}

.jchartfx .Attribute2Alt {
    fill: #C0C0C0;
}

.jchartfx .Attribute3 {
    fill: #F6ECD5;
    stroke: #B9B1A0;
}

.jchartfx .Attribute3Line {
    stroke: #B9B1A0;
}

.jchartfx .Attribute3Alt {
    fill: #B9B1A0;
}

.jchartfx .Attribute4 {
    fill: #9FDA58;
    stroke: #78A442;
}

.jchartfx .Attribute4Line {
    stroke: #78A442;
}

.jchartfx .Attribute4Alt {
    fill: #78A442;
}

.jchartfx .Attribute5 {
    fill: #96F226;
    stroke: #71B61D;
}

.jchartfx .Attribute5Line {
    stroke: #71B61D;
}

.jchartfx .Attribute5Alt {
    fill: #71B61D;
}

.jchartfx .Attribute6 {
    fill: #74736D;
    stroke: #575752;
}

.jchartfx .Attribute6Line {
    stroke: #575752;
}

.jchartfx .Attribute6Alt {
    fill: #918F88;
}

.jchartfx .Attribute7 {
    fill: #CD0A0A;
    stroke: #9A0808;
}

.jchartfx .Attribute7Line {
    stroke: #9A0808;
}

.jchartfx .Attribute7Alt {
    fill: #FF0C0C;
}

.jchartfx .Attribute8 {
    fill: #F1AC88;
    stroke: #B58166;
}

.jchartfx .Attribute8Line {
    stroke: #B58166;
}

.jchartfx .Attribute8Alt {
    fill: #B58166;
}

.jchartfx .Attribute9 {
    fill: #B0B0B0;
    stroke: #848484;
}

.jchartfx .Attribute9Line {
    stroke: #848484;
}

.jchartfx .Attribute9Alt {
    fill: #848484;
}

.jchartfx .Attribute10 {
    fill: #FAFF8A;
    stroke: #BCC068;
}

.jchartfx .Attribute10Line {
    stroke: #BCC068;
}

.jchartfx .Attribute10Alt {
    fill: #BCC068;
}

.jchartfx .Attribute11 {
    fill: #FF6E6E;
    stroke: #C05353;
}

.jchartfx .Attribute11Line {
    stroke: #C05353;
}

.jchartfx .Attribute11Alt {
    fill: #C05353;
}

.jchartfx .Attribute12 {
    fill: #548815;
    stroke: #3F6610;
}

.jchartfx .Attribute12Line {
    stroke: #3F6610;
}

.jchartfx .Attribute12Alt {
    fill: #69AA1A;
}

.jchartfx .Attribute13 {
    fill: #328E00;
    stroke: #266B00;
}

.jchartfx .Attribute13Line {
    stroke: #266B00;
}

.jchartfx .Attribute13Alt {
    fill: #3EB100;
}

.jchartfx .Attribute14 {
    fill: #690000;
    stroke: #4F0000;
}

.jchartfx .Attribute14Line {
    stroke: #4F0000;
}

.jchartfx .Attribute14Alt {
    fill: #830000;
}

.jchartfx .Attribute15 {
    fill: #8D4824;
    stroke: #6A361B;
}

.jchartfx .Attribute15Line {
    stroke: #6A361B;
}

.jchartfx .Attribute15Alt {
    fill: #B05A2D;
}

.jchartfx .MarkerHollow {
    fill: #000000;
}

.jchartfx .Border {
    fill: #000001;
    stroke: #4A4A4A;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #1B1613;
}

.jchartfx .PlotArea3D {
    fill: #0A0A0A;
    stroke: #1B1613;
}

.jchartfx .CustomGridLine {
    stroke: #B8EC79;
}

.jchartfx .CustomGridLineLabel {
    fill: #FFFFFF;
}

.jchartfx .AxisY_Section {
    fill: #9FDA58;
    stroke: #9FDA58;
}

.jchartfx .AxisX_Section {
    fill: #9FDA58;
    stroke: #9FDA58;
}

.jchartfx .AxisY_Text {
    fill: #FFFFFF;
}

.jchartfx .AxisY_Major {
    stroke: #1B1613;
}

.jchartfx .AxisY_Minor {
    stroke: #1B1613;
}

.jchartfx .AxisY_Interlaced {
    fill: #000000;
}

.jchartfx .AxisY_Line {
    stroke: #1B1613;
}

.jchartfx .AxisX_Text {
    fill: #FFFFFF;
}

.jchartfx .AxisX_Major {
    stroke: #1B1613;
}

.jchartfx .AxisX_Minor {
    stroke: #1B1613;
}

.jchartfx .AxisX_Interlaced {
    fill: #000000;
}

.jchartfx .AxisX_Line {
    stroke: #1B1613;
}

.jchartfx .PointLabelBorder {
    fill: #C0C0C0;
    stroke: #FFFFFF;
}

.jchartfx .Title {
    fill: #FFFFFF;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #4A4A4A;
}

.jchartfx .LegendItem {
    fill: #FFFFFF;
}

.jchartfx .ScrollBar {
    fill: #222222;
    stroke: #74736D;
}

.jchartfx .ScrollThumb {
    fill: #74736D;
}

.jchartfx .ScrollArrow {
    fill: #74736D;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #9FDA58;
}

.jchartfx .DataGrid_Back {
    fill: #000000;
}

.jchartfx .DataGrid_GridLine {
    fill: #000000;
}

.jchartfx .DataGridText {
    fill: #FFFFFF;
}

.jchartfx .DataGridTextAlternate {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #0A0A0A;
}

.jchartfx .DataGrid_RowHeader {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #222222;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #FFFFFF;
}

.jchartfx .AnnotationText {
    fill: #FFFFFF;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #FFFFFF;
}

.jchartfx .AnnotationBalloonText {
    fill: #FFFFFF;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #FFFFFF;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #FFFFFF;
}

.jchartfx .AnnotationArrow {
    fill: #FFFFFF;
    stroke: #FFFFFF;
}

.jchartfx .AnnotationArc {
    fill: #FFFFFF;
    stroke: #FFFFFF;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #FFFFFF;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #FFFFFF;
}

.jchartfx .HeatMap0 {
    fill: #4C4C4C;
}

.jchartfx .HeatMap1 {
    fill: #B8EC79;
}

.jchartfx .EqualizerTop0 {
    stroke: #8AB15B;
    fill: #B8EC79;
}

.jchartfx .EqualizerTop1 {
    stroke: #C0C0C0;
    fill: #FFFFFF;
}

.jchartfx .Indicator {
    fill: #4C4C4C;
    stroke: #393939;
}

.jchartfx .Cap {
    fill: #FFFFFF;
}

.jchartfx .Bar {
    stroke: #1B1613;
    fill: #FFFFFF;
}

.jchartfx .TickMajor {
    stroke: #1B1613;
    fill: #1B1613;
}

.jchartfx .TickMedium {
    stroke: #1B1613;
    fill: #1B1613;
}

.jchartfx .GaugeText {
    fill: #FFFFFF;
}

.jchartfx .GaugeTitle {
    fill: #FFFFFF;
}

.jchartfx .GaugeSection0 {
    fill: #CD0A0A;
    stroke: #9A0808;
}

.jchartfx .GaugeSection1 {
    fill: #F6ECD5;
    stroke: #B9B1A0;
}

.jchartfx .GaugeSection2 {
    fill: #B8EC79;
    stroke: #8AB15B;
}

.jchartfx .Separator {
    stroke: #1B1613;
}

.jchartfx .MapContext {
    fill: #000000;
    stroke: #4C4C4C;
}

.jchartfx .MapWater {
    fill: #dcffff;
    stroke: #a4d0e7;
}

.jchartfx .MapOcean0 {
    fill: #a4d0e7;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #96c2d9;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #88b4cb;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #7ba7bd;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #6e9aaf;
    stroke: none;
}

.jchartfx .MapOcean4 {
    fill: #618da2 !important;
    stroke: none;
}

.jchartfx .MapAttribute0 {
    fill: #4c4c4c;
    stroke: #202020;
}

.jchartfx .MapAttribute1 {
    fill: #b8ec79;
    stroke: #80b444;
}

.jchartfx .MapAttribute2 {
    fill: #ffffff;
    stroke: #c6c6c6;
}

.jchartfx .MapAttribute3 {
    fill: #4d4d4d;
    stroke: #212121;
}

.jchartfx .MapAttribute4 {
    fill: #6caa22;
    stroke: #347500;
}

.jchartfx .MapAttribute5 {
    fill: #b7b7b7;
    stroke: #828282;
}

.jchartfx .MapAttribute6 {
    fill: #cccccc;
    stroke: #969696;
}

.jchartfx .MapAttribute7 {
    fill: #5f6853;
    stroke: #313926;
}

.jchartfx .MapRoad {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: .3;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .1;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #E2C195;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #000000;
    stroke: #4A4A4A;
}

.jchartfx .MapPlot {
    fill: #6e9aaf;
    fill-opacity: 0;
}

.jchartfx .GaugeTitleLarge {
    fill: #FFFFFF;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #FFFFFF;
}

.jchartfx .DashboardCaption {
    fill: #4C4C4C;
    stroke: #FFFFFF;
}

.jchartfx .EqualizerOff {
        fill: #1B1613;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #FFFFFF;
}

.jchartfx .MapShadow {
    fill: #FFFFFF;
    fill-opacity: 0.3;
}

.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #FFFFFF;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #000000;
    border-color: #000000;
    box-shadow: 0px 0px 5px 3px rgba(255, 255,  255, .30);
}

.jchartfx_container table thead tr th {
    background-color: #9FDA58;
    border-color: #000000;
    border-bottom-color: #1B1613;
    color: #222222;
}

.jchartfx_container table tbody tr td {
    color: #FFFFFF;
    border-color: #000000;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #000000;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #0A0A0A;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #FFFFFF;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #FFFFFF;
}

.jchartfx_container .labelIndicator {
    color: #FFFFFF;
}

.jchartfx_container .label {
    color: #FFFFFF;
}

.jchartfx_container .smallLabel {
    color: #FFFFFF;
}

.jchartfx .MapDefaultAttribute {
    fill: #000000;
    stroke: #4C4C4C;
}

.jchartfx .Filler {
    fill: #4C4C4C;
    stroke: #393939;
}

.jchartfx .GaugeMarker {
    fill: #4C4C4C;
    stroke: #393939;
}

.jchartfx .Needle {
    fill: #4C4C4C;
    stroke: #393939;
}

.jchartfx .BorderMedium {
    fill: #000000;
    stroke: #4A4A4A;
}

.jchartfx .BorderThick {
    fill: #000000;
    stroke: #4A4A4A;
}

.jchartfx .Border0 {
    stroke: #1C1C1C;
    fill: #1C1C1C;
}

.jchartfx .Border1 {
    stroke: #45582D;
    fill: #45582D;
}

.jchartfx .Border2 {
    stroke: #606060;
    fill: #606060;
}

.jchartfx .Border3 {
    stroke: #5C5850;
    fill: #5C5850;
}

.jchartfx .Border4 {
    stroke: #3C5221;
    fill: #3C5221;
}

.jchartfx .Border5 {
    stroke: #385B0E;
    fill: #385B0E;
}

.jchartfx .Border6 {
    stroke: #2B2B29;
    fill: #2B2B29;
}

.jchartfx .Border7 {
    stroke: #4D0404;
    fill: #4D0404;
}

.jchartfx-menu {
  border-color: rgba(139, 139, 139, 0.8);
  background-color: rgba(0, 0, 0, 0.9);
   -webkit-box-shadow: rgba(0, 0, 0, 0.25);
  box-shadow: rgba(0, 0, 0, 0.25);
 }
 
 .jchartfx-menu .options li {
  border-color: rgba(102, 102, 102, 0.5);
}

.jchartfx-menu a {
  color: #FFFFFF;
}

.jchartfx-menu a.next {
  color: rgba(102, 102, 102, 0.5);
}

.jchartfx-menu a.prev {
  color: rgba(102, 102, 102, 0.5);
}

.jchartfx-menu a.next:hover,
.jchartfx-menu .contextmenu a.prev:hover {
  color: rgba(102, 102, 102, 0.7);
}

.jchartfx-menu a.next.disabled {
  color: rgba(102, 102, 102, 0.2);
}

.jchartfx-menu a.next.disabled:hover {
  color: rgba(102, 102, 102, 0.2);
}

.jchartfx-menu .toggle {
  border-color: rgba(102, 102, 102, 1);
  background-color: rgba(0, 0, 0, 0.05);
}

.jchartfx-menu .selectable li.active {
    border: 1px solid;
    border-color: #96F226;
    box-shadow: inset 0 0 0px 0px #96F226;
    background: rgba(150,242,38, 0.2);
}

.jchartfx .GreaterThan {
    fill: #B8EC79;
    stroke: #B8EC79;
}

.jchartfx .LessThan {
    fill: #CD0A0A;
    stroke: #CD0A0A;
}

.jchartfx .EqualsTo {
    fill: #F6ECD5;
    stroke: #F6ECD5;
}

.jchartfx .InsideLabel0 {
    fill: #AEAEAE;
}

.jchartfx .InsideLabel1 {
    fill: #45582D;
}

.jchartfx .InsideLabel2 {
    fill: #606060;
}

.jchartfx .InsideLabel3 {
    fill: #5C5850;
}

.jchartfx .InsideLabel4 {
    fill: #3C5221;
}

.jchartfx .InsideLabel5 {
    fill: #385B0E;
}

.jchartfx .InsideLabel6 {
    fill: #C1BFB5;
}

.jchartfx .InsideLabel7 {
    fill: #FF7070;
}

.jchartfx .InsideLabel8 {
    fill: #5A4033;
}

.jchartfx .InsideLabel9 {
    fill: #424242;
}

.jchartfx .InsideLabel10 {
    fill: #5E6034;
}

.jchartfx .InsideLabel11 {
    fill: #602929;
}

.jchartfx .InsideLabel12 {
    fill: #8CE223;
}

.jchartfx .InsideLabel13 {
    fill: #53EC00;
}

.jchartfx .InsideLabel14 {
    fill: #AF0000;
}

.jchartfx .InsideLabel15 {
    fill: #EB783C;
}

.jchartfx .EmptyMarker {
    fill: #262626;
    stroke: #545454;
}

.jchartfx .Repeater {
    fill: #4C4C4C;
    stroke: #393939;
}

.jchartfx .RepeaterOff {
    fill: #B2B2B2;
    stroke: #B2B2B2;
}