.jchartfx_body {
    background-color: #FFFFFF;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #FCFBF9;
    stroke: #1F1F1F;
}

.jchartfx .PointLabel {
    fill: #1F1F1F;
}

.jchartfx .Attribute0 {
    fill: #654B24;
    stroke: #4C391B;
}

.jchartfx .Attribute0Line {
    stroke: #4C391B;
}

.jchartfx .Attribute0Alt {
    fill: #7E5D2D;
}

.jchartfx .Attribute1 {
    fill: #B83400;
    stroke: #8A2700;
}

.jchartfx .Attribute1Line {
    stroke: #8A2700;
}

.jchartfx .Attribute1Alt {
    fill: #E64100;
}

.jchartfx .Attribute2 {
    fill: #D4D1BF;
    stroke: #9F9D90;
}

.jchartfx .Attribute2Line {
    stroke: #9F9D90;
}

.jchartfx .Attribute2Alt {
    fill: #9F9D90;
}

.jchartfx .Attribute3 {
    fill: #3A3427;
    stroke: #2C271E;
}

.jchartfx .Attribute3Line {
    stroke: #2C271E;
}

.jchartfx .Attribute3Alt {
    fill: #484130;
}

.jchartfx .Attribute4 {
    fill: #8C291D;
    stroke: #691F16;
}

.jchartfx .Attribute4Line {
    stroke: #691F16;
}

.jchartfx .Attribute4Alt {
    fill: #AF3324;
}

.jchartfx .Attribute5 {
    fill: #3572AC;
    stroke: #285681;
}

.jchartfx .Attribute5Line {
    stroke: #285681;
}

.jchartfx .Attribute5Alt {
    fill: #428ED7;
}

.jchartfx .Attribute6 {
    fill: #FBDB93;
    stroke: #BDA56F;
}

.jchartfx .Attribute6Line {
    stroke: #BDA56F;
}

.jchartfx .Attribute6Alt {
    fill: #BDA56F;
}

.jchartfx .Attribute7 {
    fill: #B2A266;
    stroke: #867A4D;
}

.jchartfx .Attribute7Line {
    stroke: #867A4D;
}

.jchartfx .Attribute7Alt {
    fill: #867A4D;
}

.jchartfx .Attribute8 {
    fill: #681818;
    stroke: #4E1212;
}

.jchartfx .Attribute8Line {
    stroke: #4E1212;
}

.jchartfx .Attribute8Alt {
    fill: #821E1E;
}

.jchartfx .Attribute9 {
    fill: #C9AF88;
    stroke: #978466;
}

.jchartfx .Attribute9Line {
    stroke: #978466;
}

.jchartfx .Attribute9Alt {
    fill: #978466;
}

.jchartfx .Attribute10 {
    fill: #FF9864;
    stroke: #C0724B;
}

.jchartfx .Attribute10Line {
    stroke: #C0724B;
}

.jchartfx .Attribute10Alt {
    fill: #C0724B;
}

.jchartfx .Attribute11 {
    fill: #9E988B;
    stroke: #777269;
}

.jchartfx .Attribute11Line {
    stroke: #777269;
}

.jchartfx .Attribute11Alt {
    fill: #777269;
}

.jchartfx .Attribute12 {
    fill: #99D6FF;
    stroke: #73A1C0;
}

.jchartfx .Attribute12Line {
    stroke: #73A1C0;
}

.jchartfx .Attribute12Alt {
    fill: #73A1C0;
}

.jchartfx .Attribute13 {
    fill: #CC7C7C;
    stroke: #995D5D;
}

.jchartfx .Attribute13Line {
    stroke: #995D5D;
}

.jchartfx .Attribute13Alt {
    fill: #995D5D;
}

.jchartfx .Attribute14 {
    fill: #706D5B;
    stroke: #545245;
}

.jchartfx .Attribute14Line {
    stroke: #545245;
}

.jchartfx .Attribute14Alt {
    fill: #8C8871;
}

.jchartfx .Attribute15 {
    fill: #000E48;
    stroke: #000B36;
}

.jchartfx .Attribute15Line {
    stroke: #000B36;
}

.jchartfx .Attribute15Alt {
    fill: #00115A;
}

.jchartfx .MarkerHollow {
    fill: #FFFFFF;
}

.jchartfx .Border {
    fill: #ECEADF;
    stroke: #D9D6C4;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #CBC7BD;
}

.jchartfx .PlotArea3D {
    fill: #F8F7F6;
    stroke: #CBC7BD;
}

.jchartfx .CustomGridLine {
    stroke: #654B24;
}

.jchartfx .CustomGridLineLabel {
    fill: #1F1F1F;
}

.jchartfx .AxisY_Section {
    fill: #FFFFFF;
    stroke: #FFFFFF;
}

.jchartfx .AxisX_Section {
    fill: #FFFFFF;
    stroke: #FFFFFF;
}

.jchartfx .AxisY_Text {
    fill: #1F1F1F;
}

.jchartfx .AxisY_Major {
    stroke: #CBC7BD;
}

.jchartfx .AxisY_Minor {
    stroke: #CBC7BD;
}

.jchartfx .AxisY_Interlaced {
    fill: #ECEADF;
}

.jchartfx .AxisY_Line {
    stroke: #CBC7BD;
}

.jchartfx .AxisX_Text {
    fill: #1F1F1F;
}

.jchartfx .AxisX_Major {
    stroke: #CBC7BD;
}

.jchartfx .AxisX_Minor {
    stroke: #CBC7BD;
}

.jchartfx .AxisX_Interlaced {
    fill: #ECEADF;
}

.jchartfx .AxisX_Line {
    stroke: #CBC7BD;
}

.jchartfx .PointLabelBorder {
    fill: #262626;
    stroke: #1F1F1F;
}

.jchartfx .Title {
    fill: #1F1F1F;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #D9D6C4;
}

.jchartfx .LegendItem {
    fill: #453821;
}

.jchartfx .ScrollBar {
    fill: #ECEADF;
    stroke: #CBC7BD;
}

.jchartfx .ScrollThumb {
    fill: #CBC7BD;
}

.jchartfx .ScrollArrow {
    fill: #CBC7BD;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_Back {
    fill: #ECEADF;
}

.jchartfx .DataGrid_GridLine {
    fill: #DBD8CD;
}

.jchartfx .DataGridText {
    fill: #1F1F1F;
}

.jchartfx .DataGridTextAlternate {
    fill: #1F1F1F;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #F8F7F6;
}

.jchartfx .DataGrid_RowHeader {
    fill: #1F1F1F;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #453821;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #1F1F1F;
}

.jchartfx .AnnotationText {
    fill: #1F1F1F;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #1F1F1F;
}

.jchartfx .AnnotationBalloonText {
    fill: #1F1F1F;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #1F1F1F;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #1F1F1F;
}

.jchartfx .AnnotationArrow {
    fill: #1F1F1F;
    stroke: #1F1F1F;
}

.jchartfx .AnnotationArc {
    fill: #1F1F1F;
    stroke: #1F1F1F;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #1F1F1F;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #1F1F1F;
}

.jchartfx .HeatMap0 {
    fill: #654B24;
}

.jchartfx .HeatMap1 {
    fill: #B83400;
}

.jchartfx .EqualizerTop0 {
    stroke: #8A2700;
    fill: #B83400;
}

.jchartfx .EqualizerTop1 {
    stroke: #9F9D90;
    fill: #D4D1BF;
}

.jchartfx .Indicator {
    fill: #654B24;
    stroke: #4C391B;
}

.jchartfx .Cap {
    fill: #1F1F1F;
}

.jchartfx .Bar {
    stroke: #DBD8CD;
    fill: #F8F7F6;
}

.jchartfx .TickMajor {
    stroke: #CBC7BD;
    fill: #CBC7BD;
}

.jchartfx .TickMedium {
    stroke: #CBC7BD;
    fill: #CBC7BD;
}

.jchartfx .GaugeText {
    fill: #1F1F1F;
}

.jchartfx .GaugeTitle {
    fill: #1F1F1F;
}

.jchartfx .GaugeSection0 {
    fill: #B83400;
    stroke: #8A2700;
}

.jchartfx .GaugeSection1 {
    fill: #D4D1BF;
    stroke: #9F9D90;
}

.jchartfx .GaugeSection2 {
    fill: #3A3427;
    stroke: #2C271E;
}

.jchartfx .Separator {
    stroke: #CBC7BD;
}

.jchartfx .MapContext {
    fill: #eceadf;
    stroke: #b4b2a8;
}

.jchartfx .MapWater {
    fill: #dcffff;
    stroke: #a4d0e7;
}

.jchartfx .MapOcean0 {
    fill: #a4d0e7;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #96c2d9;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #88b4cb;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #7ba7bd;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #6e9aaf;
    stroke: none;
}

.jchartfx .MapOcean4 {
    fill: #618da2 !important;
    stroke: none;
}

.jchartfx .MapAttribute0 {
    fill: #654b24;
    stroke: #351f00;
}

.jchartfx .MapAttribute1 {
    fill: #b83400;
    stroke: #7b0000;
}

.jchartfx .MapAttribute2 {
    fill: #d4d1bf;
    stroke: #9d9b8a;
}

.jchartfx .MapAttribute3 {
    fill: #4d340f;
    stroke: #260600;
}

.jchartfx .MapAttribute4 {
    fill: #874328;
    stroke: #511400;
}

.jchartfx .MapAttribute5 {
    fill: #9a9261;
    stroke: #666032;
}

.jchartfx .MapAttribute6 {
    fill: #ccbca4;
    stroke: #958770;
}

.jchartfx .MapAttribute7 {
    fill: #573e34;
    stroke: #291407;
}

.jchartfx .MapRoad {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: .3;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .1;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #E2C195;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #ECEADF;
    stroke: #D9D6C4;
}

.jchartfx .MapPlot {
    fill: #6e9aaf;
    fill-opacity: 0;
}

.jchartfx .GaugeTitleLarge {
    fill: #1F1F1F;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #1F1F1F;
}

.jchartfx .DashboardCaption {
    fill: #654B24;
    stroke: #FFFFFF;
}

.jchartfx .EqualizerOff {
    fill: #3A3427;
        fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #444444;
}

.jchartfx .MapShadow {
    fill: #444444;
    fill-opacity: 0.3;
}

.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #F8F7F6;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #ECEADF;
    border-color: #DBD8CD;
    box-shadow: 0px 0px 5px 3px rgba(68, 68,  68, .30);
}

.jchartfx_container table thead tr th {
    background-color: #FFFFFF;
    border-color: #DBD8CD;
    border-bottom-color: #CBC7BD;
    color: #453821;
}

.jchartfx_container table tbody tr td {
    color: #1F1F1F;
    border-color: #DBD8CD;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #ECEADF;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #F8F7F6;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #1F1F1F;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #1F1F1F;
}

.jchartfx_container .labelIndicator {
    color: #1F1F1F;
}

.jchartfx_container .label {
    color: #1F1F1F;
}

.jchartfx_container .smallLabel {
    color: #1F1F1F;
}

.jchartfx .MapDefaultAttribute {
    fill: #eceadf;
    stroke: #b4b2a8;
}

.jchartfx .Filler {
    fill: #654B24;
    stroke: #4C391B;
}

.jchartfx .GaugeMarker {
    fill: #654B24;
    stroke: #4C391B;
}

.jchartfx .Needle {
    fill: #B83400;
    stroke: #8A2700;
}

.jchartfx .BorderMedium {
    fill: #ECEADF;
    stroke: #D9D6C4;
}

.jchartfx .BorderThick {
    fill: #ECEADF;
    stroke: #D9D6C4;
}

.jchartfx .Border0 {
    stroke: #A87D3C;
    fill: #A87D3C;
}

.jchartfx .Border1 {
    stroke: #FF5600;
    fill: #FF5600;
}

.jchartfx .Border2 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border3 {
    stroke: #605641;
    fill: #605641;
}

.jchartfx .Border4 {
    stroke: #E94430;
    fill: #E94430;
}

.jchartfx .Border5 {
    stroke: #58BEFF;
    fill: #58BEFF;
}

.jchartfx .Border6 {
    stroke: #FFFFF5;
    fill: #FFFFF5;
}

.jchartfx .Border7 {
    stroke: #FFFFAA;
    fill: #FFFFAA;
}

.jchartfx-menu .toggle.active {
  background-color: #B83400;
}

.jchartfx-menu td.btnposition.active a {
  background-color: #B83400;
}

.jchartfx .GreaterThan {
    fill: #3A3427;
    stroke: #3A3427;
}

.jchartfx .LessThan {
    fill: #B83400;
    stroke: #B83400;
}

.jchartfx .EqualsTo {
    fill: #D4D1BF;
    stroke: #D4D1BF;
}

.jchartfx .InsideLabel0 {
    fill: #A87D3C;
}

.jchartfx .InsideLabel1 {
    fill: #FF5600;
}

.jchartfx .InsideLabel2 {
    fill: #4F4E48;
}

.jchartfx .InsideLabel3 {
    fill: #A08F6D;
}

.jchartfx .InsideLabel4 {
    fill: #E94430;
}

.jchartfx .InsideLabel5 {
    fill: #58BEFF;
}

.jchartfx .InsideLabel6 {
    fill: #5E5237;
}

.jchartfx .InsideLabel7 {
    fill: #433D26;
}

.jchartfx .InsideLabel8 {
    fill: #C46666;
}

.jchartfx .InsideLabel9 {
    fill: #4B4233;
}

.jchartfx .InsideLabel10 {
    fill: #603925;
}

.jchartfx .InsideLabel11 {
    fill: #3B3934;
}

.jchartfx .InsideLabel12 {
    fill: #395060;
}

.jchartfx .InsideLabel13 {
    fill: #4C2E2E;
}

.jchartfx .InsideLabel14 {
    fill: #BAB597;
}

.jchartfx .InsideLabel15 {
    fill: #6978B5;
}

.jchartfx .EmptyMarker {
    stroke: #A5A29B;
    fill: #CBC7BD;
}

.jchartfx .Repeater {
    fill: #654B24;
    stroke: #4C391B;
}

.jchartfx .RepeaterOff {
    fill: #CBB18A;
    stroke: #CBB18A;
}

.jchartfx-menu {
    border-color: #D9D6C4;
}