.jchartfx_body {
    background-color: #000000;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #000000;
    stroke: #FFFFFF;
}

.jchartfx .PointLabel {
    fill: #FFFFFF;
}

.jchartfx .Attribute0 {
    fill: #0078A3;
    stroke: #005A7B;
}

.jchartfx .Attribute0Line {
    stroke: #005A7B;
}

.jchartfx .Attribute0Alt {
    fill: #0096CB;
}

.jchartfx .Attribute1 {
    fill: #F58400;
    stroke: #B86300;
}

.jchartfx .Attribute1Line {
    stroke: #B86300;
}

.jchartfx .Attribute1Alt {
    fill: #FFA500;
}

.jchartfx .Attribute2 {
    fill: #EEEEEE;
    stroke: #B3B3B3;
}

.jchartfx .Attribute2Line {
    stroke: #B3B3B3;
}

.jchartfx .Attribute2Alt {
    fill: #B3B3B3;
}

.jchartfx .Attribute3 {
    fill: #FFC73D;
    stroke: #C0962E;
}

.jchartfx .Attribute3Line {
    stroke: #C0962E;
}

.jchartfx .Attribute3Alt {
    fill: #C0962E;
}

.jchartfx .Attribute4 {
    fill: #CCCCCC;
    stroke: #999999;
}

.jchartfx .Attribute4Line {
    stroke: #999999;
}

.jchartfx .Attribute4Alt {
    fill: #999999;
}

.jchartfx .Attribute5 {
    fill: #2E7DB2;
    stroke: #235E86;
}

.jchartfx .Attribute5Line {
    stroke: #235E86;
}

.jchartfx .Attribute5Alt {
    fill: #399CDE;
}

.jchartfx .Attribute6 {
    fill: #59B4D4;
    stroke: #43879F;
}

.jchartfx .Attribute6Line {
    stroke: #43879F;
}

.jchartfx .Attribute6Alt {
    fill: #43879F;
}

.jchartfx .Attribute7 {
    fill: #4B8E0B;
    stroke: #396B09;
}

.jchartfx .Attribute7Line {
    stroke: #396B09;
}

.jchartfx .Attribute7Alt {
    fill: #5DB10D;
}

.jchartfx .Attribute8 {
    fill: #FFAF0F;
    stroke: #C0840C;
}

.jchartfx .Attribute8Line {
    stroke: #C0840C;
}

.jchartfx .Attribute8Alt {
    fill: #C0840C;
}

.jchartfx .Attribute9 {
    fill: #A83300;
    stroke: #7E2700;
}

.jchartfx .Attribute9Line {
    stroke: #7E2700;
}

.jchartfx .Attribute9Alt {
    fill: #D23F00;
}

.jchartfx .Attribute10 {
    fill: #64DCFF;
    stroke: #4BA5C0;
}

.jchartfx .Attribute10Line {
    stroke: #4BA5C0;
}

.jchartfx .Attribute10Alt {
    fill: #4BA5C0;
}

.jchartfx .Attribute11 {
    fill: #FFE864;
    stroke: #C0AE4B;
}

.jchartfx .Attribute11Line {
    stroke: #C0AE4B;
}

.jchartfx .Attribute11Alt {
    fill: #C0AE4B;
}

.jchartfx .Attribute12 {
    fill: #FFFFA1;
    stroke: #C0C079;
}

.jchartfx .Attribute12Line {
    stroke: #C0C079;
}

.jchartfx .Attribute12Alt {
    fill: #C0C079;
}

.jchartfx .Attribute13 {
    fill: #92E1FF;
    stroke: #6EA9C0;
}

.jchartfx .Attribute13Line {
    stroke: #6EA9C0;
}

.jchartfx .Attribute13Alt {
    fill: #6EA9C0;
}

.jchartfx .Attribute14 {
    fill: #BDFFFF;
    stroke: #8EC0C0;
}

.jchartfx .Attribute14Line {
    stroke: #8EC0C0;
}

.jchartfx .Attribute14Alt {
    fill: #8EC0C0;
}

.jchartfx .Attribute15 {
    fill: #AFF26F;
    stroke: #84B654;
}

.jchartfx .Attribute15Line {
    stroke: #84B654;
}

.jchartfx .Attribute15Alt {
    fill: #84B654;
}

.jchartfx .MarkerHollow {
    fill: #000000;
}

.jchartfx .Border {
    fill: #000001;
    stroke: #666666;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #666666;
}

.jchartfx .PlotArea3D {
    fill: #555555;
    stroke: #666666;
}

.jchartfx .CustomGridLine {
    stroke: #EEEEEE;
}

.jchartfx .CustomGridLineLabel {
    fill: #FFFFFF;
}

.jchartfx .AxisY_Section {
    fill: #333333;
    stroke: #333333;
}

.jchartfx .AxisX_Section {
    fill: #333333;
    stroke: #333333;
}

.jchartfx .AxisY_Text {
    fill: #FFFFFF;
}

.jchartfx .AxisY_Major {
    stroke: #666666;
}

.jchartfx .AxisY_Minor {
    stroke: #666666;
}

.jchartfx .AxisY_Interlaced {
    fill: #000000;
}

.jchartfx .AxisY_Line {
    stroke: #666666;
}

.jchartfx .AxisX_Text {
    fill: #FFFFFF;
}

.jchartfx .AxisX_Major {
    stroke: #666666;
}

.jchartfx .AxisX_Minor {
    stroke: #666666;
}

.jchartfx .AxisX_Interlaced {
    fill: #000000;
}

.jchartfx .AxisX_Line {
    stroke: #666666;
}

.jchartfx .PointLabelBorder {
    fill: #C0C0C0;
    stroke: #FFFFFF;
}

.jchartfx .Title {
    fill: #FFFFFF;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #666666;
}

.jchartfx .LegendItem {
    fill: #FFFFFF;
}

.jchartfx .ScrollBar {
    fill: #000000;
    stroke: #666666;
}

.jchartfx .ScrollThumb {
    fill: #666666;
}

.jchartfx .ScrollArrow {
    fill: #666666;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #333333;
}

.jchartfx .DataGrid_Back {
    fill: #000000;
}

.jchartfx .DataGrid_GridLine {
    fill: #333333;
}

.jchartfx .DataGridText {
    fill: #FFFFFF;
}

.jchartfx .DataGridTextAlternate {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #555555;
}

.jchartfx .DataGrid_RowHeader {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #FFFFFF;
}

.jchartfx .AnnotationText {
    fill: #FFFFFF;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #FFFFFF;
}

.jchartfx .AnnotationBalloonText {
    fill: #FFFFFF;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #FFFFFF;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #FFFFFF;
}

.jchartfx .AnnotationArrow {
    fill: #FFFFFF;
    stroke: #FFFFFF;
}

.jchartfx .AnnotationArc {
    fill: #FFFFFF;
    stroke: #FFFFFF;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #FFFFFF;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #FFFFFF;
}

.jchartfx .HeatMap0 {
    fill: #0078A3;
}

.jchartfx .HeatMap1 {
    fill: #F58400;
}

.jchartfx .EqualizerTop0 {
    stroke: #B86300;
    fill: #F58400;
}

.jchartfx .EqualizerTop1 {
    stroke: #B3B3B3;
    fill: #EEEEEE;
}

.jchartfx .Indicator {
    fill: #0078A3;
    stroke: #005A7B;
}

.jchartfx .Cap {
    fill: #FFFFFF;
}

.jchartfx .Bar {
    fill: #EEEEEE;
    stroke: #B3B3B3;
}

.jchartfx .TickMajor {
    stroke: #666666;
    fill: #666666;
}

.jchartfx .TickMedium {
    stroke: #666666;
    fill: #666666;
}

.jchartfx .GaugeText {
    fill: #FFFFFF;
}

.jchartfx .GaugeTitle {
    fill: #FFFFFF;
}

.jchartfx .GaugeSection0 {
    fill: #A83300;
    stroke: #7E2700;
}

.jchartfx .GaugeSection1 {
    fill: #FFC73D;
    stroke: #C0962E;
}

.jchartfx .GaugeSection2 {
    fill: #4B8E0B;
    stroke: #396B09;
}

.jchartfx .Separator {
    stroke: #666666;
}

.jchartfx .MapContext {
    fill: #000000;
    stroke: #4C4C4C;
}

.jchartfx .MapWater {
    fill: #85d6ff;
    stroke: #489fcc;
}

.jchartfx .MapOcean0 {
    fill: #489fcc;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #3792be;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #2385b0;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #0078a3;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #006c96;
    stroke: none;
}

.jchartfx .MapOcean4 {
    fill: #618da2 !important;
    stroke: none;
}

.jchartfx .MapAttribute0 {
    fill: #f58400;
    stroke: #b55100;
}

.jchartfx .MapAttribute1 {
    fill: #eeeeee;
    stroke: #b6b6b6;
}

.jchartfx .MapAttribute2 {
    fill: #ffc73d;
    stroke: #c29100;
}

.jchartfx .MapAttribute3 {
    fill: #b07735;
    stroke: #774700;
}

.jchartfx .MapAttribute4 {
    fill: #ababab;
    stroke: #777777;
}

.jchartfx .MapAttribute5 {
    fill: #b79a54;
    stroke: #806723;
}

.jchartfx .MapAttribute6 {
    fill: #6b5740;
    stroke: #3a2a15;
}

.jchartfx .MapAttribute7 {
    fill: #696969;
    stroke: #3a3a3a;
}

.jchartfx .MapRoad {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: .3;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .1;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #E2C195;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #000000;
    stroke: #666666;
}

.jchartfx .MapPlot {
    fill: #006c96;
    fill-opacity: 0;
}

.jchartfx .GaugeTitleLarge {
    fill: #FFFFFF;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #FFFFFF;
}

.jchartfx .DashboardCaption {
    fill: #0078A3;
    stroke: #EEEEEE;
}

.jchartfx .EqualizerOff {
        fill: #666666;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #FFFFFF;
}

.jchartfx .MapShadow {
    fill: #FFFFFF;
    fill-opacity: 0.3;
}

.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #EEEEEE;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #000000;
    border-color: #333333;
    box-shadow: 0px 0px 5px 3px rgba(255, 255,  255, .30);
}

.jchartfx_container table thead tr th {
    background-color: #333333;
    border-color: #333333;
    border-bottom-color: #666666;
    color: #FFFFFF;
}

.jchartfx_container table tbody tr td {
    color: #FFFFFF;
    border-color: #333333;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #000000;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #555555;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #FFFFFF;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #FFFFFF;
}

.jchartfx_container .labelIndicator {
    color: #FFFFFF;
}

.jchartfx_container .label {
    color: #FFFFFF;
}

.jchartfx_container .smallLabel {
    color: #FFFFFF;
}

.jchartfx .MapDefaultAttribute {
    fill: #000000;
    stroke: #4C4C4C;
}

.jchartfx .Filler {
    fill: #0078A3;
    stroke: #005A7B;
}

.jchartfx .GaugeMarker {
    fill: #0078A3;
    stroke: #005A7B;
}

.jchartfx .Needle {
    fill: #0078A3;
    stroke: #005A7B;
}

.jchartfx .BorderMedium {
    fill: #000000;
    stroke: #666666;
}

.jchartfx .BorderThick {
    fill: #000000;
    stroke: #666666;
}

.jchartfx .Border0 {
    stroke: #002D3D;
    fill: #002D3D;
}

.jchartfx .Border1 {
    stroke: #5C3100;
    fill: #5C3100;
}

.jchartfx .Border2 {
    stroke: #595959;
    fill: #595959;
}

.jchartfx .Border3 {
    stroke: #604B17;
    fill: #604B17;
}

.jchartfx .Border4 {
    stroke: #4C4C4C;
    fill: #4C4C4C;
}

.jchartfx .Border5 {
    stroke: #112F43;
    fill: #112F43;
}

.jchartfx .Border6 {
    stroke: #21434F;
    fill: #21434F;
}

.jchartfx .Border7 {
    stroke: #1C3504;
    fill: #1C3504;
}

.jchartfx-menu {
  border-color: rgba(139, 139, 139, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
   -webkit-box-shadow: rgba(0, 0, 0, 0.25);
  box-shadow: rgba(0, 0, 0, 0.25);
 }
 
 .jchartfx-menu .contextmenu {
  color: #FFFFFF;
}
 
 .jchartfx-menu .options li {
  border-color: rgba(102, 102, 102, 0.5);
}

.jchartfx-menu a {
  color: #FFFFFF;
}

.jchartfx-menu a.next {
  color: rgba(102, 102, 102, 0.5);
}

.jchartfx-menu a.prev {
  color: rgba(102, 102, 102, 0.5);
}

.jchartfx-menu a.next:hover,
.jchartfx-menu .contextmenu a.prev:hover {
  color: rgba(102, 102, 102, 0.7);
}

.jchartfx-menu i.disabled {
  color: rgba(255,255,255,0.4);
}

.jchartfx-menu .contextmenu a.disabled {
  color: rgba(255, 255, 255, 0.4);
  cursor: not-allowed;
}

.jchartfx-menu a.next.disabled {
  color: rgba(102, 102, 102, 0.2);
}

.jchartfx-menu a.next.disabled:hover {
  color: rgba(102, 102, 102, 0.2);
}

.jchartfx-menu .toggle {
  border-color: rgba(102, 102, 102, 1);
  background-color: rgba(0, 0, 0, 0.05);
}

.jchartfx-menu .toggle.active {
  background-color: #F58400;
}

.jchartfx-menu td.btnposition.active a {
  background-color: #F58400;
}

.jchartfx .GreaterThan {
    fill: #4B8E0B;
    stroke: #4B8E0B;
}

.jchartfx .LessThan {
    fill: #A83300;
    stroke: #A83300;
}

.jchartfx .EqualsTo {
    fill: #FFC73D;
    stroke: #FFC73D;
}

.jchartfx .InsideLabel0 {
    fill: #00C8FF;
}

.jchartfx .InsideLabel1 {
    fill: #FFDC00;
}

.jchartfx .InsideLabel2 {
    fill: #595959;
}

.jchartfx .InsideLabel3 {
    fill: #604B17;
}

.jchartfx .InsideLabel4 {
    fill: #4C4C4C;
}

.jchartfx .InsideLabel5 {
    fill: #4CD0FF;
}

.jchartfx .InsideLabel6 {
    fill: #21434F;
}

.jchartfx .InsideLabel7 {
    fill: #7DEC12;
}

.jchartfx .InsideLabel8 {
    fill: #604206;
}

.jchartfx .InsideLabel9 {
    fill: #FF5500;
}

.jchartfx .InsideLabel10 {
    fill: #255260;
}

.jchartfx .InsideLabel11 {
    fill: #605725;
}

.jchartfx .InsideLabel12 {
    fill: #60603C;
}

.jchartfx .InsideLabel13 {
    fill: #375460;
}

.jchartfx .InsideLabel14 {
    fill: #476060;
}

.jchartfx .InsideLabel15 {
    fill: #425B2A;
}

.jchartfx .EmptyMarker {
    fill: #3A3A3A;
    stroke: #666666;
}

.jchartfx .Repeater {
    fill: #0078A3;
    stroke: #005A7B;
}

.jchartfx .RepeaterOff {
    fill: #66DEFF;
    stroke: #66DEFF;
}