.jchartfx_body {
    background-color: #FFFFFF;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #FCFCFC;
    stroke: #222222;
}

.jchartfx .Attribute0 {
    fill: #E69700;
    stroke: #AD7200;
}

.jchartfx .Attribute0Line {
    stroke: #AD7200;
}

.jchartfx .Attribute0Alt {
    fill: #FFBC00;
}

.jchartfx .Attribute1 {
    fill: #FFFFFF;
    stroke: #C0C0C0;
}

.jchartfx .Attribute1Line {
    stroke: #C0C0C0;
}

.jchartfx .Attribute1Alt {
    fill: #C0C0C0;
}

.jchartfx .Attribute2 {
    fill: #C5DDFC;
    stroke: #94A6BD;
}

.jchartfx .Attribute2Line {
    stroke: #94A6BD;
}

.jchartfx .Attribute2Alt {
    fill: #94A6BD;
}

.jchartfx .Attribute3 {
    fill: #5FA5E3;
    stroke: #487CAB;
}

.jchartfx .Attribute3Line {
    stroke: #487CAB;
}

.jchartfx .Attribute3Alt {
    fill: #487CAB;
}

.jchartfx .Attribute4 {
    fill: #CCCCCC;
    stroke: #999999;
}

.jchartfx .Attribute4Line {
    stroke: #999999;
}

.jchartfx .Attribute4Alt {
    fill: #999999;
}

.jchartfx .Attribute5 {
    fill: #FCDD4A;
    stroke: #BDA638;
}

.jchartfx .Attribute5Line {
    stroke: #BDA638;
}

.jchartfx .Attribute5Alt {
    fill: #BDA638;
}

.jchartfx .Attribute6 {
    fill: #AAAAAA;
    stroke: #808080;
}

.jchartfx .Attribute6Line {
    stroke: #808080;
}

.jchartfx .Attribute6Alt {
    fill: #808080;
}

.jchartfx .Attribute7 {
    fill: #333333;
    stroke: #272727;
}

.jchartfx .Attribute7Line {
    stroke: #272727;
}

.jchartfx .Attribute7Alt {
    fill: #3F3F3F;
}

.jchartfx .Attribute8 {
    fill: #FFFFAE;
    stroke: #C0C083;
}

.jchartfx .Attribute8Line {
    stroke: #C0C083;
}

.jchartfx .Attribute8Alt {
    fill: #C0C083;
}

.jchartfx .Attribute9 {
    fill: #823300;
    stroke: #622700;
}

.jchartfx .Attribute9Line {
    stroke: #622700;
}

.jchartfx .Attribute9Alt {
    fill: #A23F00;
}

.jchartfx .Attribute10 {
    fill: #617998;
    stroke: #495B72;
}

.jchartfx .Attribute10Line {
    stroke: #495B72;
}

.jchartfx .Attribute10Alt {
    fill: #7997BE;
}

.jchartfx .Attribute11 {
    fill: #00417F;
    stroke: #003160;
}

.jchartfx .Attribute11Line {
    stroke: #003160;
}

.jchartfx .Attribute11Alt {
    fill: #00519E;
}

.jchartfx .Attribute12 {
    fill: #686868;
    stroke: #4E4E4E;
}

.jchartfx .Attribute12Line {
    stroke: #4E4E4E;
}

.jchartfx .Attribute12Alt {
    fill: #828282;
}

.jchartfx .Attribute13 {
    fill: #987900;
    stroke: #725B00;
}

.jchartfx .Attribute13Line {
    stroke: #725B00;
}

.jchartfx .Attribute13Alt {
    fill: #BE9700;
}

.jchartfx .Attribute14 {
    fill: #9B9B4A;
    stroke: #757538;
}

.jchartfx .Attribute14Line {
    stroke: #757538;
}

.jchartfx .Attribute14Alt {
    fill: #C1C15C;
}

.jchartfx .Attribute15 {
    fill: #373700;
    stroke: #2A2A00;
}

.jchartfx .Attribute15Line {
    stroke: #2A2A00;
}

.jchartfx .Attribute15Alt {
    fill: #444400;
}

.jchartfx .MarkerHollow {
    fill: #FFFFFF;
}

.jchartfx .Border {
    fill: #EEEEEE;
    stroke: #AAAAAA;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #FFFFFF;
}

.jchartfx .PlotArea3D {
    fill: #1484E6;
    stroke: #FFFFFF;
}

.jchartfx .CustomGridLine {
    stroke: #FFFFFF;
}

.jchartfx .CustomGridLineLabel {
    fill: #222222;
}

.jchartfx .AxisY_Section {
    fill: #F9F9F9;
    stroke: #F9F9F9;
}

.jchartfx .AxisX_Section {
    fill: #F9F9F9;
    stroke: #F9F9F9;
}

.jchartfx .AxisY_Text {
    fill: #222222;
}

.jchartfx .AxisY_Major {
    stroke: #FFFFFF;
}

.jchartfx .AxisY_Minor {
    stroke: #FFFFFF;
}

.jchartfx .AxisY_Interlaced {
    fill: #EEEEEE;
}

.jchartfx .AxisY_Line {
    stroke: #FFFFFF;
}

.jchartfx .AxisX_Text {
    fill: #222222;
}

.jchartfx .AxisX_Major {
    stroke: #FFFFFF;
}

.jchartfx .AxisX_Minor {
    stroke: #FFFFFF;
}

.jchartfx .AxisX_Interlaced {
    fill: #EEEEEE;
}

.jchartfx .AxisX_Line {
    stroke: #FFFFFF;
}

.jchartfx .PointLabel {
    fill: #222222;
}

.jchartfx .PointLabelBorder {
    fill: #2A2A2A;
    stroke: #222222;
}

.jchartfx .Title {
    fill: #222222;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #AAAAAA;
}

.jchartfx .LegendItem {
    fill: #E69700;
}

.jchartfx .ScrollBar {
    fill: #EEEEEE;
    stroke: #FFFFFF;
}

.jchartfx .ScrollThumb {
    fill: #FFFFFF;
}

.jchartfx .ScrollArrow {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #F9F9F9;
}

.jchartfx .DataGrid_Back {
    fill: #EEEEEE;
}

.jchartfx .DataGrid_GridLine {
    fill: #F6F6F6;
}

.jchartfx .DataGridText {
    fill: #222222;
}

.jchartfx .DataGridTextAlternate {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #1484E6;
}

.jchartfx .DataGrid_RowHeader {
    fill: #222222;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #E69700;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #FFFFFF;
}

.jchartfx .AnnotationText {
    fill: #222222;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #222222;
}

.jchartfx .AnnotationBalloonText {
    fill: #222222;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #222222;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #222222;
}

.jchartfx .AnnotationArrow {
    fill: #222222;
    stroke: #222222;
}

.jchartfx .AnnotationArc {
    fill: #222222;
    stroke: #222222;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #222222;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #222222;
}

.jchartfx .HeatMap0 {
    fill: #E69700;
}

.jchartfx .HeatMap1 {
    fill: #FFFFFF;
}

.jchartfx .EqualizerTop0 {
    stroke: #C0C0C0;
    fill: #FFFFFF;
}

.jchartfx .EqualizerTop1 {
    stroke: #94A6BD;
    fill: #C5DDFC;
}

.jchartfx_gauge .Border {
    fill: #EEEEEE;
    stroke: #AAAAAA;
}

.jchartfx_gauge .Indicator {
    fill: #E69700;
    stroke: #AD7200;
}

.jchartfx_gauge .Cap {
    fill: #222222;
}

.jchartfx_gauge .Bar {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx_gauge .TickMajor {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx_gauge .TickMedium {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx_gauge .Text {
    fill: #222222;
}

.jchartfx_gauge .Title {
    fill: #222222;
}

.jchartfx_gauge .Section0 {
    fill: #FFFFFF;
    stroke: #C0C0C0;
}

.jchartfx_gauge .Section1 {
    fill: #C5DDFC;
    stroke: #94A6BD;
}

.jchartfx_gauge .Section2 {
    fill: #5FA5E3;
    stroke: #487CAB;
}

.jchartfx_gauge .GreaterThan {
    fill: #5FA5E3;
}

.jchartfx_gauge .LessThan {
    fill: #FFFFFF;
}

.jchartfx_gauge .EqualsTo {
    fill: #C5DDFC;
}

.jchartfx_gauge .Separator {
    stroke: #FFFFFF;
}

.jchartfx .MapContext {
    fill: #eeeeee;
    stroke: #b6b6b6;
}

.jchartfx .MapWater {
    fill: #feffff;
    stroke: #c5ddfc;
}

.jchartfx .MapOcean0 {
    fill: #c5ddfc;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #b7cfee;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #a9c1e0;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #9bb3d2;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #8ea6c4;
    stroke: none;
}

.jchartfx .MapOcean4 {
    fill: #618da2 !important;
    stroke: none;
}

.jchartfx .MapAttribute0 {
    fill: #e69700;
    stroke: #a86400;
}

.jchartfx .MapAttribute1 {
    fill: #ffffff;
    stroke: #c6c6c6;
}

.jchartfx .MapAttribute2 {
    fill: #5fa5e3;
    stroke: #1571ab;
}

.jchartfx .MapAttribute3 {
    fill: #a67e32;
    stroke: #6e4d00;
}

.jchartfx .MapAttribute4 {
    fill: #b7b7b7;
    stroke: #828282;
}

.jchartfx .MapAttribute5 {
    fill: #2166a4;
    stroke: #003870;
}

.jchartfx .MapAttribute6 {
    fill: #66583d;
    stroke: #362b12;
}

.jchartfx .MapAttribute7 {
    fill: #6f6f6f;
    stroke: #3f3f3f;
}

.jchartfx .MapRoad {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: .3;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .1;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #E2C195;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #EEEEEE;
    stroke: #AAAAAA;
}

.jchartfx .MapPlot {
    fill: #8ea6c4;
    fill-opacity: 0;
}

.jchartfx_gauge .TitleLarge {
    fill: #222222;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #222222;
}

.jchartfx_gauge .DashboardTitle {
    fill: #222222;
}

.jchartfx .DashboardCaption {
    fill: #E69700;
    stroke: #FFFFFF;
}

.jchartfx_gauge .DashboardCaption {
    fill: #E69700;
    stroke: #FFFFFF;
}

.jchartfx .EqualizerOff {
        fill: #FFFFFF;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #444444;
}

.jchartfx_gauge .Glow {
    fill: #444444;
}

.jchartfx .MapShadow {
    fill: #444444;
    fill-opacity: 0.3;
}







.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #FFFFFF;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #EEEEEE;
    border-color: #F6F6F6;
    box-shadow: 0px 0px 5px 3px rgba(68, 68,  68, .30);
}

.jchartfx_container table thead tr th {
    background-color: #F9F9F9;
    border-color: #F6F6F6;
    border-bottom-color: #FFFFFF;
    color: #E69700;
}

.jchartfx_container table tbody tr td {
    color: #222222;
    border-color: #F6F6F6;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #EEEEEE;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #1484E6;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #222222;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #222222;
}

.jchartfx_container .labelIndicator {
    color: #222222;
}

.jchartfx_container .label {
    color: #222222;
}

.jchartfx_container .smallLabel {
    color: #222222;
}

.jchartfx_gauge .BorderMedium {
    fill: #EEEEEE;
    stroke: #AAAAAA;
}

.jchartfx_gauge .BorderThick {
    fill: #EEEEEE;
    stroke: #AAAAAA;
}

.jchartfx .MapDefaultAttribute {
    fill: #eeeeee;
    stroke: #b6b6b6;
}

.jchartfx_gauge .Filler {
    fill: #E69700;
    stroke: #AD7200;
}

.jchartfx_gauge .Marker {
    fill: #E69700;
    stroke: #AD7200;
}

.jchartfx_gauge .Needle {
    fill: #E69700;
    stroke: #AD7200;
}

.jchartfx .BorderMedium {
    fill: #EEEEEE;
    stroke: #AAAAAA;
}

.jchartfx .BorderThick {
    fill: #EEEEEE;
    stroke: #AAAAAA;
}

.jchartfx .Border0 {
    stroke: #FFFB00;
    fill: #FFFB00;
}

.jchartfx .Border1 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border2 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border3 {
    stroke: #9EFFFF;
    fill: #9EFFFF;
}

.jchartfx .Border4 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border5 {
    stroke: #FFFF7B;
    fill: #FFFF7B;
}

.jchartfx .Border6 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border7 {
    stroke: #555555;
    fill: #555555;
}

.jchartfx_gauge .Border0  {
    stroke: #FFFB00;
    fill: #FFFB00;
}

.jchartfx_gauge .Border1  {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx_gauge .Border2  {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx_gauge .Border3  {
    stroke: #9EFFFF;
    fill: #9EFFFF;
}

.jchartfx_gauge .Border4  {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx_gauge .Border5  {
    stroke: #FFFF7B;
    fill: #FFFF7B;
}

.jchartfx_gauge .Border6  {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx_gauge .Border7  {
    stroke: #555555;
    fill: #555555;
}

.jchartfx-menu .toggle.active {
  background-color: #5FA5E3;
}

.jchartfx-menu td.btnposition.active a {
  background-color: #5FA5E3;
}

.jchartfx .GreaterThan {
    stroke: #5FA5E3;
}

.jchartfx .LessThan {
    stroke: #FFFFFF;
}

.jchartfx .EqualsTo {
    stroke: #C5DDFC;
}