.jchartfx_body {
    background-color: #FFFFFF;
}

.jchartfxToolTip {
    background-color: #757575;
    color: #FFFFFF;
    border-color: #757575;
}

.jchartfxToolTipBorder {
    fill: #FFFFFF;
    stroke: #757575;
}

.jchartfx .PointLabel {
    fill: #757575;
}

.jchartfx .Attribute0 {
    fill: #2196F3;
    stroke: #3D5BA1;
}

.jchartfx .Attribute0Line {
    stroke: #3D5BA1;
}

.jchartfx .Attribute0Alt {
    fill: #3D5BA1;
}

.jchartfx .Attribute1 {
    fill: #F44336;
    stroke: #B42431;
}

.jchartfx .Attribute1Line {
    stroke: #B42431;
}

.jchartfx .Attribute1Alt {
    fill: #B42431;
}

.jchartfx .Attribute2 {
    fill: #FFC107;
    stroke: #C09600;
}

.jchartfx .Attribute2Line {
    stroke: #C09600;
}

.jchartfx .Attribute2Alt {
    fill: #C09600;
}

.jchartfx .Attribute3 {
    fill: #4CAF50;
    stroke: #39843C;
}

.jchartfx .Attribute3Line {
    stroke: #39843C;
}

.jchartfx .Attribute3Alt {
    fill: #39843C;
}

.jchartfx .Attribute4 {
    fill: #9C27B0;
    stroke: #751E84;
}

.jchartfx .Attribute4Line {
    stroke: #751E84;
}

.jchartfx .Attribute4Alt {
    fill: #751E84;
}

.jchartfx .Attribute5 {
    fill: #00BCD4;
    stroke: #008D9F;
}

.jchartfx .Attribute5Line {
    stroke: #008D9F;
}

.jchartfx .Attribute5Alt {
    fill: #008D9F;
}

.jchartfx .Attribute6 {
    fill: #FF9800;
    stroke: #C07200;
}

.jchartfx .Attribute6Line {
    stroke: #C07200;
}

.jchartfx .Attribute6Alt {
    fill: #C07200;
}

.jchartfx .Attribute7 {
    fill: #CDDC39;
    stroke: #9AA52B;
}

.jchartfx .Attribute7Line {
    stroke: #9AA52B;
}

.jchartfx .Attribute7Alt {
    fill: #9AA52B;
}

.jchartfx .Attribute8 {
    fill: #673AB7;
    stroke: #4E2C8A;
}

.jchartfx .Attribute8Line {
    stroke: #4E2C8A;
}

.jchartfx .Attribute8Alt {
    fill: #4E2C8A;
}

.jchartfx .Attribute9 {
    fill: #E91E63;
    stroke: #AF174B;
}

.jchartfx .Attribute9Line {
    stroke: #AF174B;
}

.jchartfx .Attribute9Alt {
    fill: #AF174B;
}

.jchartfx .Attribute10 {
    fill: #009688;
    stroke: #007166;
}

.jchartfx .Attribute10Line {
    stroke: #007166;
}

.jchartfx .Attribute10Alt {
    fill: #007166;
}

.jchartfx .Attribute11 {
    fill: #FF5722;
    stroke: #C0421A;
}

.jchartfx .Attribute11Line {
    stroke: #C0421A;
}

.jchartfx .Attribute11Alt {
    fill: #C0421A;
}

.jchartfx .Attribute12 {
    fill: #3F51B5;
    stroke: #303D88;
}

.jchartfx .Attribute12Line {
    stroke: #303D88;
}

.jchartfx .Attribute12Alt {
    fill: #303D88;
}

.jchartfx .Attribute13 {
    fill: #FFEB3B;
    stroke: #C0B12D;
}

.jchartfx .Attribute13Line {
    stroke: #C0B12D;
}

.jchartfx .Attribute13Alt {
    fill: #C0B12D;
}

.jchartfx .Attribute14 {
    fill: #03A9F4;
    stroke: #007FB7;
}

.jchartfx .Attribute14Line {
    stroke: #007FB7;
}

.jchartfx .Attribute14Alt {
    fill: #007FB7;
}

.jchartfx .Attribute15 {
    fill: #8BC34A;
    stroke: #699338;
}

.jchartfx .Attribute15Line {
    stroke: #699338;
}

.jchartfx .Attribute15Alt {
    fill: #699338;
}

.jchartfx .MarkerHollow {
    fill: #FFFFFF;
}

.jchartfx .Border {
    fill: #FFFFFF;
    stroke: #BDBDBD;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #BDBDBD;
}

.jchartfx .PlotArea3D {
    fill: #E0E0E0;
    stroke: #BDBDBD;
}

.jchartfx .CustomGridLine {
    stroke: #D50000;
}

.jchartfx .CustomGridLineLabel {
    fill: #424242;
}

.jchartfx .AxisY_Section {
    fill: #CFD8DC;
    stroke: #CFD8DC;
}

.jchartfx .AxisX_Section {
    fill: #CFD8DC;
    stroke: #CFD8DC;
}

.jchartfx .AxisY_Text {
    fill: #757575;
}

.jchartfx .AxisY_Major {
    stroke: #E0E0E0;
}

.jchartfx .AxisY_Minor {
    stroke: #E0E0E0;
}

.jchartfx .AxisY_Interlaced {
    fill: #C7C7C7;
}

.jchartfx .AxisY_Line {
    stroke: #9E9E9E;
}

.jchartfx .AxisX_Text {
    fill: #757575;
}

.jchartfx .AxisX_Major {
    stroke: #E0E0E0;
}

.jchartfx .AxisX_Minor {
    stroke: #E0E0E0;
}

.jchartfx .AxisX_Interlaced {
    fill: #C7C7C7;
}

.jchartfx .AxisX_Line {
    stroke: #9E9E9E;
}

.jchartfx .PointLabelBorder {
    fill: #FFFFFF;
    stroke: #424242;
}

.jchartfx .Title {
    fill: #424242;
    fill-opacity: 0.87;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #C7C7C7;
}

.jchartfx .LegendItem {
    fill: #757575;
}

.jchartfx .ScrollBar {
    fill: #FFFFFF;
    stroke: #EEEEEE;
}

.jchartfx .ScrollThumb {
    fill: #A8A8A8;
}

.jchartfx .ScrollArrow {
    fill: #9E9E9E;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_Back {
    fill: #F5F5F5;
}

.jchartfx .DataGrid_GridLine {
    fill: transparent;
}

.jchartfx .DataGridText {
    fill: #757575;
}

.jchartfx .DataGridTextAlternate {
    fill: #757575;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_RowHeader {
    fill: #757575;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #212121;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #757575;
}

.jchartfx .AnnotationText {
    fill: #757575;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #757575;
}

.jchartfx .AnnotationBalloonText {
    fill: #757575;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #757575;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #757575;
}

.jchartfx .AnnotationArrow {
    fill: #757575;
    stroke: #757575;
}

.jchartfx .AnnotationArc {
    fill: #757575;
    stroke: #757575;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #757575;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #757575;
}

.jchartfx .HeatMap0 {
    fill: #2196F3;
}

.jchartfx .HeatMap1 {
    fill: #F44336;
}

.jchartfx .EqualizerTop0 {
    stroke: #B42431;
    fill: #F44336;
}

.jchartfx .EqualizerTop1 {
    stroke: #C09600;
    fill: #FFC107;
}

.jchartfx .MapContext {
    fill: #FFFFFF;
    stroke: #BDBDBD;
}

.jchartfx .MapOcean0 {
    fill: #90CAF9;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #64B5F6;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #42A5F5;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #1E88E5;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #1565C0;
    stroke: none;
}

.jchartfx .MapWater {
    fill: #90CAF9;
    stroke: #64B5F6;
}

.jchartfx .MapAttribute0 {
    fill: #F44336;
    stroke: #B42431;
}

.jchartfx .MapAttribute1 {
    fill: #FFC107;
    stroke: #C09600;
}

.jchartfx .MapAttribute2 {
    fill: #4CAF50;
    stroke: #39843C;
}

.jchartfx .MapAttribute3 {
    fill: #9C27B0;
    stroke: #751E84;
}

.jchartfx .MapAttribute4 {
    fill: #00BCD4;
    stroke: #008D9F;
}

.jchartfx .MapAttribute5 {
    fill: #FF9800;
    stroke: #C07200;
}

.jchartfx .MapAttribute6 {
    fill: #CDDC39;
    stroke: #9AA52B;
}

.jchartfx .MapAttribute7 {
    fill: #673AB7;
    stroke: #4E2C8A;
}

.jchartfx .MapAttribute8 {
    fill: #E91E63;
    stroke: #AF174B;
}

.jchartfx .MapRoad {
    stroke: #607D8B;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .4;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #607D8B;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #607D8B;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #FFFFFF;
    stroke: #BDBDBD;
}

.jchartfx .Indicator {
    fill: #1976D2;
    stroke: #0D47A1;
}

.jchartfx .Cap {
    fill: #BDBDBD;
}

.jchartfx .Bar {
    fill: #F5F5F5;
    stroke: #BDBDBD;
}

.jchartfx .TickMajor {
    fill: #212121;
    stroke: #212121;
}

.jchartfx .TickMedium {
    fill: #212121;
    stroke: #212121;
}

.jchartfx .GaugeText {
    fill: #757575;
}

.jchartfx .GaugeTitle {
    fill: #424242;
    fill-opacity: 0.87;
}

.jchartfx .GaugeTitleLarge {
    fill: #424242;
    fill-opacity: 0.87;
}

.jchartfx .GaugeSection0 {
    fill: #C62828;
    stroke: #B71C1C;
}

.jchartfx .GaugeSection1 {
    fill: #F9A825;
    stroke: #F57F17;
}

.jchartfx .GaugeSection2 {
    fill: #2E7D32;
    stroke: #1B5E20;
}

.jchartfx .Separator {
    stroke: #A8A8A8;
}

.jchartfx .MapPlot {
    fill: #1565C0;
    fill-opacity: 0;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #424242;
}

.jchartfx .DashboardCaption {
    fill: #5179D6;
    stroke: #FFFFFF;
}

.jchartfx .EqualizerOff {
        fill: #9E9E9E;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #424242;
}

.jchartfx .MapShadow {
    fill: #424242;
    fill-opacity: 0.3;
}

.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #E9E9E9;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #FFFFFF;
    border-color: #E0E0E0;
}

.jchartfx_container table thead tr th {
    background-color: #FFFFFF;
    border-bottom-color: #E0E0E0;
    color: #424242;
}

.jchartfx_container table tbody tr td {
    color: #757575;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #F5F5F5;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #FFFFFF;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #424242;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #424242;
    color-opacity: 0.54;
}

.jchartfx_container .labelIndicator {
    color: #757575;
}

.jchartfx_container .label {
    color: #757575;
}

.jchartfx_container .smallLabel {
    color: #757575;
}

.jchartfx .MapDefaultAttribute {
    fill: #F5F5F5;
    stroke: #BDBDBD;
}

.jchartfx .Filler {
    fill: #1976D2;
    stroke: #0D47A1;
}

.jchartfx .GaugeMarker {
    fill: #1976D2;
    stroke: #0D47A1;
}

.jchartfx .Needle {
    fill: #1976D2;
    stroke: #0D47A1;
}

.jchartfx .BorderMedium {
    fill: #FFFFFF;
    stroke: #C7C7C7;
}

.jchartfx .BorderThick {
    fill: #FFFFFF;
    stroke: #C7C7C7;
}

.jchartfx .Border0 {
    stroke: #87C9FF;
    fill: #87C9FF;
}

.jchartfx .Border1 {
    stroke: #FF4E6C;
    fill: #FF4E6C;
}

.jchartfx .Border2 {
    stroke: #FFFF00;
    fill: #FFFF00;
}

.jchartfx .Border3 {
    stroke: #FFFF99;
    fill: #FFFF99;
}

.jchartfx .Border4 {
    stroke: #0BFFFF;
    fill: #0BFFFF;
}

.jchartfx .Border5 {
    stroke: #8FA8FF;
    fill: #8FA8FF;
}

.jchartfx .Border6 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border7 {
    stroke: #FFFFDC;
    fill: #FFFFDC;
}

.jchartfx-menu-callout {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(66,66,66, 0.54);
}

.jchartfx-menu {
  border-color: rgba(189,189,189,1);
  background-color: rgba(255, 255, 255, 0.9);
}

.jchartfx-menu a {
  color: #757575;
  text-decoration: none;
}

.jchartfx-menu .toggle.active {
  background-color: #8BC34A;
}

.jchartfx-menu td.btnposition.active a {
  background-color: #8BC34A;  
}

.jchartfx-menu .positioningCtr {
  background-color: transparent !important;
}

.jchartfx-menu .selectable li.active {
    box-shadow: inset 0 0 1px 1px #2196F3;
    background: rgba(33,150,243, .2);
}

.jchartfx .GreaterThan {
    fill: #2E7D32;
    stroke: #2E7D32;
}

.jchartfx .LessThan {
    fill: #C62828;
    stroke: #C62828;
}

.jchartfx .EqualsTo {
    fill: #F9A825;
    stroke: #F9A825;
}

.jchartfx .InsideLabel0 {
    fill: #FFFFFF;
}

.jchartfx .InsideLabel1 {
    fill: #FFFFFF;
}

.jchartfx .InsideLabel2 {
    fill: #000000;
    fill-opacity: 0.87;
}

.jchartfx .InsideLabel3 {
    fill: #FFFFFF;
}

.jchartfx .InsideLabel4 {
    fill: #000000;
    fill-opacity: 0.87;
}

.jchartfx .InsideLabel5 {
    fill: #000000;
    fill-opacity: 0.87;
}

.jchartfx .InsideLabel6 {
    fill: #000000;
    fill-opacity: 0.87;
}

.jchartfx .InsideLabel7 {
    fill: #000000;
    fill-opacity: 0.87;
}

.jchartfx .InsideLabel8 {
    fill: #FFFFFF;
}

.jchartfx .InsideLabel9 {
    fill: #FFFFFF;
}

.jchartfx .InsideLabel10 {
    fill: #FFFFFF;
}

.jchartfx .InsideLabel11 {
    fill: #FFFFFF;
}

.jchartfx .InsideLabel12 {
    fill: #FFFFFF;
}

.jchartfx .InsideLabel13 {
    fill: #000000;
    fill-opacity: 0.87;
}

.jchartfx .InsideLabel14 {
    fill: #000000;
    fill-opacity: 0.87;
}

.jchartfx .InsideLabel15 {
    fill: #000000;
    fill-opacity: 0.87;
}

.jchartfx .EmptyMarker {
    fill: #BDBDBD;
    stroke: #616161;
}

.jchartfx .Repeater {
    fill: #1976D2;
    stroke: #0D47A1;
}

.jchartfx .RepeaterOff {
    fill: #07234F;
    stroke: #07234F;
}

.jchartfx .Trend {
    fill: #757575;
}