.jchartfx_body {
    background-color: #FFFFFF;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #F2F4F7;
    stroke: #003399;
}

.jchartfx .PointLabel {
    fill: #003399;
}

.jchartfx .Attribute0 {
    fill: #003399;
    stroke: #002773;
}

.jchartfx .Attribute0Line {
    stroke: #002773;
}

.jchartfx .Attribute0Alt {
    fill: #003FBF;
}

.jchartfx .Attribute1 {
    fill: #00AEFF;
    stroke: #0083C0;
}

.jchartfx .Attribute1Line {
    stroke: #0083C0;
}

.jchartfx .Attribute1Alt {
    fill: #0083C0;
}

.jchartfx .Attribute2 {
    fill: #009999;
    stroke: #007373;
}

.jchartfx .Attribute2Line {
    stroke: #007373;
}

.jchartfx .Attribute2Alt {
    fill: #00BFBF;
}

.jchartfx .Attribute3 {
    fill: #FFE316;
    stroke: #C0AB11;
}

.jchartfx .Attribute3Line {
    stroke: #C0AB11;
}

.jchartfx .Attribute3Alt {
    fill: #C0AB11;
}

.jchartfx .Attribute4 {
    fill: #E99D00;
    stroke: #AF7600;
}

.jchartfx .Attribute4Line {
    stroke: #AF7600;
}

.jchartfx .Attribute4Alt {
    fill: #FFC400;
}

.jchartfx .Attribute5 {
    fill: #FE0000;
    stroke: #BF0000;
}

.jchartfx .Attribute5Line {
    stroke: #BF0000;
}

.jchartfx .Attribute5Alt {
    fill: #FF0000;
}

.jchartfx .Attribute6 {
    fill: #CB00CD;
    stroke: #99009A;
}

.jchartfx .Attribute6Line {
    stroke: #99009A;
}

.jchartfx .Attribute6Alt {
    fill: #FD00FF;
}

.jchartfx .Attribute7 {
    fill: #EA98EB;
    stroke: #B072B1;
}

.jchartfx .Attribute7Line {
    stroke: #B072B1;
}

.jchartfx .Attribute7Alt {
    fill: #B072B1;
}

.jchartfx .Attribute8 {
    fill: #DEBA84;
    stroke: #A78C63;
}

.jchartfx .Attribute8Line {
    stroke: #A78C63;
}

.jchartfx .Attribute8Alt {
    fill: #A78C63;
}

.jchartfx .Attribute9 {
    fill: #3A0000;
    stroke: #2C0000;
}

.jchartfx .Attribute9Line {
    stroke: #2C0000;
}

.jchartfx .Attribute9Alt {
    fill: #480000;
}

.jchartfx .Attribute10 {
    fill: #ACA899;
    stroke: #817E73;
}

.jchartfx .Attribute10Line {
    stroke: #817E73;
}

.jchartfx .Attribute10Alt {
    fill: #817E73;
}

.jchartfx .Attribute11 {
    fill: #330099;
    stroke: #270073;
}

.jchartfx .Attribute11Line {
    stroke: #270073;
}

.jchartfx .Attribute11Alt {
    fill: #3F00BF;
}

.jchartfx .Attribute12 {
    fill: #4FFF5D;
    stroke: #3CC046;
}

.jchartfx .Attribute12Line {
    stroke: #3CC046;
}

.jchartfx .Attribute12Alt {
    fill: #3CC046;
}

.jchartfx .Attribute13 {
    fill: #990000;
    stroke: #730000;
}

.jchartfx .Attribute13Line {
    stroke: #730000;
}

.jchartfx .Attribute13Alt {
    fill: #BF0000;
}

.jchartfx .Attribute14 {
    fill: #FE6666;
    stroke: #BF4D4D;
}

.jchartfx .Attribute14Line {
    stroke: #BF4D4D;
}

.jchartfx .Attribute14Alt {
    fill: #BF4D4D;
}

.jchartfx .Attribute15 {
    fill: #CCCCFF;
    stroke: #9999C0;
}

.jchartfx .Attribute15Line {
    stroke: #9999C0;
}

.jchartfx .Attribute15Alt {
    fill: #9999C0;
}

.jchartfx .MarkerHollow {
    fill: #FFFFFF;
}

.jchartfx .Border {
    fill: #D7DFEF;
    stroke: #738A9C;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #C6C6C6;
}

.jchartfx .PlotArea3D {
    fill: #D7DFEF;
    stroke: #C6C6C6;
}

.jchartfx .CustomGridLine {
    stroke: #00102F;
}

.jchartfx .CustomGridLineLabel {
    fill: #003399;
}

.jchartfx .AxisY_Section {
    fill: #FFF7E7;
    stroke: #FFF7E7;
}

.jchartfx .AxisX_Section {
    fill: #FFF7E7;
    stroke: #FFF7E7;
}

.jchartfx .AxisY_Text {
    fill: #003399;
}

.jchartfx .AxisY_Major {
    stroke: #C6C6C6;
}

.jchartfx .AxisY_Minor {
    stroke: #C6C6C6;
}

.jchartfx .AxisY_Interlaced {
    fill: #FFFFFF;
}

.jchartfx .AxisY_Line {
    stroke: #C6C6C6;
}

.jchartfx .AxisX_Text {
    fill: #003399;
}

.jchartfx .AxisX_Major {
    stroke: #C6C6C6;
}

.jchartfx .AxisX_Minor {
    stroke: #C6C6C6;
}

.jchartfx .AxisX_Interlaced {
    fill: #FFFFFF;
}

.jchartfx .AxisX_Line {
    stroke: #C6C6C6;
}

.jchartfx .PointLabelBorder {
    fill: #003FBF;
    stroke: #003399;
}

.jchartfx .Title {
    fill: #003399;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #738A9C;
}

.jchartfx .LegendItem {
    fill: #003399;
}

.jchartfx .ScrollBar {
    fill: #D7DFEF;
    stroke: #C6C6C6;
}

.jchartfx .ScrollThumb {
    fill: #C6C6C6;
}

.jchartfx .ScrollArrow {
    fill: #C6C6C6;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #003399;
}

.jchartfx .DataGrid_Back {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_GridLine {
    fill: #C6C6C6;
}

.jchartfx .DataGridText {
    fill: #003399;
}

.jchartfx .DataGridTextAlternate {
    fill: #003399;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #D7DFEF;
}

.jchartfx .DataGrid_RowHeader {
    fill: #003399;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #CCCCFF;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #003399;
}

.jchartfx .AnnotationText {
    fill: #003399;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #003399;
}

.jchartfx .AnnotationBalloonText {
    fill: #003399;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #003399;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #003399;
}

.jchartfx .AnnotationArrow {
    fill: #003399;
    stroke: #003399;
}

.jchartfx .AnnotationArc {
    fill: #003399;
    stroke: #003399;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #003399;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #003399;
}

.jchartfx .HeatMap0 {
    fill: #003399;
}

.jchartfx .HeatMap1 {
    fill: #00AEFF;
}

.jchartfx .EqualizerTop0 {
    stroke: #0083C0;
    fill: #00AEFF;
}

.jchartfx .EqualizerTop1 {
    stroke: #007373;
    fill: #009999;
}

.jchartfx .Indicator {
    fill: #003399;
    stroke: #002773;
}

.jchartfx .Cap {
    fill: #003399;
}

.jchartfx .Bar {
    stroke: #C6C6C6;
    fill: #FFFFFF;
}

.jchartfx .TickMajor {
    stroke: #C6C6C6;
    fill: #C6C6C6;
}

.jchartfx .TickMedium {
    stroke: #C6C6C6;
    fill: #C6C6C6;
}

.jchartfx .GaugeText {
    fill: #003399;
}

.jchartfx .GaugeTitle {
    fill: #003399;
}

.jchartfx .GaugeSection0 {
    fill: #FE0000;
    stroke: #BF0000;
}

.jchartfx .GaugeSection1 {
    fill: #FFE316;
    stroke: #C0AB11;
}

.jchartfx .GaugeSection2 {
    fill: #009999;
    stroke: #007373;
}

.jchartfx .Separator {
    stroke: #C6C6C6;
}

.jchartfx .MapContext {
    fill: #d7dfef;
    stroke: #a0a8b7;
}

.jchartfx .MapWater {
    fill: #8286fb;
    stroke: #4655c2;
}

.jchartfx .MapOcean0 {
    fill: #4655c2;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #3549b4;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #213ea6;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #003398;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #00288b;
    stroke: none;
}

.jchartfx .MapOcean4 {
    fill: #618da2 !important;
    stroke: none;
}

.jchartfx .MapAttribute0 {
    fill: #00aeff;
    stroke: #007ac6;
}

.jchartfx .MapAttribute1 {
    fill: #009999;
    stroke: #006566;
}

.jchartfx .MapAttribute2 {
    fill: #ffe316;
    stroke: #c1ac00;
}

.jchartfx .MapAttribute3 {
    fill: #378eb7;
    stroke: #005c82;
}

.jchartfx .MapAttribute4 {
    fill: #174d4d;
    stroke: #002121;
}

.jchartfx .MapAttribute5 {
    fill: #b7a941;
    stroke: #7f7503;
}

.jchartfx .MapAttribute6 {
    fill: #42606f;
    stroke: #12323f;
}

.jchartfx .MapAttribute7 {
    fill: #7bcccc;
    stroke: #439696;
}

.jchartfx .MapRoad {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: .3;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .1;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #E2C195;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #D7DFEF;
    stroke: #738A9C;
}

.jchartfx .MapPlot {
    fill: #00288b;
    fill-opacity: 0;
}

.jchartfx .GaugeTitleLarge {
    fill: #003399;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #003399;
}

.jchartfx .DashboardCaption {
    fill: #003399;
    stroke: #FFFFFF;
}

.jchartfx .EqualizerOff {
        fill: #C6C6C6;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #444444;
}

.jchartfx .MapShadow {
    fill: #444444;
    fill-opacity: 0.3;
}

.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #FFFFFF;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #FFFFFF;
    border-color: #C6C6C6;
    box-shadow: 0px 0px 5px 3px rgba(68, 68,  68, .30);
}

.jchartfx_container table thead tr th {
    background-color: #003399;
    border-color: #C6C6C6;
    border-bottom-color: #C6C6C6;
    color: #CCCCFF;
}

.jchartfx_container table tbody tr td {
    color: #003399;
    border-color: #C6C6C6;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #FFFFFF;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #D7DFEF;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #003399;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #003399;
}

.jchartfx_container .labelIndicator {
    color: #003399;
}

.jchartfx_container .label {
    color: #003399;
}

.jchartfx_container .smallLabel {
    color: #003399;
}

.jchartfx .MapDefaultAttribute {
    fill: #d7dfef;
    stroke: #a0a8b7;
}

.jchartfx .Filler {
    fill: #003399;
    stroke: #002773;
}

.jchartfx .GaugeMarker {
    fill: #003399;
    stroke: #002773;
}

.jchartfx .Needle {
    fill: #009999;
    stroke: #007373;
}

.jchartfx .BorderMedium {
    fill: #D7DFEF;
    stroke: #738A9C;
}

.jchartfx .BorderThick {
    fill: #D7DFEF;
    stroke: #738A9C;
}

.jchartfx .Border0 {
    stroke: #0055FF;
    fill: #0055FF;
}

.jchartfx .Border1 {
    stroke: #00FFFF;
    fill: #00FFFF;
}

.jchartfx .Border2 {
    stroke: #00FFFF;
    fill: #00FFFF;
}

.jchartfx .Border3 {
    stroke: #FFFF24;
    fill: #FFFF24;
}

.jchartfx .Border4 {
    stroke: #FFFF00;
    fill: #FFFF00;
}

.jchartfx .Border5 {
    stroke: #FF0000;
    fill: #FF0000;
}

.jchartfx .Border6 {
    stroke: #FF00FF;
    fill: #FF00FF;
}

.jchartfx .Border7 {
    stroke: #FFFDFF;
    fill: #FFFDFF;
}

.jchartfx-menu-callout {
  color: rgba(0,51,153,0.5);
}

.jchartfx .GreaterThan {
    fill: #009999;
    stroke: #009999;
}

.jchartfx .LessThan {
    fill: #FE0000;
    stroke: #FE0000;
}

.jchartfx .EqualsTo {
    fill: #FFE316;
    stroke: #FFE316;
}

.jchartfx .InsideLabel0 {
    fill: #3D7DFF;
}

.jchartfx .InsideLabel1 {
    fill: #004160;
}

.jchartfx .InsideLabel2 {
    fill: #00FFFF;
}

.jchartfx .InsideLabel3 {
    fill: #605508;
}

.jchartfx .InsideLabel4 {
    fill: #FFFF00;
}

.jchartfx .InsideLabel5 {
    fill: #FFAAAA;
}

.jchartfx .InsideLabel6 {
    fill: #FF00FF;
}

.jchartfx .InsideLabel7 {
    fill: #583958;
}

.jchartfx .InsideLabel8 {
    fill: #534631;
}

.jchartfx .InsideLabel9 {
    fill: #AF6D6D;
}

.jchartfx .InsideLabel10 {
    fill: #403F39;
}

.jchartfx .InsideLabel11 {
    fill: #5500FF;
}

.jchartfx .InsideLabel12 {
    fill: #1E6023;
}

.jchartfx .InsideLabel13 {
    fill: #FF0000;
}

.jchartfx .InsideLabel14 {
    fill: #5F2626;
}

.jchartfx .InsideLabel15 {
    fill: #4C4C60;
}

.jchartfx .EmptyMarker {
    fill: #A5A5A5;
    stroke: #878787;
}

.jchartfx .Repeater {
    fill: #003399;
    stroke: #002773;
}

.jchartfx .RepeaterOff {
    fill: #6699FF;
    stroke: #6699FF;
}

.jchartfx-menu {
    border-color: #738A9C;
}