.jchartfx_body {
    background-color: #FFFFFF;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #FCFCFC;
    stroke: #000000;
}

.jchartfx .Attribute0 {
    fill: #9999FF;
    stroke: #7373C0;
}

.jchartfx .Attribute0Line {
    stroke: #7373C0;
}

.jchartfx .Attribute0Alt {
    fill: #7373C0;
}

.jchartfx .Attribute1 {
    fill: #993366;
    stroke: #73274D;
}

.jchartfx .Attribute1Line {
    stroke: #73274D;
}

.jchartfx .Attribute1Alt {
    fill: #BF3F7F;
}

.jchartfx .Attribute2 {
    fill: #FFFFCC;
    stroke: #C0C099;
}

.jchartfx .Attribute2Line {
    stroke: #C0C099;
}

.jchartfx .Attribute2Alt {
    fill: #C0C099;
}

.jchartfx .Attribute3 {
    fill: #CCFFFF;
    stroke: #99C0C0;
}

.jchartfx .Attribute3Line {
    stroke: #99C0C0;
}

.jchartfx .Attribute3Alt {
    fill: #99C0C0;
}

.jchartfx .Attribute4 {
    fill: #660066;
    stroke: #4D004D;
}

.jchartfx .Attribute4Line {
    stroke: #4D004D;
}

.jchartfx .Attribute4Alt {
    fill: #7F007F;
}

.jchartfx .Attribute5 {
    fill: #FF6666;
    stroke: #C04D4D;
}

.jchartfx .Attribute5Line {
    stroke: #C04D4D;
}

.jchartfx .Attribute5Alt {
    fill: #C04D4D;
}

.jchartfx .Attribute6 {
    fill: #0066CC;
    stroke: #004D99;
}

.jchartfx .Attribute6Line {
    stroke: #004D99;
}

.jchartfx .Attribute6Alt {
    fill: #007FFF;
}

.jchartfx .Attribute7 {
    fill: #CCFFCC;
    stroke: #99C099;
}

.jchartfx .Attribute7Line {
    stroke: #99C099;
}

.jchartfx .Attribute7Alt {
    fill: #99C099;
}

.jchartfx .Attribute8 {
    fill: #FFCC33;
    stroke: #C09927;
}

.jchartfx .Attribute8Line {
    stroke: #C09927;
}

.jchartfx .Attribute8Alt {
    fill: #C09927;
}

.jchartfx .Attribute9 {
    fill: #669999;
    stroke: #4D7373;
}

.jchartfx .Attribute9Line {
    stroke: #4D7373;
}

.jchartfx .Attribute9Alt {
    fill: #4D7373;
}

.jchartfx .Attribute10 {
    fill: #FFCCFF;
    stroke: #C099C0;
}

.jchartfx .Attribute10Line {
    stroke: #C099C0;
}

.jchartfx .Attribute10Alt {
    fill: #C099C0;
}

.jchartfx .Attribute11 {
    fill: #CCCCCC;
    stroke: #999999;
}

.jchartfx .Attribute11Line {
    stroke: #999999;
}

.jchartfx .Attribute11Alt {
    fill: #999999;
}

.jchartfx .Attribute12 {
    fill: #669966;
    stroke: #4D734D;
}

.jchartfx .Attribute12Line {
    stroke: #4D734D;
}

.jchartfx .Attribute12Alt {
    fill: #4D734D;
}

.jchartfx .Attribute13 {
    fill: #FF6699;
    stroke: #C04D73;
}

.jchartfx .Attribute13Line {
    stroke: #C04D73;
}

.jchartfx .Attribute13Alt {
    fill: #C04D73;
}

.jchartfx .Attribute14 {
    fill: #999900;
    stroke: #737300;
}

.jchartfx .Attribute14Line {
    stroke: #737300;
}

.jchartfx .Attribute14Alt {
    fill: #BFBF00;
}

.jchartfx .Attribute15 {
    fill: #33FF66;
    stroke: #27C04D;
}

.jchartfx .Attribute15Line {
    stroke: #27C04D;
}

.jchartfx .Attribute15Alt {
    fill: #27C04D;
}

.jchartfx .MarkerHollow {
    fill: #FFFFFF;
}

.jchartfx .Border {
    fill: #DDDDDD;
    stroke: #888888;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #888888;
}

.jchartfx .PlotArea3D {
    fill: #FFFFFF;
    stroke: #888888;
}

.jchartfx .CustomGridLine {
    stroke: #CC3333;
}

.jchartfx .CustomGridLineLabel {
    fill: #666666;
}

.jchartfx .AxisY_Section {
    fill: #E2FFFF;
    stroke: #C7E0E0;
}

.jchartfx .AxisX_Section {
    fill: #E2FFFF;
    stroke: #C7E0E0;
}

.jchartfx .AxisY_Text {
    fill: #000000;
}

.jchartfx .AxisY_Major {
    stroke: #888888;
}

.jchartfx .AxisY_Minor {
    stroke: #888888;
}

.jchartfx .AxisY_Interlaced {
    fill: #DDDDDD;
}

.jchartfx .AxisY_Line {
    stroke: #888888;
}

.jchartfx .AxisX_Text {
    fill: #000000;
}

.jchartfx .AxisX_Major {
    stroke: #888888;
}

.jchartfx .AxisX_Minor {
    stroke: #888888;
}

.jchartfx .AxisX_Interlaced {
    fill: #DDDDDD;
}

.jchartfx .AxisX_Line {
    stroke: #888888;
}

.jchartfx .PointLabel {
    fill: #666666;
}

.jchartfx .PointLabelBorder {
    fill: #838383;
    stroke: #666666;
}

.jchartfx .Title {
    fill: #000000;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #888888;
}

.jchartfx .LegendItem {
    fill: #000000;
}

.jchartfx .ScrollBar {
    fill: #FFFFFF;
    stroke: #888888;
}

.jchartfx .ScrollThumb {
    fill: #888888;
}

.jchartfx .ScrollArrow {
    fill: #888888;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #666666;
}

.jchartfx .DataGrid_Back {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_GridLine {
    fill: #888888;
}

.jchartfx .DataGridText {
    fill: #666666;
}

.jchartfx .DataGridTextAlternate {
    fill: #666666;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #DDDDDD;
}

.jchartfx .DataGrid_RowHeader {
    fill: #000000;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #666666;
}

.jchartfx .AnnotationText {
    fill: #000000;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #666666;
}

.jchartfx .AnnotationBalloonText {
    fill: #000000;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #666666;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #666666;
}

.jchartfx .AnnotationArrow {
    fill: #666666;
    stroke: #666666;
}

.jchartfx .AnnotationArc {
    fill: #666666;
    stroke: #666666;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #666666;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #666666;
}

.jchartfx .HeatMap0 {
    fill: #9999FF;
}

.jchartfx .HeatMap1 {
    fill: #993366;
}

.jchartfx .EqualizerTop0 {
    stroke: #73274D;
    fill: #993366;
}

.jchartfx .EqualizerTop1 {
    stroke: #C0C099;
    fill: #FFFFCC;
}

.jchartfx .MapContext {
    fill: #dddddd;
    stroke: #a6a6a6;
}

.jchartfx .MapOcean0 {
    fill: #a4d0e7;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #96c2d9;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #88b4cb;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #7ba7bd;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #6e9aaf;
    stroke: none;
}

.jchartfx .MapWater {
    fill: #dcffff;
    stroke: #a4d0e7;
}

.jchartfx .MapAttribute0 {
    fill: #9999ff;
    stroke: #6066c6;
}

.jchartfx .MapAttribute1 {
    fill: #993366;
    stroke: #620037;
}

.jchartfx .MapAttribute2 {
    fill: #ffffcc;
    stroke: #c6c696;
}

.jchartfx .MapAttribute3 {
    fill: #2525b7;
    stroke: #000080;
}

.jchartfx .MapAttribute4 {
    fill: #4d0f2e;
    stroke: #260000;
}

.jchartfx .MapAttribute5 {
    fill: #b7b768;
    stroke: #808236;
}

.jchartfx .MapAttribute6 {
    fill: #58586f;
    stroke: #2a2b3f;
}

.jchartfx .MapAttribute7 {
    fill: #cca3b7;
    stroke: #956f82;
}

.jchartfx .MapRoad {
    stroke: #FF6666;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .4;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #FF6666;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #FF6666;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #DDDDDD;
    stroke: #888888;
}

.jchartfx_gauge .Border {
    fill: #DDDDDD;
    stroke: #888888;
}

.jchartfx_gauge .Indicator {
    fill: #9999FF;
    stroke: #7373C0;
}

.jchartfx_gauge .Cap {
    fill: #000000;
}

.jchartfx_gauge .Bar {
    stroke: #888888;
    fill: #FFFFFF;
}

.jchartfx_gauge .TickMajor {
    stroke: #888888;
    fill: #888888;
}

.jchartfx_gauge .TickMedium {
    stroke: #888888;
    fill: #888888;
}

.jchartfx_gauge .Text {
    fill: #000000;
}

.jchartfx_gauge .Title {
    fill: #000000;
}

.jchartfx_gauge .Section0 {
    fill: #993366;
    stroke: #73274D;
}

.jchartfx_gauge .Section1 {
    fill: #FFFFCC;
    stroke: #C0C099;
}

.jchartfx_gauge .Section2 {
    fill: #CCFFFF;
    stroke: #99C0C0;
}

.jchartfx_gauge .GreaterThan {
    fill: #CCFFFF;
}

.jchartfx_gauge .LessThan {
    fill: #993366;
}

.jchartfx_gauge .EqualsTo {
    fill: #FFFFCC;
}

.jchartfx_gauge .Separator {
    stroke: #888888;
}

.jchartfx .MapPlot {
    fill: #6e9aaf;
    fill-opacity: 0;
}

.jchartfx_gauge .TitleLarge {
    fill: #000000;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #000000;
}

.jchartfx_gauge .DashboardTitle {
    fill: #000000;
}

.jchartfx .DashboardCaption {
    fill: #9999FF;
    stroke: #FFFFFF;
}

.jchartfx_gauge .DashboardCaption {
    fill: #9999FF;
    stroke: #FFFFFF;
}

.jchartfx .EqualizerOff {
        fill: #AAAAAA;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #444444;
}

.jchartfx_gauge .Glow {
    fill: #444444;
}

.jchartfx .MapShadow {
    fill: #444444;
    fill-opacity: 0.3;
}

.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #FFFFFF;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #FFFFFF;
    border-color: #888888;
    box-shadow: 0px 0px 5px 3px rgba(68, 68,  68, .30);
}

.jchartfx_container table thead tr th {
    background-color: #666666;
    border-color: #888888;
    border-bottom-color: #888888;
    color: #FFFFFF;
}

.jchartfx_container table tbody tr td {
    color: #666666;
    border-color: #888888;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #FFFFFF;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #DDDDDD;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #000000;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #000000;
}

.jchartfx_container .labelIndicator {
    color: #000000;
}

.jchartfx_container .label {
    color: #000000;
}

.jchartfx_container .smallLabel {
    color: #000000;
}

.jchartfx_gauge .BorderMedium {
    fill: #DDDDDD;
    stroke: #888888;
}

.jchartfx_gauge .BorderThick {
    fill: #DDDDDD;
    stroke: #888888;
}

.jchartfx .MapDefaultAttribute {
    fill: #dddddd;
    stroke: #a6a6a6;
}

.jchartfx_gauge .Filler {
    fill: #9999FF;
    stroke: #7373C0;
}

.jchartfx_gauge .Marker {
    fill: #9999FF;
    stroke: #7373C0;
}

.jchartfx_gauge .Needle {
    fill: #9999FF;
    stroke: #7373C0;
}

.jchartfx .BorderMedium {
    fill: #DDDDDD;
    stroke: #888888;
}

.jchartfx .BorderThick {
    fill: #DDDDDD;
    stroke: #888888;
}

.jchartfx .Border0 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border1 {
    stroke: #FF55AA;
    fill: #FF55AA;
}

.jchartfx .Border2 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border3 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border4 {
    stroke: #AA00AA;
    fill: #AA00AA;
}

.jchartfx .Border5 {
    stroke: #FFAAAA;
    fill: #FFAAAA;
}

.jchartfx .Border6 {
    stroke: #00AAFF;
    fill: #00AAFF;
}

.jchartfx .Border7 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx_gauge .Border0  {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx_gauge .Border1  {
    stroke: #FF55AA;
    fill: #FF55AA;
}

.jchartfx_gauge .Border2  {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx_gauge .Border3  {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx_gauge .Border4  {
    stroke: #AA00AA;
    fill: #AA00AA;
}

.jchartfx_gauge .Border5  {
    stroke: #FFAAAA;
    fill: #FFAAAA;
}

.jchartfx_gauge .Border6  {
    stroke: #00AAFF;
    fill: #00AAFF;
}

.jchartfx_gauge .Border7  {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx-menu .toggle.active {
  background-color: #CCFFFF;
}

.jchartfx-menu td.btnposition.active a {
  background-color: #CCFFFF;
}

.jchartfx-menu .selectable li.active {
    border: 1px solid;
    border-color: #9999FF;
    box-shadow: inset 0 0 0px 0px #9999FF;
    background: rgba(153,153,255, 0.2);
}

.jchartfx .GreaterThan {
    stroke: #CCFFFF;
}

.jchartfx .LessThan {
    stroke: #993366;
}

.jchartfx .EqualsTo {
    stroke: #FFFFCC;
}