.jchartfx_body {
    background-color: #FFFFFF;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #FFFFFF;
    stroke: #666666;
}

.jchartfx .Attribute0 {
    fill: #57ACDA;
    stroke: #4281A4;
}

.jchartfx .Attribute0Line {
    stroke: #4281A4;
}

.jchartfx .Attribute0Alt {
    fill: #4281A4;
}

.jchartfx .Attribute1 {
    fill: #93E24E;
    stroke: #6FAA3B;
}

.jchartfx .Attribute1Line {
    stroke: #6FAA3B;
}

.jchartfx .Attribute1Alt {
    fill: #6FAA3B;
}

.jchartfx .Attribute2 {
    fill: #F26C5B;
    stroke: #B65145;
}

.jchartfx .Attribute2Line {
    stroke: #B65145;
}

.jchartfx .Attribute2Alt {
    fill: #B65145;
}

.jchartfx .Attribute3 {
    fill: #F5D34A;
    stroke: #B89F38;
}

.jchartfx .Attribute3Line {
    stroke: #B89F38;
}

.jchartfx .Attribute3Alt {
    fill: #B89F38;
}

.jchartfx .Attribute4 {
    fill: #F89553;
    stroke: #BA703F;
}

.jchartfx .Attribute4Line {
    stroke: #BA703F;
}

.jchartfx .Attribute4Alt {
    fill: #BA703F;
}

.jchartfx .Attribute5 {
    fill: #65C773;
    stroke: #4C9657;
}

.jchartfx .Attribute5Line {
    stroke: #4C9657;
}

.jchartfx .Attribute5Alt {
    fill: #4C9657;
}

.jchartfx .Attribute6 {
    fill: #5ABEC7;
    stroke: #448F96;
}

.jchartfx .Attribute6Line {
    stroke: #448F96;
}

.jchartfx .Attribute6Alt {
    fill: #448F96;
}

.jchartfx .Attribute7 {
    fill: #CE9884;
    stroke: #9B7263;
}

.jchartfx .Attribute7Line {
    stroke: #9B7263;
}

.jchartfx .Attribute7Alt {
    fill: #9B7263;
}

.jchartfx .Attribute8 {
    fill: #5F6775;
    stroke: #484E58;
}

.jchartfx .Attribute8Line {
    stroke: #484E58;
}

.jchartfx .Attribute8Alt {
    fill: #768092;
}

.jchartfx .Attribute9 {
    fill: #E9EA52;
    stroke: #AFB03E;
}

.jchartfx .Attribute9Line {
    stroke: #AFB03E;
}

.jchartfx .Attribute9Alt {
    fill: #AFB03E;
}

.jchartfx .Attribute10 {
    fill: #E04E61;
    stroke: #A83B49;
}

.jchartfx .Attribute10Line {
    stroke: #A83B49;
}

.jchartfx .Attribute10Alt {
    fill: #A83B49;
}

.jchartfx .Attribute11 {
    fill: #6FE4C8;
    stroke: #54AB96;
}

.jchartfx .Attribute11Line {
    stroke: #54AB96;
}

.jchartfx .Attribute11Alt {
    fill: #54AB96;
}

.jchartfx .Attribute12 {
    fill: #ECA63F;
    stroke: #B17D30;
}

.jchartfx .Attribute12Line {
    stroke: #B17D30;
}

.jchartfx .Attribute12Alt {
    fill: #B17D30;
}

.jchartfx .Attribute13 {
    fill: #99D0A0;
    stroke: #739C78;
}

.jchartfx .Attribute13Line {
    stroke: #739C78;
}

.jchartfx .Attribute13Alt {
    fill: #739C78;
}

.jchartfx .Attribute14 {
    fill: #CE8FBE;
    stroke: #9B6C8F;
}

.jchartfx .Attribute14Line {
    stroke: #9B6C8F;
}

.jchartfx .Attribute14Alt {
    fill: #9B6C8F;
}

.jchartfx .Attribute15 {
    fill: #8DC3E0;
    stroke: #6A93A8;
}

.jchartfx .Attribute15Line {
    stroke: #6A93A8;
}

.jchartfx .Attribute15Alt {
    fill: #6A93A8;
}

.jchartfx .MarkerHollow {
    fill: #FFFFFF;
}

.jchartfx .Border {
    fill: #F5F5EE;
    stroke: #DBDBD9;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #DBDBD9;
}

.jchartfx .PlotArea3D {
    fill: #F5F5F2;
    stroke: #DBDBD9;
}

.jchartfx .CustomGridLine {
    stroke: #FC4B35;
}

.jchartfx .CustomGridLineLabel {
    fill: #666666;
}

.jchartfx .AxisText {
    fill: #666666;
}

.jchartfx .AxisMajor {
    stroke: #DBDBD9;
}

.jchartfx .AxisMinor {
    stroke: #DBDBD9;
}

.jchartfx .AxisInterlaced {
    fill: #F5F5EE;
}

.jchartfx .AxisLine {
    stroke: #DBDBD9;
}

.jchartfx .AxisSection {
    fill: #FFFFFF;
    stroke: #FFFFFF;
}

.jchartfx .PointLabel {
    fill: #666666;
}

.jchartfx .PointLabelBorder {
    fill: #D0D0D0;
}

.jchartfx .Title {
    fill: #0296B1;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #DBDBD9;
}

.jchartfx .LegendItem {
    fill: #666666;
}

.jchartfx .ScrollBar {
    fill: #F5F5F2;
    stroke: #DBDBD9;
}

.jchartfx .ScrollThumb {
    fill: #DBDBD9;
}

.jchartfx .ScrollArrow {
    fill: #DBDBD9;
}

.jchartfx .LoopMarker {
    stroke: #F00000;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #DDE3E7;
}

.jchartfx .DataGrid_Back {
    fill: #F5F5F2;
}

.jchartfx .DataGrid_GridLine {
    fill: #DEDAD3;
}

.jchartfx .DataGridText {
    fill: #666666;
}

.jchartfx .DataGridTextAlternate {
    fill: #000000;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_RowHeader {
    fill: #666666;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #6D7D8A;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #000000;
}

.jchartfx .HeatMap0 {
    fill: #57ACDA;
}

.jchartfx .HeatMap1 {
    fill: #93E24E;
}

.jchartfx .HeatMap2 {
    fill: #A02000;
}

.jchartfx .EqualizerTop0 {
    fill: #F89553;
    stroke: #BA703F;
}

.jchartfx .EqualizerTop1 {
    fill: #F5D34A;
    stroke: #B89F38;
}

.jchartfx .EqualizerOff {
    fill: #DBDBD9;
    fill-opacity: 0.2;
}

.jchartfx .SpecialPoint {
    fill: #D0A000;
    stroke: #806000;
}

.jchartfx .SpecialPointLine {
    stroke: #806000;
}

.jchartfx .AnnotationRectangle {
    stroke: #806000;
    fill: #D04080;
}

.jchartfx .AnnotationTextBorder {
    stroke: #606060;
    fill: #FFF3EE;
}

.jchartfx .AnnotationText {
    fill: #404040;
}

.jchartfx .AnnotationCircle {
    stroke: #2060D0;
    fill: #404080;
}

.jchartfx .AnnotationBalloon {
    stroke: #206020;
    fill: #A0A0E0;
}

.jchartfx .AnnotationBalloonText {
    fill: #404040;
}

.jchartfx .AnnotationArrow {
    stroke: #404040;
    fill: #800000;
}

.jchartfx .MapContext {
    fill: #f5f5ee;
    stroke: #bdbdb6;
}

.jchartfx .MapWater {
    fill: #bfffff;
    stroke: #84d5ff;
}

.jchartfx .MapOcean0 {
    fill: #84d5ff;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #75c7f1;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #66b9e3;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #57abd5;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #479ec7;
    stroke: none;
}

.jchartfx .MapDefaultAttribute {
    fill: #f5f5ee;
    stroke: #bdbdb6;
}

.jchartfx .MapAttribute0 {
    fill: #93e24e;
    stroke: #5aaa0a;
}

.jchartfx .MapAttribute1 {
    fill: #f26c5b;
    stroke: #b4362d;
}

.jchartfx .MapAttribute2 {
    fill: #f5d34a;
    stroke: #b99d00;
}

.jchartfx .MapAttribute3 {
    fill: #5ea321;
    stroke: #236f00;
}

.jchartfx .MapAttribute4 {
    fill: #ae3223;
    stroke: #720000;
}

.jchartfx .MapAttribute5 {
    fill: #b09423;
    stroke: #776200;
}

.jchartfx .MapAttribute6 {
    fill: #5a6551;
    stroke: #2c3624;
}

.jchartfx .MapAttribute7 {
    fill: #6a5755;
    stroke: #3a2a28;
}

.jchartfx .MapRoad {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: .3;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .1;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #E2C195;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #F5F5EE;
    stroke: #DBDBD9;
}

.jchartfx .MapPlot {
    fill: #479ec7;
    fill-opacity: 0;
}

.jchartfx_gauge .Border {
    fill: #F5F5EE;
    stroke: #DBDBD9;
}

.jchartfx_gauge .BorderMedium {
    fill: #F5F5EE;
    stroke: #DBDBD9;
}

.jchartfx_gauge .BorderThick {
    fill: #F5F5EE;
    stroke: #DBDBD9;
}

.jchartfx_gauge .Indicator {
    fill: #57ACDA;
    stroke: #4281A4;
}

.jchartfx_gauge .Cap {
    fill: #DBDBD9;
}

.jchartfx_gauge .Bar {
    fill: #FFFFFF;
    stroke: #DBDBD9;
}

.jchartfx_gauge .TickMajor {
    fill: #DBDBD9;
    stroke: #DBDBD9;
}

.jchartfx_gauge .TickMedium {
    fill: #DBDBD9;
    stroke: #DBDBD9;
}

.jchartfx_gauge .Text {
    fill: #666666;
}

.jchartfx_gauge .Title {
    fill: #0296B1;
}

.jchartfx_gauge .TitleLarge {
    fill: #0296B1;
}

.jchartfx_gauge .Section0 {
    fill: #F26C5B;
    stroke: #B65145;
}

.jchartfx_gauge .Section1 {
    fill: #F5D34A;
    stroke: #B89F38;
}

.jchartfx_gauge .Section2 {
    fill: #93E24E;
    stroke: #6FAA3B;
}

.jchartfx_gauge .GreaterThan {
    fill: #93E24E;
}

.jchartfx_gauge .LessThan {
    fill: #F26C5B;
}

.jchartfx_gauge .EqualsTo {
    fill: #F5D34A;
}

.jchartfx_gauge .Separator {
    stroke: #DBDBD9;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #0296B1;
}

.jchartfx_gauge .DashboardTitle {
    fill: #0296B1;
}

.jchartfx .DashboardCaption {
    fill: #57ACDA;
    stroke: #FFFFFF;
}

.jchartfx_gauge .DashboardCaption {
    fill: #57ACDA;
    stroke: #FFFFFF;
}

.jchartfx .Glow {
    fill: #444444;
}

.jchartfx_gauge .Glow {
    fill: #444444;
}

.jchartfx .MapShadow {
    fill: #444444;
    fill-opacity: 0.3;
}

.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #FFFFFF;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #F5F5F2;
    border-color:#DEDAD3;
} 

.jchartfx_container table thead tr th { 
    background-color: #DDE3E7;
    border-color: #DEDAD3;
    border-bottom-color: #DBDBD9; 
    color: #6D7D8A;
}

.jchartfx_container table tbody tr td {
    color: #666666;
    border-color: #DEDAD3;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #F5F5F2;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #FFFFFF; 
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #0296b1; 
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #666666;
}

.jchartfx_container .labelIndicator {
    color: #666666;
}

.jchartfx_container .label {
    color: #666666;
}

.jchartfx_container .smallLabel {
    color: #666666;
}

.jchartfx_container table {
    box-shadow: 0px 0px 5px 3px rgba(68, 68,  68, .30);
}

.jchartfx_gauge .Filler {
    fill: #57ACDA;
    stroke: #4281A4;
}

.jchartfx_gauge .Marker {
    fill: #57ACDA;
    stroke: #4281A4;
}

.jchartfx_gauge .Needle {
    fill: #57ACDA;
    stroke: #4281A4;
}

.jchartfx .BorderMedium {
    fill: #F5F5EE;
    stroke: #DBDBD9;
}

.jchartfx .BorderThick {
    fill: #F5F5EE;
    stroke: #DBDBD9;
}

.jchartfx .Border0 {
    stroke: #91FFFF;
    fill: #91FFFF;
}

.jchartfx .Border1 {
    stroke: #F5FF82;
    fill: #F5FF82;
}

.jchartfx .Border2 {
    stroke: #FFB497;
    fill: #FFB497;
}

.jchartfx .Border3 {
    stroke: #FFFF7B;
    fill: #FFFF7B;
}

.jchartfx .Border4 {
    stroke: #FFF88A;
    fill: #FFF88A;
}

.jchartfx .Border5 {
    stroke: #A8FFBF;
    fill: #A8FFBF;
}

.jchartfx .Border6 {
    stroke: #96FFFF;
    fill: #96FFFF;
}

.jchartfx .Border7 {
    stroke: #FFFDDC;
    fill: #FFFDDC;
}

.jchartfx_gauge .Border0  {
    stroke: #91FFFF;
    fill: #91FFFF;
}

.jchartfx_gauge .Border1  {
    stroke: #F5FF82;
    fill: #F5FF82;
}

.jchartfx_gauge .Border2  {
    stroke: #FFB497;
    fill: #FFB497;
}

.jchartfx_gauge .Border3  {
    stroke: #FFFF7B;
    fill: #FFFF7B;
}

.jchartfx_gauge .Border4  {
    stroke: #FFF88A;
    fill: #FFF88A;
}

.jchartfx_gauge .Border5  {
    stroke: #A8FFBF;
    fill: #A8FFBF;
}

.jchartfx_gauge .Border6  {
    stroke: #96FFFF;
    fill: #96FFFF;
}

.jchartfx_gauge .Border7  {
    stroke: #FFFDDC;
    fill: #FFFDDC;
}

.jchartfx-menu-callout {
  background-color: rgba(255, 255, 255, 0);
  color: #FFFFFF;
}

.jchartfx .GreaterThan {
    stroke: #93E24E;
}

.jchartfx .LessThan {
    stroke: #F26C5B;
}

.jchartfx .EqualsTo {
    stroke: #F5D34A;
}