.jchartfx_body {
    background-color: #FFFFFF;
}

.jchartfxToolTip {
    background-color: #333333;
    color: #F0F0F0;
    border-color: #333333;
}

.jchartfxToolTipBorder {
    fill: #333333;
    stroke: #F0F0F0;
}

.jchartfx .Attribute0 {
    fill: #5D7C9B;
    stroke: #465D75;
}

.jchartfx .Attribute0Line {
    stroke: #465D75;
}

.jchartfx .Attribute0Alt {
    fill: #749BC1;
}

.jchartfx .Attribute1 {
    fill: #F0B35F;
    stroke: #B48748;
}

.jchartfx .Attribute1Line {
    stroke: #B48748;
}

.jchartfx .Attribute1Alt {
    fill: #B48748;
}

.jchartfx .Attribute2 {
    fill: #5F5474;
    stroke: #483F57;
}

.jchartfx .Attribute2Line {
    stroke: #483F57;
}

.jchartfx .Attribute2Alt {
    fill: #766991;
}

.jchartfx .Attribute3 {
    fill: #4CB7C3;
    stroke: #398A93;
}

.jchartfx .Attribute3Line {
    stroke: #398A93;
}

.jchartfx .Attribute3Alt {
    fill: #398A93;
}

.jchartfx .Attribute4 {
    fill: #E5BDE4;
    stroke: #AC8EAB;
}

.jchartfx .Attribute4Line {
    stroke: #AC8EAB;
}

.jchartfx .Attribute4Alt {
    fill: #AC8EAB;
}

.jchartfx .Attribute5 {
    fill: #BF7381;
    stroke: #905761;
}

.jchartfx .Attribute5Line {
    stroke: #905761;
}

.jchartfx .Attribute5Alt {
    fill: #905761;
}

.jchartfx .Attribute6 {
    fill: #73BFA1;
    stroke: #579079;
}

.jchartfx .Attribute6Line {
    stroke: #579079;
}

.jchartfx .Attribute6Alt {
    fill: #579079;
}

.jchartfx .Attribute7 {
    fill: #FFBC35;
    stroke: #C08D28;
}

.jchartfx .Attribute7Line {
    stroke: #C08D28;
}

.jchartfx .Attribute7Alt {
    fill: #C08D28;
}

.jchartfx .Attribute8 {
    fill: #554C8E;
    stroke: #40396B;
}

.jchartfx .Attribute8Line {
    stroke: #40396B;
}

.jchartfx .Attribute8Alt {
    fill: #6A5FB1;
}

.jchartfx .Attribute9 {
    fill: #34BCD9;
    stroke: #278DA3;
}

.jchartfx .Attribute9Line {
    stroke: #278DA3;
}

.jchartfx .Attribute9Alt {
    fill: #278DA3;
}

.jchartfx .Attribute10 {
    fill: #5192C1;
    stroke: #3D6E91;
}

.jchartfx .Attribute10Line {
    stroke: #3D6E91;
}

.jchartfx .Attribute10Alt {
    fill: #3D6E91;
}

.jchartfx .Attribute11 {
    fill: #52C999;
    stroke: #3E9773;
}

.jchartfx .Attribute11Line {
    stroke: #3E9773;
}

.jchartfx .Attribute11Alt {
    fill: #3E9773;
}

.jchartfx .Attribute12 {
    fill: #EDA1EB;
    stroke: #B279B1;
}

.jchartfx .Attribute12Line {
    stroke: #B279B1;
}

.jchartfx .Attribute12Alt {
    fill: #B279B1;
}

.jchartfx .Attribute13 {
    fill: #D15770;
    stroke: #9D4254;
}

.jchartfx .Attribute13Line {
    stroke: #9D4254;
}

.jchartfx .Attribute13Alt {
    fill: #9D4254;
}

.jchartfx .Attribute14 {
    fill: #F9F9F9;
    stroke: #BBBBBB;
}

.jchartfx .Attribute14Line {
    stroke: #BBBBBB;
}

.jchartfx .Attribute14Alt {
    fill: #BBBBBB;
}

.jchartfx .Attribute15 {
    fill: #F5D34A;
    stroke: #B89F38;
}

.jchartfx .Attribute15Line {
    stroke: #B89F38;
}

.jchartfx .Attribute15Alt {
    fill: #B89F38;
}

.jchartfx .MarkerHollow {
    fill: #FFFFFF;
}

.jchartfx .Border {
    fill: #FFFFFF;
    stroke: #EEEEEE;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #EEEEEE;
}

.jchartfx .PlotArea3D {
    fill: #F1F6F9;
    stroke: #EEEEEE;
}

.jchartfx .CustomGridLine {
    stroke: #666666;
}

.jchartfx .CustomGridLineLabel {
    fill: #989898;
}

.jchartfx .AxisY_Section {
    fill: #F6F6F6;
    stroke: #F6F6F6;
}

.jchartfx .AxisX_Section {
    fill: #F6F6F6;
    stroke: #F6F6F6;
}

.jchartfx .AxisY_Text {
    fill: #989898;
}

.jchartfx .AxisY_Major {
    stroke: #EEEEEE;
}

.jchartfx .AxisY_Minor {
    stroke: #EEEEEE;
}

.jchartfx .AxisY_Interlaced {
    fill: #F1F6F9;
}

.jchartfx .AxisY_Line {
    stroke: #EEEEEE;
}

.jchartfx .AxisX_Text {
    fill: #989898;
}

.jchartfx .AxisX_Major {
    stroke: #EEEEEE;
}

.jchartfx .AxisX_Minor {
    stroke: #EEEEEE;
}

.jchartfx .AxisX_Interlaced {
    fill: #F1F6F9;
}

.jchartfx .AxisX_Line {
    stroke: #EEEEEE;
}

.jchartfx .PointLabel {
    fill: #989898;
}

.jchartfx .PointLabelBorder {
    fill: #727272;
    stroke: #989898;
}

.jchartfx .Title {
    fill: #555555;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #EEEEEE;
}

.jchartfx .LegendItem {
    fill: #666666;
}

.jchartfx .ScrollBar {
    fill: transparent;
    stroke: #EEEEEE;
}

.jchartfx .ScrollThumb {
    fill: #EEEEEE;
}

.jchartfx .ScrollArrow {
    fill: #EEEEEE;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #F6F6F6;
}

.jchartfx .DataGrid_Back {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_GridLine {
    fill: #DBDBD9;
}

.jchartfx .DataGridText {
    fill: #666666;
}

.jchartfx .DataGridTextAlternate {
    fill: #666666;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #F1F6F9;
}

.jchartfx .DataGrid_RowHeader {
    fill: #989898;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #666666;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #666666;
}

.jchartfx .AnnotationText {
    fill: #989898;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #989898;
}

.jchartfx .AnnotationBalloonText {
    fill: #989898;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #989898;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #989898;
}

.jchartfx .AnnotationArrow {
    fill: #989898;
    stroke: #989898;
}

.jchartfx .AnnotationArc {
    fill: #989898;
    stroke: #989898;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #989898;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #989898;
}

.jchartfx .HeatMap0 {
    fill: #5D7C9B;
}

.jchartfx .HeatMap1 {
    fill: #F0B35F;
}

.jchartfx .EqualizerTop0 {
    fill: #F0B35F;
    stroke: #B48748;
}

.jchartfx .EqualizerTop1 {
    fill: #5F5474;
    stroke: #483F57;
}

.jchartfx_gauge .Border {
    fill: #FFFFFF;
    stroke: #EEEEEE;
}

.jchartfx_gauge .Indicator {
    fill: #5D7C9B;
    stroke: #465D75;
}

.jchartfx_gauge .Cap {
    fill: #989898;
}

.jchartfx_gauge .Bar {
    stroke: #DDDDDD;
    fill: #EEEEEE;
}

.jchartfx_gauge .TickMajor {
    stroke: #808080;
    fill: #808080;
}

.jchartfx_gauge .TickMedium {
    stroke: #808080;
    fill: #808080;
}

.jchartfx_gauge .Text {
    fill: #989898;
}

.jchartfx_gauge .Title {
    fill: #555555;
}

.jchartfx_gauge .TitleLarge {
    fill: #555555;
}

.jchartfx_gauge .Section0 {
    fill: #BF7381;
    stroke: #905761;
}

.jchartfx_gauge .Section1 {
    fill: #F0B35F;
    stroke: #B48748;
}

.jchartfx_gauge .Section2 {
    fill: #73BFA1;
    stroke: #579079;
}

.jchartfx_gauge .GreaterThan {
    fill: #73BFA1;
}

.jchartfx_gauge .LessThan {
    fill: #BF7381;
}

.jchartfx_gauge .EqualsTo {
    fill: #F0B35F;
}

.jchartfx_gauge .Separator {
    stroke: #EEEEEE;
}

.jchartfx .DashboardTitle {
    fill: #555555;
}

.jchartfx_gauge .DashboardTitle {
    fill: #555555;
}

.jchartfx .MapContext {
    fill: #ffffff;
    stroke: #EEEEEE;
}

.jchartfx .MapWater {
    fill: #92b0d2;
    stroke: #5d7c9b;
}

.jchartfx .MapOcean0 {
    fill: #5d7c9b;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #506f8e;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #436381;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #365774;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #294b68;
    stroke: none;
}

.jchartfx .MapAttribute0 {
    fill: #f0b35f;
    stroke: #b47e2c;
}

.jchartfx .MapAttribute1 {
    fill: #5f5474;
    stroke: #302744;
}

.jchartfx .MapAttribute2 {
    fill: #4cb7c3;
    stroke: #00828d;
}

.jchartfx .MapAttribute3 {
    fill: #ad7323;
    stroke: #744300;
}

.jchartfx .MapAttribute4 {
    fill: #240f4d;
    stroke: #000022;
}

.jchartfx .MapAttribute5 {
    fill: #1d838f;
    stroke: #00515d;
}

.jchartfx .MapAttribute6 {
    fill: #6a6154;
    stroke: #3a3327;
}

.jchartfx .MapAttribute7 {
    fill: #b1a4cc;
    stroke: #7c7096;
}

.jchartfx .MapAttribute8 {
    fill: #48595b;
    stroke: #1c2c2d;
}

.jchartfx .MapRoad {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: .3;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .1;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #E2C195;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapPlot {
    fill: #294b68;
    fill-opacity: 0;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardCaption {
    fill: #5D7C9B;
    stroke: #FFFFFF;
}

.jchartfx_gauge .DashboardCaption {
    fill: #5D7C9B;
    stroke: #FFFFFF;
}

.jchartfx .EqualizerOff {
    fill: #CCCCCC;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #444444;
}

.jchartfx_gauge .Glow {
    fill: #444444;
}

.jchartfx .MapShadow {
    fill: #444444;
    fill-opacity: 0.3;
}

.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #EEEEEE;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #FFFFFF;
    border-color: #DBDBD9;
    box-shadow: 0px 0px 5px 3px rgba(68, 68,  68, .30);
}

.jchartfx_container table thead tr th {
    background-color: #F6F6F6;
    border-color: #DBDBD9;
    border-bottom-color: #EEEEEE;
    color: #31373A;
}

.jchartfx_container table tbody tr td {
    color: #31373A;
    border-color: #DBDBD9;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #FFFFFF;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #F1F6F9;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #555555;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #989898;
}

.jchartfx_container .labelIndicator {
    color: #989898;
}

.jchartfx_container .label {
    color: #989898;
}

.jchartfx_container .smallLabel {
    color: #989898;
}

.jchartfx_gauge .BorderMedium {
    fill: #FFFFFF;
    stroke: #EEEEEE;
}

.jchartfx_gauge .BorderThick {
    fill: #FFFFFF;
    stroke: #EEEEEE;
}

.jchartfx .MapDefaultAttribute {
    fill: #ffffff;
    stroke: #EEEEEE;
}

.jchartfx_gauge .Filler {
    fill: #5D7C9B;
    stroke: #465D75;
}

.jchartfx_gauge .Marker {
    fill: #5D7C9B;
    stroke: #465D75;
}

.jchartfx_gauge .Needle {
    fill: #5D7C9B;
    stroke: #465D75;
}

.jchartfx .BorderMedium {
    fill: #FFFFFF;
    stroke: #EEEEEE;
}

.jchartfx .BorderThick {
    fill: #FFFFFF;
    stroke: #EEEEEE;
}

.jchartfx .Border0 {
    stroke: #9BCEFF;
    fill: #9BCEFF;
}

.jchartfx .Border1 {
    stroke: #FFFF9E;
    fill: #FFFF9E;
}

.jchartfx .Border2 {
    stroke: #9E8CC1;
    fill: #9E8CC1;
}

.jchartfx .Border3 {
    stroke: #7EFFFF;
    fill: #7EFFFF;
}

.jchartfx .Border4 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border5 {
    stroke: #FFBFD7;
    fill: #FFBFD7;
}

.jchartfx .Border6 {
    stroke: #BFFFFF;
    fill: #BFFFFF;
}

.jchartfx .Border7 {
    stroke: #FFFF58;
    fill: #FFFF58;
}

.jchartfx_gauge .Border0  {
    stroke: #9BCEFF;
    fill: #9BCEFF;
}

.jchartfx_gauge .Border1  {
    stroke: #FFFF9E;
    fill: #FFFF9E;
}

.jchartfx_gauge .Border2  {
    stroke: #9E8CC1;
    fill: #9E8CC1;
}

.jchartfx_gauge .Border3  {
    stroke: #7EFFFF;
    fill: #7EFFFF;
}

.jchartfx_gauge .Border4  {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx_gauge .Border5  {
    stroke: #FFBFD7;
    fill: #FFBFD7;
}

.jchartfx_gauge .Border6  {
    stroke: #BFFFFF;
    fill: #BFFFFF;
}

.jchartfx_gauge .Border7  {
    stroke: #FFFF58;
    fill: #FFFF58;
}

.jchartfx-menu-callout {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(85,85,85, 0.6);
}

.jchartfx-menu-callout:hover {
  border-color: rgba(85,85,85,0.5);
}

.jchartfx-menu {
  border-color: rgba(85,85,85,0.5);
}

.jchartfx-menu .toggle.active {
  background-color: #4CB7C3;
}

.jchartfx-menu td.btnposition.active a {
  background-color: #4CB7C3;
}

.jchartfx .GreaterThan {
    stroke: #73BFA1;
}

.jchartfx .LessThan {
    stroke: #BF7381;
}

.jchartfx .EqualsTo {
    stroke: #F0B35F;
}