.jchartfx_body {
    background-color: #FFFFFF;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #F9F9F9;
    stroke: #000066;
}

.jchartfx .PointLabel {
    fill: #000066;
}

.jchartfx .Attribute0 {
    fill: #000066;
    stroke: #00004D;
}

.jchartfx .Attribute0Line {
    stroke: #00004D;
}

.jchartfx .Attribute0Alt {
    fill: #00007F;
}

.jchartfx .Attribute1 {
    fill: #006699;
    stroke: #004D73;
}

.jchartfx .Attribute1Line {
    stroke: #004D73;
}

.jchartfx .Attribute1Alt {
    fill: #007FBF;
}

.jchartfx .Attribute2 {
    fill: #006909;
    stroke: #004F07;
}

.jchartfx .Attribute2Line {
    stroke: #004F07;
}

.jchartfx .Attribute2Alt {
    fill: #00830B;
}

.jchartfx .Attribute3 {
    fill: #5E5E5E;
    stroke: #474747;
}

.jchartfx .Attribute3Line {
    stroke: #474747;
}

.jchartfx .Attribute3Alt {
    fill: #757575;
}

.jchartfx .Attribute4 {
    fill: #00DF12;
    stroke: #00A80E;
}

.jchartfx .Attribute4Line {
    stroke: #00A80E;
}

.jchartfx .Attribute4Alt {
    fill: #00FF16;
}

.jchartfx .Attribute5 {
    fill: #70D2FF;
    stroke: #549EC0;
}

.jchartfx .Attribute5Line {
    stroke: #549EC0;
}

.jchartfx .Attribute5Alt {
    fill: #549EC0;
}

.jchartfx .Attribute6 {
    fill: #9471DE;
    stroke: #6F55A7;
}

.jchartfx .Attribute6Line {
    stroke: #6F55A7;
}

.jchartfx .Attribute6Alt {
    fill: #6F55A7;
}

.jchartfx .Attribute7 {
    fill: #990000;
    stroke: #730000;
}

.jchartfx .Attribute7Line {
    stroke: #730000;
}

.jchartfx .Attribute7Alt {
    fill: #BF0000;
}

.jchartfx .Attribute8 {
    fill: #FE0000;
    stroke: #BF0000;
}

.jchartfx .Attribute8Line {
    stroke: #BF0000;
}

.jchartfx .Attribute8Alt {
    fill: #FF0000;
}

.jchartfx .Attribute9 {
    fill: #FFE316;
    stroke: #C0AB11;
}

.jchartfx .Attribute9Line {
    stroke: #C0AB11;
}

.jchartfx .Attribute9Alt {
    fill: #C0AB11;
}

.jchartfx .Attribute10 {
    fill: #D2B48C;
    stroke: #9E8769;
}

.jchartfx .Attribute10Line {
    stroke: #9E8769;
}

.jchartfx .Attribute10Alt {
    fill: #9E8769;
}

.jchartfx .Attribute11 {
    fill: #E99D00;
    stroke: #AF7600;
}

.jchartfx .Attribute11Line {
    stroke: #AF7600;
}

.jchartfx .Attribute11Alt {
    fill: #FFC400;
}

.jchartfx .Attribute12 {
    fill: #4A3C8C;
    stroke: #382D69;
}

.jchartfx .Attribute12Line {
    stroke: #382D69;
}

.jchartfx .Attribute12Alt {
    fill: #5C4BAF;
}

.jchartfx .Attribute13 {
    fill: #7B5300;
    stroke: #5D3F00;
}

.jchartfx .Attribute13Line {
    stroke: #5D3F00;
}

.jchartfx .Attribute13Alt {
    fill: #996700;
}

.jchartfx .Attribute14 {
    fill: #BCB500;
    stroke: #8D8800;
}

.jchartfx .Attribute14Line {
    stroke: #8D8800;
}

.jchartfx .Attribute14Alt {
    fill: #EBE200;
}

.jchartfx .Attribute15 {
    fill: #FE6666;
    stroke: #BF4D4D;
}

.jchartfx .Attribute15Line {
    stroke: #BF4D4D;
}

.jchartfx .Attribute15Alt {
    fill: #BF4D4D;
}

.jchartfx .MarkerHollow {
    fill: #FFFFFF;
}

.jchartfx .Border {
    fill: #EEEEEE;
    stroke: #D7EFEF;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #D7EFEF;
}

.jchartfx .PlotArea3D {
    fill: #FFFFFF;
    stroke: #D7EFEF;
}

.jchartfx .CustomGridLine {
    stroke: #006699;
}

.jchartfx .CustomGridLineLabel {
    fill: #000066;
}

.jchartfx .AxisY_Section {
    fill: #BBFFC0;
    stroke: #BBFFC0;
}

.jchartfx .AxisX_Section {
    fill: #BBFFC0;
    stroke: #BBFFC0;
}

.jchartfx .AxisY_Text {
    fill: #000066;
}

.jchartfx .AxisY_Major {
    stroke: #D7EFEF;
}

.jchartfx .AxisY_Minor {
    stroke: #D7EFEF;
}

.jchartfx .AxisY_Interlaced {
    fill: #D7EFEF;
}

.jchartfx .AxisY_Line {
    stroke: #D7EFEF;
}

.jchartfx .AxisX_Text {
    fill: #000066;
}

.jchartfx .AxisX_Major {
    stroke: #D7EFEF;
}

.jchartfx .AxisX_Minor {
    stroke: #D7EFEF;
}

.jchartfx .AxisX_Interlaced {
    fill: #D7EFEF;
}

.jchartfx .AxisX_Line {
    stroke: #D7EFEF;
}

.jchartfx .PointLabelBorder {
    fill: #00007F;
    stroke: #000066;
}

.jchartfx .Title {
    fill: #000066;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #D7EFEF;
}

.jchartfx .LegendItem {
    fill: #000066;
}

.jchartfx .ScrollBar {
    fill: #FFFFFF;
    stroke: #D7EFEF;
}

.jchartfx .ScrollThumb {
    fill: #D7EFEF;
}

.jchartfx .ScrollArrow {
    fill: #D7EFEF;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #006699;
}

.jchartfx .DataGrid_Back {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_GridLine {
    fill: #D7EFEF;
}

.jchartfx .DataGridText {
    fill: #000066;
}

.jchartfx .DataGridTextAlternate {
    fill: #000066;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #D7EFEF;
}

.jchartfx .DataGrid_RowHeader {
    fill: #000066;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #000066;
}

.jchartfx .AnnotationText {
    fill: #000066;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #000066;
}

.jchartfx .AnnotationBalloonText {
    fill: #000066;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #000066;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #000066;
}

.jchartfx .AnnotationArrow {
    fill: #000066;
    stroke: #000066;
}

.jchartfx .AnnotationArc {
    fill: #000066;
    stroke: #000066;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #000066;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #000066;
}

.jchartfx .HeatMap0 {
    fill: #000066;
}

.jchartfx .HeatMap1 {
    fill: #006699;
}

.jchartfx .EqualizerTop0 {
    stroke: #004D73;
    fill: #006699;
}

.jchartfx .EqualizerTop1 {
    stroke: #004F07;
    fill: #006909;
}

.jchartfx .Indicator {
    fill: #000066;
    stroke: #00004D;
}

.jchartfx .Cap {
    fill: #D7EFEF;
}

.jchartfx .Bar {
    stroke: #D7EFEF;
    fill: #FFFFFF;
}

.jchartfx .TickMajor {
    stroke: #D7EFEF;
    fill: #D7EFEF;
}

.jchartfx .TickMedium {
    stroke: #D7EFEF;
    fill: #D7EFEF;
}

.jchartfx .GaugeText {
    fill: #000066;
}

.jchartfx .GaugeTitle {
    fill: #000066;
}

.jchartfx .GaugeSection0 {
    fill: #FE0000;
    stroke: #BF0000;
}

.jchartfx .GaugeSection1 {
    fill: #FFE316;
    stroke: #C0AB11;
}

.jchartfx .GaugeSection2 {
    fill: #006909;
    stroke: #004F07;
}

.jchartfx .Separator {
    stroke: #D7EFEF;
}

.jchartfx .MapContext {
    fill: #eeeeee;
    stroke: #b6b6b6;
}

.jchartfx .MapWater {
    fill: #81c1fb;
    stroke: #458cc2;
}

.jchartfx .MapOcean0 {
    fill: #458cc2;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #347fb4;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #2072a6;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #006699;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #005a8c;
    stroke: none;
}

.jchartfx .MapOcean4 {
    fill: #618da2 !important;
    stroke: none;
}

.jchartfx .MapAttribute0 {
    fill: #000066;
    stroke: #000037;
}

.jchartfx .MapAttribute1 {
    fill: #006909;
    stroke: #003800;
}

.jchartfx .MapAttribute2 {
    fill: #5e5e5e;
    stroke: #303030;
}

.jchartfx .MapAttribute3 {
    fill: #17174d;
    stroke: #000022;
}

.jchartfx .MapAttribute4 {
    fill: #174d1c;
    stroke: #002100;
}

.jchartfx .MapAttribute5 {
    fill: #4d4d4d;
    stroke: #212121;
}

.jchartfx .MapAttribute6 {
    fill: #7a7acc;
    stroke: #444a95;
}

.jchartfx .MapAttribute7 {
    fill: #7acc81;
    stroke: #43954f;
}

.jchartfx .MapRoad {
    stroke: #549EC0;
    fill: none;
    stroke-opacity: .3;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .1;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #549EC0;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .2;
}

.jchartfx .MapRoad1 {
    stroke: #549EC0;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #EEEEEE;
    stroke: #D7EFEF;
}

.jchartfx .MapPlot {
    fill: #005a8c;
    fill-opacity: 0;
}

.jchartfx .GaugeTitleLarge {
    fill: #000066;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #000066;
}

.jchartfx .DashboardCaption {
    fill: #000066;
    stroke: #FFFFFF;
}

.jchartfx .EqualizerOff {
        fill: #D7EFEF;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #444444;
}

.jchartfx .MapShadow {
    fill: #444444;
    fill-opacity: 0.3;
}

.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #FFFFFF;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #FFFFFF;
    border-color: #D7EFEF;
    box-shadow: 0px 0px 5px 3px rgba(68, 68,  68, .30);
}

.jchartfx_container table thead tr th {
    background-color: #006699;
    border-color: #D7EFEF;
    border-bottom-color: #D7EFEF;
    color: #FFFFFF;
}

.jchartfx_container table tbody tr td {
    color: #000066;
    border-color: #D7EFEF;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #FFFFFF;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #D7EFEF;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #000066;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #000066;
}

.jchartfx_container .labelIndicator {
    color: #000066;
}

.jchartfx_container .label {
    color: #000066;
}

.jchartfx_container .smallLabel {
    color: #000066;
}

.jchartfx .MapDefaultAttribute {
    fill: #eeeeee;
    stroke: #b6b6b6;
}

.jchartfx .Filler {
    fill: #000066;
    stroke: #00004D;
}

.jchartfx .GaugeMarker {
    fill: #000066;
    stroke: #00004D;
}

.jchartfx .Needle {
    fill: #006699;
    stroke: #004D73;
}

.jchartfx .BorderMedium {
    fill: #EEEEEE;
    stroke: #D7EFEF;
}

.jchartfx .BorderThick {
    fill: #EEEEEE;
    stroke: #D7EFEF;
}

.jchartfx .Border0 {
    stroke: #0000AA;
    fill: #0000AA;
}

.jchartfx .Border1 {
    stroke: #00AAFF;
    fill: #00AAFF;
}

.jchartfx .Border2 {
    stroke: #00AF0F;
    fill: #00AF0F;
}

.jchartfx .Border3 {
    stroke: #9C9C9C;
    fill: #9C9C9C;
}

.jchartfx .Border4 {
    stroke: #00FF1E;
    fill: #00FF1E;
}

.jchartfx .Border5 {
    stroke: #BAFFFF;
    fill: #BAFFFF;
}

.jchartfx .Border6 {
    stroke: #F6BCFF;
    fill: #F6BCFF;
}

.jchartfx .Border7 {
    stroke: #FF0000;
    fill: #FF0000;
}

.jchartfx .GreaterThan {
    fill: #006909;
    stroke: #006909;
}

.jchartfx .LessThan {
    fill: #FE0000;
    stroke: #FE0000;
}

.jchartfx .EqualsTo {
    fill: #FFE316;
    stroke: #FFE316;
}

.jchartfx .InsideLabel0 {
    fill: #8585C6;
}

.jchartfx .InsideLabel1 {
    fill: #00AAFF;
}

.jchartfx .InsideLabel2 {
    fill: #00AF0F;
}

.jchartfx .InsideLabel3 {
    fill: #9C9C9C;
}

.jchartfx .InsideLabel4 {
    fill: #00FF1E;
}

.jchartfx .InsideLabel5 {
    fill: #2A4F60;
}

.jchartfx .InsideLabel6 {
    fill: #372A53;
}

.jchartfx .InsideLabel7 {
    fill: #FF0000;
}

.jchartfx .InsideLabel8 {
    fill: #FFAAAA;
}

.jchartfx .InsideLabel9 {
    fill: #605508;
}

.jchartfx .InsideLabel10 {
    fill: #4F4334;
}

.jchartfx .InsideLabel11 {
    fill: #FFFF00;
}

.jchartfx .InsideLabel12 {
    fill: #7B64E9;
}

.jchartfx .InsideLabel13 {
    fill: #CD8A00;
}

.jchartfx .InsideLabel14 {
    fill: #FFFF00;
}

.jchartfx .InsideLabel15 {
    fill: #5F2626;
}

.jchartfx .EmptyMarker {
    fill: #A7BABA;
    stroke: #7E8C8C;
}

.jchartfx .Repeater {
    fill: #000066;
    stroke: #00004D;
}

.jchartfx .RepeaterOff {
    fill: #6666CC;
    stroke: #6666CC;
}

.jchartfx-menu {
    border-color: #D7EFEF;
}