.jchartfx_body {
    background-color: #FFFFFF;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #F9F9F9;
    stroke: #41465C;
}

.jchartfx .PointLabel {
    fill: #666666;
}

.jchartfx .Attribute0 {
    fill: #5179D6;
    stroke: #3D5BA1;
}

.jchartfx .Attribute0Line {
    stroke: #3D5BA1;
}

.jchartfx .Attribute0Alt {
    fill: #3D5BA1;
}

.jchartfx .Attribute1 {
    fill: #EF2F41;
    stroke: #B42431;
}

.jchartfx .Attribute1Line {
    stroke: #B42431;
}

.jchartfx .Attribute1Alt {
    fill: #B42431;
}

.jchartfx .Attribute2 {
    fill: #FFC700;
    stroke: #C09600;
}

.jchartfx .Attribute2Line {
    stroke: #C09600;
}

.jchartfx .Attribute2Alt {
    fill: #C09600;
}

.jchartfx .Attribute3 {
    fill: #BAE55C;
    stroke: #8CAC45;
}

.jchartfx .Attribute3Line {
    stroke: #8CAC45;
}

.jchartfx .Attribute3Alt {
    fill: #8CAC45;
}

.jchartfx .Attribute4 {
    fill: #07BACE;
    stroke: #068C9B;
}

.jchartfx .Attribute4Line {
    stroke: #068C9B;
}

.jchartfx .Attribute4Alt {
    fill: #08E8FF;
}

.jchartfx .Attribute5 {
    fill: #5665A3;
    stroke: #414C7B;
}

.jchartfx .Attribute5Line {
    stroke: #414C7B;
}

.jchartfx .Attribute5Alt {
    fill: #6B7ECB;
}

.jchartfx .Attribute6 {
    fill: #ACCAF2;
    stroke: #8198B6;
}

.jchartfx .Attribute6Line {
    stroke: #8198B6;
}

.jchartfx .Attribute6Alt {
    fill: #8198B6;
}

.jchartfx .Attribute7 {
    fill: #FFE784;
    stroke: #C0AE63;
}

.jchartfx .Attribute7Line {
    stroke: #C0AE63;
}

.jchartfx .Attribute7Alt {
    fill: #C0AE63;
}

.jchartfx .Attribute8 {
    fill: #FF7900;
    stroke: #C05B00;
}

.jchartfx .Attribute8Line {
    stroke: #C05B00;
}

.jchartfx .Attribute8Alt {
    fill: #C05B00;
}

.jchartfx .Attribute9 {
    fill: #61BDF2;
    stroke: #498EB6;
}

.jchartfx .Attribute9Line {
    stroke: #498EB6;
}

.jchartfx .Attribute9Alt {
    fill: #498EB6;
}

.jchartfx .Attribute10 {
    fill: #66CC66;
    stroke: #4D994D;
}

.jchartfx .Attribute10Line {
    stroke: #4D994D;
}

.jchartfx .Attribute10Alt {
    fill: #4D994D;
}

.jchartfx .Attribute11 {
    fill: #ADA8FF;
    stroke: #827EC0;
}

.jchartfx .Attribute11Line {
    stroke: #827EC0;
}

.jchartfx .Attribute11Alt {
    fill: #827EC0;
}

.jchartfx .Attribute12 {
    fill: #CCCC99;
    stroke: #999973;
}

.jchartfx .Attribute12Line {
    stroke: #999973;
}

.jchartfx .Attribute12Alt {
    fill: #999973;
}

.jchartfx .Attribute13 {
    fill: #A50038;
    stroke: #7C002A;
}

.jchartfx .Attribute13Line {
    stroke: #7C002A;
}

.jchartfx .Attribute13Alt {
    fill: #CE0046;
}

.jchartfx .Attribute14 {
    fill: #7588DD;
    stroke: #5866A6;
}

.jchartfx .Attribute14Line {
    stroke: #5866A6;
}

.jchartfx .Attribute14Alt {
    fill: #5866A6;
}

.jchartfx .Attribute15 {
    fill: #2FA675;
    stroke: #247D58;
}

.jchartfx .Attribute15Line {
    stroke: #247D58;
}

.jchartfx .Attribute15Alt {
    fill: #3ACF92;
}

.jchartfx .MarkerHollow {
    fill: #FFFFFF;
}

.jchartfx .Border {
    fill: #FFFFFF;
    stroke: #C7C7C7;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #A8A8A8;
}

.jchartfx .PlotArea3D {
    fill: #E0E0E0;
    stroke: #A8A8A8;
}

.jchartfx .CustomGridLine {
    stroke: #E0077B;
}

.jchartfx .CustomGridLineLabel {
    fill: #666666;
}

.jchartfx .AxisY_Section {
    fill: #D0C5E3;
    stroke: #D0C5E3;
}

.jchartfx .AxisX_Section {
    fill: #D0C5E3;
    stroke: #D0C5E3;
}

.jchartfx .AxisY_Text {
    fill: #666666;
}

.jchartfx .AxisY_Major {
    stroke: #A8A8A8;
}

.jchartfx .AxisY_Minor {
    stroke: #A8A8A8;
}

.jchartfx .AxisY_Interlaced {
    fill: #C7C7C7;
}

.jchartfx .AxisY_Line {
    stroke: #A8A8A8;
}

.jchartfx .AxisX_Text {
    fill: #666666;
}

.jchartfx .AxisX_Major {
    stroke: #A8A8A8;
}

.jchartfx .AxisX_Minor {
    stroke: #A8A8A8;
}

.jchartfx .AxisX_Interlaced {
    fill: #C7C7C7;
}

.jchartfx .AxisX_Line {
    stroke: #A8A8A8;
}

.jchartfx .PointLabelBorder {
    fill: #7F7F7F;
    stroke: #666666;
}

.jchartfx .Title {
    fill: #666666;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #C7C7C7;
}

.jchartfx .LegendItem {
    fill: #666666;
}

.jchartfx .ScrollBar {
    fill: #E0E0E0;
    stroke: #A8A8A8;
}

.jchartfx .ScrollThumb {
    fill: #A8A8A8;
}

.jchartfx .ScrollArrow {
    fill: #A8A8A8;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #5665A3;
}

.jchartfx .DataGrid_Back {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_GridLine {
    fill: #C7C7C7;
}

.jchartfx .DataGridText {
    fill: #666666;
}

.jchartfx .DataGridTextAlternate {
    fill: #666666;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #D5E4F7;
}

.jchartfx .DataGrid_RowHeader {
    fill: #666666;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #666666;
}

.jchartfx .AnnotationText {
    fill: #666666;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #666666;
}

.jchartfx .AnnotationBalloonText {
    fill: #666666;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #666666;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #666666;
}

.jchartfx .AnnotationArrow {
    fill: #666666;
    stroke: #666666;
}

.jchartfx .AnnotationArc {
    fill: #666666;
    stroke: #666666;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #666666;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #666666;
}

.jchartfx .HeatMap0 {
    fill: #5179D6;
}

.jchartfx .HeatMap1 {
    fill: #EF2F41;
}

.jchartfx .EqualizerTop0 {
    stroke: #B42431;
    fill: #EF2F41;
}

.jchartfx .EqualizerTop1 {
    stroke: #C09600;
    fill: #FFC700;
}

.jchartfx .MapContext {
    fill: #ffffff;
    stroke: #c6c6c6;
}

.jchartfx .MapOcean0 {
    fill: #7ea0ff;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #6f93f0;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #6086e2;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #5179d4;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #416dc6;
    stroke: none;
}

.jchartfx .MapWater {
    fill: #b9d6ff;
    stroke: #7ea0ff;
}

.jchartfx .MapAttribute0 {
    fill: #ef2f41;
    stroke: #ae0016;
}

.jchartfx .MapAttribute1 {
    fill: #ffc700;
    stroke: #c19200;
}

.jchartfx .MapAttribute2 {
    fill: #bae55c;
    stroke: #82ad22;
}

.jchartfx .MapAttribute3 {
    fill: #ac4a53;
    stroke: #731426;
}

.jchartfx .MapAttribute4 {
    fill: #b79b37;
    stroke: #7e6800;
}

.jchartfx .MapAttribute5 {
    fill: #7ca521;
    stroke: #467100;
}

.jchartfx .MapAttribute6 {
    fill: #694649;
    stroke: #381a1e;
}

.jchartfx .MapAttribute7 {
    fill: #6f6542;
    stroke: #3e3616;
}

.jchartfx .MapRoad {
    stroke: #8CAC45;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .4;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #8CAC45;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #8CAC45;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #FFFFFF;
    stroke: #C7C7C7;
}

.jchartfx .Indicator {
    fill: #5179D6;
    stroke: #3D5BA1;
}

.jchartfx .Cap {
    fill: #A8A8A8;
}

.jchartfx .Bar {
    fill: #F2F2F2;
    stroke: #A8A8A8;
}

.jchartfx .TickMajor {
    fill: #A8A8A8;
    stroke: #A8A8A8;
}

.jchartfx .TickMedium {
    fill: #A8A8A8;
    stroke: #A8A8A8;
}

.jchartfx .GaugeText {
    fill: #666666;
}

.jchartfx .GaugeTitle {
    fill: #666666;
}

.jchartfx .GaugeTitleLarge {
    fill: #666666;
}

.jchartfx .GaugeSection0 {
    fill: #EF2F41;
    stroke: #B42431;
}

.jchartfx .GaugeSection1 {
    fill: #FFC700;
    stroke: #C09600;
}

.jchartfx .GaugeSection2 {
    fill: #BAE55C;
    stroke: #8CAC45;
}

.jchartfx .Separator {
    stroke: #A8A8A8;
}

.jchartfx .MapPlot {
    fill: #416dc6;
    fill-opacity: 0;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #666666;
}

.jchartfx .DashboardCaption {
    fill: #5179D6;
    stroke: #FFFFFF;
}

.jchartfx .EqualizerOff {
        fill: #A8A8A8;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #444444;
}

.jchartfx .MapShadow {
    fill: #444444;
    fill-opacity: 0.3;
}

.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #E9E9E9;
    fill-opacity: 1;
}

.jchartfx-menu {
  border-color: #C7C7C7;
}

.jchartfx_container table {
    background-color: #FFFFFF;
    border-color: #C7C7C7;
    box-shadow: 0px 0px 5px 3px rgba(68, 68,  68, .30);
}

.jchartfx_container table thead tr th {
    background-color: #5665A3;
    border-color: #C7C7C7;
    border-bottom-color: #A8A8A8;
    color: #FFFFFF;
}

.jchartfx_container table tbody tr td {
    color: #666666;
    border-color: #C7C7C7;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #FFFFFF;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #D5E4F7;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #666666;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #666666;
}

.jchartfx_container .labelIndicator {
    color: #666666;
}

.jchartfx_container .label {
    color: #666666;
}

.jchartfx_container .smallLabel {
    color: #666666;
}

.jchartfx .MapDefaultAttribute {
    fill: #ffffff;
    stroke: #c6c6c6;
}

.jchartfx .Filler {
    fill: #5179D6;
    stroke: #3D5BA1;
}

.jchartfx .GaugeMarker {
    fill: #5179D6;
    stroke: #3D5BA1;
}

.jchartfx .Needle {
    fill: #5179D6;
    stroke: #3D5BA1;
}

.jchartfx .BorderMedium {
    fill: #FFFFFF;
    stroke: #C7C7C7;
}

.jchartfx .BorderThick {
    fill: #FFFFFF;
    stroke: #C7C7C7;
}

.jchartfx .Border0 {
    stroke: #87C9FF;
    fill: #87C9FF;
}

.jchartfx .Border1 {
    stroke: #FF4E6C;
    fill: #FF4E6C;
}

.jchartfx .Border2 {
    stroke: #FFFF00;
    fill: #FFFF00;
}

.jchartfx .Border3 {
    stroke: #FFFF99;
    fill: #FFFF99;
}

.jchartfx .Border4 {
    stroke: #0BFFFF;
    fill: #0BFFFF;
}

.jchartfx .Border5 {
    stroke: #8FA8FF;
    fill: #8FA8FF;
}

.jchartfx .Border6 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border7 {
    stroke: #FFFFDC;
    fill: #FFFFDC;
}

.jchartfx .GreaterThan {
    fill: #BAE55C;
    stroke: #BAE55C;
}

.jchartfx .LessThan {
    fill: #EF2F41;
    stroke: #EF2F41;
}

.jchartfx .EqualsTo {
    fill: #FFC700;
    stroke: #FFC700;
}

.jchartfx .InsideLabel0 {
    fill: #1E2D50;
}

.jchartfx .InsideLabel1 {
    fill: #5A1218;
}

.jchartfx .InsideLabel2 {
    fill: #604B00;
}

.jchartfx .InsideLabel3 {
    fill: #465622;
}

.jchartfx .InsideLabel4 {
    fill: #0BFFFF;
}

.jchartfx .InsideLabel5 {
    fill: #8FA8FF;
}

.jchartfx .InsideLabel6 {
    fill: #404C5B;
}

.jchartfx .InsideLabel7 {
    fill: #605731;
}

.jchartfx .InsideLabel8 {
    fill: #602D00;
}

.jchartfx .InsideLabel9 {
    fill: #24475B;
}

.jchartfx .InsideLabel10 {
    fill: #264C26;
}

.jchartfx .InsideLabel11 {
    fill: #413F60;
}

.jchartfx .InsideLabel12 {
    fill: #4C4C39;
}

.jchartfx .InsideLabel13 {
    fill: #FF005D;
}

.jchartfx .InsideLabel14 {
    fill: #2C3353;
}

.jchartfx .InsideLabel15 {
    fill: #4EFFC3;
}

.jchartfx .EmptyMarker {
    fill: #A8A8A8;
    stroke: #777777;
}

.jchartfx .Repeater {
    fill: #5179D6;
    stroke: #3D5BA1;
}

.jchartfx .RepeaterOff {
    fill: #00004A;
    stroke: #00004A;
}