.jchartfx_body {
    background-color: #FFFFFF;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #FBFBFB;
    stroke: #000000;
}

.jchartfx .PointLabel {
    fill: #000000;
}

.jchartfx .Attribute0 {
    fill: #2664C1;
    stroke: #1D4B91;
}

.jchartfx .Attribute0Line {
    stroke: #1D4B91;
}

.jchartfx .Attribute0Alt {
    fill: #2F7DF1;
}

.jchartfx .Attribute1 {
    fill: #C73800;
    stroke: #962A00;
}

.jchartfx .Attribute1Line {
    stroke: #962A00;
}

.jchartfx .Attribute1Alt {
    fill: #F84600;
}

.jchartfx .Attribute2 {
    fill: #46B1C2;
    stroke: #358592;
}

.jchartfx .Attribute2Line {
    stroke: #358592;
}

.jchartfx .Attribute2Alt {
    fill: #358592;
}

.jchartfx .Attribute3 {
    fill: #76C82D;
    stroke: #599622;
}

.jchartfx .Attribute3Line {
    stroke: #599622;
}

.jchartfx .Attribute3Alt {
    fill: #93FA38;
}

.jchartfx .Attribute4 {
    fill: #ECB346;
    stroke: #B18735;
}

.jchartfx .Attribute4Line {
    stroke: #B18735;
}

.jchartfx .Attribute4Alt {
    fill: #B18735;
}

.jchartfx .Attribute5 {
    fill: #BAA3F0;
    stroke: #8C7BB4;
}

.jchartfx .Attribute5Line {
    stroke: #8C7BB4;
}

.jchartfx .Attribute5Alt {
    fill: #8C7BB4;
}

.jchartfx .Attribute6 {
    fill: #228999;
    stroke: #1A6773;
}

.jchartfx .Attribute6Line {
    stroke: #1A6773;
}

.jchartfx .Attribute6Alt {
    fill: #2AABBF;
}

.jchartfx .Attribute7 {
    fill: #FA7550;
    stroke: #BC583C;
}

.jchartfx .Attribute7Line {
    stroke: #BC583C;
}

.jchartfx .Attribute7Alt {
    fill: #BC583C;
}

.jchartfx .Attribute8 {
    fill: #9ACED6;
    stroke: #749BA1;
}

.jchartfx .Attribute8Line {
    stroke: #749BA1;
}

.jchartfx .Attribute8Alt {
    fill: #749BA1;
}

.jchartfx .Attribute9 {
    fill: #1E545C;
    stroke: #173F45;
}

.jchartfx .Attribute9Line {
    stroke: #173F45;
}

.jchartfx .Attribute9Alt {
    fill: #256973;
}

.jchartfx .Attribute10 {
    fill: #2D76E3;
    stroke: #2259AB;
}

.jchartfx .Attribute10Line {
    stroke: #2259AB;
}

.jchartfx .Attribute10Alt {
    fill: #2259AB;
}

.jchartfx .Attribute11 {
    fill: #CDFCA2;
    stroke: #9ABD7A;
}

.jchartfx .Attribute11Line {
    stroke: #9ABD7A;
}

.jchartfx .Attribute11Alt {
    fill: #9ABD7A;
}

.jchartfx .Attribute12 {
    fill: #7426BD;
    stroke: #571D8E;
}

.jchartfx .Attribute12Line {
    stroke: #571D8E;
}

.jchartfx .Attribute12Alt {
    fill: #912FEC;
}

.jchartfx .Attribute13 {
    fill: #9ACED6;
    stroke: #749BA1;
}

.jchartfx .Attribute13Line {
    stroke: #749BA1;
}

.jchartfx .Attribute13Alt {
    fill: #749BA1;
}

.jchartfx .Attribute14 {
    fill: #FFE7AB;
    stroke: #C0AE81;
}

.jchartfx .Attribute14Line {
    stroke: #C0AE81;
}

.jchartfx .Attribute14Alt {
    fill: #C0AE81;
}

.jchartfx .Attribute15 {
    fill: #D739D6;
    stroke: #A22BA1;
}

.jchartfx .Attribute15Line {
    stroke: #A22BA1;
}

.jchartfx .Attribute15Alt {
    fill: #A22BA1;
}

.jchartfx .MarkerHollow {
    fill: #FFFFFF;
}

.jchartfx .Border {
    fill: #FFFFFF;
    stroke: #6D7D8A;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #C3C8CC;
}

.jchartfx .PlotArea3D {
    fill: #F5F8FC;
    stroke: #C3C8CC;
}

.jchartfx .CustomGridLine {
    stroke: #F5D0C4;
}

.jchartfx .CustomGridLineLabel {
    fill: #000000;
}

.jchartfx .AxisY_Section {
    fill: #F7E4DF;
    stroke: #F7E4DF;
}

.jchartfx .AxisX_Section {
    fill: #F7E4DF;
    stroke: #F7E4DF;
}

.jchartfx .AxisY_Text {
    fill: #000000;
}

.jchartfx .AxisY_Major {
    stroke: #C3C8CC;
}

.jchartfx .AxisY_Minor {
    stroke: #C3C8CC;
}

.jchartfx .AxisY_Interlaced {
    fill: #EBF8FA;
}

.jchartfx .AxisY_Line {
    stroke: #C3C8CC;
}

.jchartfx .AxisX_Text {
    fill: #000000;
}

.jchartfx .AxisX_Major {
    stroke: #C3C8CC;
}

.jchartfx .AxisX_Minor {
    stroke: #C3C8CC;
}

.jchartfx .AxisX_Interlaced {
    fill: #EBF8FA;
}

.jchartfx .AxisX_Line {
    stroke: #C3C8CC;
}

.jchartfx .PointLabelBorder {
    fill: #000000;
    stroke: #000000;
}

.jchartfx .Title {
    fill: #000000;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #6D7D8A;
}

.jchartfx .LegendItem {
    fill: #000000;
}

.jchartfx .ScrollBar {
    fill: transparent;
    stroke: #C3C8CC;
}

.jchartfx .ScrollThumb {
    fill: #C3C8CC;
}

.jchartfx .ScrollArrow {
    fill: #C3C8CC;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #6D7D8A;
}

.jchartfx .DataGrid_Back {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_GridLine {
    fill: #C3C8CC;
}

.jchartfx .DataGridText {
    fill: #000000;
}

.jchartfx .DataGridTextAlternate {
    fill: #000000;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #F5F8FC;
}

.jchartfx .DataGrid_RowHeader {
    fill: #000000;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #000000;
}

.jchartfx .AnnotationText {
    fill: #000000;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #000000;
}

.jchartfx .AnnotationBalloonText {
    fill: #000000;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #000000;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #000000;
}

.jchartfx .AnnotationArrow {
    fill: #000000;
    stroke: #000000;
}

.jchartfx .AnnotationArc {
    fill: #000000;
    stroke: #000000;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #000000;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #000000;
}

.jchartfx .HeatMap0 {
    fill: #2664C1;
}

.jchartfx .HeatMap1 {
    fill: #C73800;
}

.jchartfx .EqualizerTop0 {
    stroke: #962A00;
    fill: #C73800;
}

.jchartfx .EqualizerTop1 {
    stroke: #358592;
    fill: #46B1C2;
}

.jchartfx .MapContext {
    fill: #ffffff;
    stroke: #c6c6c6;
}

.jchartfx .MapOcean0 {
    fill: #5c89ec;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #4c7cde;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #3a70d0;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #2564c2;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #0058b4;
    stroke: none;
}

.jchartfx .MapWater {
    fill: #99beff;
    stroke: #5c89ec;
}

.jchartfx .MapAttribute0 {
    fill: #c73800;
    stroke: #890000;
}

.jchartfx .MapAttribute1 {
    fill: #46b1c2;
    stroke: #007c8c;
}

.jchartfx .MapAttribute2 {
    fill: #76c82d;
    stroke: #3b9100;
}

.jchartfx .MapAttribute3 {
    fill: #91482c;
    stroke: #591900;
}

.jchartfx .MapAttribute4 {
    fill: #1d7f8e;
    stroke: #004e5c;
}

.jchartfx .MapAttribute5 {
    fill: #689242;
    stroke: #355f10;
}

.jchartfx .MapAttribute6 {
    fill: #5c4137;
    stroke: #2d160c;
}

.jchartfx .MapAttribute7 {
    fill: #48585a;
    stroke: #1c2b2d;
}

.jchartfx .MapRoad {
    stroke: #8CAC45;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .4;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #8CAC45;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #8CAC45;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #FFFFFF;
    stroke: #6D7D8A;
}

.jchartfx .Indicator {
    fill: #2664C1;
    stroke: #1D4B91;
}

.jchartfx .Cap {
    fill: #000000;
}

.jchartfx .Bar {
    stroke: #C3C8CC;
    fill: #F5F8FC;
}

.jchartfx .TickMajor {
    stroke: #C3C8CC;
    fill: #C3C8CC;
}

.jchartfx .TickMedium {
    stroke: #C3C8CC;
    fill: #C3C8CC;
}

.jchartfx .GaugeText {
    fill: #000000;
}

.jchartfx .GaugeTitle {
    fill: #000000;
}

.jchartfx .GaugeSection0 {
    fill: #C73800;
    stroke: #962A00;
}

.jchartfx .GaugeSection1 {
    fill: #ECB346;
    stroke: #B18735;
}

.jchartfx .GaugeSection2 {
    fill: #76C82D;
    stroke: #599622;
}

.jchartfx .Separator {
    stroke: #C3C8CC;
}

.jchartfx .MapPlot {
    fill: #0058b4;
    fill-opacity: 0;
}

.jchartfx .GaugeTitleLarge {
    fill: #000000;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #000000;
}

.jchartfx .DashboardCaption {
    fill: #2664C1;
    stroke: #FFFFFF;
}

.jchartfx .EqualizerOff {
        fill: #C3C8CC;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #444444;
}

.jchartfx .MapShadow {
    fill: #444444;
    fill-opacity: 0.3;
}

.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #F5F8FC;
    fill-opacity: 1;
}

.jchartfx-menu {
  border-color: #6D7D8A;
}

.jchartfx_container table {
    background-color: #FFFFFF;
    border-color: #C3C8CC;
    box-shadow: 0px 0px 5px 3px rgba(68, 68,  68, .30);
}

.jchartfx_container table thead tr th {
    background-color: #6D7D8A;
    border-color: #C3C8CC;
    border-bottom-color: #C3C8CC;
    color: #FFFFFF;
}

.jchartfx_container table tbody tr td {
    color: #000000;
    border-color: #C3C8CC;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #FFFFFF;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #F5F8FC;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #000000;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #000000;
}

.jchartfx_container .labelIndicator {
    color: #000000;
}

.jchartfx_container .label {
    color: #000000;
}

.jchartfx_container .smallLabel {
    color: #000000;
}

.jchartfx .MapDefaultAttribute {
    fill: #ffffff;
    stroke: #c6c6c6;
}

.jchartfx .Filler {
    fill: #2664C1;
    stroke: #1D4B91;
}

.jchartfx .GaugeMarker {
    fill: #2664C1;
    stroke: #1D4B91;
}

.jchartfx .Needle {
    fill: #2664C1;
    stroke: #1D4B91;
}

.jchartfx .BorderMedium {
    fill: #FFFFFF;
    stroke: #6D7D8A;
}

.jchartfx .BorderThick {
    fill: #FFFFFF;
    stroke: #6D7D8A;
}

.jchartfx .Border0 {
    stroke: #3FA6FF;
    fill: #3FA6FF;
}

.jchartfx .Border1 {
    stroke: #FF5D00;
    fill: #FF5D00;
}

.jchartfx .Border2 {
    stroke: #74FFFF;
    fill: #74FFFF;
}

.jchartfx .Border3 {
    stroke: #C4FF4B;
    fill: #C4FF4B;
}

.jchartfx .Border4 {
    stroke: #FFFF74;
    fill: #FFFF74;
}

.jchartfx .Border5 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border6 {
    stroke: #38E4FF;
    fill: #38E4FF;
}

.jchartfx .Border7 {
    stroke: #FFC385;
    fill: #FFC385;
}

.jchartfx .GreaterThan {
    fill: #76C82D;
    stroke: #76C82D;
}

.jchartfx .LessThan {
    fill: #C73800;
    stroke: #C73800;
}

.jchartfx .EqualsTo {
    fill: #ECB346;
    stroke: #ECB346;
}

.jchartfx .InsideLabel0 {
    fill: #3FA6FF;
}

.jchartfx .InsideLabel1 {
    fill: #FF772D;
}

.jchartfx .InsideLabel2 {
    fill: #1A4249;
}

.jchartfx .InsideLabel3 {
    fill: #C4FF4B;
}

.jchartfx .InsideLabel4 {
    fill: #58431A;
}

.jchartfx .InsideLabel5 {
    fill: #463D5A;
}

.jchartfx .InsideLabel6 {
    fill: #38E4FF;
}

.jchartfx .InsideLabel7 {
    fill: #5E2C1E;
}

.jchartfx .InsideLabel8 {
    fill: #3A4D50;
}

.jchartfx .InsideLabel9 {
    fill: #328C99;
}

.jchartfx .InsideLabel10 {
    fill: #112C55;
}

.jchartfx .InsideLabel11 {
    fill: #4D5E3D;
}

.jchartfx .InsideLabel12 {
    fill: #C13FFF;
}

.jchartfx .InsideLabel13 {
    fill: #3A4D50;
}

.jchartfx .InsideLabel14 {
    fill: #605740;
}

.jchartfx .InsideLabel15 {
    fill: #511550;
}

.jchartfx .EmptyMarker {
    fill: #C3C8CC;
    stroke: #9FA2A5;
}

.jchartfx .Repeater {
    fill: #2664C1;
    stroke: #1D4B91;
}

.jchartfx .RepeaterOff {
    fill: #8CCAFF;
    stroke: #8CCAFF;
}