.jchartfx_body {
    background-color: #FFFFFF;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #FBFBFB;
    stroke: #333333;
}

.jchartfx .PointLabel {
    fill: #333333;
}

.jchartfx .Attribute0 {
    fill: #004276;
    stroke: #003259;
}

.jchartfx .Attribute0Line {
    stroke: #003259;
}

.jchartfx .Attribute0Alt {
    fill: #005293;
}

.jchartfx .Attribute1 {
    fill: #CC0000;
    stroke: #990000;
}

.jchartfx .Attribute1Line {
    stroke: #990000;
}

.jchartfx .Attribute1Alt {
    fill: #FF0000;
}

.jchartfx .Attribute2 {
    fill: #E3A1A1;
    stroke: #AB7979;
}

.jchartfx .Attribute2Line {
    stroke: #AB7979;
}

.jchartfx .Attribute2Alt {
    fill: #AB7979;
}

.jchartfx .Attribute3 {
    fill: #333333;
    stroke: #272727;
}

.jchartfx .Attribute3Line {
    stroke: #272727;
}

.jchartfx .Attribute3Alt {
    fill: #3F3F3F;
}

.jchartfx .Attribute4 {
    fill: #FCD3A1;
    stroke: #BD9F79;
}

.jchartfx .Attribute4Line {
    stroke: #BD9F79;
}

.jchartfx .Attribute4Alt {
    fill: #BD9F79;
}

.jchartfx .Attribute5 {
    fill: #64A6DA;
    stroke: #4B7DA4;
}

.jchartfx .Attribute5Line {
    stroke: #4B7DA4;
}

.jchartfx .Attribute5Alt {
    fill: #4B7DA4;
}

.jchartfx .Attribute6 {
    fill: #FF6464;
    stroke: #C04B4B;
}

.jchartfx .Attribute6Line {
    stroke: #C04B4B;
}

.jchartfx .Attribute6Alt {
    fill: #C04B4B;
}

.jchartfx .Attribute7 {
    fill: #979797;
    stroke: #727272;
}

.jchartfx .Attribute7Line {
    stroke: #727272;
}

.jchartfx .Attribute7Alt {
    fill: #727272;
}

.jchartfx .Attribute8 {
    fill: #680000;
    stroke: #4E0000;
}

.jchartfx .Attribute8Line {
    stroke: #4E0000;
}

.jchartfx .Attribute8Alt {
    fill: #820000;
}

.jchartfx .Attribute9 {
    fill: #7F3D3D;
    stroke: #602E2E;
}

.jchartfx .Attribute9Line {
    stroke: #602E2E;
}

.jchartfx .Attribute9Alt {
    fill: #9E4C4C;
}

.jchartfx .Attribute10 {
    fill: #986F3D;
    stroke: #72542E;
}

.jchartfx .Attribute10Line {
    stroke: #72542E;
}

.jchartfx .Attribute10Alt {
    fill: #BE8A4C;
}

.jchartfx .Attribute11 {
    fill: #9B0000;
    stroke: #750000;
}

.jchartfx .Attribute11Line {
    stroke: #750000;
}

.jchartfx .Attribute11Alt {
    fill: #C10000;
}

.jchartfx .Attribute12 {
    fill: #286A9E;
    stroke: #1E5077;
}

.jchartfx .Attribute12Line {
    stroke: #1E5077;
}

.jchartfx .Attribute12Alt {
    fill: #3284C5;
}

.jchartfx .Attribute13 {
    fill: #F42828;
    stroke: #B71E1E;
}

.jchartfx .Attribute13Line {
    stroke: #B71E1E;
}

.jchartfx .Attribute13Alt {
    fill: #B71E1E;
}

.jchartfx .Attribute14 {
    fill: #5B5B5B;
    stroke: #454545;
}

.jchartfx .Attribute14Line {
    stroke: #454545;
}

.jchartfx .Attribute14Alt {
    fill: #717171;
}

.jchartfx .Attribute15 {
    fill: #8CCEFF;
    stroke: #699BC0;
}

.jchartfx .Attribute15Line {
    stroke: #699BC0;
}

.jchartfx .Attribute15Alt {
    fill: #699BC0;
}

.jchartfx .MarkerHollow {
    fill: #FFFFFF;
}

.jchartfx .Border {
    fill: #FFFFFF;
    stroke: #EEEEEE;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #D8DCDF;
}

.jchartfx .PlotArea3D {
    fill: #EEEEEE;
    stroke: #D8DCDF;
}

.jchartfx .CustomGridLine {
    stroke: #004276;
}

.jchartfx .CustomGridLineLabel {
    fill: #333333;
}

.jchartfx .AxisY_Section {
    fill: #CC0000;
    stroke: #CC0000;
}

.jchartfx .AxisX_Section {
    fill: #CC0000;
    stroke: #CC0000;
}

.jchartfx .AxisY_Text {
    fill: #333333;
}

.jchartfx .AxisY_Major {
    stroke: #D8DCDF;
}

.jchartfx .AxisY_Minor {
    stroke: #D8DCDF;
}

.jchartfx .AxisY_Interlaced {
    fill: #E2E2E2;
}

.jchartfx .AxisY_Line {
    stroke: #D8DCDF;
}

.jchartfx .AxisX_Text {
    fill: #333333;
}

.jchartfx .AxisX_Major {
    stroke: #D8DCDF;
}

.jchartfx .AxisX_Minor {
    stroke: #D8DCDF;
}

.jchartfx .AxisX_Interlaced {
    fill: #FFFFFF;
}

.jchartfx .AxisX_Line {
    stroke: #D8DCDF;
}

.jchartfx .PointLabelBorder {
    fill: #3F3F3F;
    stroke: #333333;
}

.jchartfx .Title {
    fill: #333333;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #EEEEEE;
}

.jchartfx .LegendItem {
    fill: #333333;
}

.jchartfx .ScrollBar {
    fill: #EEEEEE;
    stroke: #D8DCDF;
}

.jchartfx .ScrollThumb {
    fill: #D8DCDF;
}

.jchartfx .ScrollArrow {
    fill: #D8DCDF;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #CC0000;
}

.jchartfx .DataGrid_Back {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_GridLine {
    fill: #EAECEE;
}

.jchartfx .DataGridText {
    fill: #333333;
}

.jchartfx .DataGridTextAlternate {
    fill: #333333;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #EEEEEE;
}

.jchartfx .DataGrid_RowHeader {
    fill: #333333;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #333333;
}

.jchartfx .AnnotationText {
    fill: #333333;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #333333;
}

.jchartfx .AnnotationBalloonText {
    fill: #333333;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #333333;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #333333;
}

.jchartfx .AnnotationArrow {
    fill: #333333;
    stroke: #333333;
}

.jchartfx .AnnotationArc {
    fill: #333333;
    stroke: #333333;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #333333;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #333333;
}

.jchartfx .HeatMap0 {
    fill: #004276;
}

.jchartfx .HeatMap1 {
    fill: #CC0000;
}

.jchartfx .EqualizerTop0 {
    stroke: #990000;
    fill: #CC0000;
}

.jchartfx .EqualizerTop1 {
    stroke: #AB7979;
    fill: #E3A1A1;
}

.jchartfx .MapContext {
    fill: #ffffff;
    stroke: #c6c6c6;
}

.jchartfx .MapOcean0 {
    fill: #3b659d;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #2c5990;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #1b4d83;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #014276;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #003769;
    stroke: none;
}

.jchartfx .MapWater {
    fill: #7398d4;
    stroke: #3b659d;
}

.jchartfx .MapAttribute0 {
    fill: #cc0000;
    stroke: #8d0000;
}

.jchartfx .MapAttribute1 {
    fill: #e3a1a1;
    stroke: #aa6d6e;
}

.jchartfx .MapAttribute2 {
    fill: #333333;
    stroke: #050505;
}

.jchartfx .MapAttribute3 {
    fill: #952c2c;
    stroke: #5c0000;
}

.jchartfx .MapAttribute4 {
    fill: #a42121;
    stroke: #690000;
}

.jchartfx .MapAttribute5 {
    fill: #6a6a6a;
    stroke: #3b3b3b;
}

.jchartfx .MapAttribute6 {
    fill: #5e3838;
    stroke: #2e0d0d;
}

.jchartfx .MapAttribute7 {
    fill: #655151;
    stroke: #362425;
}

.jchartfx .MapRoad {
    stroke: #4B7DA4;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .4;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #4B7DA4;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #4B7DA4;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #FFFFFF;
    stroke: #EEEEEE;
}

.jchartfx .Indicator {
    fill: #004276;
    stroke: #003259;
}

.jchartfx .Cap {
    fill: #333333;
}

.jchartfx .Bar {
    stroke: #D8DCDF;
    fill: #EEEEEE;
}

.jchartfx .TickMajor {
    stroke: #D8DCDF;
    fill: #D8DCDF;
}

.jchartfx .TickMedium {
    stroke: #D8DCDF;
    fill: #D8DCDF;
}

.jchartfx .GaugeText {
    fill: #333333;
}

.jchartfx .GaugeTitle {
    fill: #333333;
}

.jchartfx .GaugeSection0 {
    fill: #CC0000;
    stroke: #990000;
}

.jchartfx .GaugeSection1 {
    fill: #FCD3A1;
    stroke: #BD9F79;
}

.jchartfx .GaugeSection2 {
    fill: #64A6DA;
    stroke: #4B7DA4;
}

.jchartfx .Separator {
    stroke: #D8DCDF;
}

.jchartfx .MapPlot {
    fill: #003769;
    fill-opacity: 0;
}

.jchartfx .GaugeTitleLarge {
    fill: #333333;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #333333;
}

.jchartfx .DashboardCaption {
    fill: #004276;
    stroke: #FFFFFF;
}

.jchartfx .EqualizerOff {
        fill: #D8DCDF;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #444444;
}

.jchartfx .MapShadow {
    fill: #444444;
    fill-opacity: 0.3;
}

.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #EEEEEE;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #FFFFFF;
    border-color: #EAECEE;
    box-shadow: 0px 0px 5px 3px rgba(68, 68,  68, .30);
}

.jchartfx_container table thead tr th {
    background-color: #CC0000;
    border-color: #EAECEE;
    border-bottom-color: #D8DCDF;
    color: #FFFFFF;
}

.jchartfx_container table tbody tr td {
    color: #333333;
    border-color: #EAECEE;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #FFFFFF;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #EEEEEE;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #333333;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #333333;
}

.jchartfx_container .labelIndicator {
    color: #333333;
}

.jchartfx_container .label {
    color: #333333;
}

.jchartfx_container .smallLabel {
    color: #333333;
}

.jchartfx .MapDefaultAttribute {
    fill: #ffffff;
    stroke: #c6c6c6;
}

.jchartfx .Filler {
    fill: #004276;
    stroke: #003259;
}

.jchartfx .GaugeMarker {
    fill: #004276;
    stroke: #003259;
}

.jchartfx .Needle {
    fill: #CC0000;
    stroke: #990000;
}

.jchartfx .BorderMedium {
    fill: #FFFFFF;
    stroke: #EEEEEE;
}

.jchartfx .BorderThick {
    fill: #FFFFFF;
    stroke: #EEEEEE;
}

.jchartfx .Border0 {
    stroke: #006EC4;
    fill: #006EC4;
}

.jchartfx .Border1 {
    stroke: #FF0000;
    fill: #FF0000;
}

.jchartfx .Border2 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border3 {
    stroke: #555555;
    fill: #555555;
}

.jchartfx .Border4 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border5 {
    stroke: #A6FFFF;
    fill: #A6FFFF;
}

.jchartfx .Border6 {
    stroke: #FFA6A6;
    fill: #FFA6A6;
}

.jchartfx .Border7 {
    stroke: #FBFBFB;
    fill: #FBFBFB;
}

.jchartfx-menu {
  border-color: #EEEEEE;
}

.jchartfx-menu .toggle.active {
  background-color: #CC0000;
}

.jchartfx-menu td.btnposition.active a {
  background-color: #CC0000;
}

.jchartfx-menu .selectable li.active {
    border: 1px solid;
    border-color: #CC0000;
    box-shadow: inset 0 0 0px 0px #CC0000;
    background: rgba(204,0,0, 0.2);
}

.jchartfx .GreaterThan {
    fill: #64A6DA;
    stroke: #64A6DA;
}

.jchartfx .LessThan {
    fill: #CC0000;
    stroke: #CC0000;
}

.jchartfx .EqualsTo {
    fill: #FCD3A1;
    stroke: #FCD3A1;
}

.jchartfx .InsideLabel0 {
    fill: #0087EF;
}

.jchartfx .InsideLabel1 {
    fill: #FF7777;
}

.jchartfx .InsideLabel2 {
    fill: #553C3C;
}

.jchartfx .InsideLabel3 {
    fill: #888888;
}

.jchartfx .InsideLabel4 {
    fill: #5E4F3C;
}

.jchartfx .InsideLabel5 {
    fill: #253E52;
}

.jchartfx .InsideLabel6 {
    fill: #602525;
}

.jchartfx .InsideLabel7 {
    fill: #393939;
}

.jchartfx .InsideLabel8 {
    fill: #AD0000;
}

.jchartfx .InsideLabel9 {
    fill: #D36565;
}

.jchartfx .InsideLabel10 {
    fill: #FDB965;
}

.jchartfx .InsideLabel11 {
    fill: #FF0000;
}

.jchartfx .InsideLabel12 {
    fill: #42B0FF;
}

.jchartfx .InsideLabel13 {
    fill: #5B0F0F;
}

.jchartfx .InsideLabel14 {
    fill: #979797;
}

.jchartfx .InsideLabel15 {
    fill: #344D60;
}

.jchartfx .EmptyMarker {
    fill: #AFB2B5;
    stroke: #7E8082;
}

.jchartfx .Repeater {
    fill: #004276;
    stroke: #003259;
}

.jchartfx .RepeaterOff {
    fill: #66A8DC;
    stroke: #66A8DC;
}