.jchartfx_body {
    background-color: #30273A;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #39373D;
    stroke: #FFFFFF;
}

.jchartfx .Attribute0 {
    fill: #5F5964;
    stroke: #48434B;
}

.jchartfx .Attribute0Line {
    stroke: #48434B;
}

.jchartfx .Attribute0Alt {
    fill: #766F7D;
}

.jchartfx .Attribute1 {
    fill: #FFFFFF;
    stroke: #C0C0C0;
}

.jchartfx .Attribute1Line {
    stroke: #C0C0C0;
}

.jchartfx .Attribute1Alt {
    fill: #C0C0C0;
}

.jchartfx .Attribute2 {
    fill: #994D53;
    stroke: #733A3F;
}

.jchartfx .Attribute2Line {
    stroke: #733A3F;
}

.jchartfx .Attribute2Alt {
    fill: #BF6067;
}

.jchartfx .Attribute3 {
    fill: #A8A3AE;
    stroke: #7E7B83;
}

.jchartfx .Attribute3Line {
    stroke: #7E7B83;
}

.jchartfx .Attribute3Alt {
    fill: #7E7B83;
}

.jchartfx .Attribute4 {
    fill: #30273A;
    stroke: #241E2C;
}

.jchartfx .Attribute4Line {
    stroke: #241E2C;
}

.jchartfx .Attribute4Alt {
    fill: #3C3048;
}

.jchartfx .Attribute5 {
    fill: #8D78A5;
    stroke: #6A5A7C;
}

.jchartfx .Attribute5Line {
    stroke: #6A5A7C;
}

.jchartfx .Attribute5Alt {
    fill: #6A5A7C;
}

.jchartfx .Attribute6 {
    fill: #734D99;
    stroke: #573A73;
}

.jchartfx .Attribute6Line {
    stroke: #573A73;
}

.jchartfx .Attribute6Alt {
    fill: #8F60BF;
}

.jchartfx .Attribute7 {
    fill: #FFDB1F;
    stroke: #C0A518;
}

.jchartfx .Attribute7Line {
    stroke: #C0A518;
}

.jchartfx .Attribute7Alt {
    fill: #C0A518;
}

.jchartfx .Attribute8 {
    fill: #FDB1B7;
    stroke: #BE858A;
}

.jchartfx .Attribute8Line {
    stroke: #BE858A;
}

.jchartfx .Attribute8Alt {
    fill: #BE858A;
}

.jchartfx .Attribute9 {
    fill: #FFFF83;
    stroke: #C0C063;
}

.jchartfx .Attribute9Line {
    stroke: #C0C063;
}

.jchartfx .Attribute9Alt {
    fill: #C0C063;
}

.jchartfx .Attribute10 {
    fill: #9B7700;
    stroke: #755A00;
}

.jchartfx .Attribute10Line {
    stroke: #755A00;
}

.jchartfx .Attribute10Alt {
    fill: #C19400;
}

.jchartfx .Attribute11 {
    fill: #9B9B1F;
    stroke: #757518;
}

.jchartfx .Attribute11Line {
    stroke: #757518;
}

.jchartfx .Attribute11Alt {
    fill: #C1C126;
}

.jchartfx .Attribute12 {
    fill: #373700;
    stroke: #2A2A00;
}

.jchartfx .Attribute12Line {
    stroke: #2A2A00;
}

.jchartfx .Attribute12Alt {
    fill: #444400;
}

.jchartfx .Attribute13 {
    fill: #C1757B;
    stroke: #91585D;
}

.jchartfx .Attribute13Line {
    stroke: #91585D;
}

.jchartfx .Attribute13Alt {
    fill: #91585D;
}

.jchartfx .Attribute14 {
    fill: #FFFF47;
    stroke: #C0C036;
}

.jchartfx .Attribute14Line {
    stroke: #C0C036;
}

.jchartfx .Attribute14Alt {
    fill: #C0C036;
}

.jchartfx .Attribute15 {
    fill: #C39F28;
    stroke: #93781E;
}

.jchartfx .Attribute15Line {
    stroke: #93781E;
}

.jchartfx .Attribute15Alt {
    fill: #F3C632;
}

.jchartfx .MarkerHollow {
    fill: #30273A;
}

.jchartfx .Border {
    fill: #3D3644;
    stroke: #7E7783;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #DCD9DE;
}

.jchartfx .PlotArea3D {
    fill: #DCD9DE;
    stroke: #DCD9DE;
}

.jchartfx .CustomGridLine {
    stroke: #665874;
}

.jchartfx .CustomGridLineLabel {
    fill: #FFFFFF;
}

.jchartfx .AxisY_Section {
    fill: #30273A;
    stroke: #30273A;
}

.jchartfx .AxisX_Section {
    fill: #30273A;
    stroke: #30273A;
}

.jchartfx .AxisY_Text {
    fill: #FFFFFF;
}

.jchartfx .AxisY_Major {
    stroke: #DCD9DE;
}

.jchartfx .AxisY_Minor {
    stroke: #DCD9DE;
}

.jchartfx .AxisY_Interlaced {
    fill: #3D3644;
}

.jchartfx .AxisY_Line {
    stroke: #DCD9DE;
}

.jchartfx .AxisX_Text {
    fill: #FFFFFF;
}

.jchartfx .AxisX_Major {
    stroke: #DCD9DE;
}

.jchartfx .AxisX_Minor {
    stroke: #DCD9DE;
}

.jchartfx .AxisX_Interlaced {
    fill: #3D3644;
}

.jchartfx .AxisX_Line {
    stroke: #DCD9DE;
}

.jchartfx .PointLabel {
    fill: #FFFFFF;
}

.jchartfx .PointLabelBorder {
    fill: #C0C0C0;
    stroke: #FFFFFF;
}

.jchartfx .Title {
    fill: #FFFFFF;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #7E7783;
}

.jchartfx .LegendItem {
    fill: #FFFFFF;
}

.jchartfx .ScrollBar {
    fill: #3D3644;
    stroke: #DCD9DE;
}

.jchartfx .ScrollThumb {
    fill: #DCD9DE;
}

.jchartfx .ScrollArrow {
    fill: #DCD9DE;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #30273A;
}

.jchartfx .DataGrid_Back {
    fill: #3D3644;
}

.jchartfx .DataGrid_GridLine {
    fill: #8C8790;
}

.jchartfx .DataGridText {
    fill: #FFFFFF;
}

.jchartfx .DataGridTextAlternate {
    fill: #30273A;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #DCD9DE;
}

.jchartfx .DataGrid_RowHeader {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #30273A;
}

.jchartfx .AnnotationText {
    fill: #FFFFFF;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #FFFFFF;
}

.jchartfx .AnnotationBalloonText {
    fill: #FFFFFF;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #FFFFFF;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #FFFFFF;
}

.jchartfx .AnnotationArrow {
    fill: #FFFFFF;
    stroke: #FFFFFF;
}

.jchartfx .AnnotationArc {
    fill: #FFFFFF;
    stroke: #FFFFFF;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #FFFFFF;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #FFFFFF;
}

.jchartfx .HeatMap0 {
    fill: #5F5964;
}

.jchartfx .HeatMap1 {
    fill: #FFFFFF;
}

.jchartfx .EqualizerTop0 {
    stroke: #C0C0C0;
    fill: #FFFFFF;
}

.jchartfx .EqualizerTop1 {
    stroke: #733A3F;
    fill: #994D53;
}

.jchartfx_gauge .Border {
    fill: #3D3644;
    stroke: #7E7783;
}

.jchartfx_gauge .Indicator {
    fill: #5F5964;
    stroke: #48434B;
}

.jchartfx_gauge .Cap {
    fill: #FFFFFF;
}

.jchartfx_gauge .Bar {
    fill: #FFFFFF;
    stroke: #C0C0C0;
}

.jchartfx_gauge .TickMajor {
    stroke: #DCD9DE;
    fill: #DCD9DE;
}

.jchartfx_gauge .TickMedium {
    stroke: #DCD9DE;
    fill: #DCD9DE;
}

.jchartfx_gauge .Text {
    fill: #FFFFFF;
}

.jchartfx_gauge .Title {
    fill: #FFFFFF;
}

.jchartfx_gauge .Section1 {
    fill: #FFDB1F;
    stroke: #C0A518;
}

.jchartfx_gauge .Section0 {
    fill: #994D53;
    stroke: #733A3F;
}

.jchartfx_gauge .Section2 {
    fill: #8D78A5;
    stroke: #6A5A7C;
}

.jchartfx_gauge .GreaterThan {
    fill: #8D78A5;
}

.jchartfx_gauge .LessThan {
    fill: #994D53;
}

.jchartfx_gauge .EqualsTo {
    fill: #FFDB1F;
}

.jchartfx_gauge .Separator {
    stroke: #DCD9DE;
}

.jchartfx .MapContext {
    fill: #3d3644;
    stroke: #130a19;
}

.jchartfx .MapWater {
    fill: #dcffff;
    stroke: #a4d0e7;
}

.jchartfx .MapOcean0 {
    fill: #a4d0e7;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #96c2d9;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #88b4cb;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #7ba7bd;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #6e9aaf;
    stroke: none;
}

.jchartfx .MapOcean4 {
    fill: #618da2 !important;
    stroke: none;
}

.jchartfx .MapAttribute0 {
    fill: #5f5964;
    stroke: #312c35;
}

.jchartfx .MapAttribute1 {
    fill: #ffffff;
    stroke: #c6c6c6;
}

.jchartfx .MapAttribute2 {
    fill: #994d53;
    stroke: #621c26;
}

.jchartfx .MapAttribute3 {
    fill: #40304d;
    stroke: #170121;
}

.jchartfx .MapAttribute4 {
    fill: #b7b7b7;
    stroke: #828282;
}

.jchartfx .MapAttribute5 {
    fill: #4d0f14;
    stroke: #2a0000;
}

.jchartfx .MapAttribute6 {
    fill: #9149cc;
    stroke: #591195;
}

.jchartfx .MapAttribute7 {
    fill: #6f6f6f;
    stroke: #3f3f3f;
}

.jchartfx .MapRoad {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: .3;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .1;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #E2C195;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #3D3644;
    stroke: #7E7783;
}

.jchartfx .MapPlot {
    fill: #6e9aaf;
    fill-opacity: 0;
}

.jchartfx_gauge .TitleLarge {
    fill: #FFFFFF;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #FFFFFF;
}

.jchartfx_gauge .DashboardTitle {
    fill: #FFFFFF;
}

.jchartfx .DashboardCaption {
    fill: #5F5964;
    stroke: #FFFFFF;
}

.jchartfx_gauge .DashboardCaption {
    fill: #5F5964;
    stroke: #FFFFFF;
}

.jchartfx .EqualizerOff {
        fill: #DCD9DE;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #F0F0F0;
}

.jchartfx_gauge .Glow {
    fill: #F0F0F0;
}

.jchartfx .MapShadow {
    fill: #F0F0F0;
    fill-opacity: 0.3;
}







.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #FFFFFF;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #3D3644;
    border-color: #8C8790;
    box-shadow: 0px 0px 5px 3px rgba(240, 240,  240, .30);
}

.jchartfx_container table thead tr th {
    background-color: #30273A;
    border-color: #8C8790;
    border-bottom-color: #DCD9DE;
    color: #FFFFFF;
}

.jchartfx_container table tbody tr td {
    color: #FFFFFF;
    border-color: #8C8790;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #3D3644;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #DCD9DE;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #FFFFFF;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #FFFFFF;
}

.jchartfx_container .labelIndicator {
    color: #FFFFFF;
}

.jchartfx_container .label {
    color: #FFFFFF;
}

.jchartfx_container .smallLabel {
    color: #FFFFFF;
}

.jchartfx_gauge .BorderMedium {
    fill: #3D3644;
    stroke: #7E7783;
}

.jchartfx_gauge .BorderThick {
    fill: #3D3644;
    stroke: #7E7783;
}

.jchartfx .MapDefaultAttribute {
    fill: #3d3644;
    stroke: #130a19;
}

.jchartfx_gauge .Filler {
    fill: #5F5964;
    stroke: #48434B;
}

.jchartfx_gauge .Marker {
    fill: #5F5964;
    stroke: #48434B;
}

.jchartfx_gauge .Needle {
    fill: #5F5964;
    stroke: #48434B;
}

.jchartfx .BorderMedium {
    fill: #3D3644;
    stroke: #7E7783;
}

.jchartfx .BorderThick {
    fill: #3D3644;
    stroke: #7E7783;
}

.jchartfx .Border0 {
    stroke: #242125;
    fill: #242125;
}

.jchartfx .Border1 {
    stroke: #606060;
    fill: #606060;
}

.jchartfx .Border2 {
    stroke: #391D1F;
    fill: #391D1F;
}

.jchartfx .Border3 {
    stroke: #3F3D41;
    fill: #3F3D41;
}

.jchartfx .Border4 {
    stroke: #120F16;
    fill: #120F16;
}

.jchartfx .Border5 {
    stroke: #352D3E;
    fill: #352D3E;
}

.jchartfx .Border6 {
    stroke: #2B1D39;
    fill: #2B1D39;
}

.jchartfx .Border7 {
    stroke: #60520C;
    fill: #60520C;
}

.jchartfx_gauge .Border0  {
    stroke: #242125;
    fill: #242125;
}

.jchartfx_gauge .Border1  {
    stroke: #606060;
    fill: #606060;
}

.jchartfx_gauge .Border2  {
    stroke: #391D1F;
    fill: #391D1F;
}

.jchartfx_gauge .Border3  {
    stroke: #3F3D41;
    fill: #3F3D41;
}

.jchartfx_gauge .Border4  {
    stroke: #120F16;
    fill: #120F16;
}

.jchartfx_gauge .Border5  {
    stroke: #352D3E;
    fill: #352D3E;
}

.jchartfx_gauge .Border6  {
    stroke: #2B1D39;
    fill: #2B1D39;
}

.jchartfx_gauge .Border7  {
    stroke: #60520C;
    fill: #60520C;
}

.jchartfx-menu-callout:hover {
  color: #3D3644;
}

.jchartfx-menu {
  border-color: rgba(139, 139, 139, 0.8);
  background-color: rgba(33, 27, 40, 0.9);
   -webkit-box-shadow: rgba(0, 0, 0, 0.25);
  box-shadow: rgba(0, 0, 0, 0.25);
 }
 
 .jchartfx-menu .options li {
  border-color: rgba(102, 102, 102, 0.5);
}

.jchartfx-menu a {
  color: #FFFFFF;
}

.jchartfx-menu a.next {
  color: rgba(102, 102, 102, 0.8);
}

.jchartfx-menu a.prev {
  color: rgba(102, 102, 102, 0.8);
}

.jchartfx-menu a.next:hover,
.jchartfx-menu .contextmenu a.prev:hover {
  color: rgba(102, 102, 102, 1);
}

.jchartfx-menu a.next.disabled {
  color: rgba(102, 102, 102, 0.2);
}

.jchartfx-menu a.next.disabled:hover {
  color: rgba(102, 102, 102, 0.2);
}

.jchartfx-menu .toggle {
  border-color: rgba(102, 102, 102, 1);
  background-color: rgba(0, 0, 0, 0.05);
}

.jchartfx-menu .toggle.active {
  background-color: #8D78A5;
}

.jchartfx-menu td.btnposition.active a {
  background-color: #8D78A5;
}

.jchartfx-menu .selectable li.active {
    border: 1px solid;
    border-color: #8D78A5;
    box-shadow: inset 0 0 0px 0px #8D78A5;
    background: rgba(141,120,165,0.2);
}

.jchartfx .GreaterThan {
    stroke: #8D78A5;
}

.jchartfx .LessThan {
    stroke: #994D53;
}

.jchartfx .EqualsTo {
    stroke: #FFDB1F;
}