.jchartfx_body {
    background-color: #FFFFFF;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #FDFDFD;
    stroke: #000000;
}

.jchartfx .PointLabel {
    fill: #000000;
}

.jchartfx .Attribute0 {
    fill: #507CD1;
    stroke: #3C5D9D;
}

.jchartfx .Attribute0Line {
    stroke: #3C5D9D;
}

.jchartfx .Attribute0Alt {
    fill: #3C5D9D;
}

.jchartfx .Attribute1 {
    fill: #39A030;
    stroke: #2B7824;
}

.jchartfx .Attribute1Line {
    stroke: #2B7824;
}

.jchartfx .Attribute1Alt {
    fill: #47C83C;
}

.jchartfx .Attribute2 {
    fill: #E89B00;
    stroke: #AE7500;
}

.jchartfx .Attribute2Line {
    stroke: #AE7500;
}

.jchartfx .Attribute2Alt {
    fill: #FFC100;
}

.jchartfx .Attribute3 {
    fill: #E50091;
    stroke: #AC006D;
}

.jchartfx .Attribute3Line {
    stroke: #AC006D;
}

.jchartfx .Attribute3Alt {
    fill: #FF00B5;
}

.jchartfx .Attribute4 {
    fill: #6500A8;
    stroke: #4C007E;
}

.jchartfx .Attribute4Line {
    stroke: #4C007E;
}

.jchartfx .Attribute4Alt {
    fill: #7E00D2;
}

.jchartfx .Attribute5 {
    fill: #A5E57A;
    stroke: #7CAC5C;
}

.jchartfx .Attribute5Line {
    stroke: #7CAC5C;
}

.jchartfx .Attribute5Alt {
    fill: #7CAC5C;
}

.jchartfx .Attribute6 {
    fill: #00A0C4;
    stroke: #007893;
}

.jchartfx .Attribute6Line {
    stroke: #007893;
}

.jchartfx .Attribute6Alt {
    fill: #00C8F5;
}

.jchartfx .Attribute7 {
    fill: #1C5E55;
    stroke: #154740;
}

.jchartfx .Attribute7Line {
    stroke: #154740;
}

.jchartfx .Attribute7Alt {
    fill: #23756A;
}

.jchartfx .Attribute8 {
    fill: #990000;
    stroke: #730000;
}

.jchartfx .Attribute8Line {
    stroke: #730000;
}

.jchartfx .Attribute8Alt {
    fill: #BF0000;
}

.jchartfx .Attribute9 {
    fill: #FFA38E;
    stroke: #C07B6B;
}

.jchartfx .Attribute9Line {
    stroke: #C07B6B;
}

.jchartfx .Attribute9Alt {
    fill: #C07B6B;
}

.jchartfx .Attribute10 {
    fill: #0B2585;
    stroke: #091C64;
}

.jchartfx .Attribute10Line {
    stroke: #091C64;
}

.jchartfx .Attribute10Alt {
    fill: #0D2EA6;
}

.jchartfx .Attribute11 {
    fill: #C5AEFA;
    stroke: #9483BC;
}

.jchartfx .Attribute11Line {
    stroke: #9483BC;
}

.jchartfx .Attribute11Alt {
    fill: #9483BC;
}

.jchartfx .Attribute12 {
    fill: #FFC800;
    stroke: #C09600;
}

.jchartfx .Attribute12Line {
    stroke: #C09600;
}

.jchartfx .Attribute12Alt {
    fill: #C09600;
}

.jchartfx .Attribute13 {
    fill: #ADD6FF;
    stroke: #82A1C0;
}

.jchartfx .Attribute13Line {
    stroke: #82A1C0;
}

.jchartfx .Attribute13Alt {
    fill: #82A1C0;
}

.jchartfx .Attribute14 {
    fill: #0A32C4;
    stroke: #082693;
}

.jchartfx .Attribute14Line {
    stroke: #082693;
}

.jchartfx .Attribute14Alt {
    fill: #0C3EF5;
}

.jchartfx .Attribute15 {
    fill: #FF0000;
    stroke: #C00000;
}

.jchartfx .Attribute15Line {
    stroke: #C00000;
}

.jchartfx .Attribute15Alt {
    fill: #C00000;
}

.jchartfx .MarkerHollow {
    fill: #FFFFFF;
}

.jchartfx .Border {
    fill: #FFFFFF;
    stroke: #507CD1;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #D1DDF1;
}

.jchartfx .PlotArea3D {
    fill: #FFFFFF;
    stroke: #D1DDF1;
}

.jchartfx .CustomGridLine {
    stroke: #A8BBFF;
}

.jchartfx .CustomGridLineLabel {
    fill: #000000;
}

.jchartfx .AxisY_Section {
    fill: #D1DDF1;
    stroke: #D1DDF1;
}

.jchartfx .AxisX_Section {
    fill: #D1DDF1;
    stroke: #D1DDF1;
}

.jchartfx .AxisY_Text {
    fill: #000000;
}

.jchartfx .AxisY_Major {
    stroke: #D1DDF1;
}

.jchartfx .AxisY_Minor {
    stroke: #D1DDF1;
}

.jchartfx .AxisY_Interlaced {
    fill: #EFF3FB;
}

.jchartfx .AxisY_Line {
    stroke: #D1DDF1;
}

.jchartfx .AxisX_Text {
    fill: #000000;
}

.jchartfx .AxisX_Major {
    stroke: #D1DDF1;
}

.jchartfx .AxisX_Minor {
    stroke: #D1DDF1;
}

.jchartfx .AxisX_Interlaced {
    fill: #EFF3FB;
}

.jchartfx .AxisX_Line {
    stroke: #D1DDF1;
}

.jchartfx .PointLabelBorder {
    fill: #000000;
    stroke: #000000;
}

.jchartfx .Title {
    fill: #000000;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #507CD1;
}

.jchartfx .LegendItem {
    fill: #000000;
}

.jchartfx .ScrollBar {
    fill: #FFFFFF;
    stroke: #D1DDF1;
}

.jchartfx .ScrollThumb {
    fill: #D1DDF1;
}

.jchartfx .ScrollArrow {
    fill: #D1DDF1;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #507CD1;
}

.jchartfx .DataGrid_Back {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_GridLine {
    fill: #D1DDF1;
}

.jchartfx .DataGridText {
    fill: #000000;
}

.jchartfx .DataGridTextAlternate {
    fill: #000000;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #EFF3FB;
}

.jchartfx .DataGrid_RowHeader {
    fill: #000000;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #000000;
}

.jchartfx .AnnotationText {
    fill: #000000;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #000000;
}

.jchartfx .AnnotationBalloonText {
    fill: #000000;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #000000;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #000000;
}

.jchartfx .AnnotationArrow {
    fill: #000000;
    stroke: #000000;
}

.jchartfx .AnnotationArc {
    fill: #000000;
    stroke: #000000;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #000000;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #000000;
}

.jchartfx .HeatMap0 {
    fill: #507CD1;
}

.jchartfx .HeatMap1 {
    fill: #39A030;
}

.jchartfx .EqualizerTop0 {
    stroke: #2B7824;
    fill: #39A030;
}

.jchartfx .EqualizerTop1 {
    stroke: #AE7500;
    fill: #E89B00;
}

.jchartfx .MapContext {
    fill: #ffffff;
    stroke: #c6c6c6;
}

.jchartfx .MapOcean0 {
    fill: #7da3fc;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #6e96ed;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #5f89df;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #507cd1;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #4070c3;
    stroke: none;
}

.jchartfx .MapWater {
    fill: #b7daff;
    stroke: #7da3fc;
}

.jchartfx .MapAttribute0 {
    fill: #39a030;
    stroke: #006b00;
}

.jchartfx .MapAttribute1 {
    fill: #e89b00;
    stroke: #aa6800;
}

.jchartfx .MapAttribute2 {
    fill: #e50091;
    stroke: #a8005f;
}

.jchartfx .MapAttribute3 {
    fill: #144d0f;
    stroke: #002100;
}

.jchartfx .MapAttribute4 {
    fill: #a78133;
    stroke: #6f5000;
}

.jchartfx .MapAttribute5 {
    fill: #a5327b;
    stroke: #6d004a;
}

.jchartfx .MapAttribute6 {
    fill: #a6cca3;
    stroke: #71966f;
}

.jchartfx .MapAttribute7 {
    fill: #67593e;
    stroke: #372c13;
}

.jchartfx .MapRoad {
    stroke: #AC006D;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .4;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #AC006D;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #AC006D;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #FFFFFF;
    stroke: #507CD1;
}

.jchartfx .Indicator {
    fill: #507CD1;
    stroke: #3C5D9D;
}

.jchartfx .Cap {
    fill: #000000;
}

.jchartfx .Bar {
    stroke: #D1DDF1;
    fill: #EFF3FB;
}

.jchartfx .TickMajor {
    stroke: #D1DDF1;
    fill: #D1DDF1;
}

.jchartfx .TickMedium {
    stroke: #D1DDF1;
    fill: #D1DDF1;
}

.jchartfx .GaugeText {
    fill: #000000;
}

.jchartfx .GaugeTitle {
    fill: #000000;
}

.jchartfx .GaugeSection0 {
    fill: #39A030;
    stroke: #2B7824;
}

.jchartfx .GaugeSection1 {
    fill: #E89B00;
    stroke: #AE7500;
}

.jchartfx .GaugeSection2 {
    fill: #E50091;
    stroke: #AC006D;
}

.jchartfx .Separator {
    stroke: #D1DDF1;
}

.jchartfx .MapPlot {
    fill: #4070c3;
    fill-opacity: 0;
}

.jchartfx .GaugeTitleLarge {
    fill: #000000;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #000000;
}

.jchartfx .DashboardCaption {
    fill: #507CD1;
    stroke: #FFFFFF;
}

.jchartfx .EqualizerOff {
        fill: #D1DDF1;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #444444;
}

.jchartfx .MapShadow {
    fill: #444444;
    fill-opacity: 0.3;
}

.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #EFF3FB;
    fill-opacity: 1;
}

.jchartfx-menu {
  border-color: #507CD1;
}

.jchartfx_container table {
    background-color: #FFFFFF;
    border-color: #D1DDF1;
    box-shadow: 0px 0px 5px 3px rgba(68, 68,  68, .30);
}

.jchartfx_container table thead tr th {
    background-color: #507CD1;
    border-color: #D1DDF1;
    border-bottom-color: #D1DDF1;
    color: #FFFFFF;
}

.jchartfx_container table tbody tr td {
    color: #000000;
    border-color: #D1DDF1;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #FFFFFF;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #EFF3FB;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #000000;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #000000;
}

.jchartfx_container .labelIndicator {
    color: #000000;
}

.jchartfx_container .label {
    color: #000000;
}

.jchartfx_container .smallLabel {
    color: #000000;
}

.jchartfx .MapDefaultAttribute {
    fill: #ffffff;
    stroke: #c6c6c6;
}

.jchartfx .Filler {
    fill: #507CD1;
    stroke: #3C5D9D;
}

.jchartfx .GaugeMarker {
    fill: #507CD1;
    stroke: #3C5D9D;
}

.jchartfx .Needle {
    fill: #507CD1;
    stroke: #3C5D9D;
}

.jchartfx .BorderMedium {
    fill: #FFFFFF;
    stroke: #507CD1;
}

.jchartfx .BorderThick {
    fill: #FFFFFF;
    stroke: #507CD1;
}

.jchartfx .Border0 {
    stroke: #85CEFF;
    fill: #85CEFF;
}

.jchartfx .Border1 {
    stroke: #5FFF50;
    fill: #5FFF50;
}

.jchartfx .Border2 {
    stroke: #FFFF00;
    fill: #FFFF00;
}

.jchartfx .Border3 {
    stroke: #FF00F1;
    fill: #FF00F1;
}

.jchartfx .Border4 {
    stroke: #A800FF;
    fill: #A800FF;
}

.jchartfx .Border5 {
    stroke: #FFFFCB;
    fill: #FFFFCB;
}

.jchartfx .Border6 {
    stroke: #00FFFF;
    fill: #00FFFF;
}

.jchartfx .Border7 {
    stroke: #2E9C8D;
    fill: #2E9C8D;
}

.jchartfx .GreaterThan {
    fill: #39A030;
    stroke: #39A030;
}

.jchartfx .LessThan {
    fill: #E50091;
    stroke: #E50091;
}

.jchartfx .EqualsTo {
    fill: #E89B00;
    stroke: #E89B00;
}

.jchartfx .InsideLabel0 {
    fill: #1E2E4E;
}

.jchartfx .InsideLabel1 {
    fill: #5FFF50;
}

.jchartfx .InsideLabel2 {
    fill: #FFFF00;
}

.jchartfx .InsideLabel3 {
    fill: #FF84F8;
}

.jchartfx .InsideLabel4 {
    fill: #A800FF;
}

.jchartfx .InsideLabel5 {
    fill: #3E562E;
}

.jchartfx .InsideLabel6 {
    fill: #00FFFF;
}

.jchartfx .InsideLabel7 {
    fill: #2E9C8D;
}

.jchartfx .InsideLabel8 {
    fill: #FF0000;
}

.jchartfx .InsideLabel9 {
    fill: #603D35;
}

.jchartfx .InsideLabel10 {
    fill: #123DDD;
}

.jchartfx .InsideLabel11 {
    fill: #4A415E;
}

.jchartfx .InsideLabel12 {
    fill: #604B00;
}

.jchartfx .InsideLabel13 {
    fill: #415060;
}

.jchartfx .InsideLabel14 {
    fill: #1053FF;
}

.jchartfx .InsideLabel15 {
    fill: #600000;
}

.jchartfx .EmptyMarker {
    fill: #D1DDF1;
    stroke: #B1BBCC;
}

.jchartfx .Repeater {
    fill: #507CD1;
    stroke: #3C5D9D;
}

.jchartfx .RepeaterOff {
    fill: #000045;
    stroke: #000045;
}