.jchartfx_body {
    background-color: #FFFFFF;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #F9F9F9;
    stroke: #333333;
}

.jchartfx .Attribute0 {
    fill: #1C94C4;
    stroke: #156F93;
}

.jchartfx .Attribute0Line {
    stroke: #156F93;
}

.jchartfx .Attribute0Alt {
    fill: #23B9F5;
}

.jchartfx .Attribute1 {
    fill: #EB8F00;
    stroke: #B16C00;
}

.jchartfx .Attribute1Line {
    stroke: #B16C00;
}

.jchartfx .Attribute1Alt {
    fill: #FFB200;
}

.jchartfx .Attribute2 {
    fill: #FFE45C;
    stroke: #C0AB45;
}

.jchartfx .Attribute2Line {
    stroke: #C0AB45;
}

.jchartfx .Attribute2Alt {
    fill: #C0AB45;
}

.jchartfx .Attribute3 {
    fill: #B81900;
    stroke: #8A1300;
}

.jchartfx .Attribute3Line {
    stroke: #8A1300;
}

.jchartfx .Attribute3Alt {
    fill: #E61F00;
}

.jchartfx .Attribute4 {
    fill: #F6A828;
    stroke: #B97E1E;
}

.jchartfx .Attribute4Line {
    stroke: #B97E1E;
}

.jchartfx .Attribute4Alt {
    fill: #B97E1E;
}

.jchartfx .Attribute5 {
    fill: #333333;
    stroke: #272727;
}

.jchartfx .Attribute5Line {
    stroke: #272727;
}

.jchartfx .Attribute5Alt {
    fill: #3F3F3F;
}

.jchartfx .Attribute6 {
    fill: #C77405;
    stroke: #965704;
}

.jchartfx .Attribute6Line {
    stroke: #965704;
}

.jchartfx .Attribute6Alt {
    fill: #F89106;
}

.jchartfx .Attribute7 {
    fill: #CCCCCC;
    stroke: #999999;
}

.jchartfx .Attribute7Line {
    stroke: #999999;
}

.jchartfx .Attribute7Alt {
    fill: #999999;
}

.jchartfx .Attribute8 {
    fill: #FBCB09;
    stroke: #BD9907;
}

.jchartfx .Attribute8Line {
    stroke: #BD9907;
}

.jchartfx .Attribute8Alt {
    fill: #BD9907;
}

.jchartfx .Attribute9 {
    fill: #228EF1;
    stroke: #1A6BB5;
}

.jchartfx .Attribute9Line {
    stroke: #1A6BB5;
}

.jchartfx .Attribute9Alt {
    fill: #1A6BB5;
}

.jchartfx .Attribute10 {
    fill: #80F8FF;
    stroke: #60BAC0;
}

.jchartfx .Attribute10Line {
    stroke: #60BAC0;
}

.jchartfx .Attribute10Alt {
    fill: #60BAC0;
}

.jchartfx .Attribute11 {
    fill: #FF7D64;
    stroke: #C05E4B;
}

.jchartfx .Attribute11Line {
    stroke: #C05E4B;
}

.jchartfx .Attribute11Alt {
    fill: #C05E4B;
}

.jchartfx .Attribute12 {
    fill: #FFFF8C;
    stroke: #C0C069;
}

.jchartfx .Attribute12Line {
    stroke: #C0C069;
}

.jchartfx .Attribute12Alt {
    fill: #C0C069;
}

.jchartfx .Attribute13 {
    fill: #979797;
    stroke: #727272;
}

.jchartfx .Attribute13Line {
    stroke: #727272;
}

.jchartfx .Attribute13Alt {
    fill: #727272;
}

.jchartfx .Attribute14 {
    fill: #003060;
    stroke: #002448;
}

.jchartfx .Attribute14Line {
    stroke: #002448;
}

.jchartfx .Attribute14Alt {
    fill: #003C78;
}

.jchartfx .Attribute15 {
    fill: #872B00;
    stroke: #662100;
}

.jchartfx .Attribute15Line {
    stroke: #662100;
}

.jchartfx .Attribute15Alt {
    fill: #A83500;
}

.jchartfx .MarkerHollow {
    fill: #FFFFFF;
}

.jchartfx .Border {
    fill: #EEEEEE;
    stroke: #DDDDDD;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #CCCCCC;
}

.jchartfx .PlotArea3D {
    fill: #F6F6F6;
    stroke: #CCCCCC;
}

.jchartfx .CustomGridLine {
    stroke: #1C94C4;
}

.jchartfx .CustomGridLineLabel {
    fill: #333333;
}

.jchartfx .AxisY_Section {
    fill: #F6A828;
    stroke: #F6A828;
}

.jchartfx .AxisX_Section {
    fill: #F6A828;
    stroke: #F6A828;
}

.jchartfx .AxisY_Text {
    fill: #333333;
}

.jchartfx .AxisY_Major {
    stroke: #CCCCCC;
}

.jchartfx .AxisY_Minor {
    stroke: #CCCCCC;
}

.jchartfx .AxisY_Interlaced {
    fill: #EEEEEE;
}

.jchartfx .AxisY_Line {
    stroke: #CCCCCC;
}

.jchartfx .AxisX_Text {
    fill: #333333;
}

.jchartfx .AxisX_Major {
    stroke: #CCCCCC;
}

.jchartfx .AxisX_Minor {
    stroke: #CCCCCC;
}

.jchartfx .AxisX_Interlaced {
    fill: #EEEEEE;
}

.jchartfx .AxisX_Line {
    stroke: #CCCCCC;
}

.jchartfx .PointLabel {
    fill: #333333;
}

.jchartfx .PointLabelBorder {
    fill: #3F3F3F;
    stroke: #333333;
}

.jchartfx .Title {
    fill: #333333;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #DDDDDD;
}

.jchartfx .LegendItem {
    fill: #333333;
}

.jchartfx .ScrollBar {
    fill: #EEEEEE;
    stroke: #CCCCCC;
}

.jchartfx .ScrollThumb {
    fill: #CCCCCC;
}

.jchartfx .ScrollArrow {
    fill: #CCCCCC;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #F6A828;
}

.jchartfx .DataGrid_Back {
    fill: #EEEEEE;
}

.jchartfx .DataGrid_GridLine {
    fill: #DCDCDC;
}

.jchartfx .DataGridText {
    fill: #333333;
}

.jchartfx .DataGridTextAlternate {
    fill: #333333;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #F6F6F6;
}

.jchartfx .DataGrid_RowHeader {
    fill: #333333;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #333333;
}

.jchartfx .AnnotationText {
    fill: #333333;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #333333;
}

.jchartfx .AnnotationBalloonText {
    fill: #333333;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #333333;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #333333;
}

.jchartfx .AnnotationArrow {
    fill: #333333;
    stroke: #333333;
}

.jchartfx .AnnotationArc {
    fill: #333333;
    stroke: #333333;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #333333;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #333333;
}

.jchartfx .HeatMap0 {
    fill: #1C94C4;
}

.jchartfx .HeatMap1 {
    fill: #EB8F00;
}

.jchartfx .EqualizerTop0 {
    stroke: #B16C00;
    fill: #EB8F00;
}

.jchartfx .EqualizerTop1 {
    stroke: #C0AB45;
    fill: #FFE45C;
}

.jchartfx_gauge .Border {
    fill: #EEEEEE;
    stroke: #DDDDDD;
}

.jchartfx_gauge .Indicator {
    fill: #1C94C4;
    stroke: #156F93;
}

.jchartfx_gauge .Cap {
    fill: #333333;
}

.jchartfx_gauge .Bar {
    stroke: #CCCCCC;
    fill: #F6F6F6;
}

.jchartfx_gauge .TickMajor {
    stroke: #CCCCCC;
    fill: #CCCCCC;
}

.jchartfx_gauge .TickMedium {
    stroke: #CCCCCC;
    fill: #CCCCCC;
}

.jchartfx_gauge .Text {
    fill: #333333;
}

.jchartfx_gauge .Title {
    fill: #333333;
}

.jchartfx_gauge .Section2 {
    fill: #228EF1;
    stroke: #1A6BB5;
}

.jchartfx_gauge .Section1 {
    fill: #FFE45C;
    stroke: #C0AB45;
}

.jchartfx_gauge .Section0 {
    fill: #B81900;
    stroke: #8A1300;
}

.jchartfx_gauge .GreaterThan {
    fill: #228EF1;
}

.jchartfx_gauge .LessThan {
    fill: #B81900;
}

.jchartfx_gauge .EqualsTo {
    fill: #FFE45C;
}

.jchartfx_gauge .Separator {
    stroke: #CCCCCC;
}

.jchartfx .MapContext {
    fill: #eeeeee;
    stroke: #b6b6b6;
}

.jchartfx .MapWater {
    fill: #97f4ff;
    stroke: #59bcee;
}

.jchartfx .MapOcean0 {
    fill: #59bcee;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #48aee0;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #35a1d2;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #1d94c4;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #0087b6;
    stroke: none;
}

.jchartfx .MapOcean4 {
    fill: #618da2 !important;
    stroke: none;
}

.jchartfx .MapAttribute0 {
    fill: #eb8f00;
    stroke: #ad5c00;
}

.jchartfx .MapAttribute1 {
    fill: #ffe45c;
    stroke: #c3ad20;
}

.jchartfx .MapAttribute2 {
    fill: #b81900;
    stroke: #7b0000;
}

.jchartfx .MapAttribute3 {
    fill: #a97b33;
    stroke: #714a00;
}

.jchartfx .MapAttribute4 {
    fill: #b79f25;
    stroke: #7e6c00;
}

.jchartfx .MapAttribute5 {
    fill: #873528;
    stroke: #500000;
}

.jchartfx .MapAttribute6 {
    fill: #68583e;
    stroke: #382b13;
}

.jchartfx .MapAttribute7 {
    fill: #6f6b58;
    stroke: #3f3c2b;
}

.jchartfx .MapRoad {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: .3;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .1;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #E2C195;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #EEEEEE;
    stroke: #DDDDDD;
}

.jchartfx .MapPlot {
    fill: #0087b6;
    fill-opacity: 0;
}

.jchartfx_gauge .TitleLarge {
    fill: #333333;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #333333;
}

.jchartfx_gauge .DashboardTitle {
    fill: #333333;
}

.jchartfx .DashboardCaption {
    fill: #1C94C4;
    stroke: #FFFFFF;
}

.jchartfx_gauge .DashboardCaption {
    fill: #1C94C4;
    stroke: #FFFFFF;
}

.jchartfx .EqualizerOff {
        fill: #CCCCCC;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #444444;
}

.jchartfx_gauge .Glow {
    fill: #444444;
}

.jchartfx .MapShadow {
    fill: #444444;
    fill-opacity: 0.3;
}







.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #F6F6F6;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #EEEEEE;
    border-color: #DCDCDC;
    box-shadow: 0px 0px 5px 3px rgba(68, 68,  68, .30);
}

.jchartfx_container table thead tr th {
    background-color: #F6A828;
    border-color: #DCDCDC;
    border-bottom-color: #CCCCCC;
    color: #FFFFFF;
}

.jchartfx_container table tbody tr td {
    color: #333333;
    border-color: #DCDCDC;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #EEEEEE;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #F6F6F6;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #333333;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #333333;
}

.jchartfx_container .labelIndicator {
    color: #333333;
}

.jchartfx_container .label {
    color: #333333;
}

.jchartfx_container .smallLabel {
    color: #333333;
}

.jchartfx_gauge .BorderMedium {
    fill: #EEEEEE;
    stroke: #DDDDDD;
}

.jchartfx_gauge .BorderThick {
    fill: #EEEEEE;
    stroke: #DDDDDD;
}

.jchartfx .MapDefaultAttribute {
    fill: #eeeeee;
    stroke: #b6b6b6;
}

.jchartfx_gauge .Filler {
    fill: #1C94C4;
    stroke: #156F93;
}

.jchartfx_gauge .Marker {
    fill: #1C94C4;
    stroke: #156F93;
}

.jchartfx_gauge .Needle {
    fill: #1C94C4;
    stroke: #156F93;
}

.jchartfx .BorderMedium {
    fill: #EEEEEE;
    stroke: #DDDDDD;
}

.jchartfx .BorderThick {
    fill: #EEEEEE;
    stroke: #DDDDDD;
}

.jchartfx .Border0 {
    stroke: #2EF6FF;
    fill: #2EF6FF;
}

.jchartfx .Border1 {
    stroke: #FFEE00;
    fill: #FFEE00;
}

.jchartfx .Border2 {
    stroke: #FFFF99;
    fill: #FFFF99;
}

.jchartfx .Border3 {
    stroke: #FF2900;
    fill: #FF2900;
}

.jchartfx .Border4 {
    stroke: #FFFF42;
    fill: #FFFF42;
}

.jchartfx .Border5 {
    stroke: #555555;
    fill: #555555;
}

.jchartfx .Border6 {
    stroke: #FFC108;
    fill: #FFC108;
}

.jchartfx .Border7 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx_gauge .Border0  {
    stroke: #2EF6FF;
    fill: #2EF6FF;
}

.jchartfx_gauge .Border1  {
    stroke: #FFEE00;
    fill: #FFEE00;
}

.jchartfx_gauge .Border2  {
    stroke: #FFFF99;
    fill: #FFFF99;
}

.jchartfx_gauge .Border3  {
    stroke: #FF2900;
    fill: #FF2900;
}

.jchartfx_gauge .Border4  {
    stroke: #FFFF42;
    fill: #FFFF42;
}

.jchartfx_gauge .Border5  {
    stroke: #555555;
    fill: #555555;
}

.jchartfx_gauge .Border6  {
    stroke: #FFC108;
    fill: #FFC108;
}

.jchartfx_gauge .Border7  {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx-menu .toggle.active {
  background-color: #EB8F00;
}

.jchartfx-menu td.btnposition.active a {
  background-color: #EB8F00;
}

.jchartfx .GreaterThan {
    stroke: #228EF1;
}

.jchartfx .LessThan {
    stroke: #B81900;
}

.jchartfx .EqualsTo {
    stroke: #FFE45C;
}