.jchartfx_body {
    background-color: #4F4221;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #423219;
    stroke: #EFEC9F;
}

.jchartfx .Attribute0 {
    fill: #F8EEC9;
    stroke: #BAB397;
}

.jchartfx .Attribute0Line {
    stroke: #BAB397;
}

.jchartfx .Attribute0Alt {
    fill: #BAB397;
}

.jchartfx .Attribute1 {
    fill: #D5AC5D;
    stroke: #A08146;
}

.jchartfx .Attribute1Line {
    stroke: #A08146;
}

.jchartfx .Attribute1Alt {
    fill: #A08146;
}

.jchartfx .Attribute2 {
    fill: #E9CD86;
    stroke: #AF9A65;
}

.jchartfx .Attribute2Line {
    stroke: #AF9A65;
}

.jchartfx .Attribute2Alt {
    fill: #AF9A65;
}

.jchartfx .Attribute3 {
    fill: #EFEC9F;
    stroke: #B4B178;
}

.jchartfx .Attribute3Line {
    stroke: #B4B178;
}

.jchartfx .Attribute3Alt {
    fill: #B4B178;
}

.jchartfx .Attribute4 {
    fill: #F2EC64;
    stroke: #B6B14B;
}

.jchartfx .Attribute4Line {
    stroke: #B6B14B;
}

.jchartfx .Attribute4Alt {
    fill: #B6B14B;
}

.jchartfx .Attribute5 {
    fill: #FF7519;
    stroke: #C05813;
}

.jchartfx .Attribute5Line {
    stroke: #C05813;
}

.jchartfx .Attribute5Alt {
    fill: #C05813;
}

.jchartfx .Attribute6 {
    fill: #C26629;
    stroke: #924D1F;
}

.jchartfx .Attribute6Line {
    stroke: #924D1F;
}

.jchartfx .Attribute6Alt {
    fill: #F27F33;
}

.jchartfx .Attribute7 {
    fill: #FFFFFF;
    stroke: #C0C0C0;
}

.jchartfx .Attribute7Line {
    stroke: #C0C0C0;
}

.jchartfx .Attribute7Alt {
    fill: #C0C0C0;
}

.jchartfx .Attribute8 {
    fill: #948A65;
    stroke: #6F684C;
}

.jchartfx .Attribute8Line {
    stroke: #6F684C;
}

.jchartfx .Attribute8Alt {
    fill: #B9AC7E;
}

.jchartfx .Attribute9 {
    fill: #856922;
    stroke: #644F1A;
}

.jchartfx .Attribute9Line {
    stroke: #644F1A;
}

.jchartfx .Attribute9Alt {
    fill: #A6832A;
}

.jchartfx .Attribute10 {
    fill: #8B883B;
    stroke: #69662D;
}

.jchartfx .Attribute10Line {
    stroke: #69662D;
}

.jchartfx .Attribute10Alt {
    fill: #ADAA49;
}

.jchartfx .Attribute11 {
    fill: #8E8800;
    stroke: #6B6600;
}

.jchartfx .Attribute11Line {
    stroke: #6B6600;
}

.jchartfx .Attribute11Alt {
    fill: #B1AA00;
}

.jchartfx .Attribute12 {
    fill: #9B1100;
    stroke: #750D00;
}

.jchartfx .Attribute12Line {
    stroke: #750D00;
}

.jchartfx .Attribute12Alt {
    fill: #C11500;
}

.jchartfx .Attribute13 {
    fill: #5E0200;
    stroke: #470200;
}

.jchartfx .Attribute13Line {
    stroke: #470200;
}

.jchartfx .Attribute13Alt {
    fill: #750200;
}

.jchartfx .Attribute14 {
    fill: #9B9B9B;
    stroke: #757575;
}

.jchartfx .Attribute14Line {
    stroke: #757575;
}

.jchartfx .Attribute14Alt {
    fill: #757575;
}

.jchartfx .Attribute15 {
    fill: #FF9D41;
    stroke: #C07631;
}

.jchartfx .Attribute15Line {
    stroke: #C07631;
}

.jchartfx .Attribute15Alt {
    fill: #C07631;
}

.jchartfx .MarkerHollow {
    fill: #443113;
}

.jchartfx .Border {
    fill: #443113;
    stroke: #EFEC9F;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #362917;
}

.jchartfx .PlotArea3D {
    fill: #4F4221;
    stroke: #362917;
}

.jchartfx .CustomGridLine {
    stroke: #F8EEC9;
}

.jchartfx .CustomGridLineLabel {
    fill: #EFEC9F;
}

.jchartfx .AxisY_Section {
    fill: #261803;
    stroke: #261803;
}

.jchartfx .AxisX_Section {
    fill: #261803;
    stroke: #261803;
}

.jchartfx .AxisY_Text {
    fill: #EFEC9F;
}

.jchartfx .AxisY_Major {
    stroke: #362917;
}

.jchartfx .AxisY_Minor {
    stroke: #362917;
}

.jchartfx .AxisY_Interlaced {
    fill: #443113;
}

.jchartfx .AxisY_Line {
    stroke: #362917;
}

.jchartfx .AxisX_Text {
    fill: #EFEC9F;
}

.jchartfx .AxisX_Major {
    stroke: #362917;
}

.jchartfx .AxisX_Minor {
    stroke: #362917;
}

.jchartfx .AxisX_Interlaced {
    fill: #443113;
}

.jchartfx .AxisX_Line {
    stroke: #362917;
}

.jchartfx .PointLabel {
    fill: #EFEC9F;
}

.jchartfx .PointLabelBorder {
    fill: #B4B178;
    stroke: #EFEC9F;
}

.jchartfx .Title {
    fill: #EFEC9F;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #EFEC9F;
}

.jchartfx .LegendItem {
    fill: #EACD86;
}

.jchartfx .ScrollBar {
    fill: #4F4221;
    stroke: #362917;
}

.jchartfx .ScrollThumb {
    fill: #362917;
}

.jchartfx .ScrollArrow {
    fill: #362917;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #261803;
}

.jchartfx .DataGrid_Back {
    fill: #443113;
}

.jchartfx .DataGrid_GridLine {
    fill: #3C2C14;
}

.jchartfx .DataGridText {
    fill: #EFEC9F;
}

.jchartfx .DataGridTextAlternate {
    fill: #EFEC9F;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #4F4221;
}

.jchartfx .DataGrid_RowHeader {
    fill: #EFEC9F;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #EACD86;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #EFEC9F;
}

.jchartfx .AnnotationText {
    fill: #EFEC9F;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #EFEC9F;
}

.jchartfx .AnnotationBalloonText {
    fill: #EFEC9F;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #EFEC9F;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #EFEC9F;
}

.jchartfx .AnnotationArrow {
    fill: #EFEC9F;
    stroke: #EFEC9F;
}

.jchartfx .AnnotationArc {
    fill: #EFEC9F;
    stroke: #EFEC9F;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #EFEC9F;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #EFEC9F;
}

.jchartfx .HeatMap0 {
    fill: #F8EEC9;
}

.jchartfx .HeatMap1 {
    fill: #D5AC5D;
}

.jchartfx .EqualizerTop0 {
    stroke: #A08146;
    fill: #D5AC5D;
}

.jchartfx .EqualizerTop1 {
    stroke: #AF9A65;
    fill: #E9CD86;
}

.jchartfx_gauge .Border {
    fill: #443113;
    stroke: #EFEC9F;
}

.jchartfx_gauge .Indicator {
    fill: #F8EEC9;
    stroke: #BAB397;
}

.jchartfx_gauge .Cap {
    fill: #EFEC9F;
}

.jchartfx_gauge .Bar {
    fill: #E9CD86;
    stroke: #AF9A65;
}

.jchartfx_gauge .TickMajor {
    stroke: #362917;
    fill: #362917;
}

.jchartfx_gauge .TickMedium {
    stroke: #362917;
    fill: #362917;
}

.jchartfx_gauge .Text {
    fill: #EFEC9F;
}

.jchartfx_gauge .Title {
    fill: #EFEC9F;
}

.jchartfx_gauge .Section0 {
    fill: #FF7519;
    stroke: #C05813;
}

.jchartfx_gauge .Section1 {
    fill: #F2EC64;
    stroke: #B6B14B;
}

.jchartfx_gauge .Section2 {
    fill: #856922;
    stroke: #644F1A;
}

.jchartfx_gauge .GreaterThan {
    fill: #856922;
}

.jchartfx_gauge .LessThan {
    fill: #FF7519;
}

.jchartfx_gauge .EqualsTo {
    fill: #F2EC64;
}

.jchartfx_gauge .Separator {
    stroke: #362917;
}

.jchartfx .MapContext {
    fill: #443113;
    stroke: #1f0100;
}

.jchartfx .MapWater {
    fill: #dcffff;
    stroke: #a4d0e7;
}

.jchartfx .MapOcean0 {
    fill: #a4d0e7;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #96c2d9;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #88b4cb;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #7ba7bd;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #6e9aaf;
    stroke: none;
}

.jchartfx .MapOcean4 {
    fill: #618da2 !important;
    stroke: none;
}

.jchartfx .MapAttribute0 {
    fill: #f8eec9;
    stroke: #bfb693;
}

.jchartfx .MapAttribute1 {
    fill: #d5ac5d;
    stroke: #9b782b;
}

.jchartfx .MapAttribute2 {
    fill: #e9cd86;
    stroke: #b09753;
}

.jchartfx .MapAttribute3 {
    fill: #b2a266;
    stroke: #7c6f35;
}

.jchartfx .MapAttribute4 {
    fill: #9b711f;
    stroke: #634100;
}

.jchartfx .MapAttribute5 {
    fill: #a88222;
    stroke: #705100;
}

.jchartfx .MapAttribute6 {
    fill: #6c5d25;
    stroke: #3b2f00;
}

.jchartfx .MapAttribute7 {
    fill: #615a4d;
    stroke: #322d21;
}

.jchartfx .MapRoad {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: .3;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .1;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #E2C195;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #443113;
    stroke: #EFEC9F;
}

.jchartfx .MapPlot {
    fill: #6e9aaf;
    fill-opacity: 0;
}

.jchartfx_gauge .TitleLarge {
    fill: #EFEC9F;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #EFEC9F;
}

.jchartfx_gauge .DashboardTitle {
    fill: #EFEC9F;
}

.jchartfx .DashboardCaption {
    fill: #F8EEC9;
    stroke: #856922;
}

.jchartfx_gauge .DashboardCaption {
    fill: #F8EEC9;
    stroke: #856922;
}

.jchartfx .EqualizerOff {
        fill: #362917;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #F7F4EA;
}

.jchartfx_gauge .Glow {
    fill: #F7F4EA;
}

.jchartfx .MapShadow {
    fill: #F7F4EA;
    fill-opacity: 0.3;
}

.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #E9CD86;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #443113;
    border-color: #3C2C14;
    box-shadow: 0px 0px 5px 3px rgba(247, 244,  234, .30);
}

.jchartfx_container table thead tr th {
    background-color: #261803;
    border-color: #3C2C14;
    border-bottom-color: #362917;
    color: #EACD86;
}

.jchartfx_container table tbody tr td {
    color: #EFEC9F;
    border-color: #3C2C14;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #443113;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #4F4221;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #EFEC9F;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #EFEC9F;
}

.jchartfx_container .labelIndicator {
    color: #EFEC9F;
}

.jchartfx_container .label {
    color: #EFEC9F;
}

.jchartfx_container .smallLabel {
    color: #EFEC9F;
}

.jchartfx_gauge .BorderMedium {
    fill: #443113;
    stroke: #EFEC9F;
}

.jchartfx_gauge .BorderThick {
    fill: #443113;
    stroke: #EFEC9F;
}

.jchartfx .MapDefaultAttribute {
    fill: #443113;
    stroke: #1f0100;
}

.jchartfx_gauge .Filler {
    fill: #F8EEC9;
    stroke: #BAB397;
}

.jchartfx_gauge .Marker {
    fill: #856922;
    stroke: #644F1A;
}

.jchartfx_gauge .Needle {
    fill: #D5AC5D;
    stroke: #A08146;
}

.jchartfx .BorderMedium {
    fill: #443113;
    stroke: #EFEC9F;
}

.jchartfx .BorderThick {
    fill: #443113;
    stroke: #EFEC9F;
}

.jchartfx .Border0 {
    stroke: #5D594B;
    fill: #5D594B;
}

.jchartfx .Border1 {
    stroke: #504023;
    fill: #504023;
}

.jchartfx .Border2 {
    stroke: #574D32;
    fill: #574D32;
}

.jchartfx .Border3 {
    stroke: #5A583C;
    fill: #5A583C;
}

.jchartfx .Border4 {
    stroke: #5B5825;
    fill: #5B5825;
}

.jchartfx .Border5 {
    stroke: #602C09;
    fill: #602C09;
}

.jchartfx .Border6 {
    stroke: #49260F;
    fill: #49260F;
}

.jchartfx .Border7 {
    stroke: #606060;
    fill: #606060;
}

.jchartfx_gauge .Border0  {
    stroke: #5D594B;
    fill: #5D594B;
}

.jchartfx_gauge .Border1  {
    stroke: #504023;
    fill: #504023;
}

.jchartfx_gauge .Border2  {
    stroke: #574D32;
    fill: #574D32;
}

.jchartfx_gauge .Border3  {
    stroke: #5A583C;
    fill: #5A583C;
}

.jchartfx_gauge .Border4  {
    stroke: #5B5825;
    fill: #5B5825;
}

.jchartfx_gauge .Border5  {
    stroke: #602C09;
    fill: #602C09;
}

.jchartfx_gauge .Border6  {
    stroke: #49260F;
    fill: #49260F;
}

.jchartfx_gauge .Border7  {
    stroke: #606060;
    fill: #606060;
}

.jchartfx-menu-callout {
  color: rgba(239,236,159,0.5);
}

.jchartfx-menu {
  border-color: rgba(139, 139, 139, 0.8);
  background-color: rgba(48, 36, 19, 0.9);
   -webkit-box-shadow: rgba(0, 0, 0, 0.25);
  box-shadow: rgba(0, 0, 0, 0.25);
 }
 
 .jchartfx-menu .contextmenu {
  color: #EACD86;
}
 
 .jchartfx-menu .options li {
  border-color: rgba(102, 102, 102, 0.5);
}

.jchartfx-menu a {
  color: #EACD86;
}

.jchartfx-menu a.next {
  color: rgba(102, 102, 102, 0.5);
}

.jchartfx-menu a.prev {
  color: rgba(102, 102, 102, 0.5);
}

.jchartfx-menu a.next:hover,
.jchartfx-menu .contextmenu a.prev:hover {
  color: rgba(102, 102, 102, 0.7);
}

.jchartfx-menu a.next.disabled {
  color: rgba(102, 102, 102, 0.2);
}

.jchartfx-menu a.next.disabled:hover {
  color: rgba(102, 102, 102, 0.2);
}

.jchartfx-menu .toggle {
  border-color: rgba(102, 102, 102, 1);
  background-color: rgba(0, 0, 0, 0.05);
}

.jchartfx-menu .selectable li.active {
    border: 1px solid;
    border-color: #FF7519;
    box-shadow: inset 0 0 0px 0px #FF7519;
    background: rgba(255,117,25, 0.2);
}


.jchartfx .GreaterThan {
    stroke: #856922;
}

.jchartfx .LessThan {
    stroke: #FF7519;
}

.jchartfx .EqualsTo {
    stroke: #F2EC64;
}