.jchartfx_body {
    background-color: #FFFFFF;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #F4F4F4;
    stroke: #222222;
}

.jchartfx .Attribute0 {
    fill: #555555;
    stroke: #404040;
}

.jchartfx .Attribute0Line {
    stroke: #404040;
}

.jchartfx .Attribute0Alt {
    fill: #6A6A6A;
}

.jchartfx .Attribute1 {
    fill: #AAAAAA;
    stroke: #808080;
}

.jchartfx .Attribute1Line {
    stroke: #808080;
}

.jchartfx .Attribute1Alt {
    fill: #808080;
}

.jchartfx .Attribute2 {
    fill: #888888;
    stroke: #666666;
}

.jchartfx .Attribute2Line {
    stroke: #666666;
}

.jchartfx .Attribute2Alt {
    fill: #666666;
}

.jchartfx .Attribute3 {
    fill: #363636;
    stroke: #292929;
}

.jchartfx .Attribute3Line {
    stroke: #292929;
}

.jchartfx .Attribute3Alt {
    fill: #434343;
}

.jchartfx .Attribute4 {
    fill: #CD0A0A;
    stroke: #9A0808;
}

.jchartfx .Attribute4Line {
    stroke: #9A0808;
}

.jchartfx .Attribute4Alt {
    fill: #FF0C0C;
}

.jchartfx .Attribute5 {
    fill: #2E83FF;
    stroke: #2363C0;
}

.jchartfx .Attribute5Line {
    stroke: #2363C0;
}

.jchartfx .Attribute5Alt {
    fill: #2363C0;
}

.jchartfx .Attribute6 {
    fill: #FCEFA1;
    stroke: #BDB479;
}

.jchartfx .Attribute6Line {
    stroke: #BDB479;
}

.jchartfx .Attribute6Alt {
    fill: #BDB479;
}

.jchartfx .Attribute7 {
    fill: #FF6E6E;
    stroke: #C05353;
}

.jchartfx .Attribute7Line {
    stroke: #C05353;
}

.jchartfx .Attribute7Alt {
    fill: #C05353;
}

.jchartfx .Attribute8 {
    fill: #92E7FF;
    stroke: #6EAEC0;
}

.jchartfx .Attribute8Line {
    stroke: #6EAEC0;
}

.jchartfx .Attribute8Alt {
    fill: #6EAEC0;
}

.jchartfx .Attribute9 {
    fill: #690000;
    stroke: #4F0000;
}

.jchartfx .Attribute9Line {
    stroke: #4F0000;
}

.jchartfx .Attribute9Alt {
    fill: #830000;
}

.jchartfx .Attribute10 {
    fill: #001F9B;
    stroke: #001875;
}

.jchartfx .Attribute10Line {
    stroke: #001875;
}

.jchartfx .Attribute10Alt {
    fill: #0026C1;
}

.jchartfx .Attribute11 {
    fill: #988B3D;
    stroke: #72692E;
}

.jchartfx .Attribute11Line {
    stroke: #72692E;
}

.jchartfx .Attribute11Alt {
    fill: #BEAD4C;
}

.jchartfx .Attribute12 {
    fill: #9B0A0A;
    stroke: #750808;
}

.jchartfx .Attribute12Line {
    stroke: #750808;
}

.jchartfx .Attribute12Alt {
    fill: #C10C0C;
}

.jchartfx .Attribute13 {
    fill: #2E839B;
    stroke: #236375;
}

.jchartfx .Attribute13Line {
    stroke: #236375;
}

.jchartfx .Attribute13Alt {
    fill: #39A3C1;
}

.jchartfx .Attribute14 {
    fill: #342700;
    stroke: #271E00;
}

.jchartfx .Attribute14Line {
    stroke: #271E00;
}

.jchartfx .Attribute14Alt {
    fill: #413000;
}

.jchartfx .Attribute15 {
    fill: #001F37;
    stroke: #00182A;
}

.jchartfx .Attribute15Line {
    stroke: #00182A;
}

.jchartfx .Attribute15Alt {
    fill: #002644;
}

.jchartfx .MarkerHollow {
    fill: #FFFFFF;
}

.jchartfx .Border {
    fill: #FFFFFF;
    stroke: #AAAAAA;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #D3D3D3;
}

.jchartfx .PlotArea3D {
    fill: #E6E6E6;
    stroke: #D3D3D3;
}

.jchartfx .CustomGridLine {
    stroke: #555555;
}

.jchartfx .CustomGridLineLabel {
    fill: #222222;
}

.jchartfx .AxisY_Section {
    fill: #CCCCCC;
    stroke: #CCCCCC;
}

.jchartfx .AxisX_Section {
    fill: #CCCCCC;
    stroke: #CCCCCC;
}

.jchartfx .AxisY_Text {
    fill: #222222;
}

.jchartfx .AxisY_Major {
    stroke: #D3D3D3;
}

.jchartfx .AxisY_Minor {
    stroke: #D3D3D3;
}

.jchartfx .AxisY_Interlaced {
    fill: #FFFFFF;
}

.jchartfx .AxisY_Line {
    stroke: #D3D3D3;
}

.jchartfx .AxisX_Text {
    fill: #222222;
}

.jchartfx .AxisX_Major {
    stroke: #D3D3D3;
}

.jchartfx .AxisX_Minor {
    stroke: #D3D3D3;
}

.jchartfx .AxisX_Interlaced {
    fill: #FFFFFF;
}

.jchartfx .AxisX_Line {
    stroke: #D3D3D3;
}

.jchartfx .PointLabel {
    fill: #222222;
}

.jchartfx .PointLabelBorder {
    fill: #2A2A2A;
    stroke: #222222;
}

.jchartfx .Title {
    fill: #222222;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #AAAAAA;
}

.jchartfx .LegendItem {
    fill: #222222;
}

.jchartfx .ScrollBar {
    fill: #FFFFFF;
    stroke: #D3D3D3;
}

.jchartfx .ScrollThumb {
    fill: #D3D3D3;
}

.jchartfx .ScrollArrow {
    fill: #D3D3D3;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #CCCCCC;
}

.jchartfx .DataGrid_Back {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_GridLine {
    fill: #E8E8E8;
}

.jchartfx .DataGridText {
    fill: #222222;
}

.jchartfx .DataGridTextAlternate {
    fill: #222222;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #E6E6E6;
}

.jchartfx .DataGrid_RowHeader {
    fill: #222222;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #222222;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #222222;
}

.jchartfx .AnnotationText {
    fill: #222222;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #222222;
}

.jchartfx .AnnotationBalloonText {
    fill: #222222;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #222222;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #222222;
}

.jchartfx .AnnotationArrow {
    fill: #222222;
    stroke: #222222;
}

.jchartfx .AnnotationArc {
    fill: #222222;
    stroke: #222222;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #222222;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #222222;
}

.jchartfx .HeatMap0 {
    fill: #555555;
}

.jchartfx .HeatMap1 {
    fill: #AAAAAA;
}

.jchartfx .EqualizerTop0 {
    stroke: #808080;
    fill: #AAAAAA;
}

.jchartfx .EqualizerTop1 {
    stroke: #666666;
    fill: #888888;
}

.jchartfx_gauge .Border {
    fill: #FFFFFF;
    stroke: #AAAAAA;
}

.jchartfx_gauge .Indicator {
    fill: #555555;
    stroke: #404040;
}

.jchartfx_gauge .Cap {
    fill: #222222;
}

.jchartfx_gauge .Bar {
    fill: #AAAAAA;
    stroke: #808080;
}

.jchartfx_gauge .TickMajor {
    stroke: #D3D3D3;
    fill: #D3D3D3;
}

.jchartfx_gauge .TickMedium {
    stroke: #D3D3D3;
    fill: #D3D3D3;
}

.jchartfx_gauge .Text {
    fill: #222222;
}

.jchartfx_gauge .Title {
    fill: #222222;
}

.jchartfx_gauge .Section0 {
    fill: #CD0A0A;
    stroke: #9A0808;
}

.jchartfx_gauge .Section1 {
    fill: #FCEFA1;
    stroke: #BDB479;
}

.jchartfx_gauge .Section2 {
    fill: #2E83FF;
    stroke: #2363C0;
}

.jchartfx_gauge .GreaterThan {
    fill: #2E83FF;
}

.jchartfx_gauge .LessThan {
    fill: #CD0A0A;
}

.jchartfx_gauge .EqualsTo {
    fill: #FCEFA1;
}

.jchartfx_gauge .Separator {
    stroke: #D3D3D3;
}

.jchartfx .MapContext {
    fill: #ffffff;
    stroke: #c6c6c6;
}

.jchartfx .MapWater {
    fill: #dcffff;
    stroke: #a4d0e7;
}

.jchartfx .MapOcean0 {
    fill: #a4d0e7;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #96c2d9;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #88b4cb;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #7ba7bd;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #6e9aaf;
    stroke: none;
}

.jchartfx .MapOcean4 {
    fill: #618da2 !important;
    stroke: none;
}

.jchartfx .MapAttribute0 {
    fill: #555555;
    stroke: #282828;
}

.jchartfx .MapAttribute1 {
    fill: #aaaaaa;
    stroke: #767676;
}

.jchartfx .MapAttribute2 {
    fill: #888888;
    stroke: #565656;
}

.jchartfx .MapAttribute3 {
    fill: #4d4d4d;
    stroke: #212121;
}

.jchartfx .MapAttribute4 {
    fill: #4d4d4d;
    stroke: #212121;
}

.jchartfx .MapAttribute5 {
    fill: #4d4d4d;
    stroke: #212121;
}

.jchartfx .MapAttribute6 {
    fill: #cccccc;
    stroke: #969696;
}

.jchartfx .MapAttribute7 {
    fill: #cccccc;
    stroke: #969696;
}

.jchartfx .MapRoad {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: .3;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .1;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #E2C195;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #FFFFFF;
    stroke: #AAAAAA;
}

.jchartfx .MapPlot {
    fill: #6e9aaf;
    fill-opacity: 0;
}

.jchartfx_gauge .TitleLarge {
    fill: #222222;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #222222;
}

.jchartfx_gauge .DashboardTitle {
    fill: #222222;
}

.jchartfx .DashboardCaption {
    fill: #555555;
    stroke: #FFFFFF;
}

.jchartfx_gauge .DashboardCaption {
    fill: #555555;
    stroke: #FFFFFF;
}

.jchartfx .EqualizerOff {
        fill: #D3D3D3;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #444444;
}

.jchartfx_gauge .Glow {
    fill: #444444;
}

.jchartfx .MapShadow {
    fill: #444444;
    fill-opacity: 0.3;
}







.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #AAAAAA;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #FFFFFF;
    border-color: #E8E8E8;
    box-shadow: 0px 0px 5px 3px rgba(68, 68,  68, .30);
}

.jchartfx_container table thead tr th {
    background-color: #CCCCCC;
    border-color: #E8E8E8;
    border-bottom-color: #D3D3D3;
    color: #222222;
}

.jchartfx_container table tbody tr td {
    color: #222222;
    border-color: #E8E8E8;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #FFFFFF;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #E6E6E6;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #222222;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #222222;
}

.jchartfx_container .labelIndicator {
    color: #222222;
}

.jchartfx_container .label {
    color: #222222;
}

.jchartfx_container .smallLabel {
    color: #222222;
}

.jchartfx_gauge .BorderMedium {
    fill: #FFFFFF;
    stroke: #AAAAAA;
}

.jchartfx_gauge .BorderThick {
    fill: #FFFFFF;
    stroke: #AAAAAA;
}

.jchartfx .MapDefaultAttribute {
    fill: #ffffff;
    stroke: #c6c6c6;
}

.jchartfx_gauge .Filler {
    fill: #555555;
    stroke: #404040;
}

.jchartfx_gauge .Marker {
    fill: #555555;
    stroke: #404040;
}

.jchartfx_gauge .Needle {
    fill: #555555;
    stroke: #404040;
}

.jchartfx .BorderMedium {
    fill: #FFFFFF;
    stroke: #AAAAAA;
}

.jchartfx .BorderThick {
    fill: #FFFFFF;
    stroke: #AAAAAA;
}

.jchartfx .Border0 {
    stroke: #8D8D8D;
    fill: #8D8D8D;
}

.jchartfx .Border1 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border2 {
    stroke: #E2E2E2;
    fill: #E2E2E2;
}

.jchartfx .Border3 {
    stroke: #5A5A5A;
    fill: #5A5A5A;
}

.jchartfx .Border4 {
    stroke: #FF1010;
    fill: #FF1010;
}

.jchartfx .Border5 {
    stroke: #4CDAFF;
    fill: #4CDAFF;
}

.jchartfx .Border6 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border7 {
    stroke: #FFB7B7;
    fill: #FFB7B7;
}

.jchartfx_gauge .Border0  {
    stroke: #8D8D8D;
    fill: #8D8D8D;
}

.jchartfx_gauge .Border1  {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx_gauge .Border2  {
    stroke: #E2E2E2;
    fill: #E2E2E2;
}

.jchartfx_gauge .Border3  {
    stroke: #5A5A5A;
    fill: #5A5A5A;
}

.jchartfx_gauge .Border4  {
    stroke: #FF1010;
    fill: #FF1010;
}

.jchartfx_gauge .Border5  {
    stroke: #4CDAFF;
    fill: #4CDAFF;
}

.jchartfx_gauge .Border6  {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx_gauge .Border7  {
    stroke: #FFB7B7;
    fill: #FFB7B7;
}

.jchartfx-menu .toggle.active {
  background-color: #CD0A0A;
}

.jchartfx-menu td.btnposition.active a {
  background-color: #CD0A0A;
}

.jchartfx .GreaterThan {
    stroke: #2E83FF;
}

.jchartfx .LessThan {
    stroke: #CD0A0A;
}

.jchartfx .EqualsTo {
    stroke: #FCEFA1;
}