.jchartfx_body {
    background-color: #FFFFFF;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #E0D2A9;
    stroke: #383838;
}

.jchartfx .Attribute0 {
    fill: #FFFFFF;
    stroke: #C0C0C0;
}

.jchartfx .Attribute0Line {
    stroke: #C0C0C0;
}

.jchartfx .Attribute0Alt {
    fill: #C0C0C0;
}

.jchartfx .Attribute1 {
    fill: #4C3000;
    stroke: #392400;
}

.jchartfx .Attribute1Line {
    stroke: #392400;
}

.jchartfx .Attribute1Alt {
    fill: #5F3C00;
}

.jchartfx .Attribute2 {
    fill: #0074C7;
    stroke: #005796;
}

.jchartfx .Attribute2Line {
    stroke: #005796;
}

.jchartfx .Attribute2Alt {
    fill: #0091F8;
}

.jchartfx .Attribute3 {
    fill: #D34D17;
    stroke: #9F3A12;
}

.jchartfx .Attribute3Line {
    stroke: #9F3A12;
}

.jchartfx .Attribute3Alt {
    fill: #FF601C;
}

.jchartfx .Attribute4 {
    fill: #FADC7A;
    stroke: #BCA55C;
}

.jchartfx .Attribute4Line {
    stroke: #BCA55C;
}

.jchartfx .Attribute4Alt {
    fill: #BCA55C;
}

.jchartfx .Attribute5 {
    fill: #817865;
    stroke: #615A4C;
}

.jchartfx .Attribute5Line {
    stroke: #615A4C;
}

.jchartfx .Attribute5Alt {
    fill: #A1967E;
}

.jchartfx .Attribute6 {
    fill: #D19405;
    stroke: #9D6F04;
}

.jchartfx .Attribute6Line {
    stroke: #9D6F04;
}

.jchartfx .Attribute6Alt {
    fill: #FFB906;
}

.jchartfx .Attribute7 {
    fill: #494437;
    stroke: #37332A;
}

.jchartfx .Attribute7Line {
    stroke: #37332A;
}

.jchartfx .Attribute7Alt {
    fill: #5B5544;
}

.jchartfx .Attribute8 {
    fill: #A45B13;
    stroke: #7B450F;
}

.jchartfx .Attribute8Line {
    stroke: #7B450F;
}

.jchartfx .Attribute8Alt {
    fill: #CD7117;
}

.jchartfx .Attribute9 {
    fill: #655E4E;
    stroke: #4C473B;
}

.jchartfx .Attribute9Line {
    stroke: #4C473B;
}

.jchartfx .Attribute9Alt {
    fill: #7E7561;
}

.jchartfx .Attribute10 {
    fill: #FEEEBD;
    stroke: #BFB38E;
}

.jchartfx .Attribute10Line {
    stroke: #BFB38E;
}

.jchartfx .Attribute10Alt {
    fill: #BFB38E;
}

.jchartfx .Attribute11 {
    fill: #B09464;
    stroke: #846F4B;
}

.jchartfx .Attribute11Line {
    stroke: #846F4B;
}

.jchartfx .Attribute11Alt {
    fill: #846F4B;
}

.jchartfx .Attribute12 {
    fill: #64D8FF;
    stroke: #4BA2C0;
}

.jchartfx .Attribute12Line {
    stroke: #4BA2C0;
}

.jchartfx .Attribute12Alt {
    fill: #4BA2C0;
}

.jchartfx .Attribute13 {
    fill: #FFB17B;
    stroke: #C0855D;
}

.jchartfx .Attribute13Line {
    stroke: #C0855D;
}

.jchartfx .Attribute13Alt {
    fill: #C0855D;
}

.jchartfx .Attribute14 {
    fill: #ADA89B;
    stroke: #827E75;
}

.jchartfx .Attribute14Line {
    stroke: #827E75;
}

.jchartfx .Attribute14Alt {
    fill: #827E75;
}

.jchartfx .Attribute15 {
    fill: #C9C2B2;
    stroke: #979286;
}

.jchartfx .Attribute15Line {
    stroke: #979286;
}

.jchartfx .Attribute15Alt {
    fill: #979286;
}

.jchartfx .MarkerHollow {
    fill: #FFFFFF;
}

.jchartfx .Border {
    fill: #FEEEBD;
    stroke: #8E846B;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #D19405;
}

.jchartfx .PlotArea3D {
    fill: #FECE2F;
    stroke: #D19405;
}

.jchartfx .CustomGridLine {
    stroke: #4C3000;
}

.jchartfx .CustomGridLineLabel {
    fill: #383838;
}

.jchartfx .AxisY_Section {
    fill: #817865;
    stroke: #817865;
}

.jchartfx .AxisX_Section {
    fill: #817865;
    stroke: #817865;
}

.jchartfx .AxisY_Text {
    fill: #383838;
}

.jchartfx .AxisY_Major {
    stroke: #D19405;
}

.jchartfx .AxisY_Minor {
    stroke: #D19405;
}

.jchartfx .AxisY_Interlaced {
    fill: #FEEEBD;
}

.jchartfx .AxisY_Line {
    stroke: #D19405;
}

.jchartfx .AxisX_Text {
    fill: #383838;
}

.jchartfx .AxisX_Major {
    stroke: #D19405;
}

.jchartfx .AxisX_Minor {
    stroke: #D19405;
}

.jchartfx .AxisX_Interlaced {
    fill: #FEEEBD;
}

.jchartfx .AxisX_Line {
    stroke: #D19405;
}

.jchartfx .PointLabel {
    fill: #383838;
}

.jchartfx .PointLabelBorder {
    fill: #464646;
    stroke: #383838;
}

.jchartfx .Title {
    fill: #383838;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #8E846B;
}

.jchartfx .LegendItem {
    fill: #383838;
}

.jchartfx .ScrollBar {
    fill: #FEEEBD;
    stroke: #D19405;
}

.jchartfx .ScrollThumb {
    fill: #D19405;
}

.jchartfx .ScrollArrow {
    fill: #D19405;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #817865;
}

.jchartfx .DataGrid_Back {
    fill: #FEEEBD;
}

.jchartfx .DataGrid_GridLine {
    fill: #E7C05F;
}

.jchartfx .DataGridText {
    fill: #383838;
}

.jchartfx .DataGridTextAlternate {
    fill: #383838;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #FECE2F;
}

.jchartfx .DataGrid_RowHeader {
    fill: #383838;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #383838;
}

.jchartfx .AnnotationText {
    fill: #383838;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #383838;
}

.jchartfx .AnnotationBalloonText {
    fill: #383838;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #383838;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #383838;
}

.jchartfx .AnnotationArrow {
    fill: #383838;
    stroke: #383838;
}

.jchartfx .AnnotationArc {
    fill: #383838;
    stroke: #383838;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #383838;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #383838;
}

.jchartfx .HeatMap0 {
    fill: #FFFFFF;
}

.jchartfx .HeatMap1 {
    fill: #4C3000;
}

.jchartfx .EqualizerTop0 {
    stroke: #392400;
    fill: #4C3000;
}

.jchartfx .EqualizerTop1 {
    stroke: #005796;
    fill: #0074C7;
}

.jchartfx_gauge .Border {
    fill: #FEEEBD;
    stroke: #8E846B;
}

.jchartfx_gauge .Indicator {
    fill: #FFFFFF;
    stroke: #C0C0C0;
}

.jchartfx_gauge .Cap {
    fill: #c;
}

.jchartfx_gauge .Bar {
    fill: #D19405;
    stroke: #9D6F04;
}

.jchartfx_gauge .TickMajor {
    stroke: #D19405;
    fill: #D19405;
}

.jchartfx_gauge .TickMedium {
    stroke: #D19405;
    fill: #D19405;
}

.jchartfx_gauge .Text {
    fill: #383838;
}

.jchartfx_gauge .Title {
    fill: #383838;
}

.jchartfx_gauge .Section2 {
    fill: #4C3000;
    stroke: #392400;
}

.jchartfx_gauge .Section1 {
    fill: #FADC7A;
    stroke: #BCA55C;
}

.jchartfx_gauge .Section0 {
    fill: #D34D17;
    stroke: #9F3A12;
}

.jchartfx_gauge .GreaterThan {
    fill: #4C3000;
}

.jchartfx_gauge .LessThan {
    fill: #D34D17;
}

.jchartfx_gauge .EqualsTo {
    fill: #FADC7A;
}

.jchartfx_gauge .Separator {
    stroke: #D19405;
}

.jchartfx .MapContext {
    fill: #feeebd;
    stroke: #c5b687;
}

.jchartfx .MapWater {
    fill: #90d0ff;
    stroke: #509af2;
}

.jchartfx .MapOcean0 {
    fill: #509af2;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #3e8de4;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #2880d6;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #0073c8;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #0067ba;
    stroke: none;
}

.jchartfx .MapOcean4 {
    fill: #618da2 !important;
    stroke: none;
}

.jchartfx .MapAttribute0 {
    fill: #ffffff;
    stroke: #c6c6c6;
}

.jchartfx .MapAttribute1 {
    fill: #4c3000;
    stroke: #270000;
}

.jchartfx .MapAttribute2 {
    fill: #d34d17;
    stroke: #940f00;
}

.jchartfx .MapAttribute3 {
    fill: #b7b7b7;
    stroke: #828282;
}

.jchartfx .MapAttribute4 {
    fill: #7b5b25;
    stroke: #472d00;
}

.jchartfx .MapAttribute5 {
    fill: #995539;
    stroke: #61260d;
}

.jchartfx .MapAttribute6 {
    fill: #6f6f6f;
    stroke: #3f3f3f;
}

.jchartfx .MapAttribute7 {
    fill: #aa9167;
    stroke: #745f37;
}

.jchartfx .MapRoad {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: .3;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .1;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #E2C195;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #FEEEBD;
    stroke: #8E846B;
}

.jchartfx .MapPlot {
    fill: #0067ba;
    fill-opacity: 0;
}

.jchartfx_gauge .TitleLarge {
    fill: #383838;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #383838;
}

.jchartfx_gauge .DashboardTitle {
    fill: #383838;
}

.jchartfx .DashboardCaption {
    fill: #D19405;
    stroke: #FFFFFF;
}

.jchartfx_gauge .DashboardCaption {
    fill: #D19405;
    stroke: #FFFFFF;
}

.jchartfx .EqualizerOff {
        fill: #D19405;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #444444;
}

.jchartfx_gauge .Glow {
    fill: #444444;
}

.jchartfx .MapShadow {
    fill: #444444;
    fill-opacity: 0.3;
}







.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #D19405;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #FEEEBD;
    border-color: #E7C05F;
    box-shadow: 0px 0px 5px 3px rgba(68, 68,  68, .30);
}

.jchartfx_container table thead tr th {
    background-color: #817865;
    border-color: #E7C05F;
    border-bottom-color: #D19405;
    color: #FFFFFF;
}

.jchartfx_container table tbody tr td {
    color: #383838;
    border-color: #E7C05F;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #FEEEBD;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #FECE2F;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #383838;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #383838;
}

.jchartfx_container .labelIndicator {
    color: #383838;
}

.jchartfx_container .label {
    color: #383838;
}

.jchartfx_container .smallLabel {
    color: #383838;
}

.jchartfx_gauge .BorderMedium {
    fill: #FEEEBD;
    stroke: #8E846B;
}

.jchartfx_gauge .BorderThick {
    fill: #FEEEBD;
    stroke: #8E846B;
}

.jchartfx .MapDefaultAttribute {
    fill: #feeebd;
    stroke: #c5b687;
}

.jchartfx_gauge .Filler {
    fill: #FFFFFF;
    stroke: #C0C0C0;
}

.jchartfx_gauge .Marker {
    fill: #FFFFFF;
    stroke: #C0C0C0;
}

.jchartfx_gauge .Needle {
    fill: #FFFFFF;
    stroke: #C0C0C0;
}

.jchartfx .BorderMedium {
    fill: #FEEEBD;
    stroke: #8E846B;
}

.jchartfx .BorderThick {
    fill: #FEEEBD;
    stroke: #8E846B;
}

.jchartfx .Border0 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border1 {
    stroke: #7E5000;
    fill: #7E5000;
}

.jchartfx .Border2 {
    stroke: #00C1FF;
    fill: #00C1FF;
}

.jchartfx .Border3 {
    stroke: #FF8026;
    fill: #FF8026;
}

.jchartfx .Border4 {
    stroke: #FFFFCB;
    fill: #FFFFCB;
}

.jchartfx .Border5 {
    stroke: #D7C8A8;
    fill: #D7C8A8;
}

.jchartfx .Border6 {
    stroke: #FFF608;
    fill: #FFF608;
}

.jchartfx .Border7 {
    stroke: #79715B;
    fill: #79715B;
}

.jchartfx_gauge .Border0  {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx_gauge .Border1  {
    stroke: #7E5000;
    fill: #7E5000;
}

.jchartfx_gauge .Border2  {
    stroke: #00C1FF;
    fill: #00C1FF;
}

.jchartfx_gauge .Border3  {
    stroke: #FF8026;
    fill: #FF8026;
}

.jchartfx_gauge .Border4  {
    stroke: #FFFFCB;
    fill: #FFFFCB;
}

.jchartfx_gauge .Border5  {
    stroke: #D7C8A8;
    fill: #D7C8A8;
}

.jchartfx_gauge .Border6  {
    stroke: #FFF608;
    fill: #FFF608;
}

.jchartfx_gauge .Border7  {
    stroke: #79715B;
    fill: #79715B;
}

.jchartfx .GreaterThan {
    stroke: #4C3000;
}

.jchartfx .LessThan {
    stroke: #D34D17;
}

.jchartfx .EqualsTo {
    stroke: #FADC7A;
}