.jchartfx_body {
    background-color: #19191B;
}

.jchartfxToolTip {
    background-color: #242527;
    color: #666666;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #242527;
    stroke: #666666;
}

.jchartfx .PointLabel {
    fill: #666666;
}

.jchartfx .Attribute0 {
    fill: #008000;
    stroke: #095F0B;
}

.jchartfx .Attribute0Line {
    stroke: #095F0B;
}

.jchartfx .Attribute0Alt {
    fill: #095F0B;
}

.jchartfx .Attribute1 {
    fill: #0816A4;
    stroke: #081879;
}

.jchartfx .Attribute1Line {
    stroke: #081879;
}

.jchartfx .Attribute1Alt {
    fill: #081879;
}

.jchartfx .Attribute2 {
    fill: #CC5F0A;
    stroke: #984815;
}

.jchartfx .Attribute2Line {
    stroke: #984815;
}

.jchartfx .Attribute2Alt {
    fill: #984815;
}

.jchartfx .Attribute3 {
    fill: #CCCB0A;
    stroke: #999820;
}

.jchartfx .Attribute3Line {
    stroke: #999820;
}

.jchartfx .Attribute3Alt {
    fill: #999820;
}

.jchartfx .Attribute4 {
    fill: #800040;
    stroke: #5F0330;
}

.jchartfx .Attribute4Line {
    stroke: #5F0330;
}

.jchartfx .Attribute4Alt {
    fill: #5F0330;
}

.jchartfx .Attribute5 {
    fill: #8712B3;
    stroke: #651885;
}

.jchartfx .Attribute5Line {
    stroke: #651885;
}

.jchartfx .Attribute5Alt {
    fill: #651885;
}

.jchartfx .Attribute6 {
    fill: #0E6E8D;
    stroke: #115369;
}

.jchartfx .Attribute6Line {
    stroke: #115369;
}

.jchartfx .Attribute6Alt {
    fill: #115369;
}

.jchartfx .Attribute7 {
    fill: #807700;
    stroke: #60590D;
}

.jchartfx .Attribute7Line {
    stroke: #60590D;
}

.jchartfx .Attribute7Alt {
    fill: #60590D;
}

.jchartfx .Attribute8 {
    fill: #CC0A3F;
    stroke: #970D32;
}

.jchartfx .Attribute8Line {
    stroke: #970D32;
}

.jchartfx .Attribute8Alt {
    fill: #970D32;
}

.jchartfx .Attribute9 {
    fill: #CCA40A;
    stroke: #987A1C;
}

.jchartfx .Attribute9Line {
    stroke: #987A1C;
}

.jchartfx .Attribute9Alt {
    fill: #987A1C;
}

.jchartfx .Attribute10 {
    fill: #000080;
    stroke: #01075E;
}

.jchartfx .Attribute10Line {
    stroke: #01075E;
}

.jchartfx .Attribute10Alt {
    fill: #01075E;
}

.jchartfx .Attribute11 {
    fill: #800066;
    stroke: #5F064C;
}

.jchartfx .Attribute11Line {
    stroke: #5F064C;
}

.jchartfx .Attribute11Alt {
    fill: #5F064C;
}

.jchartfx .Attribute12 {
    fill: #084D32;
    stroke: #093A26;
}

.jchartfx .Attribute12Line {
    stroke: #093A26;
}

.jchartfx .Attribute12Alt {
    fill: #093A26;
}

.jchartfx .Attribute13 {
    fill: #0AAECC;
    stroke: #178398;
}

.jchartfx .Attribute13Line {
    stroke: #178398;
}

.jchartfx .Attribute13Alt {
    fill: #178398;
}

.jchartfx .Attribute14 {
    fill: #800037;
    stroke: #5F032A;
}

.jchartfx .Attribute14Line {
    stroke: #5F032A;
}

.jchartfx .Attribute14Alt {
    fill: #5F032A;
}

.jchartfx .Attribute15 {
    fill: #803800;
    stroke: #5F2A06;
}

.jchartfx .Attribute15Line {
    stroke: #5F2A06;
}

.jchartfx .Attribute15Alt {
    fill: #5F2A06;
}

.jchartfx .MarkerHollow {
    fill: #19191B;
}

.jchartfx .Border {
    fill: #242527;
    stroke: #19191B;
}

.jchartfx .PlotArea {
    fill: #19191B;
    stroke: #666666;
}

.jchartfx .PlotArea3D {
    fill: #19191B;
    stroke: #1F1F21;
}

.jchartfx .CustomGridLine {
    stroke: #A00000;
}

.jchartfx .CustomGridLineLabel {
    fill: #666666;
}

.jchartfx .AxisText {
    fill: #666666;
}

.jchartfx .AxisY_Text {
    fill: #666666;
}

.jchartfx .AxisMajor {
    stroke: #666666;
}

.jchartfx .AxisMinor {
    stroke: #666666;
}

.jchartfx .AxisInterlaced {
    fill: #242527;
}

.jchartfx .AxisLine {
    stroke: #666666;
}

.jchartfx .AxisSection {
    fill: #999999;
    stroke: #999999;
}

.jchartfx .PointLabelBorder {
    fill: #999999;
}

.jchartfx .Title {
    fill: #E0E0E0;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #19191B;
}

.jchartfx .LegendItem {
    fill: #666666;
}

.jchartfx .ScrollBar {
    fill: #19191B;
    stroke: #666666;
}

.jchartfx .ScrollThumb {
    fill: #666666;
}

.jchartfx .ScrollArrow {
    fill: #666666;
}

.jchartfx .LoopMarker {
    stroke: #A00000;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #1A1C1D;
}

.jchartfx .DataGrid_Back {
    fill: #242527;
}

.jchartfx .DataGrid_GridLine {
    fill: #666666;
}

.jchartfx .DataGridText {
    fill: #666666;
}

.jchartfx .DataGridTextAlternate {
    fill: #666666;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #1A1C1D;
}

.jchartfx .DataGrid_RowHeader {
    fill: #666666;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #666666;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #666666;
}

.jchartfx .AnnotationText {
    fill: #404040;
}

.jchartfx .AnnotationTextBorder {
    stroke: #606060;
    fill: #FFF3EE;
}

.jchartfx .AnnotationBalloonText {
    fill: #404040;
}

.jchartfx .AnnotationBalloon {
    stroke: #206020;
    fill: #A0A0E0;
}

.jchartfx .AnnotationCircle {
    stroke: #2060D0;
    fill: #404080;
}

.jchartfx .AnnotationArrow {
    stroke: #404040;
    fill: #800000;
}

.jchartfx .AnnotationRectangle {
    stroke: #806000;
    fill: #D04080;
}

.jchartfx .HeatMap0 {
    fill: #008000;
}

.jchartfx .HeatMap1 {
    fill: #250E8D;
}

.jchartfx .HeatMap2 {
    fill: #CC5F0A;
}

.jchartfx .EqualizerTop0 {
    fill: #800040;
    stroke: #5F0330;
}

.jchartfx .EqualizerTop1 {
    fill: #CCCB0A;
    stroke: #999820;
}

.jchartfx .EqualizerOff {
    fill: #444444;
    fill-opacity: 0.2;
}

.jchartfx .SpecialPoint {
    fill: #D0A000;
    stroke: #806000;
}

.jchartfx .SpecialPointLine {
    stroke: #806000;
}

.jchartfx .MapContext {
    fill: #E0E0E0;
    stroke: #999999;
}

.jchartfx .MapWater {
    fill: #0E6E8D;
    stroke: #0B5871;
}

.jchartfx .MapOcean0 {
    fill: #08A4A1;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #0E6E8D;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #0855A4;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #08299A;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #0700B1;
    stroke: none;
}

.jchartfx .MapDefaultAttribute {
    fill: #f5f5ee;
    stroke: #bdbdb6;
}

.jchartfx .MapAttribute0 {
    fill: #0816A4;
    stroke: #081879;
}

.jchartfx .MapAttribute1 {
    fill: #CC5F0A;
    stroke: #984815;
}

.jchartfx .MapAttribute2 {
    fill: #CCCB0A;
    stroke: #999820;
}

.jchartfx .MapAttribute3 {
    fill: #0C21F5;
    stroke: #0816A4;
}

.jchartfx .MapAttribute4 {
    fill: #A44C08;
    stroke: #8A4007;
}

.jchartfx .MapAttribute5 {
    fill: #8A8A07;
    stroke: #646405;
}

.jchartfx .MapAttribute6 {
    fill: #FF8C53;
    stroke: #CC7042;
}

.jchartfx .MapAttribute7 {
    fill: #404003;
    stroke: #2E2E02;
}

.jchartfx .MapAttribute8 {
    fill: #5A69F4;
    stroke: #4753C1;
}

.jchartfx .MapRoad {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: .3;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .1;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #E2C195;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #19191B;
    stroke: #2E3032;
}

.jchartfx .MapPlot {
    fill: #0700B1;
    fill-opacity: 0;
}

.jchartfx .Indicator {
    fill: #008000;
    stroke: #095F0B;
}

.jchartfx .Cap {
    fill: #1E1E21;
}

.jchartfx .Bar {
    fill: #19191B;
    stroke: #2E3032;
}

.jchartfx .TickMajor {
    fill: #666666;
    stroke: #666666;
}

.jchartfx .TickMedium {
    fill: #666666;
    stroke: #666666;
}

.jchartfx .GaugeText {
    fill: #A0A0A0;
}

.jchartfx .GaugeTitle {
    fill: #E0E0E0;
}

.jchartfx .GaugeTitleLarge {
    fill: #E0E0E0;
}

.jchartfx .GaugeSection0 {
    fill: #A00000;
    stroke: #4C0000;
}

.jchartfx .GaugeSection1 {
    fill: #DEDD0B;
    stroke: #BDBC09;
}

.jchartfx .GaugeSection2 {
    fill: #00A000;
    stroke: #004C00;
}

.jchartfx .GreaterThan {
    fill: #00A000;
    stroke: #00A000;
}

.jchartfx .LessThan {
    fill: #A00000;
    stroke: #A00000;
}

.jchartfx .EqualsTo {
    fill: #949596;
    stroke: #949596;
}

.jchartfx .Separator {
    stroke: #A0A0A0;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #E0E0E0;
}

.jchartfx .DashboardCaption {
    fill: #0E0E0E;
    stroke: #E0E0E0;
}

.jchartfx .Glow {
    fill: #A0A0A0;
}

.jchartfx .MapShadow {
    fill: #242527;
    fill-opacity: 0.2;
}

.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #1A1C1D;
    fill-opacity: 1;
}

.jchartfx-menu-callout:hover {
  background-color: transparent;
  border-color: #999;
}

.jchartfx-menu {
  border-color: rgba(46, 48, 50, 0.8);
  background-color: rgba(0, 0, 0, 0.9);
   -webkit-box-shadow: rgba(0, 0, 0, 0.25);
  box-shadow: rgba(0, 0, 0, 0.25);
 }

.jchartfx-menu .positioningCtr {
  background-color: transparent !important;
}

.jchartfx-menu .selectable li.active {
    box-shadow: inset 0 0 1px 1px #008000;
    background: rgba(0,128,0, .2);
}

.jchartfx-menu .options li {
  border-color: rgba(102, 102, 102, 0.5);
}

.jchartfx-menu a {
  color: #666666;
}

.jchartfx-menu td.btnposition a {
  border: 1px solid #666666;
}

.jchartfx-menu .contextmenu a.disabled {
  color: #444444;
}

.jchartfx-menu i.disabled {
  color: #444444;
}

.jchartfx-menu a.next {
  color: rgba(102, 102, 102, 0.5);
}

.jchartfx-menu a.prev {
  color: rgba(102, 102, 102, 0.5);
}

.jchartfx-menu a.next:hover,
.jchartfx-menu .contextmenu a.prev:hover {
  color: rgba(102, 102, 102, 0.7);
}

.jchartfx-menu a.next.disabled {
  color: rgba(102, 102, 102, 0.2);
}

.jchartfx-menu a.next.disabled:hover {
  color: rgba(102, 102, 102, 0.2);
}

.jchartfx-menu .toggle {
  border-color: rgba(102, 102, 102, 1);
  background-color: rgba(0, 0, 0, 0.05);
}

.jchartfx-menu .toggle.active {
  background-color: #008000;
}

.jchartfx-menu td.btnposition.active a {
  background-color: #008000;  
}

.jchartfx_container table {
    background-color: #242527;
    border-color:#666666;
} 

.jchartfx_container table thead tr th { 
    background-color: #1A1C1D;
    border-color: #666666;
    border-bottom-color: #666666; 
    color: #666666;
}

.jchartfx_container table tbody tr td {
    color: #666666;
    border-color: #666666;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #242527;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #1A1C1D; 
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #E0E0E0; 
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #666666;
}

.jchartfx_container .labelIndicator {
    color: #FFFFFF;
}

.jchartfx_container .label {
    color: #666666;
}

.jchartfx_container .smallLabel {
    color: #666666;
}

.jchartfx_container table {
    box-shadow: 0px 0px 5px 3px rgba(68, 68,  68, .30);
}

.jchartfx .Filler {
    fill: #008000;
    stroke: #095F0B;
}

.jchartfx .GaugeMarker {
    fill: #008000;
    stroke: #095F0B;
}

.jchartfx .Needle {
    fill: #008000;
    stroke: #095F0B;
}

.jchartfx .BorderMedium {
    fill: #242527;
    stroke: #19191B;
}

.jchartfx .BorderThick {
    fill: #242527;
    stroke: #19191B;
}

.jchartfx .Border0 {
    stroke: #004200;
    fill: #004200;
}

.jchartfx .Border1 {
    stroke: #040C54;
    fill: #040C54;
}

.jchartfx .Border2 {
    stroke: #331702;
    fill: #331702;
}

.jchartfx .Border3 {
    stroke: #3F3E03;
    fill: #3F3E03;
}

.jchartfx .Border4 {
    stroke: #3F001F;
    fill: #3F001F;
}

.jchartfx .Border5 {
    stroke: #2F073F;
    fill: #2F073F;
}

.jchartfx .Border6 {
    stroke: #06323F;
    fill: #06323F;
}

.jchartfx .Border7 {
    stroke: #807700;
    fill: #807700;
}

.jchartfx .InsideLabel0 {
    fill: #003000;
}

.jchartfx .InsideLabel1 {
    fill: #0D87FF;
}

.jchartfx .InsideLabel2 {
    fill: #713506;
}

.jchartfx .InsideLabel3 {
    fill: #717006;
}

.jchartfx .InsideLabel4 {
    fill: #F00078;
}

.jchartfx .InsideLabel5 {
    fill: #B569F0;
}

.jchartfx .InsideLabel6 {
    fill: #18BCF0;
}

.jchartfx .InsideLabel7 {
    fill: #C9BB00;
}

.jchartfx .InsideLabel8 {
    fill: #64051F;
}

.jchartfx .InsideLabel9 {
    fill: #645105;
}

.jchartfx .InsideLabel10 {
    fill: #006AC9;
}

.jchartfx .InsideLabel11 {
    fill: #C93FA1;
}

.jchartfx .InsideLabel12 {
    fill: #11A46A;
}

.jchartfx .InsideLabel13 {
    fill: #055564;
}

.jchartfx .InsideLabel14 {
    fill: #E00060;
}

.jchartfx .InsideLabel15 {
    fill: #E06200;
}

.jchartfx .EmptyMarker {
    stroke: #222222;
    fill: #444444;
}

.jchartfx .Repeater {
    fill: #008000;
    stroke: #095F0B;
}

.jchartfx .RepeaterOff {
    fill: #002D00;
    stroke: #002D00;
}

.jchartfx .Trend {
    fill: #E0E0E0;
}