.jchartfx_body {
    background-color: #555555;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #050505;
    stroke: #FFFFFF;
}

.jchartfx .Attribute0 {
    fill: #0972A5;
    stroke: #07567C;
}

.jchartfx .Attribute0Line {
    stroke: #07567C;
}

.jchartfx .Attribute0Alt {
    fill: #0B8ECE;
}

.jchartfx .Attribute1 {
    fill: #EEEEEE;
    stroke: #B3B3B3;
}

.jchartfx .Attribute1Line {
    stroke: #B3B3B3;
}

.jchartfx .Attribute1Alt {
    fill: #B3B3B3;
}

.jchartfx .Attribute2 {
    fill: #FFC73D;
    stroke: #C0962E;
}

.jchartfx .Attribute2Line {
    stroke: #C0962E;
}

.jchartfx .Attribute2Alt {
    fill: #C0962E;
}

.jchartfx .Attribute3 {
    fill: #CCCCCC;
    stroke: #999999;
}

.jchartfx .Attribute3Line {
    stroke: #999999;
}

.jchartfx .Attribute3Alt {
    fill: #999999;
}

.jchartfx .Attribute4 {
    fill: #555555;
    stroke: #404040;
}

.jchartfx .Attribute4Line {
    stroke: #404040;
}

.jchartfx .Attribute4Alt {
    fill: #6A6A6A;
}

.jchartfx .Attribute5 {
    fill: #2E7DB2;
    stroke: #235E86;
}

.jchartfx .Attribute5Line {
    stroke: #235E86;
}

.jchartfx .Attribute5Alt {
    fill: #399CDE;
}

.jchartfx .Attribute6 {
    fill: #0B93D5;
    stroke: #096FA0;
}

.jchartfx .Attribute6Line {
    stroke: #096FA0;
}

.jchartfx .Attribute6Alt {
    fill: #0DB7FF;
}

.jchartfx .Attribute7 {
    fill: #4B8E0B;
    stroke: #396B09;
}

.jchartfx .Attribute7Line {
    stroke: #396B09;
}

.jchartfx .Attribute7Alt {
    fill: #5DB10D;
}

.jchartfx .Attribute8 {
    fill: #26B3F7;
    stroke: #1D87BA;
}

.jchartfx .Attribute8Line {
    stroke: #1D87BA;
}

.jchartfx .Attribute8Alt {
    fill: #1D87BA;
}

.jchartfx .Attribute9 {
    fill: #A83300;
    stroke: #7E2700;
}

.jchartfx .Attribute9Line {
    stroke: #7E2700;
}

.jchartfx .Attribute9Alt {
    fill: #D23F00;
}

.jchartfx .Attribute10 {
    fill: #6DD6FF;
    stroke: #52A1C0;
}

.jchartfx .Attribute10Line {
    stroke: #52A1C0;
}

.jchartfx .Attribute10Alt {
    fill: #52A1C0;
}

.jchartfx .Attribute11 {
    fill: #FFFFA1;
    stroke: #C0C079;
}

.jchartfx .Attribute11Line {
    stroke: #C0C079;
}

.jchartfx .Attribute11Alt {
    fill: #C0C079;
}

.jchartfx .Attribute12 {
    fill: #AFF26F;
    stroke: #84B654;
}

.jchartfx .Attribute12Line {
    stroke: #84B654;
}

.jchartfx .Attribute12Alt {
    fill: #84B654;
}

.jchartfx .Attribute13 {
    fill: #8AFFFF;
    stroke: #68C0C0;
}

.jchartfx .Attribute13Line {
    stroke: #68C0C0;
}

.jchartfx .Attribute13Alt {
    fill: #68C0C0;
}

.jchartfx .Attribute14 {
    fill: #FF9764;
    stroke: #C0724B;
}

.jchartfx .Attribute14Line {
    stroke: #C0724B;
}

.jchartfx .Attribute14Alt {
    fill: #C0724B;
}

.jchartfx .Attribute15 {
    fill: #8A8A8A;
    stroke: #686868;
}

.jchartfx .Attribute15Line {
    stroke: #686868;
}

.jchartfx .Attribute15Alt {
    fill: #686868;
}

.jchartfx .MarkerHollow {
    fill: #000000;
}

.jchartfx .Border {
    fill: #000000;
    stroke: #555555;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #444444;
}

.jchartfx .PlotArea3D {
    fill: #222222;
    stroke: #444444;
}

.jchartfx .CustomGridLine {
    stroke: #EEEEEE;
}

.jchartfx .CustomGridLineLabel {
    fill: #FFFFFF;
}

.jchartfx .AxisY_Section {
    fill: #444444;
    stroke: #444444;
}

.jchartfx .AxisX_Section {
    fill: #444444;
    stroke: #444444;
}

.jchartfx .AxisY_Text {
    fill: #FFFFFF;
}

.jchartfx .AxisY_Major {
    stroke: #444444;
}

.jchartfx .AxisY_Minor {
    stroke: #444444;
}

.jchartfx .AxisY_Interlaced {
    fill: #000000;
}

.jchartfx .AxisY_Line {
    stroke: #444444;
}

.jchartfx .AxisX_Text {
    fill: #FFFFFF;
}

.jchartfx .AxisX_Major {
    stroke: #444444;
}

.jchartfx .AxisX_Minor {
    stroke: #444444;
}

.jchartfx .AxisX_Interlaced {
    fill: #000000;
}

.jchartfx .AxisX_Line {
    stroke: #444444;
}

.jchartfx .PointLabel {
    fill: #FFFFFF;
}

.jchartfx .PointLabelBorder {
    fill: #C0C0C0;
    stroke: #FFFFFF;
}

.jchartfx .Title {
    fill: #FFFFFF;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #555555;
}

.jchartfx .LegendItem {
    fill: #FFFFFF;
}

.jchartfx .ScrollBar {
    fill: #000000;
    stroke: #444444;
}

.jchartfx .ScrollThumb {
    fill: #444444;
}

.jchartfx .ScrollArrow {
    fill: #444444;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #444444;
}

.jchartfx .DataGrid_Back {
    fill: #000000;
}

.jchartfx .DataGrid_GridLine {
    fill: #222222;
}

.jchartfx .DataGridText {
    fill: #FFFFFF;
}

.jchartfx .DataGridTextAlternate {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #222222;
}

.jchartfx .DataGrid_RowHeader {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #FFFFFF;
}

.jchartfx .AnnotationText {
    fill: #FFFFFF;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #FFFFFF;
}

.jchartfx .AnnotationBalloonText {
    fill: #FFFFFF;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #FFFFFF;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #FFFFFF;
}

.jchartfx .AnnotationArrow {
    fill: #FFFFFF;
    stroke: #FFFFFF;
}

.jchartfx .AnnotationArc {
    fill: #FFFFFF;
    stroke: #FFFFFF;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #FFFFFF;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #FFFFFF;
}

.jchartfx .HeatMap0 {
    fill: #0972A5;
}

.jchartfx .HeatMap1 {
    fill: #EEEEEE;
}

.jchartfx .EqualizerTop0 {
    stroke: #B3B3B3;
    fill: #EEEEEE;
}

.jchartfx .EqualizerTop1 {
    stroke: #C0962E;
    fill: #FFC73D;
}

.jchartfx_gauge .Border {
    fill: #000001;
    stroke: #555555;
}

.jchartfx_gauge .Indicator {
    fill: #0972A5;
    stroke: #07567C;
}

.jchartfx_gauge .Cap {
    fill: #FFFFFF;
}

.jchartfx_gauge .Bar {
    fill: #EEEEEE;
    stroke: #B3B3B3;
}

.jchartfx_gauge .TickMajor {
    stroke: #444444;
    fill: #444444;
}

.jchartfx_gauge .TickMedium {
    stroke: #444444;
    fill: #444444;
}

.jchartfx_gauge .Text {
    fill: #FFFFFF;
}

.jchartfx_gauge .Title {
    fill: #FFFFFF;
}

.jchartfx_gauge .Section0 {
    fill: #A83300;
    stroke: #7E2700;
}

.jchartfx_gauge .Section1 {
    fill: #FFC73D;
    stroke: #C0962E;
}

.jchartfx_gauge .Section2 {
    fill: #4B8E0B;
    stroke: #396B09;
}

.jchartfx_gauge .GreaterThan {
    fill: #4B8E0B;
}

.jchartfx_gauge .LessThan {
    fill: #A83300;
}

.jchartfx_gauge .EqualsTo {
    fill: #FFC73D;
}

.jchartfx_gauge .Separator {
    stroke: #444444;
}

.jchartfx .MapContext {
    fill: #000000;
    stroke: #4C4C4C;
}

.jchartfx .MapWater {
    fill: #86ceff;
    stroke: #4a98ce;
}

.jchartfx .MapOcean0 {
    fill: #4a98ce;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #398bc0;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #267eb2;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #0871a4;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #006597;
    stroke: none;
}

.jchartfx .MapOcean4 {
    fill: #618da2 !important;
    stroke: none;
}

.jchartfx .MapAttribute0 {
    fill: #eeeeee;
    stroke: #b6b6b6;
}

.jchartfx .MapAttribute1 {
    fill: #ffc73d;
    stroke: #c29100;
}

.jchartfx .MapAttribute2 {
    fill: #cccccc;
    stroke: #969696;
}

.jchartfx .MapAttribute3 {
    fill: #ababab;
    stroke: #777777;
}

.jchartfx .MapAttribute4 {
    fill: #b79a54;
    stroke: #806723;
}

.jchartfx .MapAttribute5 {
    fill: #959595;
    stroke: #626262;
}

.jchartfx .MapAttribute6 {
    fill: #696969;
    stroke: #3a3a3a;
}

.jchartfx .MapAttribute7 {
    fill: #6f644b;
    stroke: #3e361f;
}

.jchartfx .MapRoad {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: .3;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .1;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #E2C195;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #000000;
    stroke: #555555;
}

.jchartfx .MapPlot {
    fill: #006597;
    fill-opacity: 0;
}

.jchartfx_gauge .TitleLarge {
    fill: #FFFFFF;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #FFFFFF;
}

.jchartfx_gauge .DashboardTitle {
    fill: #FFFFFF;
}

.jchartfx .DashboardCaption {
    fill: #0972A5;
    stroke: #FFFFFF;
}

.jchartfx_gauge .DashboardCaption {
    fill: #0972A5;
    stroke: #FFFFFF;
}

.jchartfx .EqualizerOff {
    fill: #555555;
        fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #FFFFFF;
}

.jchartfx_gauge .Glow {
    fill: #FFFFFF;
}

.jchartfx .MapShadow {
    fill: #FFFFFF;
    fill-opacity: 0.3;
}







.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #EEEEEE;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #000000;
    border-color: #222222;
    box-shadow: 0px 0px 5px 3px rgba(255, 255,  255, .30);
}

.jchartfx_container table thead tr th {
    background-color: #444444;
    border-color: #222222;
    border-bottom-color: #444444;
    color: #FFFFFF;
}

.jchartfx_container table tbody tr td {
    color: #FFFFFF;
    border-color: #222222;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #000000;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #222222;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #FFFFFF;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #FFFFFF;
}

.jchartfx_container .labelIndicator {
    color: #FFFFFF;
}

.jchartfx_container .label {
    color: #FFFFFF;
}

.jchartfx_container .smallLabel {
    color: #FFFFFF;
}

.jchartfx_gauge .BorderMedium {
    fill: #000001;
    stroke: #555555;
}

.jchartfx_gauge .BorderThick {
    fill: #000001;
    stroke: #555555;
}

.jchartfx .MapDefaultAttribute {
    fill: #000000;
    stroke: #4C4C4C;
}

.jchartfx_gauge .Filler {
    fill: #0972A5;
    stroke: #07567C;
}

.jchartfx_gauge .Marker {
    fill: #0972A5;
    stroke: #07567C;
}

.jchartfx_gauge .Needle {
    fill: #0972A5;
    stroke: #07567C;
}

.jchartfx .BorderMedium {
    fill: #000000;
    stroke: #555555;
}

.jchartfx .BorderThick {
    fill: #000000;
    stroke: #555555;
}

.jchartfx .Border0 {
    stroke: #032B3E;
    fill: #032B3E;
}

.jchartfx .Border1 {
    stroke: #595959;
    fill: #595959;
}

.jchartfx .Border2 {
    stroke: #604B17;
    fill: #604B17;
}

.jchartfx .Border3 {
    stroke: #4C4C4C;
    fill: #4C4C4C;
}

.jchartfx .Border4 {
    stroke: #202020;
    fill: #202020;
}

.jchartfx .Border5 {
    stroke: #112F43;
    fill: #112F43;
}

.jchartfx .Border6 {
    stroke: #043750;
    fill: #043750;
}

.jchartfx .Border7 {
    stroke: #1C3504;
    fill: #1C3504;
}

.jchartfx_gauge .Border0  {
    stroke: #032B3E;
    fill: #032B3E;
}

.jchartfx_gauge .Border1  {
    stroke: #595959;
    fill: #595959;
}

.jchartfx_gauge .Border2  {
    stroke: #604B17;
    fill: #604B17;
}

.jchartfx_gauge .Border3  {
    stroke: #4C4C4C;
    fill: #4C4C4C;
}

.jchartfx_gauge .Border4  {
    stroke: #202020;
    fill: #202020;
}

.jchartfx_gauge .Border5  {
    stroke: #112F43;
    fill: #112F43;
}

.jchartfx_gauge .Border6  {
    stroke: #043750;
    fill: #043750;
}

.jchartfx_gauge .Border7  {
    stroke: #1C3504;
    fill: #1C3504;
}

.jchartfx-menu-callout:hover {
  color: #333;
}

.jchartfx-menu {
  border-color: rgba(139, 139, 139, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
   -webkit-box-shadow: rgba(0, 0, 0, 0.25);
  box-shadow: rgba(0, 0, 0, 0.25);
 }
 
 .jchartfx-menu .options li {
  border-color: rgba(102, 102, 102, 0.5);
}

.jchartfx-menu a {
  color: #FFFFFF;
}

.jchartfx-menu a.next {
  color: rgba(102, 102, 102, 0.5);
}

.jchartfx-menu a.prev {
  color: rgba(102, 102, 102, 0.5);
}

.jchartfx-menu a.next:hover,
.jchartfx-menu .contextmenu a.prev:hover {
  color: rgba(102, 102, 102, 0.7);
}

.jchartfx-menu a.next.disabled {
  color: rgba(102, 102, 102, 0.2);
}

.jchartfx-menu a.next.disabled:hover {
  color: rgba(102, 102, 102, 0.2);
}

.jchartfx-menu .toggle {
  border-color: rgba(102, 102, 102, 1);
  background-color: rgba(0, 0, 0, 0.05);
}

.jchartfx-menu .toggle.active {
  background-color: #FFC73D;
}

.jchartfx-menu td.btnposition.active a {
  background-color: #FFC73D;
}

.jchartfx .GreaterThan {
    stroke: #4B8E0B;
}

.jchartfx .LessThan {
    stroke: #A83300;
}

.jchartfx .EqualsTo {
    stroke: #FFC73D;
}