.jchartfx_body {
    background-color: #FFFFFF;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #FCFCF4;
    stroke: #000000;
}

.jchartfx .Attribute0 {
    fill: #738A9C;
    stroke: #576875;
}

.jchartfx .Attribute0Line {
    stroke: #576875;
}

.jchartfx .Attribute0Alt {
    fill: #576875;
}

.jchartfx .Attribute1 {
    fill: #CE5D5A;
    stroke: #9B4644;
}

.jchartfx .Attribute1Line {
    stroke: #9B4644;
}

.jchartfx .Attribute1Alt {
    fill: #9B4644;
}

.jchartfx .Attribute2 {
    fill: #7B5300;
    stroke: #5D3F00;
}

.jchartfx .Attribute2Line {
    stroke: #5D3F00;
}

.jchartfx .Attribute2Alt {
    fill: #996700;
}

.jchartfx .Attribute3 {
    fill: #D2B48C;
    stroke: #9E8769;
}

.jchartfx .Attribute3Line {
    stroke: #9E8769;
}

.jchartfx .Attribute3Alt {
    fill: #9E8769;
}

.jchartfx .Attribute4 {
    fill: #FFBDBD;
    stroke: #C08E8E;
}

.jchartfx .Attribute4Line {
    stroke: #C08E8E;
}

.jchartfx .Attribute4Alt {
    fill: #C08E8E;
}

.jchartfx .Attribute5 {
    fill: #000000;
    stroke: #000000;
}

.jchartfx .Attribute5Line {
    stroke: #000000;
}

.jchartfx .Attribute5Alt {
    fill: #000000;
}

.jchartfx .Attribute6 {
    fill: #006909;
    stroke: #004F07;
}

.jchartfx .Attribute6Line {
    stroke: #004F07;
}

.jchartfx .Attribute6Alt {
    fill: #00830B;
}

.jchartfx .Attribute7 {
    fill: #8A008C;
    stroke: #680069;
}

.jchartfx .Attribute7Line {
    stroke: #680069;
}

.jchartfx .Attribute7Alt {
    fill: #AC00AF;
}

.jchartfx .Attribute8 {
    fill: #E99D00;
    stroke: #AF7600;
}

.jchartfx .Attribute8Line {
    stroke: #AF7600;
}

.jchartfx .Attribute8Alt {
    fill: #FFC400;
}

.jchartfx .Attribute9 {
    fill: #FFE316;
    stroke: #C0AB11;
}

.jchartfx .Attribute9Line {
    stroke: #C0AB11;
}

.jchartfx .Attribute9Alt {
    fill: #C0AB11;
}

.jchartfx .Attribute10 {
    fill: #70D2FF;
    stroke: #549EC0;
}

.jchartfx .Attribute10Line {
    stroke: #549EC0;
}

.jchartfx .Attribute10Alt {
    fill: #549EC0;
}

.jchartfx .Attribute11 {
    fill: #006699;
    stroke: #004D73;
}

.jchartfx .Attribute11Line {
    stroke: #004D73;
}

.jchartfx .Attribute11Alt {
    fill: #007FBF;
}

.jchartfx .Attribute12 {
    fill: #00989A;
    stroke: #007274;
}

.jchartfx .Attribute12Line {
    stroke: #007274;
}

.jchartfx .Attribute12Alt {
    fill: #00BEC0;
}

.jchartfx .Attribute13 {
    fill: #FE0000;
    stroke: #BF0000;
}

.jchartfx .Attribute13Line {
    stroke: #BF0000;
}

.jchartfx .Attribute13Alt {
    fill: #FF0000;
}

.jchartfx .Attribute14 {
    fill: #CE5D5A;
    stroke: #9B4644;
}

.jchartfx .Attribute14Line {
    stroke: #9B4644;
}

.jchartfx .Attribute14Alt {
    fill: #9B4644;
}

.jchartfx .Attribute15 {
    fill: #CCCCFF;
    stroke: #9999C0;
}

.jchartfx .Attribute15Line {
    stroke: #9999C0;
}

.jchartfx .Attribute15Alt {
    fill: #9999C0;
}

.jchartfx .MarkerHollow {
    fill: #FFFFFF;
}

.jchartfx .Border {
    fill: #F7F7DE;
    stroke: #C3C0B5;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #D2B48C;
}

.jchartfx .PlotArea3D {
    fill: #F7F7DE;
    stroke: #D2B48C;
}

.jchartfx .CustomGridLine {
    stroke: #E99D00;
}

.jchartfx .CustomGridLineLabel {
    fill: #000000;
}

.jchartfx .AxisY_Section {
    fill: #D2B48C;
    stroke: #D2B48C;
}

.jchartfx .AxisX_Section {
    fill: #D2B48C;
    stroke: #D2B48C;
}

.jchartfx .AxisY_Text {
    fill: #000000;
}

.jchartfx .AxisY_Major {
    stroke: #D2B48C;
}

.jchartfx .AxisY_Minor {
    stroke: #D2B48C;
}

.jchartfx .AxisY_Interlaced {
    fill: #EEE8AA;
}

.jchartfx .AxisY_Line {
    stroke: #D2B48C;
}

.jchartfx .AxisX_Text {
    fill: #000000;
}

.jchartfx .AxisX_Major {
    stroke: #D2B48C;
}

.jchartfx .AxisX_Minor {
    stroke: #D2B48C;
}

.jchartfx .AxisX_Interlaced {
    fill: #EEE8AA;
}

.jchartfx .AxisX_Line {
    stroke: #D2B48C;
}

.jchartfx .PointLabel {
    fill: #000000;
}

.jchartfx .PointLabelBorder {
    fill: #000000;
    stroke: #000000;
}

.jchartfx .Title {
    fill: #000000;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #C3C0B5;
}

.jchartfx .LegendItem {
    fill: #000000;
}

.jchartfx .ScrollBar {
    fill: #F7F7DE;
    stroke: #D2B48C;
}

.jchartfx .ScrollThumb {
    fill: #D2B48C;
}

.jchartfx .ScrollArrow {
    fill: #D2B48C;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #738A9C;
}

.jchartfx .DataGrid_Back {
    fill: #F7F7DE;
}

.jchartfx .DataGrid_GridLine {
    fill: #D2B48C;
}

.jchartfx .DataGridText {
    fill: #000000;
}

.jchartfx .DataGridTextAlternate {
    fill: #000000;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_RowHeader {
    fill: #000000;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #000000;
}

.jchartfx .AnnotationText {
    fill: #000000;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #000000;
}

.jchartfx .AnnotationBalloonText {
    fill: #000000;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #000000;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #000000;
}

.jchartfx .AnnotationArrow {
    fill: #000000;
    stroke: #000000;
}

.jchartfx .AnnotationArc {
    fill: #000000;
    stroke: #000000;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #000000;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #000000;
}

.jchartfx .HeatMap0 {
    fill: #738A9C;
}

.jchartfx .HeatMap1 {
    fill: #CE5D5A;
}

.jchartfx .EqualizerTop0 {
    stroke: #9B4644;
    fill: #CE5D5A;
}

.jchartfx .EqualizerTop1 {
    stroke: #5D3F00;
    fill: #7B5300;
}

.jchartfx_gauge .Border {
    fill: #F7F7DE;
    stroke: #C3C0B5;
}

.jchartfx_gauge .Indicator {
    fill: #738A9C;
    stroke: #576875;
}

.jchartfx_gauge .Cap {
    fill: #000000;
}

.jchartfx_gauge .Bar {
    stroke: #D2B48C;
    fill: #FFFFFF;
}

.jchartfx_gauge .TickMajor {
    stroke: #D2B48C;
    fill: #D2B48C;
}

.jchartfx_gauge .TickMedium {
    stroke: #D2B48C;
    fill: #D2B48C;
}

.jchartfx_gauge .Text {
    fill: #000000;
}

.jchartfx_gauge .Title {
    fill: #000000;
}

.jchartfx_gauge .Section0 {
    fill: #CE5D5A;
    stroke: #9B4644;
}

.jchartfx_gauge .Section1 {
    fill: #FFE316;
    stroke: #C0AB11;
}

.jchartfx_gauge .Section2 {
    fill: #006909;
    stroke: #004F07;
}

.jchartfx_gauge .GreaterThan {
    fill: #006909;
}

.jchartfx_gauge .LessThan {
    fill: #CE5D5A;
}

.jchartfx_gauge .EqualsTo {
    fill: #FFE316;
}

.jchartfx_gauge .Separator {
    stroke: #D2B48C;
}

.jchartfx .MapContext {
    fill: #f7f7de;
    stroke: #bfbfa7;
}

.jchartfx .MapWater {
    fill: #d1eafe;
    stroke: #9ab2c5;
}

.jchartfx .MapOcean0 {
    fill: #9ab2c5;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #8da5b7;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #8098a9;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #738b9c;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #667e8f;
    stroke: none;
}

.jchartfx .MapOcean4 {
    fill: #618da2 !important;
    stroke: none;
}

.jchartfx .MapAttribute0 {
    fill: #ce5d5a;
    stroke: #93282c;
}

.jchartfx .MapAttribute1 {
    fill: #7b5300;
    stroke: #482600;
}

.jchartfx .MapAttribute2 {
    fill: #d2b48c;
    stroke: #9a7f5a;
}

.jchartfx .MapAttribute3 {
    fill: #96211e;
    stroke: #5c0000;
}

.jchartfx .MapAttribute4 {
    fill: #4d3b17;
    stroke: #241000;
}

.jchartfx .MapAttribute5 {
    fill: #99641f;
    stroke: #613500;
}

.jchartfx .MapAttribute6 {
    fill: #5e4c4b;
    stroke: #2f201f;
}

.jchartfx .MapAttribute7 {
    fill: #ccb27b;
    stroke: #947e49;
}

.jchartfx .MapRoad {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: .3;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .1;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #E2C195;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #F7F7DE;
    stroke: #C3C0B5;
}

.jchartfx .MapPlot {
    fill: #667e8f;
    fill-opacity: 0;
}

.jchartfx_gauge .TitleLarge {
    fill: #000000;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #000000;
}

.jchartfx_gauge .DashboardTitle {
    fill: #000000;
}

.jchartfx .DashboardCaption {
    fill: #738A9C;
    stroke: #FFFFFF;
}

.jchartfx_gauge .DashboardCaption {
    fill: #738A9C;
    stroke: #FFFFFF;
}

.jchartfx .EqualizerOff {
        fill: #D2B48C;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #444444;
}

.jchartfx_gauge .Glow {
    fill: #444444;
}

.jchartfx .MapShadow {
    fill: #444444;
    fill-opacity: 0.3;
}







.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #FFFFFF;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #F7F7DE;
    border-color: #D2B48C;
    box-shadow: 0px 0px 5px 3px rgba(68, 68,  68, .30);
}

.jchartfx_container table thead tr th {
    background-color: #738A9C;
    border-color: #D2B48C;
    border-bottom-color: #D2B48C;
    color: #FFFFFF;
}

.jchartfx_container table tbody tr td {
    color: #000000;
    border-color: #D2B48C;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #F7F7DE;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #FFFFFF;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #000000;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #000000;
}

.jchartfx_container .labelIndicator {
    color: #000000;
}

.jchartfx_container .label {
    color: #000000;
}

.jchartfx_container .smallLabel {
    color: #000000;
}

.jchartfx_gauge .BorderMedium {
    fill: #F7F7DE;
    stroke: #C3C0B5;
}

.jchartfx_gauge .BorderThick {
    fill: #F7F7DE;
    stroke: #C3C0B5;
}

.jchartfx .MapDefaultAttribute {
    fill: #f7f7de;
    stroke: #bfbfa7;
}

.jchartfx_gauge .Filler {
    fill: #738A9C;
    stroke: #576875;
}

.jchartfx_gauge .Marker {
    fill: #738A9C;
    stroke: #576875;
}

.jchartfx_gauge .Needle {
    fill: #738A9C;
    stroke: #576875;
}

.jchartfx .BorderMedium {
    fill: #F7F7DE;
    stroke: #C3C0B5;
}

.jchartfx .BorderThick {
    fill: #F7F7DE;
    stroke: #C3C0B5;
}

.jchartfx .Border0 {
    stroke: #BFE6FF;
    fill: #BFE6FF;
}

.jchartfx .Border1 {
    stroke: #FF9B96;
    fill: #FF9B96;
}

.jchartfx .Border2 {
    stroke: #CD8A00;
    fill: #CD8A00;
}

.jchartfx .Border3 {
    stroke: #FFFFE9;
    fill: #FFFFE9;
}

.jchartfx .Border4 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border5 {
    stroke: #000000;
    fill: #000000;
}

.jchartfx .Border6 {
    stroke: #00AF0F;
    fill: #00AF0F;
}

.jchartfx .Border7 {
    stroke: #E600E9;
    fill: #E600E9;
}

.jchartfx_gauge .Border0  {
    stroke: #BFE6FF;
    fill: #BFE6FF;
}

.jchartfx_gauge .Border1  {
    stroke: #FF9B96;
    fill: #FF9B96;
}

.jchartfx_gauge .Border2  {
    stroke: #CD8A00;
    fill: #CD8A00;
}

.jchartfx_gauge .Border3  {
    stroke: #FFFFE9;
    fill: #FFFFE9;
}

.jchartfx_gauge .Border4  {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx_gauge .Border5  {
    stroke: #000000;
    fill: #000000;
}

.jchartfx_gauge .Border6  {
    stroke: #00AF0F;
    fill: #00AF0F;
}

.jchartfx_gauge .Border7  {
    stroke: #E600E9;
    fill: #E600E9;
}

.jchartfx-menu .toggle.active {
  background-color: #CE5D5A;
}

.jchartfx-menu td.btnposition.active a {
  background-color: #CE5D5A;
}

.jchartfx-menu .selectable li.active {
    border: 1px solid;
    border-color: #CE5D5A;
    box-shadow: inset 0 0 0px 0px #CE5D5A;
    background: rgba(206,93,90, 0.2);
}

.jchartfx .GreaterThan {
    stroke: #006909;
}

.jchartfx .LessThan {
    stroke: #CE5D5A;
}

.jchartfx .EqualsTo {
    stroke: #FFE316;
}