.jchartfx_body {
    background-color: #FFFFFF;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #FBFBFB;
    stroke: #666666;
}

.jchartfx .Attribute0 {
    fill: #5179D6;
    stroke: #3D5BA1;
}

.jchartfx .Attribute0Line {
    stroke: #3D5BA1;
}

.jchartfx .Attribute0Alt {
    fill: #3D5BA1;
}

.jchartfx .Attribute1 {
    fill: #66CC66;
    stroke: #4D994D;
}

.jchartfx .Attribute1Line {
    stroke: #4D994D;
}

.jchartfx .Attribute1Alt {
    fill: #4D994D;
}

.jchartfx .Attribute2 {
    fill: #EF2F41;
    stroke: #B42431;
}

.jchartfx .Attribute2Line {
    stroke: #B42431;
}

.jchartfx .Attribute2Alt {
    fill: #B42431;
}

.jchartfx .Attribute3 {
    fill: #FFC700;
    stroke: #C09600;
}

.jchartfx .Attribute3Line {
    stroke: #C09600;
}

.jchartfx .Attribute3Alt {
    fill: #C09600;
}

.jchartfx .Attribute4 {
    fill: #61BDF2;
    stroke: #498EB6;
}

.jchartfx .Attribute4Line {
    stroke: #498EB6;
}

.jchartfx .Attribute4Alt {
    fill: #498EB6;
}

.jchartfx .Attribute5 {
    fill: #FFFFCC;
    stroke: #C0C099;
}

.jchartfx .Attribute5Line {
    stroke: #C0C099;
}

.jchartfx .Attribute5Alt {
    fill: #C0C099;
}

.jchartfx .Attribute6 {
    fill: #7588DD;
    stroke: #5866A6;
}

.jchartfx .Attribute6Line {
    stroke: #5866A6;
}

.jchartfx .Attribute6Alt {
    fill: #5866A6;
}

.jchartfx .Attribute7 {
    fill: #2F5E8C;
    stroke: #244769;
}

.jchartfx .Attribute7Line {
    stroke: #244769;
}

.jchartfx .Attribute7Alt {
    fill: #3A75AF;
}

.jchartfx .Attribute8 {
    fill: #07BACE;
    stroke: #068C9B;
}

.jchartfx .Attribute8Line {
    stroke: #068C9B;
}

.jchartfx .Attribute8Alt {
    fill: #08E8FF;
}

.jchartfx .Attribute9 {
    fill: #BAE55C;
    stroke: #8CAC45;
}

.jchartfx .Attribute9Line {
    stroke: #8CAC45;
}

.jchartfx .Attribute9Alt {
    fill: #8CAC45;
}

.jchartfx .Attribute10 {
    fill: #BA1871;
    stroke: #8C1255;
}

.jchartfx .Attribute10Line {
    stroke: #8C1255;
}

.jchartfx .Attribute10Alt {
    fill: #E81E8D;
}

.jchartfx .Attribute11 {
    fill: #FF7900;
    stroke: #C05B00;
}

.jchartfx .Attribute11Line {
    stroke: #C05B00;
}

.jchartfx .Attribute11Alt {
    fill: #C05B00;
}

.jchartfx .Attribute12 {
    fill: #BDE6FC;
    stroke: #8EADBD;
}

.jchartfx .Attribute12Line {
    stroke: #8EADBD;
}

.jchartfx .Attribute12Alt {
    fill: #8EADBD;
}

.jchartfx .Attribute13 {
    fill: #C7C7C7;
    stroke: #969696;
}

.jchartfx .Attribute13Line {
    stroke: #969696;
}

.jchartfx .Attribute13Alt {
    fill: #969696;
}

.jchartfx .Attribute14 {
    fill: #ADA8FF;
    stroke: #827EC0;
}

.jchartfx .Attribute14Line {
    stroke: #827EC0;
}

.jchartfx .Attribute14Alt {
    fill: #827EC0;
}

.jchartfx .Attribute15 {
    fill: #2FA675;
    stroke: #247D58;
}

.jchartfx .Attribute15Line {
    stroke: #247D58;
}

.jchartfx .Attribute15Alt {
    fill: #3ACF92;
}

.jchartfx .MarkerHollow {
    fill: #FFFFFF;
}

.jchartfx .Border {
    fill: #FFFFFF;
    stroke: #A8A8A8;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #A8A8A8;
}

.jchartfx .PlotArea3D {
    fill: #E0E0E0;
    stroke: #A8A8A8;
}

.jchartfx .CustomGridLine {
    stroke: #E0077B;
}

.jchartfx .CustomGridLineLabel {
    fill: #666666;
}

.jchartfx .AxisY_Section {
    fill: #D0C5E3;
    stroke: #D0C5E3;
}

.jchartfx .AxisX_Section {
    fill: #D0C5E3;
    stroke: #D0C5E3;
}

.jchartfx .AxisY_Text {
    fill: #666666;
}

.jchartfx .AxisY_Major {
    stroke: #A8A8A8;
}

.jchartfx .AxisY_Minor {
    stroke: #A8A8A8;
}

.jchartfx .AxisY_Interlaced {
    fill: #C7C7C7;
}

.jchartfx .AxisY_Line {
    stroke: #A8A8A8;
}

.jchartfx .AxisX_Text {
    fill: #666666;
}

.jchartfx .AxisX_Major {
    stroke: #A8A8A8;
}

.jchartfx .AxisX_Minor {
    stroke: #A8A8A8;
}

.jchartfx .AxisX_Interlaced {
    fill: #C7C7C7;
}

.jchartfx .AxisX_Line {
    stroke: #A8A8A8;
}

.jchartfx .PointLabel {
    fill: #666666;
}

.jchartfx .PointLabelBorder {
    fill: #7F7F7F;
    stroke: #666666;
}

.jchartfx .Title {
    fill: #666666;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #A8A8A8;
}

.jchartfx .LegendItem {
    fill: #666666;
}

.jchartfx .ScrollBar {
    fill: #E0E0E0;
    stroke: #A8A8A8;
}

.jchartfx .ScrollThumb {
    fill: #A8A8A8;
}

.jchartfx .ScrollArrow {
    fill: #A8A8A8;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #000000;
}

.jchartfx .DataGrid_Back {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_GridLine {
    fill: #C7C7C7;
}

.jchartfx .DataGridText {
    fill: #666666;
}

.jchartfx .DataGridTextAlternate {
    fill: #666666;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #E0E0E0;
}

.jchartfx .DataGrid_RowHeader {
    fill: #666666;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #666666;
}

.jchartfx .AnnotationText {
    fill: #666666;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #666666;
}

.jchartfx .AnnotationBalloonText {
    fill: #666666;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #666666;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #666666;
}

.jchartfx .AnnotationArrow {
    fill: #666666;
    stroke: #666666;
}

.jchartfx .AnnotationArc {
    fill: #666666;
    stroke: #666666;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #666666;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #666666;
}

.jchartfx .HeatMap0 {
    fill: #5179D6;
}

.jchartfx .HeatMap1 {
    fill: #66CC66;
}

.jchartfx .EqualizerTop0 {
    stroke: #4D994D;
    fill: #66CC66;
}

.jchartfx .EqualizerTop1 {
    stroke: #B42431;
    fill: #EF2F41;
}

.jchartfx .MapContext {
    fill: #ffffff;
    stroke: #c6c6c6;
}

.jchartfx .MapOcean0 {
    fill: #7ea0ff;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #6f93f0;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #6086e2;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #5179d4;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #416dc6;
    stroke: none;
}

.jchartfx .MapWater {
    fill: #b9d6ff;
    stroke: #7ea0ff;
}

.jchartfx .MapAttribute0 {
    fill: #66cc66;
    stroke: #289533;
}

.jchartfx .MapAttribute1 {
    fill: #ef2f41;
    stroke: #ae0016;
}

.jchartfx .MapAttribute2 {
    fill: #ffc700;
    stroke: #c19200;
}

.jchartfx .MapAttribute3 {
    fill: #1e951e;
    stroke: #006100;
}

.jchartfx .MapAttribute4 {
    fill: #ac4a53;
    stroke: #731426;
}

.jchartfx .MapAttribute5 {
    fill: #b79b37;
    stroke: #7e6800;
}

.jchartfx .MapAttribute6 {
    fill: #4b5e4b;
    stroke: #1e301f;
}

.jchartfx .MapAttribute7 {
    fill: #694649;
    stroke: #381a1e;
}

.jchartfx .MapRoad {
    stroke: #FFC700;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .4;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #FFC700;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #FFC700;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #FFFFFF;
    stroke: #A8A8A8;
}

.jchartfx_gauge .Border {
    fill: #FFFFFF;
    stroke: #A8A8A8;
}

.jchartfx_gauge .Indicator {
    fill: #5179D6;
    stroke: #3D5BA1;
}

.jchartfx_gauge .Cap {
    fill: #666666;
}

.jchartfx_gauge .Bar {
    stroke: #A8A8A8;
    fill: #E0E0E0;
}

.jchartfx_gauge .TickMajor {
    stroke: #A8A8A8;
    fill: #A8A8A8;
}

.jchartfx_gauge .TickMedium {
    stroke: #A8A8A8;
    fill: #A8A8A8;
}

.jchartfx_gauge .Text {
    fill: #666666;
}

.jchartfx_gauge .Title {
    fill: #666666;
}

.jchartfx_gauge .Section0 {
    fill: #EF2F41;
    stroke: #B42431;
}

.jchartfx_gauge .Section1 {
    fill: #FFC700;
    stroke: #C09600;
}

.jchartfx_gauge .Section2 {
    fill: #66CC66;
    stroke: #4D994D;
}

.jchartfx_gauge .GreaterThan {
    fill: #66CC66;
}

.jchartfx_gauge .LessThan {
    fill: #EF2F41;
}

.jchartfx_gauge .EqualsTo {
    fill: #FFC700;
}

.jchartfx_gauge .Separator {
    stroke: #A8A8A8;
}

.jchartfx .MapPlot {
    fill: #416dc6;
    fill-opacity: 0;
}

.jchartfx_gauge .TitleLarge {
    fill: #666666;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #666666;
}

.jchartfx_gauge .DashboardTitle {
    fill: #666666;
}

.jchartfx .DashboardCaption {
    fill: #5179D6;
    stroke: #FFFFFF;
}

.jchartfx_gauge .DashboardCaption {
    fill: #5179D6;
    stroke: #FFFFFF;
}

.jchartfx .EqualizerOff {
        fill: #A8A8A8;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #444444;
}

.jchartfx_gauge .Glow {
    fill: #444444;
}

.jchartfx .MapShadow {
    fill: #444444;
    fill-opacity: 0.3;
}







.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #E0E0E0;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #FFFFFF;
    border-color: #C7C7C7;
    box-shadow: 0px 0px 5px 3px rgba(68, 68,  68, .30);
}

.jchartfx_container table thead tr th {
    background-color: #000000;
    border-color: #C7C7C7;
    border-bottom-color: #A8A8A8;
    color: #FFFFFF;
}

.jchartfx_container table tbody tr td {
    color: #666666;
    border-color: #C7C7C7;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #FFFFFF;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #E0E0E0;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #666666;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #666666;
}

.jchartfx_container .labelIndicator {
    color: #666666;
}

.jchartfx_container .label {
    color: #666666;
}

.jchartfx_container .smallLabel {
    color: #666666;
}

.jchartfx_gauge .BorderMedium {
    fill: #FFFFFF;
    stroke: #A8A8A8;
}

.jchartfx_gauge .BorderThick {
    fill: #FFFFFF;
    stroke: #A8A8A8;
}

.jchartfx .MapDefaultAttribute {
    fill: #ffffff;
    stroke: #c6c6c6;
}

.jchartfx_gauge .Filler {
    fill: #5179D6;
    stroke: #3D5BA1;
}

.jchartfx_gauge .Marker {
    fill: #5179D6;
    stroke: #3D5BA1;
}

.jchartfx_gauge .Needle {
    fill: #5179D6;
    stroke: #3D5BA1;
}

.jchartfx .BorderMedium {
    fill: #FFFFFF;
    stroke: #A8A8A8;
}

.jchartfx .BorderThick {
    fill: #FFFFFF;
    stroke: #A8A8A8;
}

.jchartfx .Border0 {
    stroke: #87C9FF;
    fill: #87C9FF;
}

.jchartfx .Border1 {
    stroke: #AAFFAA;
    fill: #AAFFAA;
}

.jchartfx .Border2 {
    stroke: #FF4E6C;
    fill: #FF4E6C;
}

.jchartfx .Border3 {
    stroke: #FFFF00;
    fill: #FFFF00;
}

.jchartfx .Border4 {
    stroke: #A1FFFF;
    fill: #A1FFFF;
}

.jchartfx .Border5 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border6 {
    stroke: #C3E2FF;
    fill: #C3E2FF;
}

.jchartfx .Border7 {
    stroke: #4E9CE9;
    fill: #4E9CE9;
}

.jchartfx_gauge .Border0  {
    stroke: #87C9FF;
    fill: #87C9FF;
}

.jchartfx_gauge .Border1  {
    stroke: #AAFFAA;
    fill: #AAFFAA;
}

.jchartfx_gauge .Border2  {
    stroke: #FF4E6C;
    fill: #FF4E6C;
}

.jchartfx_gauge .Border3  {
    stroke: #FFFF00;
    fill: #FFFF00;
}

.jchartfx_gauge .Border4  {
    stroke: #A1FFFF;
    fill: #A1FFFF;
}

.jchartfx_gauge .Border5  {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx_gauge .Border6  {
    stroke: #C3E2FF;
    fill: #C3E2FF;
}

.jchartfx_gauge .Border7  {
    stroke: #4E9CE9;
    fill: #4E9CE9;
}

.jchartfx .GreaterThan {
    stroke: #66CC66;
}

.jchartfx .LessThan {
    stroke: #EF2F41;
}

.jchartfx .EqualsTo {
    stroke: #FFC700;
}