.jchartfx_body {
    background-color: #FFFFFF;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #FDFEFE;
    stroke: #222222;
}

.jchartfx .Attribute0 {
    fill: #2E6E9E;
    stroke: #235377;
}

.jchartfx .Attribute0Line {
    stroke: #235377;
}

.jchartfx .Attribute0Alt {
    fill: #3989C5;
}

.jchartfx .Attribute1 {
    fill: #E17009;
    stroke: #A95407;
}

.jchartfx .Attribute1Line {
    stroke: #A95407;
}

.jchartfx .Attribute1Alt {
    fill: #FF8C0B;
}

.jchartfx .Attribute2 {
    fill: #FBEC88;
    stroke: #BDB166;
}

.jchartfx .Attribute2Line {
    stroke: #BDB166;
}

.jchartfx .Attribute2Alt {
    fill: #BDB166;
}

.jchartfx .Attribute3 {
    fill: #5C9CCC;
    stroke: #457599;
}

.jchartfx .Attribute3Line {
    stroke: #457599;
}

.jchartfx .Attribute3Alt {
    fill: #457599;
}

.jchartfx .Attribute4 {
    fill: #A6C9E2;
    stroke: #7D97AA;
}

.jchartfx .Attribute4Line {
    stroke: #7D97AA;
}

.jchartfx .Attribute4Alt {
    fill: #7D97AA;
}

.jchartfx .Attribute5 {
    fill: #363636;
    stroke: #292929;
}

.jchartfx .Attribute5Line {
    stroke: #292929;
}

.jchartfx .Attribute5Alt {
    fill: #434343;
}

.jchartfx .Attribute6 {
    fill: #F9BD01;
    stroke: #BB8E01;
}

.jchartfx .Attribute6Line {
    stroke: #BB8E01;
}

.jchartfx .Attribute6Alt {
    fill: #FFEC01;
}

.jchartfx .Attribute7 {
    fill: #79B7E7;
    stroke: #5B8AAE;
}

.jchartfx .Attribute7Line {
    stroke: #5B8AAE;
}

.jchartfx .Attribute7Alt {
    fill: #5B8AAE;
}

.jchartfx .Attribute8 {
    fill: #CD0A0A;
    stroke: #9A0808;
}

.jchartfx .Attribute8Line {
    stroke: #9A0808;
}

.jchartfx .Attribute8Alt {
    fill: #FF0C0C;
}

.jchartfx .Attribute9 {
    fill: #2E83FF;
    stroke: #2363C0;
}

.jchartfx .Attribute9Line {
    stroke: #2363C0;
}

.jchartfx .Attribute9Alt {
    fill: #2363C0;
}

.jchartfx .Attribute10 {
    fill: #FAD42E;
    stroke: #BC9F23;
}

.jchartfx .Attribute10Line {
    stroke: #BC9F23;
}

.jchartfx .Attribute10Alt {
    fill: #BC9F23;
}

.jchartfx .Attribute11 {
    fill: #9A9A9A;
    stroke: #747474;
}

.jchartfx .Attribute11Line {
    stroke: #747474;
}

.jchartfx .Attribute11Alt {
    fill: #747474;
}

.jchartfx .Attribute12 {
    fill: #FFFF65;
    stroke: #C0C04C;
}

.jchartfx .Attribute12Line {
    stroke: #C0C04C;
}

.jchartfx .Attribute12Alt {
    fill: #C0C04C;
}

.jchartfx .Attribute13 {
    fill: #FF6E6E;
    stroke: #C05353;
}

.jchartfx .Attribute13Line {
    stroke: #C05353;
}

.jchartfx .Attribute13Alt {
    fill: #C05353;
}

.jchartfx .Attribute14 {
    fill: #92E7FF;
    stroke: #6EAEC0;
}

.jchartfx .Attribute14Line {
    stroke: #6EAEC0;
}

.jchartfx .Attribute14Alt {
    fill: #6EAEC0;
}

.jchartfx .Attribute15 {
    fill: #FFFFC9;
    stroke: #C0C097;
}

.jchartfx .Attribute15Line {
    stroke: #C0C097;
}

.jchartfx .Attribute15Alt {
    fill: #C0C097;
}

.jchartfx .MarkerHollow {
    fill: #FFFFFF;
}

.jchartfx .Border {
    fill: #FCFDFD;
    stroke: #A6C9E2;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #C5DBEC;
}

.jchartfx .PlotArea3D {
    fill: #DFEFFC;
    stroke: #C5DBEC;
}

.jchartfx .CustomGridLine {
    stroke: #2E6E9E;
}

.jchartfx .CustomGridLineLabel {
    fill: #222222;
}

.jchartfx .AxisY_Section {
    fill: #5C9CCC;
    stroke: #5C9CCC;
}

.jchartfx .AxisX_Section {
    fill: #5C9CCC;
    stroke: #5C9CCC;
}

.jchartfx .AxisY_Text {
    fill: #222222;
}

.jchartfx .AxisY_Major {
    stroke: #C5DBEC;
}

.jchartfx .AxisY_Minor {
    stroke: #C5DBEC;
}

.jchartfx .AxisY_Interlaced {
    fill: #FCFDFD;
}

.jchartfx .AxisY_Line {
    stroke: #C5DBEC;
}

.jchartfx .AxisX_Text {
    fill: #222222;
}

.jchartfx .AxisX_Major {
    stroke: #C5DBEC;
}

.jchartfx .AxisX_Minor {
    stroke: #C5DBEC;
}

.jchartfx .AxisX_Interlaced {
    fill: #FCFDFD;
}

.jchartfx .AxisX_Line {
    stroke: #C5DBEC;
}

.jchartfx .PointLabel {
    fill: #222222;
}

.jchartfx .PointLabelBorder {
    fill: #2A2A2A;
    stroke: #222222;
}

.jchartfx .Title {
    fill: #222222;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #A6C9E2;
}

.jchartfx .LegendItem {
    fill: #222222;
}

.jchartfx .ScrollBar {
    fill: #FCFDFD;
    stroke: #C5DBEC;
}

.jchartfx .ScrollThumb {
    fill: #C5DBEC;
}

.jchartfx .ScrollArrow {
    fill: #C5DBEC;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #5C9CCC;
}

.jchartfx .DataGrid_Back {
    fill: #FCFDFD;
}

.jchartfx .DataGrid_GridLine {
    fill: #E0EBF3;
}

.jchartfx .DataGridText {
    fill: #222222;
}

.jchartfx .DataGridTextAlternate {
    fill: #222222;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #DFEFFC;
}

.jchartfx .DataGrid_RowHeader {
    fill: #222222;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #222222;
}

.jchartfx .AnnotationText {
    fill: #222222;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #222222;
}

.jchartfx .AnnotationBalloonText {
    fill: #222222;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #222222;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #222222;
}

.jchartfx .AnnotationArrow {
    fill: #222222;
    stroke: #222222;
}

.jchartfx .AnnotationArc {
    fill: #222222;
    stroke: #222222;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #222222;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #222222;
}

.jchartfx .HeatMap0 {
    fill: #2E6E9E;
}

.jchartfx .HeatMap1 {
    fill: #E17009;
}

.jchartfx .EqualizerTop0 {
    stroke: #A95407;
    fill: #E17009;
}

.jchartfx .EqualizerTop1 {
    stroke: #BDB166;
    fill: #FBEC88;
}

.jchartfx_gauge .Border {
    fill: #FCFDFD;
    stroke: #A6C9E2;
}

.jchartfx_gauge .Indicator {
    fill: #2E6E9E;
    stroke: #235377;
}

.jchartfx_gauge .Cap {
    fill: #222222;
}

.jchartfx_gauge .Bar {
    stroke: #C5DBEC;
    fill: #DFEFFC;
}

.jchartfx_gauge .TickMajor {
    stroke: #C5DBEC;
    fill: #C5DBEC;
}

.jchartfx_gauge .TickMedium {
    stroke: #C5DBEC;
    fill: #C5DBEC;
}

.jchartfx_gauge .Text {
    fill: #222222;
}

.jchartfx_gauge .Title {
    fill: #222222;
}

.jchartfx_gauge .Section0 {
    fill: #E17009;
    stroke: #A95407;
}

.jchartfx_gauge .Section1 {
    fill: #FBEC88;
    stroke: #BDB166;
}

.jchartfx_gauge .Section2 {
    fill: #5C9CCC;
    stroke: #457599;
}

.jchartfx_gauge .GreaterThan {
    fill: #5C9CCC;
}

.jchartfx_gauge .LessThan {
    fill: #E17009;
}

.jchartfx_gauge .EqualsTo {
    fill: #FBEC88;
}

.jchartfx_gauge .Separator {
    stroke: #C5DBEC;
}

.jchartfx .MapContext {
    fill: #fcfdfd;
    stroke: #c3c4c4;
}

.jchartfx .MapWater {
    fill: #94caff;
    stroke: #5b94c7;
}

.jchartfx .MapOcean0 {
    fill: #5b94c7;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #4d87b9;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #3e7aab;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #2e6e9e;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #1b6291;
    stroke: none;
}

.jchartfx .MapOcean4 {
    fill: #618da2 !important;
    stroke: none;
}

.jchartfx .MapAttribute0 {
    fill: #e17009;
    stroke: #a23d00;
}

.jchartfx .MapAttribute1 {
    fill: #fbec88;
    stroke: #c1b453;
}

.jchartfx .MapAttribute2 {
    fill: #5c9ccc;
    stroke: #1a6996;
}

.jchartfx .MapAttribute3 {
    fill: #a36a36;
    stroke: #6b3a06;
}

.jchartfx .MapAttribute4 {
    fill: #b4a124;
    stroke: #7b6e00;
}

.jchartfx .MapAttribute5 {
    fill: #1e6295;
    stroke: #003462;
}

.jchartfx .MapAttribute6 {
    fill: #65503e;
    stroke: #352414;
}

.jchartfx .MapAttribute7 {
    fill: #6d6a57;
    stroke: #3d3b2a;
}

.jchartfx .MapRoad {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: .3;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .1;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #E2C195;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #FCFDFD;
    stroke: #A6C9E2;
}

.jchartfx .MapPlot {
    fill: #1b6291;
    fill-opacity: 0;
}

.jchartfx_gauge .TitleLarge {
    fill: #222222;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #222222;
}

.jchartfx_gauge .DashboardTitle {
    fill: #222222;
}

.jchartfx .DashboardCaption {
    fill: #2E6E9E;
    stroke: #FFFFFF;
}

.jchartfx_gauge .DashboardCaption {
    fill: #2E6E9E;
    stroke: #FFFFFF;
}

.jchartfx .EqualizerOff {
        fill: #C5DBEC;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #444444;
}

.jchartfx_gauge .Glow {
    fill: #444444;
}

.jchartfx .MapShadow {
    fill: #444444;
    fill-opacity: 0.3;
}







.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #DFEFFC;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #FCFDFD;
    border-color: #E0EBF3;
    box-shadow: 0px 0px 5px 3px rgba(68, 68,  68, .30);
}

.jchartfx_container table thead tr th {
    background-color: #5C9CCC;
    border-color: #E0EBF3;
    border-bottom-color: #C5DBEC;
    color: #FFFFFF;
}

.jchartfx_container table tbody tr td {
    color: #222222;
    border-color: #E0EBF3;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #FCFDFD;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #DFEFFC;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #222222;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #222222;
}

.jchartfx_container .labelIndicator {
    color: #222222;
}

.jchartfx_container .label {
    color: #222222;
}

.jchartfx_container .smallLabel {
    color: #222222;
}

.jchartfx_gauge .BorderMedium {
    fill: #FCFDFD;
    stroke: #A6C9E2;
}

.jchartfx_gauge .BorderThick {
    fill: #FCFDFD;
    stroke: #A6C9E2;
}

.jchartfx .MapDefaultAttribute {
    fill: #fcfdfd;
    stroke: #c3c4c4;
}

.jchartfx_gauge .Filler {
    fill: #2E6E9E;
    stroke: #235377;
}

.jchartfx_gauge .Marker {
    fill: #2E6E9E;
    stroke: #235377;
}

.jchartfx_gauge .Needle {
    fill: #E17009;
    stroke: #A95407;
}

.jchartfx .BorderMedium {
    fill: #FCFDFD;
    stroke: #A6C9E2;
}

.jchartfx .BorderThick {
    fill: #FCFDFD;
    stroke: #A6C9E2;
}

.jchartfx .Border0 {
    stroke: #4CB7FF;
    fill: #4CB7FF;
}

.jchartfx .Border1 {
    stroke: #FFBA0F;
    fill: #FFBA0F;
}

.jchartfx .Border2 {
    stroke: #FFFFE2;
    fill: #FFFFE2;
}

.jchartfx .Border3 {
    stroke: #99FFFF;
    fill: #99FFFF;
}

.jchartfx .Border4 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border5 {
    stroke: #5A5A5A;
    fill: #5A5A5A;
}

.jchartfx .Border6 {
    stroke: #FFFF01;
    fill: #FFFF01;
}

.jchartfx .Border7 {
    stroke: #C9FFFF;
    fill: #C9FFFF;
}

.jchartfx_gauge .Border0  {
    stroke: #4CB7FF;
    fill: #4CB7FF;
}

.jchartfx_gauge .Border1  {
    stroke: #FFBA0F;
    fill: #FFBA0F;
}

.jchartfx_gauge .Border2  {
    stroke: #FFFFE2;
    fill: #FFFFE2;
}

.jchartfx_gauge .Border3  {
    stroke: #99FFFF;
    fill: #99FFFF;
}

.jchartfx_gauge .Border4  {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx_gauge .Border5  {
    stroke: #5A5A5A;
    fill: #5A5A5A;
}

.jchartfx_gauge .Border6  {
    stroke: #FFFF01;
    fill: #FFFF01;
}

.jchartfx_gauge .Border7  {
    stroke: #C9FFFF;
    fill: #C9FFFF;
}

.jchartfx-menu .toggle.active {
  background-color: #E17009;
}

.jchartfx-menu td.btnposition.active a {
  background-color: #E17009;
}

.jchartfx .GreaterThan {
    stroke: #5C9CCC;
}

.jchartfx .LessThan {
    stroke: #E17009;
}

.jchartfx .EqualsTo {
    stroke: #FBEC88;
}