.jchartfx_body {
    background-color: #FFFFFF;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #D8D6CB;
    stroke: #312E25;
}

.jchartfx .Attribute0 {
    fill: #FAFAF4;
    stroke: #BCBCB7;
}

.jchartfx .Attribute0Line {
    stroke: #BCBCB7;
}

.jchartfx .Attribute0Alt {
    fill: #BCBCB7;
}

.jchartfx .Attribute1 {
    fill: #FCF0BA;
    stroke: #BDB48C;
}

.jchartfx .Attribute1Line {
    stroke: #BDB48C;
}

.jchartfx .Attribute1Alt {
    fill: #BDB48C;
}

.jchartfx .Attribute2 {
    fill: #847E71;
    stroke: #635F55;
}

.jchartfx .Attribute2Line {
    stroke: #635F55;
}

.jchartfx .Attribute2Alt {
    fill: #A59D8D;
}

.jchartfx .Attribute3 {
    fill: #D4CCB0;
    stroke: #9F9984;
}

.jchartfx .Attribute3Line {
    stroke: #9F9984;
}

.jchartfx .Attribute3Alt {
    fill: #9F9984;
}

.jchartfx .Attribute4 {
    fill: #312E25;
    stroke: #25231C;
}

.jchartfx .Attribute4Line {
    stroke: #25231C;
}

.jchartfx .Attribute4Alt {
    fill: #3D392E;
}

.jchartfx .Attribute5 {
    fill: #8DC262;
    stroke: #6A924A;
}

.jchartfx .Attribute5Line {
    stroke: #6A924A;
}

.jchartfx .Attribute5Alt {
    fill: #6A924A;
}

.jchartfx .Attribute6 {
    fill: #CD5C0A;
    stroke: #9A4508;
}

.jchartfx .Attribute6Line {
    stroke: #9A4508;
}

.jchartfx .Attribute6Alt {
    fill: #FF730C;
}

.jchartfx .Attribute7 {
    fill: #CD0A0A;
    stroke: #9A0808;
}

.jchartfx .Attribute7Line {
    stroke: #9A0808;
}

.jchartfx .Attribute7Alt {
    fill: #FF0C0C;
}

.jchartfx .Attribute8 {
    fill: #E3A345;
    stroke: #AB7B34;
}

.jchartfx .Attribute8Line {
    stroke: #AB7B34;
}

.jchartfx .Attribute8Alt {
    fill: #AB7B34;
}

.jchartfx .Attribute9 {
    fill: #FFC06E;
    stroke: #C09053;
}

.jchartfx .Attribute9Line {
    stroke: #C09053;
}

.jchartfx .Attribute9Alt {
    fill: #C09053;
}

.jchartfx .Attribute10 {
    fill: #FF6E6E;
    stroke: #C05353;
}

.jchartfx .Attribute10Line {
    stroke: #C05353;
}

.jchartfx .Attribute10Alt {
    fill: #C05353;
}

.jchartfx .Attribute11 {
    fill: #969690;
    stroke: #71716C;
}

.jchartfx .Attribute11Line {
    stroke: #71716C;
}

.jchartfx .Attribute11Alt {
    fill: #71716C;
}

.jchartfx .Attribute12 {
    fill: #70684C;
    stroke: #544E39;
}

.jchartfx .Attribute12Line {
    stroke: #544E39;
}

.jchartfx .Attribute12Alt {
    fill: #8C825F;
}

.jchartfx .Attribute13 {
    fill: #295E00;
    stroke: #1F4700;
}

.jchartfx .Attribute13Line {
    stroke: #1F4700;
}

.jchartfx .Attribute13Alt {
    fill: #337500;
}

.jchartfx .Attribute14 {
    fill: #690000;
    stroke: #4F0000;
}

.jchartfx .Attribute14Line {
    stroke: #4F0000;
}

.jchartfx .Attribute14Alt {
    fill: #830000;
}

.jchartfx .Attribute15 {
    fill: #7F3F00;
    stroke: #603000;
}

.jchartfx .Attribute15Line {
    stroke: #603000;
}

.jchartfx .Attribute15Alt {
    fill: #9E4E00;
}

.jchartfx .MarkerHollow {
    fill: #FFFFFF;
}

.jchartfx .Border {
    fill: #F5F3E5;
    stroke: #DFD9C3;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #327E04;
}

.jchartfx .PlotArea3D {
    fill: #459E00;
    stroke: #327E04;
}

.jchartfx .CustomGridLine {
    stroke: #FFFFFF;
}

.jchartfx .CustomGridLineLabel {
    fill: #312E25;
}

.jchartfx .AxisY_Section {
    fill: #ECE8DA;
    stroke: #ECE8DA;
}

.jchartfx .AxisX_Section {
    fill: #ECE8DA;
    stroke: #ECE8DA;
}

.jchartfx .AxisY_Text {
    fill: #312E25;
}

.jchartfx .AxisY_Major {
    stroke: #327E04;
}

.jchartfx .AxisY_Minor {
    stroke: #327E04;
}

.jchartfx .AxisY_Interlaced {
    fill: #F5F3E5;
}

.jchartfx .AxisY_Line {
    stroke: #327E04;
}

.jchartfx .AxisX_Text {
    fill: #312E25;
}

.jchartfx .AxisX_Major {
    stroke: #327E04;
}

.jchartfx .AxisX_Minor {
    stroke: #327E04;
}

.jchartfx .AxisX_Interlaced {
    fill: #F5F3E5;
}

.jchartfx .AxisX_Line {
    stroke: #327E04;
}

.jchartfx .PointLabel {
    fill: #312E25;
}

.jchartfx .PointLabelBorder {
    fill: #3D392E;
    stroke: #312E25;
}

.jchartfx .Title {
    fill: #312E25;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #DFD9C3;
}

.jchartfx .LegendItem {
    fill: #433F38;
}

.jchartfx .ScrollBar {
    fill: #F5F3E5;
    stroke: #D4CCB0;
}

.jchartfx .ScrollThumb {
    fill: #D4CCB0;
}

.jchartfx .ScrollArrow {
    fill: #D4CCB0;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #D4CCB0;
}

.jchartfx .DataGrid_Back {
    fill: #F5F3E5;
}

.jchartfx .DataGrid_GridLine {
    fill: #D4CCB0;
}

.jchartfx .DataGridText {
    fill: #312E25;
}

.jchartfx .DataGridTextAlternate {
    fill: #312E25;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #FAFAF4;
}

.jchartfx .DataGrid_RowHeader {
    fill: #312E25;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #312E25;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #312E25;
}

.jchartfx .AnnotationText {
    fill: #312E25;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #312E25;
}

.jchartfx .AnnotationBalloonText {
    fill: #312E25;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #312E25;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #312E25;
}

.jchartfx .AnnotationArrow {
    fill: #312E25;
    stroke: #312E25;
}

.jchartfx .AnnotationArc {
    fill: #312E25;
    stroke: #312E25;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #312E25;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #312E25;
}

.jchartfx .HeatMap0 {
    fill: #FAFAF4;
}

.jchartfx .HeatMap1 {
    fill: #FCF0BA;
}

.jchartfx .EqualizerTop0 {
    stroke: #BDB48C;
    fill: #FCF0BA;
}

.jchartfx .EqualizerTop1 {
    stroke: #635F55;
    fill: #847E71;
}

.jchartfx_gauge .Border {
    fill: #F5F3E5;
    stroke: #DFD9C3;
}

.jchartfx_gauge .Indicator {
    fill: #847E71;
    stroke: #635F55;
}

.jchartfx_gauge .Cap {
    fill: #312E25;
}

.jchartfx_gauge .Bar {
    fill: #D4CCB0;
    stroke: #9F9984;
}

.jchartfx_gauge .TickMajor {
    stroke: #327E04;
    fill: #327E04;
}

.jchartfx_gauge .TickMedium {
    stroke: #327E04;
    fill: #327E04;
}

.jchartfx_gauge .Text {
    fill: #312E25;
}

.jchartfx_gauge .Title {
    fill: #312E25;
}

.jchartfx_gauge .Section0 {
    fill: #CD0A0A;
    stroke: #9A0808;
}

.jchartfx_gauge .Section1 {
    fill: #FCF0BA;
    stroke: #BDB48C;
}

.jchartfx_gauge .Section2 {
    fill: #8DC262;
    stroke: #6A924A;
}

.jchartfx_gauge .GreaterThan {
    fill: #8DC262;
}

.jchartfx_gauge .LessThan {
    fill: #CD0A0A;
}

.jchartfx_gauge .EqualsTo {
    fill: #BDB48C;
}

.jchartfx_gauge .Separator {
    stroke: #327E04;
}

.jchartfx .MapContext {
    fill: #f5f3e5;
    stroke: #bdbbae;
}

.jchartfx .MapWater {
    fill: #dcffff;
    stroke: #a4d0e7;
}

.jchartfx .MapOcean0 {
    fill: #a4d0e7;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #96c2d9;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #88b4cb;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #7ba7bd;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #6e9aaf;
    stroke: none;
}

.jchartfx .MapOcean4 {
    fill: #618da2 !important;
    stroke: none;
}

.jchartfx .MapAttribute0 {
    fill: #fafaf4;
    stroke: #c2c2bc;
}

.jchartfx .MapAttribute1 {
    fill: #fcf0ba;
    stroke: #c3b885;
}

.jchartfx .MapAttribute2 {
    fill: #847e71;
    stroke: #524d41;
}

.jchartfx .MapAttribute3 {
    fill: #b3b37b;
    stroke: #7d7e49;
}

.jchartfx .MapAttribute4 {
    fill: #b59a24;
    stroke: #7c6700;
}

.jchartfx .MapAttribute5 {
    fill: #4d432e;
    stroke: #211800;
}

.jchartfx .MapAttribute6 {
    fill: #6d6d2b;
    stroke: #3b3e00;
}

.jchartfx .MapAttribute7 {
    fill: #6e6a58;
    stroke: #3e3b2b;
}

.jchartfx .MapRoad {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: .3;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .1;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #E2C195;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #F5F3E5;
    stroke: #DFD9C3;
}

.jchartfx .MapPlot {
    fill: #6e9aaf;
    fill-opacity: 0;
}

.jchartfx_gauge .TitleLarge {
    fill: #312E25;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #312E25;
}

.jchartfx_gauge .DashboardTitle {
    fill: #312E25;
}

.jchartfx .DashboardCaption {
    fill: #847E71;
    stroke: #FAFAF4;
}

.jchartfx_gauge .DashboardCaption {
    fill: #847E71;
    stroke: #FAFAF4;
}

.jchartfx .EqualizerOff {
        fill: #327E04;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #444444;
}

.jchartfx_gauge .Glow {
    fill: #444444;
}

.jchartfx .MapShadow {
    fill: #444444;
    fill-opacity: 0.3;
}







.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #D4CCB0;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #F5F3E5;
    border-color: #D4CCB0;
    box-shadow: 0px 0px 5px 3px rgba(68, 68,  68, .30);
}

.jchartfx_container table thead tr th {
    background-color: #D4CCB0;
    border-color: #D4CCB0;
    border-bottom-color: #327E04;
    color: #312E25;
}

.jchartfx_container table tbody tr td {
    color: #312E25;
    border-color: #D4CCB0;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #F5F3E5;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #FAFAF4;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #312E25;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #312E25;
}

.jchartfx_container .labelIndicator {
    color: #312E25;
}

.jchartfx_container .label {
    color: #312E25;
}

.jchartfx_container .smallLabel {
    color: #312E25;
}

.jchartfx_gauge .BorderMedium {
    fill: #F5F3E5;
    stroke: #DFD9C3;
}

.jchartfx_gauge .BorderThick {
    fill: #F5F3E5;
    stroke: #DFD9C3;
}

.jchartfx .MapDefaultAttribute {
    fill: #f5f3e5;
    stroke: #bdbbae;
}

.jchartfx_gauge .Filler {
    fill: #847E71;
    stroke: #635F55;
}

.jchartfx_gauge .Marker {
    fill: #847E71;
    stroke: #635F55;
}

.jchartfx_gauge .Needle {
    fill: #847E71;
    stroke: #635F55;
}

.jchartfx .BorderMedium {
    fill: #F5F3E5;
    stroke: #DFD9C3;
}

.jchartfx .BorderThick {
    fill: #F5F3E5;
    stroke: #DFD9C3;
}

.jchartfx .Border0 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border1 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border2 {
    stroke: #DCD2BC;
    fill: #DCD2BC;
}

.jchartfx .Border3 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border4 {
    stroke: #514C3D;
    fill: #514C3D;
}

.jchartfx .Border5 {
    stroke: #EBFFA3;
    fill: #EBFFA3;
}

.jchartfx .Border6 {
    stroke: #FF9910;
    fill: #FF9910;
}

.jchartfx .Border7 {
    stroke: #FF1010;
    fill: #FF1010;
}

.jchartfx_gauge .Border0  {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx_gauge .Border1  {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx_gauge .Border2  {
    stroke: #DCD2BC;
    fill: #DCD2BC;
}

.jchartfx_gauge .Border3  {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx_gauge .Border4  {
    stroke: #514C3D;
    fill: #514C3D;
}

.jchartfx_gauge .Border5  {
    stroke: #EBFFA3;
    fill: #EBFFA3;
}

.jchartfx_gauge .Border6  {
    stroke: #FF9910;
    fill: #FF9910;
}

.jchartfx_gauge .Border7  {
    stroke: #FF1010;
    fill: #FF1010;
}

.jchartfx-menu .selectable li.active {
    border: 1px solid;
    border-color: #8DC262;
    box-shadow: inset 0 0 0px 0px #8DC262;
    background: rgba(141,194,98, 0.2);
}

.jchartfx .GreaterThan {
    stroke: #8DC262;
}

.jchartfx .LessThan {
    stroke: #CD0A0A;
}

.jchartfx .EqualsTo {
    stroke: #BDB48C;
}