.jchartfx_body {
    background-color: #2C2E34;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #F9F9F9;
    stroke: #41465C;
}

.jchartfx .Attribute0 {
    fill: #329287;
    stroke: #266E66;
}

.jchartfx .Attribute0Line {
    stroke: #266E66;
}

.jchartfx .Attribute0Alt {
    fill: #3EB6A8;
}

.jchartfx .Attribute1 {
    fill: #477EA5;
    stroke: #365F7C;
}

.jchartfx .Attribute1Line {
    stroke: #365F7C;
}

.jchartfx .Attribute1Alt {
    fill: #589DCE;
}

.jchartfx .Attribute2 {
    fill: #75AE50;
    stroke: #58833C;
}

.jchartfx .Attribute2Line {
    stroke: #58833C;
}

.jchartfx .Attribute2Alt {
    fill: #92D964;
}

.jchartfx .Attribute3 {
    fill: #50525D;
    stroke: #3C3E46;
}

.jchartfx .Attribute3Line {
    stroke: #3C3E46;
}

.jchartfx .Attribute3Alt {
    fill: #646674;
}

.jchartfx .Attribute4 {
    fill: #965994;
    stroke: #71436F;
}

.jchartfx .Attribute4Line {
    stroke: #71436F;
}

.jchartfx .Attribute4Alt {
    fill: #BB6FB9;
}

.jchartfx .Attribute5 {
    fill: #65C773;
    stroke: #4C9657;
}

.jchartfx .Attribute5Line {
    stroke: #4C9657;
}

.jchartfx .Attribute5Alt {
    fill: #4C9657;
}

.jchartfx .Attribute6 {
    fill: #5ABEC7;
    stroke: #448F96;
}

.jchartfx .Attribute6Line {
    stroke: #448F96;
}

.jchartfx .Attribute6Alt {
    fill: #448F96;
}

.jchartfx .Attribute7 {
    fill: #CE9884;
    stroke: #9B7263;
}

.jchartfx .Attribute7Line {
    stroke: #9B7263;
}

.jchartfx .Attribute7Alt {
    fill: #9B7263;
}

.jchartfx .Attribute8 {
    fill: #5F6775;
    stroke: #484E58;
}

.jchartfx .Attribute8Line {
    stroke: #484E58;
}

.jchartfx .Attribute8Alt {
    fill: #768092;
}

.jchartfx .Attribute9 {
    fill: #E9EA52;
    stroke: #AFB03E;
}

.jchartfx .Attribute9Line {
    stroke: #AFB03E;
}

.jchartfx .Attribute9Alt {
    fill: #AFB03E;
}

.jchartfx .Attribute10 {
    fill: #E04E61;
    stroke: #A83B49;
}

.jchartfx .Attribute10Line {
    stroke: #A83B49;
}

.jchartfx .Attribute10Alt {
    fill: #A83B49;
}

.jchartfx .Attribute11 {
    fill: #6FE4C8;
    stroke: #54AB96;
}

.jchartfx .Attribute11Line {
    stroke: #54AB96;
}

.jchartfx .Attribute11Alt {
    fill: #54AB96;
}

.jchartfx .Attribute12 {
    fill: #ECA63F;
    stroke: #B17D30;
}

.jchartfx .Attribute12Line {
    stroke: #B17D30;
}

.jchartfx .Attribute12Alt {
    fill: #B17D30;
}

.jchartfx .Attribute13 {
    fill: #99D0A0;
    stroke: #739C78;
}

.jchartfx .Attribute13Line {
    stroke: #739C78;
}

.jchartfx .Attribute13Alt {
    fill: #739C78;
}

.jchartfx .Attribute14 {
    fill: #CE8FBE;
    stroke: #9B6C8F;
}

.jchartfx .Attribute14Line {
    stroke: #9B6C8F;
}

.jchartfx .Attribute14Alt {
    fill: #9B6C8F;
}

.jchartfx .Attribute15 {
    fill: #8DC3E0;
    stroke: #6A93A8;
}

.jchartfx .Attribute15Line {
    stroke: #6A93A8;
}

.jchartfx .Attribute15Alt {
    fill: #6A93A8;
}

.jchartfx .MarkerHollow {
    fill: #313439;
}

.jchartfx .Border {
    fill: #373A41;
    stroke: #2F3238;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke: #313439;
}

.jchartfx .PlotArea3D {
    fill: #373A41;
    stroke: #313439;
}

.jchartfx .CustomGridLine {
    stroke: #848F93;
}

.jchartfx .CustomGridLineLabel {
    fill: #626364;
}

.jchartfx .AxisY_Section {
    fill: #5B6472;
    stroke: #5B6472;
}

.jchartfx .AxisX_Section {
    fill: #5B6472;
    stroke: #5B6472;
}

.jchartfx .AxisY_Text {
    fill: #868A8E;
}

.jchartfx .AxisY_Major {
    stroke: #313439;
}

.jchartfx .AxisY_Minor {
    stroke: #313439;
}

.jchartfx .AxisY_Interlaced {
    fill: #3D4148;
}

.jchartfx .AxisY_Line {
    stroke: #313439;
}

.jchartfx .AxisX_Text {
    fill: #868A8E;
}

.jchartfx .AxisX_Major {
    stroke: #313439;
}

.jchartfx .AxisX_Minor {
    stroke: #313439;
}

.jchartfx .AxisX_Interlaced {
    fill: #3D4148;
}

.jchartfx .AxisX_Line {
    stroke: #313439;
}

.jchartfx .PointLabel {
    fill: #626364;
}

.jchartfx .PointLabelBorder {
    fill: #7A7B7D;
    stroke: #626364;
}

.jchartfx .Title {
    fill: #AAAFB9;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke: #20CFB6;
}

.jchartfx .LegendItem {
    fill: #626364;
}

.jchartfx .ScrollBar {
    fill: #373A41;
    stroke: #313439;
}

.jchartfx .ScrollThumb {
    fill: #313439;
}

.jchartfx .ScrollArrow {
    fill: #313439;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #313439;
}

.jchartfx .DataGrid_Back {
    fill: #373A41;
}

.jchartfx .DataGrid_GridLine {
    fill: #313439;
}

.jchartfx .DataGridText {
    fill: #626364;
}

.jchartfx .DataGridTextAlternate {
    fill: #727374;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #3D4148;
}

.jchartfx .DataGrid_RowHeader {
    fill: #626364;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #868A8E;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #727374;
}

.jchartfx .AnnotationText {
    fill: #626364;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #626364;
}

.jchartfx .AnnotationBalloonText {
    fill: #626364;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #626364;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #626364;
}

.jchartfx .AnnotationArrow {
    fill: #626364;
    stroke: #626364;
}

.jchartfx .AnnotationArc {
    fill: #626364;
    stroke: #626364;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #626364;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #626364;
}

.jchartfx .HeatMap0 {
    fill: #329287;
}

.jchartfx .HeatMap1 {
    fill: #75AE50;
}

.jchartfx .EqualizerTop0 {
    fill: #477EA5;
}

.jchartfx .EqualizerTop1 {
    fill: #75AE50;
}

.jchartfx .MapContext {
    fill: #373a41;
    stroke: #0c0f17;
}

.jchartfx .MapWater {
    fill: #7eb3dc;
    stroke: rgb(71, 126, 165);
}

.jchartfx .MapOcean0 {
    fill: rgb(71, 126, 165);
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #397198;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #2a658b;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #18597e;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #004d71;
    stroke: none;
}

.jchartfx .MapAttribute0 {
    fill: rgb(50, 146, 135);
    stroke: #005f55;
}

.jchartfx .MapAttribute1 {
    fill: rgb(71, 126, 165);
    stroke: #004d71;
}

.jchartfx .MapAttribute2 {
    fill: rgb(117, 174, 80);
    stroke: #40791d;
}

.jchartfx .MapAttribute3 {
    fill: rgb(15, 77, 69);
    stroke: #00211a;
}

.jchartfx .MapAttribute4 {
    fill: rgb(15, 51, 77);
    stroke: #000421;
}

.jchartfx .MapAttribute5 {
    fill: rgb(39, 77, 15);
    stroke: #002100;
}

.jchartfx .MapAttribute6 {
    fill: rgb(163, 204, 199);
    stroke: #6e9691;
}

.jchartfx .MapAttribute7 {
    fill: rgb(163, 187, 204);
    stroke: #6f8696;
}

.jchartfx .MapAttribute8 {
    fill: rgb(179, 204, 163);
    stroke: #7e966f;
}

.jchartfx .MapRoad {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: .3;
}

.jchartfx .MapRoadBack {
    fill: #FFFFFF;
    stroke-opacity: .1;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #E2C195;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #373A41;
    stroke: #20CFB6;
}

.jchartfx .MapPlot {
    fill: #004d71;
    fill-opacity: 0;
}

.jchartfx_gauge .Border {
    fill: #373A41;
    stroke: #2F3238;
}

.jchartfx_gauge .Indicator {
    fill: #329287;
    stroke: #266E66;
}

.jchartfx_gauge .Cap {
    fill: #626364;
}

.jchartfx_gauge .Bar {
    stroke: #151619;
    fill: #2F3238;
}

.jchartfx_gauge .TickMajor {
    stroke: #313439;
    fill: #313439;
}

.jchartfx_gauge .TickMedium {
    stroke: #313439;
    fill: #313439;
}

.jchartfx_gauge .Text {
    fill: #868A8E;
}

.jchartfx_gauge .Title {
    fill: #AAAFB9;
}

.jchartfx_gauge .TitleLarge {
    fill: #AAAFB9;
}

.jchartfx_gauge .Section0 {
    fill: #E04E61;
    stroke: #A83B49;
}

.jchartfx_gauge .Section1 {
    fill: #E9EA52;
    stroke: #AFB03E;
}

.jchartfx_gauge .Section2 {
    fill: #65C773;
    stroke: #4C9657;
}

.jchartfx_gauge .GreaterThan {
    fill: #65C773;
}

.jchartfx_gauge .LessThan {
    fill: #E04E61;
}

.jchartfx_gauge .EqualsTo {
    fill: #E9EA52;
}

.jchartfx_gauge .Separator {
    stroke: #313439;
}

.jchartfx .DashboardTitle {
    fill: #AAAFB9;
}

.jchartfx_gauge .DashboardTitle {
    fill: #AAAFB9;
}

.jchartfx .DashboardCaption {
    fill: #329287;
    stroke: #FFFFFF;
}

.jchartfx_gauge .DashboardCaption {
    fill: #329287;
    stroke: #FFFFFF;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .EqualizerOff {
    fill: #50525D;
        fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #E0E0E0;
}

.jchartfx_gauge .Glow {
    fill: #E0E0E0;
}

.jchartfx .MapShadow {
    fill: #E0E0E0;
    fill-opacity: 0.3;
}

.jchartfx_container table
{
    background-color: #373A41; 
    border-color:#313439; 
}
       
.jchartfx_container table thead tr th
{ 
    background-color: #329287; 
    border-color:#317770; 
    color: #313439; 
}/* BorderColor from .DataGrid_Gridline, color from .Title*/

.jchartfx_container table tbody tr td
{
    color: #AAAFB9; 
    border-color:#313439; 
}/* from chart data grid .DataGridText*/

.jchartfx_container table tbody>tr:nth-child(odd)>td 
{
    background-color: #373A41;
}/* from chart background color*/

.jchartfx_container table tbody>tr:nth-child(even)>td 
{
    background-color: #3D4148;
}/* from chart data grid alternate */

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #868A8E;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #AAAFB9;
}

.jchartfx_container .labelIndicator {
    color: #AAAFB9;
}

.jchartfx_container .label {
    color: #AAAFB9;
}

.jchartfx_container table {
    box-shadow: 0px 0px 5px 3px rgba(224, 224,  224, .30);
}

.jchartfx_container .smallLabel {
    color: #AAAFB9;
}

.jchartfx_gauge .BorderMedium {
    fill: #373A41;
    stroke: #2F3238;
}

.jchartfx_gauge .BorderThick {
    fill: #373A41;
    stroke: #2F3238;
}

.jchartfx .MapDefaultAttribute {
    fill: #373a41;
    stroke: #0c0f17;
}

.jchartfx_gauge .Filler {
    fill: #329287;
    stroke: #266E66;
}

.jchartfx_gauge .Marker {
    fill: #329287;
    stroke: #266E66;
}

.jchartfx_gauge .Needle {
    fill: #329287;
    stroke: #266E66;
}

.jchartfx .BorderMedium {
    fill: #373A41;
    stroke: #2F3238;
}

.jchartfx .BorderThick {
    fill: #373A41;
    stroke: #2F3238;
}

.jchartfx .Border0 {
    stroke: #133733;
    fill: #133733;
}

.jchartfx .Border1 {
    stroke: #1B2F3E;
    fill: #1B2F3E;
}

.jchartfx .Border2 {
    stroke: #2C411E;
    fill: #2C411E;
}

.jchartfx .Border3 {
    stroke: #1E1F23;
    fill: #1E1F23;
}

.jchartfx .Border4 {
    stroke: #382137;
    fill: #382137;
}

.jchartfx .Border5 {
    stroke: #264B2B;
    fill: #264B2B;
}

.jchartfx .Border6 {
    stroke: #22474B;
    fill: #22474B;
}

.jchartfx .Border7 {
    stroke: #4D3931;
    fill: #4D3931;
}

.jchartfx_gauge .Border0  {
    stroke: #133733;
    fill: #133733;
}

.jchartfx_gauge .Border1  {
    stroke: #1B2F3E;
    fill: #1B2F3E;
}

.jchartfx_gauge .Border2  {
    stroke: #2C411E;
    fill: #2C411E;
}

.jchartfx_gauge .Border3  {
    stroke: #1E1F23;
    fill: #1E1F23;
}

.jchartfx_gauge .Border4  {
    stroke: #382137;
    fill: #382137;
}

.jchartfx_gauge .Border5  {
    stroke: #264B2B;
    fill: #264B2B;
}

.jchartfx_gauge .Border6  {
    stroke: #22474B;
    fill: #22474B;
}

.jchartfx_gauge .Border7  {
    stroke: #4D3931;
    fill: #4D3931;
}

.jchartfx-menu-callout {
  color: #AAAFB9;
  background-color: rgba(0, 0, 0, 0);
}

.jchartfx-menu-callout:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.jchartfx-menu {
  border-color: rgba(139, 139, 139, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
   -webkit-box-shadow: rgba(0, 0, 0, 0.25);
  box-shadow: rgba(0, 0, 0, 0.25);
 }
 
 .jchartfx-menu .options li {
  border-color: rgba(102, 102, 102, 0.5);
}

.jchartfx-menu a.next {
  color: rgba(102, 102, 102, 0.5);
}

.jchartfx-menu a.prev {
  color: rgba(102, 102, 102, 0.5);
}

.jchartfx-menu a.next:hover,
.jchartfx-menu .contextmenu a.prev:hover {
  color: rgba(102, 102, 102, 0.7);
}

.jchartfx-menu a.next.disabled {
  color: rgba(102, 102, 102, 0.2);
}

.jchartfx-menu a.next.disabled:hover {
  color: rgba(102, 102, 102, 0.2);
}

.jchartfx-menu .toggle {
  border-color: rgba(102, 102, 102, 1);
  background-color: rgba(0, 0, 0, 0.05);
}


.jchartfx .GreaterThan {
    stroke: #65C773;
}

.jchartfx .LessThan {
    stroke: #E04E61;
}

.jchartfx .EqualsTo {
    stroke: #E9EA52;
}