.jchartfx_body {
    background-color: #FFFFFF;
}

.jchartfxToolTip {
    background-color: #282828;
    color: #F0F0F0;
    border-color: #999999;
}

.jchartfxToolTipBorder {
    fill: #FAFAFA;
    stroke: #3A3A3A;
}

.jchartfx .PointLabel {
    fill: #666666;
}

.jchartfx .Attribute0 {
    fill: #F7C4C0;
    stroke: #BA9390;
}

.jchartfx .Attribute0Line {
    stroke: #BA9390;
}

.jchartfx .Attribute0Alt {
    fill: #BA9390;
}

.jchartfx .Attribute1 {
    fill: #B5CDD4;
    stroke: #889A9F;
}

.jchartfx .Attribute1Line {
    stroke: #889A9F;
}

.jchartfx .Attribute1Alt {
    fill: #889A9F;
}

.jchartfx .Attribute2 {
    fill: #BFE0C0;
    stroke: #90A890;
}

.jchartfx .Attribute2Line {
    stroke: #90A890;
}

.jchartfx .Attribute2Alt {
    fill: #90A890;
}

.jchartfx .Attribute3 {
    fill: #DFA8FF;
    stroke: #A87EC0;
}

.jchartfx .Attribute3Line {
    stroke: #A87EC0;
}

.jchartfx .Attribute3Alt {
    fill: #A87EC0;
}

.jchartfx .Attribute4 {
    fill: #FFD2CF;
    stroke: #C09E9C;
}

.jchartfx .Attribute4Line {
    stroke: #C09E9C;
}

.jchartfx .Attribute4Alt {
    fill: #C09E9C;
}

.jchartfx .Attribute5 {
    fill: #A8AFFF;
    stroke: #7E84C0;
}

.jchartfx .Attribute5Line {
    stroke: #7E84C0;
}

.jchartfx .Attribute5Alt {
    fill: #7E84C0;
}

.jchartfx .Attribute6 {
    fill: #809FCF;
    stroke: #60789C;
}

.jchartfx .Attribute6Line {
    stroke: #60789C;
}

.jchartfx .Attribute6Alt {
    fill: #60789C;
}

.jchartfx .Attribute7 {
    fill: #FFEFB0;
    stroke: #C0B484;
}

.jchartfx .Attribute7Line {
    stroke: #C0B484;
}

.jchartfx .Attribute7Alt {
    fill: #C0B484;
}

.jchartfx .Attribute8 {
    fill: #FFE8A0;
    stroke: #C0AE78;
}

.jchartfx .Attribute8Line {
    stroke: #C0AE78;
}

.jchartfx .Attribute8Alt {
    fill: #C0AE78;
}

.jchartfx .Attribute9 {
    fill: #F5CA95;
    stroke: #B89870;
}

.jchartfx .Attribute9Line {
    stroke: #B89870;
}

.jchartfx .Attribute9Alt {
    fill: #B89870;
}

.jchartfx .Attribute10 {
    fill: #FFD8B0;
    stroke: #C0A284;
}

.jchartfx .Attribute10Line {
    stroke: #C0A284;
}

.jchartfx .Attribute10Alt {
    fill: #C0A284;
}

.jchartfx .Attribute11 {
    fill: #EFD8BF;
    stroke: #B4A290;
}

.jchartfx .Attribute11Line {
    stroke: #B4A290;
}

.jchartfx .Attribute11Alt {
    fill: #B4A290;
}

.jchartfx .Attribute12 {
    fill: #FFD7AF;
    stroke: #C0A284;
}

.jchartfx .Attribute12Line {
    stroke: #C0A284;
}

.jchartfx .Attribute12Alt {
    fill: #C0A284;
}

.jchartfx .Attribute13 {
    fill: #DFC490;
    stroke: #A8936C;
}

.jchartfx .Attribute13Line {
    stroke: #A8936C;
}

.jchartfx .Attribute13Alt {
    fill: #A8936C;
}

.jchartfx .Attribute14 {
    fill: #B8D8B8;
    stroke: #8AA28A;
}

.jchartfx .Attribute14Line {
    stroke: #8AA28A;
}

.jchartfx .Attribute14Alt {
    fill: #8AA28A;
}

.jchartfx .Attribute15 {
    fill: #80FF80;
    stroke: #60C060;
}

.jchartfx .Attribute15Line {
    stroke: #60C060;
}

.jchartfx .Attribute15Alt {
    fill: #60C060;
}

.jchartfx .MarkerHollow {
    fill: #FFFFFF;
}

.jchartfx .Border {
    fill: #FFFFFF;
    stroke:#888888;
}

.jchartfx .PlotArea {
    fill: transparent;
    stroke:#888888;
}

.jchartfx .PlotArea3D {
    fill: #FFFFFF;
    stroke:#888888;
}

.jchartfx .CustomGridLine {
    stroke: #BFE0C0;
}

.jchartfx .CustomGridLineLabel {
    fill: #666666;
}

.jchartfx .AxisY_Section {
    fill: #FFFFA0;
    stroke: #FFFFA0;
}

.jchartfx .AxisX_Section {
    fill: #FFFFA0;
    stroke: #FFFFA0;
}

.jchartfx .AxisY_Text {
    fill: #000000;
}

.jchartfx .AxisY_Major {
    stroke:#888888;
}

.jchartfx .AxisY_Minor {
    stroke:#888888;
}

.jchartfx .AxisY_Interlaced {
    fill: #DDDDDD;
}

.jchartfx .AxisY_Line {
    stroke:#888888;
}

.jchartfx .AxisX_Text {
    fill: #000000;
}

.jchartfx .AxisX_Major {
    stroke:#888888;
}

.jchartfx .AxisX_Minor {
    stroke:#888888;
}

.jchartfx .AxisX_Interlaced {
    fill: #DDDDDD;
}

.jchartfx .AxisX_Line {
    stroke:#888888;
}

.jchartfx .PointLabelBorder {
    fill: #838383;
    stroke: #666666;
}

.jchartfx .Title {
    fill: #000000;
}

.jchartfx .LegendBox {
    fill: transparent;
    stroke:#888888;
}

.jchartfx .LegendItem {
    fill: #000000;
}

.jchartfx .ScrollBar {
    fill: #FFFFFF;
    stroke:#888888;
}

.jchartfx .ScrollThumb {
    fill:#888888;
}

.jchartfx .ScrollArrow {
    fill:#888888;
}

.jchartfx .DataGrid_HeaderBack {
    fill: #666666;
}

.jchartfx .DataGrid_Back {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_GridLine {
    fill:#888888;
}

.jchartfx .DataGridText {
    fill: #666666;
}

.jchartfx .DataGridTextAlternate {
    fill: #666666;
}

.jchartfx .DataGrid_BackInterlaced {
    fill: #DDDDDD;
}

.jchartfx .DataGrid_RowHeader {
    fill: #000000;
}

.jchartfx .DataGrid_ColumnHeader {
    fill: #FFFFFF;
}

.jchartfx .DataGrid_RowHeaderAlternate {
    fill: #666666;
}

.jchartfx .AnnotationText {
    fill: #000000;
}

.jchartfx .AnnotationTextBorder {
    fill: transparent;
    stroke: #666666;
}

.jchartfx .AnnotationBalloonText {
    fill: #000000;
}

.jchartfx .AnnotationBalloon {
    fill: transparent;
    stroke: #666666;
}

.jchartfx .AnnotationCircle {
    fill: transparent;
    stroke: #666666;
}

.jchartfx .AnnotationArrow {
    fill: #666666;
    stroke: #666666;
}

.jchartfx .AnnotationArc {
    fill: #666666;
    stroke: #666666;
}

.jchartfx .AnnotationPolygon {
    fill: transparent;
    stroke: #666666;
}

.jchartfx .AnnotationRectangle {
    fill: transparent;
    stroke: #666666;
}

.jchartfx .HeatMap0 {
    fill: #F7C4C0;
}

.jchartfx .HeatMap1 {
    fill: #B5CDD4;
}

.jchartfx .EqualizerTop0 {
    stroke: #889A9F;
    fill: #B5CDD4;
}

.jchartfx .EqualizerTop1 {
    stroke: #90A890;
    fill: #BFE0C0;
}

.jchartfx .Indicator {
    fill: #F7C4C0;
    stroke: #BA9390;
}

.jchartfx .Cap {
    fill: #000000;
}

.jchartfx .Bar {
    fill: #B5CDD4;
    stroke: #889A9F;
}

.jchartfx .TickMajor {
    stroke:#888888;
    fill:#888888;
}

.jchartfx .TickMedium {
    stroke:#888888;
    fill:#888888;
}

.jchartfx .GaugeText {
    fill: #000000;
}

.jchartfx .GaugeTitle {
    fill: #000000;
}

.jchartfx .GaugeSection0 {
    fill: #DFA8FF;
    stroke: #A87EC0;
}

.jchartfx .GaugeSection1 {
    fill: #FFEFB0;
    stroke: #C0B484;
}

.jchartfx .GaugeSection2 {
    fill: #BFE0C0;
    stroke: #90A890;
}

.jchartfx .Separator {
    stroke:#888888;
}

.jchartfx .MapContext {
    fill: #ffffff;
    stroke: #c6c6c6;
}

.jchartfx .MapWater {
    fill: #edffff;
    stroke: #b5cdd4;
}

.jchartfx .MapOcean0 {
    fill: #b5cdd4;
    stroke: none;
}

.jchartfx .MapOcean1 {
    fill: #a7bfc6;
    stroke: none;
}

.jchartfx .MapOcean2 {
    fill: #9ab1b8;
    stroke: none;
}

.jchartfx .MapOcean3 {
    fill: #8da4aa;
    stroke: none;
}

.jchartfx .MapOcean {
    fill: #80979d;
    stroke: none;
}

.jchartfx .MapOcean4 {
    fill: #618da2 !important;
    stroke: none;
}

.jchartfx .MapAttribute0 {
    fill: #f7c4c0;
    stroke: #be8e8b;
}

.jchartfx .MapAttribute1 {
    fill: #bfe0c0;
    stroke: #89a98a;
}

.jchartfx .MapAttribute2 {
    fill: #dfa8ff;
    stroke: #a773c6;
}

.jchartfx .MapAttribute3 {
    fill: #b16762;
    stroke: #793634;
}

.jchartfx .MapAttribute4 {
    fill: #62a264;
    stroke: #2e6e34;
}

.jchartfx .MapAttribute5 {
    fill: #8125b7;
    stroke: #480081;
}

.jchartfx .MapAttribute6 {
    fill: #6c2823;
    stroke: #390000;
}

.jchartfx .MapAttribute7 {
    fill: #236425;
    stroke: #003400;
}

.jchartfx .MapRoad {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: .3;
}

.jchartfx .MapRoadBack {
    stroke: #FFFFFF;
    stroke-opacity: .1;
    fill: none;
}

.jchartfx .MapRoad0 {
    stroke: #fa9e25;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad0Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .4;
}

.jchartfx .MapRoad1 {
    stroke: #E2C195;
    fill: none;
    stroke-opacity: 1;
}

.jchartfx .MapRoad1Back {
    stroke: #FFFFFF;
    fill: none;
    stroke-opacity: .5;
}

.jchartfx .MapTranslationArea {
    fill: #FFFFFF;
    stroke:#888888;
}

.jchartfx .MapPlot {
    fill: #80979d;
    fill-opacity: 0;
}

.jchartfx .GaugeTitleLarge {
    fill: #000000;
}

.jchartfx .TitleBack {
    fill: transparent;
}

.jchartfx .DashboardTitle {
    fill: #000000;
}

.jchartfx .DashboardCaption {
    fill: #F7C4C0;
    stroke: #666666;
}

.jchartfx .EqualizerOff {
        fill:#888888;
    fill-opacity: 0.2;
}

.jchartfx .Glow {
    fill: #444444;
}

.jchartfx .MapShadow {
    fill: #444444;
    fill-opacity: 0.3;
}

.jchartfx .BorderEffect1 {
    fill: #AAAAAA;
    fill-opacity: 0.8;
}

.jchartfx .BorderEffect2 {
    fill: #B5CDD4;
    fill-opacity: 1;
}

.jchartfx_container table {
    background-color: #FFFFFF;
    border-color:#888888;
    box-shadow: 0px 0px 5px 3px rgba(68, 68,  68, .30);
}

.jchartfx_container table thead tr th {
    background-color: #666666;
    border-color:#888888;
    border-bottom-color:#888888;
    color: #FFFFFF;
}

.jchartfx_container table tbody tr td {
    color: #666666;
    border-color:#888888;
}

.jchartfx_container table tbody>tr:nth-child(odd)>td {
    background-color: #FFFFFF;
}

.jchartfx_container table tbody>tr:nth-child(even)>td {
    background-color: #DDDDDD;
}

.jchartfx_container h1, .jchartfx_container h2, .jchartfx_container h3 {
    color: #000000;
}

.jchartfx_container h4, .jchartfx_container h5, .jchartfx_container h6 {
    color: #000000;
}

.jchartfx_container .labelIndicator {
    color: #000000;
}

.jchartfx_container .label {
    color: #000000;
}

.jchartfx_container .smallLabel {
    color: #000000;
}

.jchartfx .MapDefaultAttribute {
    fill: #ffffff;
    stroke: #c6c6c6;
}

.jchartfx .Filler {
    fill: #F7C4C0;
    stroke: #BA9390;
}

.jchartfx .GaugeMarker {
    fill: #F7C4C0;
    stroke: #BA9390;
}

.jchartfx .Needle {
    fill: #F7C4C0;
    stroke: #BA9390;
}

.jchartfx .BorderMedium {
    fill: #FFFFFF;
    stroke: #888888;
}

.jchartfx .BorderThick {
    fill: #FFFFFF;
    stroke: #888888;
}

.jchartfx .Border0 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border1 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border2 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border3 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border4 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border5 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .Border6 {
    stroke: #D5FFFF;
    fill: #D5FFFF;
}

.jchartfx .Border7 {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.jchartfx .GreaterThan {
    fill: #BFE0C0;
    stroke: #BFE0C0;
}

.jchartfx .LessThan {
    fill: #DFA8FF;
    stroke: #DFA8FF;
}

.jchartfx .EqualsTo {
    fill: #FFEFB0;
    stroke: #FFEFB0;
}

.jchartfx .InsideLabel0 {
    fill: #5D4948;
}

.jchartfx .InsideLabel1 {
    fill: #444D4F;
}

.jchartfx .InsideLabel2 {
    fill: #485448;
}

.jchartfx .InsideLabel3 {
    fill: #543F60;
}

.jchartfx .InsideLabel4 {
    fill: #604F4E;
}

.jchartfx .InsideLabel5 {
    fill: #3F4260;
}

.jchartfx .InsideLabel6 {
    fill: #303C4E;
}

.jchartfx .InsideLabel7 {
    fill: #605A42;
}

.jchartfx .InsideLabel8 {
    fill: #60573C;
}

.jchartfx .InsideLabel9 {
    fill: #5C4C38;
}

.jchartfx .InsideLabel10 {
    fill: #605142;
}

.jchartfx .InsideLabel11 {
    fill: #5A5148;
}

.jchartfx .InsideLabel12 {
    fill: #605142;
}

.jchartfx .InsideLabel13 {
    fill: #544936;
}

.jchartfx .InsideLabel14 {
    fill: #455145;
}

.jchartfx .InsideLabel15 {
    fill: #306030;
}

.jchartfx .EmptyMarker {
    fill: #AAAAAA;
    stroke: #666666;
}

.jchartfx .Repeater {
    fill: #F7C4C0;
    stroke: #BA9390;
}

.jchartfx .RepeaterOff {
    fill: #6B3834;
    stroke: #6B3834;
}

.jchartfx-menu {
    border-color: #888888;
}